[2022-04-02 00:03] anacrolix commented on #733
If you can share the particular torrent that triggers the condition for you, or PM/email it to me if necessary, that would help a lot.

[2022-04-02 00:16] anacrolix commented on #733
My usage of anacrolix/torrent is mainly with a cache, which heavily restricts how much the client looks forward for possible requests to make. So if you have a storage with no capacity (regular files/mmap etc.), and a very large torrent and many peers, they will be looking over huge windows of requests per your description of the bad behaviour. Earlier variations of the request strategies made com

[2022-04-11 04:55] anacrolix commented on #720
Fixed by #735.

[2022-04-11 04:55] #720 closed

[2022-04-12 08:40] AskAlexSharov commented on #729
looks like it's because I passed 0 to first argument of ratelimiter

[2022-04-13 02:09] anacrolix commented on #729
Thanks for following up. It did seem strange, I had some some pretty significant testing of this a long while back.

[2022-04-17 17:57] u1f35c commented on #733
Unfortunately it's not easy for me to share the torrent in question as it's internally generated. The infrastructure tries to keep it at about 1024 pieces and it's about 5.5G in size; I'll see if I can extract any further info about it that might be helpful. Bumping MaxUnverifiedBytes has improved things such that we're ok for the moment and work is in progress to move to go1.18 at which point I'l

[2022-04-19 00:38] anacrolix commented on #733
Thanks for the feedback! If you have more insight into the requesting algorithm let me know. It doesn't have a piece-allocator, due to the desire to make the torrent Readers responsive. I looked into the possibility of not building the request heap for cases where there's no prioritization or overlap of requests (very large torrents with very flat prioritization), but it didn't look possible with

[2022-04-23 00:57] AskAlexSharov opened #739 "panic: insufficient write buffer"
v1.42.0
download rate limiter not set
upload rate limiter 4mb

[code]

[2022-04-25 08:53] anacrolix commented on #739
I recall https://github.com/anacrolix/torrent/issues/729 but this seems a bit different? Is this error reproducible, or does it happen very rarely? A quick look at the line of code, I suspect it's very rare but can happen, I shouldn't be panicking on this condition.

[2022-05-06 02:05] AskAlexSharov opened #744 "panic inside client.Close()"
[code]

[2022-05-06 02:11] AskAlexSharov commented on #733
@u1f35c hi. `20% of CPU time spent in functions under maybeUpdateActualRequestState` - recently found one way to reduce CPU usage in this func: https://github.com/anacrolix/torrent/discussions/741#discussioncomment-2685458
need increase TorrentSpec.ChunkSize to `128 * 1024`. But I don't know - will it somehow reduce network efficiency or not (on my simple tests it works good).

[2022-05-07 04:02] anacrolix commented on #733
Yeah my comment there about congestion is only an observation. If it works for you, don't sweat it.

[2022-05-07 04:20] anacrolix commented on #744
How easily can you reproduce this? Is there a particular torrent or configuration that causes it? The invariants around tracking piece availability are quite complex, it would be great if I can make a unit test to cover this.

[2022-05-07 04:24] AskAlexSharov commented on #744
only 1 person did report it. not reproducible at the moment.

[2022-05-08 01:34] anacrolix commented on #744
Thanks. The piece relative availability is an optimization around picking pieces on rarity. There are several factors involved, so a refactor and unit tests might shake these out if we can't pin them down easily.

[2022-05-08 14:41] glblduh opened #745 "cannot call pointer method Int64 on torrent.Count"
The error occurs when I try to get the int64 value of BytesRead with `Stats().BytesRead.Int64()`

[2022-05-09 05:21] anacrolix commented on #745
This is an oddity that exists because of atomics. Count.Int64 has a pointer receive so it can do an atomic operation on the correct memory address. However Torrent.Stats returns a value copy of the ConnStats, which don't have an address until you assign it. You can work around it with `stats := Torrent.Stats(); stats.BytesRead.Int64()`. The better fix might be to not use atomics for these values,

[2022-05-09 10:02] glblduh commented on #745
Thanks, the work around fixed the issue.

[2022-05-09 10:02] #745 closed

[2022-05-11 00:24] AskAlexSharov opened #746 "Ban of peer after app restart"
See message `banning ... for being sole dirtier of piece 0 after failed piece check` after `kill -9` of App.
I see that it's happening during hashing pieces (it does re-check all files hashes).
Probably peer sent us messages before restart, we received it after, and anacrolix/torrent was in process of pieces re-hashing. It caused ban of peer.

BTW: is it possible to avoid 100% re-hashing after `ki

[2022-05-11 11:28] anacrolix commented on #746
I think for that to occur, this line would be executed: https://github.com/anacrolix/torrent/blob/f1e56b4017cc6108b44cf2a7fdc15c9f4b271061/peerconn.go#L1433. Could you confirm you have a non-zero value when you get that error message? It's possible we should drop these chunks instead of process them.

[2022-05-12 03:13] anacrolix commented on #733
@u1f35c This should be fixed in v1.43.0. Please report back your experience with it.

[2022-05-12 03:13] #733 closed

[2022-05-12 03:14] anacrolix commented on #731
How do you currently do it? You could collect the piece states for all pieces that are in a file and calculate their byte contributions and sum them up? Does that sound right?

[2022-05-12 03:20] anacrolix commented on #716
Sorry for not addressing this earlier. This line is still logged at a very high priority. It's expected in normal operation. The download failing is more likely due to a lack of peers. Can you provide the infohash, trackers, and possibly the revision of anacrolix/torrent you were using?

[2022-05-12 03:21] anacrolix commented on #713
@avengermsoft any update?

[2022-05-12 03:24] anacrolix commented on #711
@tsynik this should be fixed by 5a61d8f6ac937636f8253b254bf1be0c4cca0621.

[2022-05-12 03:24] #711 closed

[2022-05-12 03:26] anacrolix commented on #706
Implemented in v1.42.0.

[2022-05-12 03:26] #706 closed

[2022-05-12 03:34] anacrolix commented on #702
@tsynik The mute reader patch was done independently in [5a61d8f6ac937636f8253b254bf1be0c4cca0621](https://github.com/anacrolix/torrent/commit/a324fbfee3f3a9f134a75e15e13bbeb0c3dcefd8). I applied your other patch in 9434fe58a2bc3b6deb360713b015110dfa31794c.

[2022-05-12 03:34] #702 closed

[2022-05-12 03:36] anacrolix commented on #704
@tsynik are you still interested in this? Did you get to try smartban, that might solve this issue, or you could make a PR to add a config option.

[2022-05-12 03:39] tsynik commented on #704
@anacrolix yes, i still see IP bans in torrserver log with 1.42.0 release

[2022-05-12 03:47] #630 closed

[2022-05-12 06:25] anacrolix commented on #629
This seems particularly easy to do if file priorities are moved on to Torrent, then a value-based File works fine (it's all read-only). Otherwise you need to adjust a lot of callsites to pull a pointer to the particular File in use `&files[index]`.

[2022-05-12 06:26] anacrolix commented on #629
I mucked around with the idea, see https://github.com/anacrolix/torrent/tree/flatten-files.

[2022-05-12 06:46] anacrolix commented on #596
There's some difficulties in avoiding cyclic dependencies here with `metainfo`, `peer_protocol`, `types` and more.

[2022-05-12 06:49] anacrolix commented on #512
@0xrishabh any update on this?

[2022-05-12 06:53] anacrolix commented on #439
This is a very valid feature. I will need stronger motivation to start on this. It's also tricky with DHT, where the public IP is important in setting the node ID. anacrolix/dht Servers could gain the ability to change their root ID.

[2022-05-12 06:54] anacrolix commented on #389
@kylege any update?

[2022-05-12 06:55] anacrolix commented on #373
I suspect that it is. Let me know if there's more feedback @nektro .

[2022-05-12 06:55] #373 closed

[2022-05-12 06:57] anacrolix commented on #303
Pretty sure this could still happen to people. @TongxiJi are you still using this?

[2022-05-12 06:59] anacrolix commented on #267
It's now about ~0.43% of clients :(.

[2022-05-12 07:01] anacrolix commented on #265
There have been significant changes to requesting and storage implementations since this issue was created. In particular, the request strategy now often requests pieces and their chunks in order so they may write out faster. There is still no caching implementation though.

[2022-05-12 07:14] anacrolix commented on #704
@tsynik could that be due to 2c8a3219db216b370e5ceadeeb003c57ce7ba4af? Can you confirm if you expect the bans?There is a related issue somewhere where peers are being banned unexpectedly.

[2022-05-12 15:22] glblduh commented on #731
It can be the for the entire torrent. Like a method of the Torrent struct that outputs the current calculated download speed.

[2022-05-13 05:15] avengermsoft commented on #713
anacrolix@torrent-v1.41.0: Added ipv6 addresses, Enabled uTp. It has become better, but the percentage of ipv6 addresses is still small (1/25=4%).

[2022-05-13 05:50] anacrolix commented on #713
Have you tried disabling IPv4? I think IPv6 use in BitTorrent is still just generally very low, probably at the level you gave.

[2022-05-13 05:52] anacrolix commented on #731
Ah yeah I mean how are you calculating speeds per File? I would prefer not to encode speed into the client itself, it should be relatively straight forward to calculate from the piece states and bytes per piece for each file, and calculating the difference since the last calculation for each File (or Torrent etc.). I would be okay with putting some helpers for doing it somewhere in the module.

[2022-05-13 23:38] glblduh commented on #731
I think the completed bytes of each file can be used for calculation, but I haven't tried it.

[2022-05-14 01:51] tsynik commented on #704
@anacrolix i checked stream with rewind and looks like I don't have IP bans according to torrent stat (Banned IPs: 0):
[code]
and here is debug log:
[code]

[2022-05-14 01:57] tsynik opened #747 "panic on apply new options with v1.43.1"
[code]

[2022-05-14 20:17] denisdubovitskiy opened #749 "HTTP client override, hook improvements."
Hi, Anacrolix! Thanks for such a rich-featured library!

At ozon.ru we're creating a service which helps other ones downloading large files over the network from our CDNs. We've chosen this library because it seems to fit our requirements and works well, but in our case some parts of code need to have some changes to provide more flexibility.

Observability is such a crucial thing for our environm

[2022-05-16 03:56] kylege commented on #389
Not tested yes, but i think `DisableInitialPieceCheck` will do the trick.

[2022-05-17 02:26] anacrolix commented on #389
Okay I'll close pre-emptively, feel free to reopen if it doesn't fix the problem.

[2022-05-17 02:26] #389 closed

[2022-05-17 02:39] anacrolix commented on #704
It looks like that's what you wanted? Can I close this issue?

[2022-05-17 02:42] anacrolix commented on #747
@tsynik this would occur if `*Client` is `nil`, which wouldn't be an issue from this repo. Maybe it occurs during shutdown in TorrServer?

[2022-05-17 03:06] anacrolix commented on #749
Thanks for the deep PR. It will be great to get more insight into these areas.

[2022-05-17 03:14] tsynik commented on #747
Probably yes, TorrServer drop all torrents and disconnect and connect client to apply new options. Maybe there is some race condition, so I'll close this.

[2022-05-17 03:14] #747 closed

[2022-05-17 03:16] tsynik commented on #704
yup, there is no need to disable it anymore. thanks a lot!

[2022-05-24 10:41] marcovidonis commented on #716
@anacrolix I'm experiencing a similar issue with the EOF error: I'm writing an app that takes a magnet link and downloads a file via webtorrent, and the code is very similar to canoziia's. I seed the torrent and generate the magnet link with another app based on your package.

When the clients starts getting the torrent info, it starts logging hundreds of EOF errors. The number of logs increases w

[2022-05-26 10:19] marcovidonis opened #752 "Issue when creating and seeding large torrents via webtorrent"
When I create a torrent and seed it, I run into the following problems on the download side:
- if the download client is a browser running webtorrent, the connection to the seeder is established, but file transfer never starts;
- if the download client is another go module based on this project, the code runs through a long list of EOF errors, likely one for each file piece, before download starts

[2022-05-27 14:34] marcovidonis commented on #752
I've done some digging and I've realised that there's room for optimisation when defining the piece length and therefore the number of pieces. I took inspiration from the [Taipei-Torrent project](https://github.com/jackpal/Taipei-Torrent/), which is another Go-based BitTorrent client.

When running my example above, I got the same number of pieces and performance as when seeding from the browser c

[2022-05-31 03:23] anacrolix commented on #716
To be clear I plan to fix this. If you have a sample torrent that I can test against (specifically that tickle the webRTC code), I can make the necessary logging fixes.

@marcovidonis I think the FilterLevel method allows messages of that level and higher. This error is reported at the Critical level (it should really be Debug). That's probably the only fix that is needed.

[2022-05-31 03:36] anacrolix commented on #752
@marcovidonis

This upload directly I haven't tested extensively. I will try to replicate this myself. The reverse direction, where webtorrent is seeding has been tested much more thoroughly, as you note later.

Could you provide a sample of these errors? I want to differentiate peer connection errors as opposed to storage errors. Following up from reading your code: It's not clear if this impleme

[2022-06-01 08:18] #716 closed

[2022-06-01 09:16] anacrolix commented on #752
@marcovidonis I tested uploading from this implementation to WebTorrent, no issues. I suspect that there's an issue locating the data with your NewFileClientOpts values.

[2022-06-07 08:22] marcovidonis commented on #752
@anacrolix thanks for your replies. I think I might have solved the issues with NewFileClientOpts: In fact, I'd noticed that .torrent.db files would be created in two different places which might have caused some conflicts. However, this is now fixed and I'm still having issues.

In my setup, I have a 'seeder' client that holds all the pieces, and a 'downloader' client that starts with no pieces.

[2022-06-09 02:09] jimmyduang opened #753 "I am using qbittorrent to test my code. I am not sure if it is my code problem or my QB is not configured correctly"
When I open **QB** to start downloading files, the download speed is 0, because there is no seed service.
Then when I keep starting the seed service, **QB** can instantly download some chunks, but then the download speed becomes 0 bytes.
this is video:

https://user-images.githubusercontent.com/34672876/172748867-a7f32707-e076-4ab7-998d-252045cfb791.mp4

and . this is my seed service code:

[code]

[2022-06-13 23:11] anacrolix commented on #752
@marcovidonis is this one or a small number of torrents with a large number of files, or a lot of torrents? The issue appears when you seed from anacrolix/torrent to another anacrolix/torrent instance? Would you know what protocol they're communicating over (like WebRTC or TCP/uTP)? In the set-up, are the clients on the same network (like localhost)?

The potential message issue you describe is ve

[2022-06-13 23:12] anacrolix commented on #752
This looks very similar: https://github.com/anacrolix/torrent/issues/753.

[2022-06-13 23:13] anacrolix commented on #753
Thank you for the report @jimmyduang. This issue seems related to https://github.com/anacrolix/torrent/issues/752.

[2022-06-14 12:49] anacrolix commented on #753
I did some testing, and found that qBitTorrent will stall after a while, just like in your video. Transmission and WebTorrent do not show the same behaviour. It looks like qBitTorrent is kicking anacrolix/torrent then refusing further connections.

[2022-06-15 04:29] anacrolix commented on #753
It looks like connections are attempted to qBitTorrent, but it closes out during or just before the handshake. I'm not sure if it's maybe due to anacrolix/torrent firing off IPv6 and IPv4 connections simultaneously, or maybe some filter on localhost connections. If I leave it running for long enough, eventually qBitTorrent accepts connections and then goes to completion. I haven't been able to vie

[2022-06-15 04:30] anacrolix commented on #753
I think qBitTorrent uses libtorrent under the hood, so I'm curious if other libtorrent users are the same.

[2022-06-15 04:38] anacrolix commented on #752
@marcovidonis could you try the master branch? I've pushed a bunch of performance improvements in seeding to Transmission (512KB/s->16MB/s), and some of them seem to apply to WebTorrent too. Related to #753, when it does upload to qBitTorrent, the speed appears very fast now.

I'm looking for signs the protocol is incorrect, but I'm less inclined to think that's what it is now.

The time to torren

[2022-06-17 10:55] mohamedSulaimanAlmarzooqi opened #756 "Selecting certain files and deselecting others to be downloaded within a torrent?"
Hi.
So if I'm opening a torrent file or magnet by a client, For example
[code]
And this torrent file contains more than 1 file that it downloads, Is there a way to list them all and selects/deselects them for download?

[2022-06-17 14:46] marcovidonis commented on #752
Yes, the waiting time is the same as time to torrent info.

I've upgraded my dependency to v1.44.0 and I did see a clear improvement in time to torrent info, both when seeding from an anacrolix/torrent client and downloading from a browser client, and vice versa.
I went from 330s to 1.6s in the browser to anacrolix/torrent case!

However, I see no improvement when transferring between anacrolix/to

[2022-06-19 01:59] anacrolix commented on #752
I think we can consider this fixed? If so, I'll tag it for release. The qBitTorrent problem remains, but that's tracked in another issue.

[2022-06-19 02:00] anacrolix commented on #753
@marcovidonis was this with master, and after your latest comment in #752 ?

[2022-06-20 12:53] marcovidonis commented on #752
Mostly fixed, but I'm noticing that in roughly 1 out of 4 transfers of the same torrent, the time to torrent info jumps to 40-50s, while it's normally 0.4 s. It seems to happen quite randomly and I'm trying to understand what could be the cause.

[2022-06-20 16:18] marcovidonis commented on #752
Looks like the issue of the time to torrent info occasionally increasing is somehow related to the tracker. I've repeated my tests by running my own private tracker and never saw the problem.

So I'd say we can consider this fixed now. Thanks for your help!

[2022-06-20 16:25] marcovidonis commented on #753
@anacrolix must have been with v1.44.0, not master. I repeated the test with master now and the speed no longer drops to 0 B/s.

[2022-06-20 23:00] anacrolix commented on #752
Fixed in v1.45.0.

[2022-06-20 23:00] #752 closed

[2022-06-20 23:00] anacrolix commented on #753
I'm marking this as fixed in v1.45.0. Thanks for jumping in on this @marcovidonis

[2022-06-20 23:00] #753 closed

[2022-06-20 23:01] anacrolix commented on #746
Thanks, I'll wait a while until you can confirm.

[2022-06-20 23:05] anacrolix commented on #756
You can list the available files after the info is obtained, with Torrent.Files. You can select specific ones by calling https://pkg.go.dev/github.com/anacrolix/torrent#File.Download on those.

[2022-06-22 04:56] mohamedSulaimanAlmarzooqi commented on #756
Thanks, Was just hard to find it in this huge list of files.

[2022-06-22 04:56] #756 closed

[2022-06-24 03:29] AskAlexSharov opened #759 "panic upload rate limiter"
trace:
[code]
my upload burst: `4 * 1024 * 1024`

another similar panic:
[code]

[2022-06-24 03:53] AskAlexSharov commented on #759
it may happen when not enough RAM

[2022-06-24 07:15] anacrolix commented on #759
Thank you, I believe I know the cause and fix for this. It's triggered by performance increases in uploads in v1.45.0. You can use that previous version temporarily until I add the fix.

[2022-06-25 07:32] anacrolix commented on #759
I didn't realise you were using v1.44.0 and seeing this. Is that correct?

[2022-06-25 07:39] anacrolix commented on #759
Could you check https://github.com/anacrolix/torrent/blob/fd8995dcfd192a5678e329cb5688b5978382c422/global.go#L51? It's most likely that peers are requesting unexpectedly large chunks. There should be a potential memory issue but you're not triggering that here. It should also be possible to put a check here: https://github.com/anacrolix/torrent/blob/32cdaf4adad1102c951e222ad1137d3e2c02eb89/peercon

[2022-06-25 09:11] anacrolix commented on #759
I'm working on some tests and fixes for this.

[2022-06-25 13:17] #759 closed

[2022-06-27 01:59] AskAlexSharov commented on #759
I see
[code]

[2022-06-27 07:52] anacrolix commented on #759
Are you setting ChunkSize anywhere, to anything other than the default? Are both uploader and downloader running erigon? It seems like you have the chunk size set to the piece length, which probably isn't what you want to do.

[2022-06-27 07:54] anacrolix commented on #759
Yeah I can see that is what's happening: https://github.com/ledgerwatch/erigon/search?q=DefaultNetworkChunkSize. I recommend leaving the ChunkSize alone unless you know that it improves performance to go higher (and even then you will likely go up doubling each time and only sparingly).

[2022-06-27 09:24] AskAlexSharov commented on #759
Yes, i set to all torrents chinkSize to DefaultNetworkChunkSize.

Actually I wan’t increase even further: chunkSize to 2*pieceSize

My target: reduce amount of random reads from seeder, reduce amount of network requests.

[2022-06-27 12:00] anacrolix commented on #759
Reducing random reads seems like a reasonable reason. In that case, maybe try setting your chunk size to something that minimizes overlap in files, and is reasonably large. Note that large chunks reduce responsitivity in the protocol, control and data messages share the same stream.

[2022-06-29 03:15] AskAlexSharov commented on #759
Do I need to do something about https://github.com/anacrolix/torrent/issues/759#issuecomment-1166741622

[2022-06-30 04:48] anacrolix commented on #759
I don't think there's anything actionable there: I suspect you have some clients that have burst sizes taht are smaller than your other clients chunk sizes (maybe old ones?). You could change the log level to something lower, but I'm not sure how you can get that message if all your clients are set up correctly. Let me know if there's some way I can reproduce it more accurately.

[2022-07-04 22:18] pataquets commented on #62
For the record, I'd suggest [trakx](https://github.com/crimist/trakx), since chihaya has not released new stable (ie, non-RC) since 2016.

[2022-07-08 01:49] anacrolix opened #763 "WebRTC is holding sockets open"
Running confluence with some implicit websocket trackers results in a slow leak of UDP sockets. Here's some relevant stack traces:
[code]
It may be related to https://github.com/anacrolix/torrent/issues/703, but I'm leaning away from that. I need to run an inuse_space check when this problem shows up.

[2022-07-08 02:59] AskAlexSharov opened #764 "win: udp too large datagram"
[code]

trace
[code]

also user noticed announce with many peers:
https://github.com/ledgerwatch/erigon/issues/4674#issuecomment-1178356276

Our setup: 100 torrents, EstablishedConnsPerTorrent=10

Link to original issue: https://github.com/ledgerwatch/erigon/issues/4674

[2022-07-09 06:45] AskAlexSharov opened #765 "Deadlock while calling client.Torrents()"
After switching from v1.44 to v1.46.1-0.20220707055158-f120b93e1c61 project waiting forever on `<-t.GotInfo()`
App stuck on `client.Torrents()`

Seems much network communication happening while mutex locked:

[code]

[2022-07-12 00:25] anacrolix commented on #765
From the stack traces, I'm not sure that Client.Torrents is causing the deadlock. There's definitely something locking the rest of the routines out. Can you run with PPROF_SYNC=contention, per https://github.com/anacrolix/sync/blob/f008fb17e46b87d6e2db40f91b95415242863861/sync.go#L79-L85? This will make 2 profiles available, lockHolders should tell us what is causing the deadlock.

[2022-07-12 00:51] anacrolix commented on #764
This looks related to https://github.com/anacrolix/torrent/issues/712, which comes out of an issue with Windows reporting UDP warnings as errors. I believe it's a longstanding issue and I think the Go core needs to address it.

The example announce response in https://github.com/ledgerwatch/erigon/issues/4674#issuecomment-1178356276 has 200 peers. It may be that that particular tracker is not usin

[2022-07-13 02:24] AskAlexSharov commented on #765
PPROF_SYNC=contention

![contention](https://user-images.githubusercontent.com/46885206/178637464-9c8af206-ba92-4758-8a6e-e44a1843708c.png)

to increase resolution: [contention.txt](https://github.com/anacrolix/torrent/files/9098440/contention.txt)

[2022-07-13 04:28] AskAlexSharov commented on #765
probably i messed-up with dependencies. can't reproduce anymore.  closing.
but i found: https://github.com/anacrolix/torrent/pull/766

[2022-07-13 04:28] #765 closed

[2022-07-13 06:46] anacrolix commented on #765
The lockHolders profile is just a text output, like a stack trace. Just copy `/debug/pprof/lockHolders` here when you seen the issue occur.

[2022-07-13 07:04] AskAlexSharov opened #768 "Lock logic in `reader.Seek()` looks wrong"
In Switch statement: some cases do lock after read field, some before

[2022-07-17 07:57] anacrolix commented on #768
I think that's a micro-optimization. Some fields are not safe to access unlocked, some are.

[2022-07-17 10:15] #768 closed

[2022-07-30 10:34] JaskaranSM opened #769 "Creating too many threads"
Hi, I m using this client for a telegram bot, the issue I am facing is a slow increase of threads, [Here](https://nyaa.si/download/1558404.torrent) is the torrent that does the fastest increase of threads. Basically from the threadcreate profile, the thread count just keeps on increasing,
Here status of a download after 10 minutes of run, that TH is the thread count from threadcreate profile, GR i

[2022-08-01 08:31] AskAlexSharov opened #770 "panic upload rate limiter"
Hi. Again saw this error on `v1.46.1-0.20220713100403-caa9400c52fe`

[code]

Previous issue: https://github.com/anacrolix/torrent/issues/759

[2022-08-01 22:24] anacrolix commented on #769
I don't currently have time to look into this in depth right now. Note that goroutines do not map to threads 1:1. Check the threads profile to see how many native threads you actually have.

[2022-08-01 22:27] anacrolix commented on #770
Could you link to that commit (caa9400c52fe)? I cannot find it.

[2022-08-01 22:29] anacrolix commented on #770
Do you know for certain that the burst size is indeed sufficiently high? I think the problem was the same in #759.

[2022-08-01 22:56] jaskaranSM commented on #769
My app's progress status message does call threadcreate profile and gets the count (live), I have mentioned the thread count already as  in the original issue here.
`GR: 139 | TH: 238`
The threadcount just keeps on increasing like something is blocking something (like IO perhaps), and go runtime is constantly trying to not find itself in a situation where the program hangs so the runtime just spin

[2022-08-02 01:51] AskAlexSharov commented on #770
Ah, i remember now. Will try to reduce NetworkChunkSize.

But it’s potential security problem: some bad client can crash the app by requesting big NetworkChunks.

[2022-08-02 03:19] anacrolix commented on #769
Yeah things that come to mind that could block, are related to C? Perhaps disabling uTP, piece completion using sqlite, any memory-mapping. But I'm pretty sure that none of those should cause this problem, for various reasons. Can you provide the thread profile? It sounds like it has nothing useful in it though?

[2022-08-02 22:57] jaskaranSM commented on #769
I tried disabling uTP, using BoltDB instead of SQLite for piece completion, the issue remained, threadcreate profile is only useful to get the number of threads, no proper stack trace collection is there, [reference](https://github.com/golang/go/issues/6104)

[2022-08-05 04:02] pataquets opened #772 "Question: Are peers obtained via `x.pe` expected to be TCP-only?"
I'm using magnet URIs embedding the [x.pe](https://www.bittorrent.org/beps/bep_0009.html#magnet-uri-format) field, which is supported since b020b8c2b6a65a4ed8ecc3e40d184a8a6e9aee6e.
As I try to avoid TCP and use UDP/uTP as much as possible, I have the peer nodes here with the only port open 51413/udp, but with 51343/tcp closed (transmission-daemon running in a Docker container). Outside peers reac

[2022-08-06 15:48] jaskaranSM commented on #769
Update!
Switched to mmap backend for storage and this issue went away, For now this issue seems to be happening because of file backend, I saw you are doing OpenFile call for every torrent write/read call. I have a doubt, wouldn't it do three syscalls for every write/read ? Open -> write/read -> Close? Would it be better to have the file handles open and read/write calls are done when data is rece

[2022-08-08 06:00] anacrolix commented on #772
The x.pe addresses should be attempted on all diallers, and should result in a connection attempt in any that can interpret the address. That should be both uTP and TCP in default configurations.

It should be the same with PEX, albeit I think there's a flag for uTP/TCP there.

It's possible that x.pe addresses that you're seeing are just not accessible over uTP. If they're long lived static addre

[2022-08-08 06:08] anacrolix commented on #769
Thanks for resolving the issue more. I believe the open syscall is not reliably asynchronous on many platforms, so a dedicated thread may be necessary in the Go runtime. On top of that, the concurrency to chunk writes is proportional to the number of receiving connections, which you've artificially raised. Do you also have have a lot of torrents downloading? Each connection in each torrent could c

[2022-08-10 04:30] AskAlexSharov commented on #770
Also, I'm still don't really understand the problem:
- I have 2Mb burst size
- But error says it's < 16384
How it can happen?

[2022-08-11 01:39] anacrolix commented on #770
@AskAlexSharov I'm not sure, I think we covered it thoroughly in the other issue. Either there's an issue propagating the correct value somewhere in anacrolix/torrent, or the wrong version or incorrect value is being used in hte other projects that are panicking. I did pore over the code pretty extensively already.

[2022-08-11 02:04] AskAlexSharov commented on #770
Thank you. When I set 4mb burst, it panics. When i set 2mb burst, it doesn’t panic. Seems I jumped over some limit. Can’t find it, but it’s fine.
let’s close the issue, because I fixed panic on my side.

[2022-08-11 06:19] monkeyWie commented on #475
@anacrolix can you show some sample code? thank~

[2022-08-15 07:36] monkeyWie opened #774 "Customize torrent download path"
Hi, is there any way to specify the download path of a torrent?

[2022-08-16 04:37] anacrolix commented on #774
For file-based storage, you can choose any of the `NewFile*` constructors at https://pkg.go.dev/github.com/anacrolix/torrent@v1.46.0/storage#ClientImplCloser. Custom storages are set in https://pkg.go.dev/github.com/anacrolix/torrent#ClientConfig or https://pkg.go.dev/github.com/anacrolix/torrent#Client.AddTorrentOpt.

If you are using `cmd/torrent download`, I think the location is the process wo

[2022-08-16 06:17] monkeyWie commented on #774
The custom storage implementation is not elegant, can you provide a way to set the torrent download path, for example:
[code]

[2022-08-16 12:48] anacrolix commented on #774
No, because file storage isn't the only supported type. All storage-related configuration is confined to the storage implementation itself.

[2022-08-19 06:15] monkeyWie commented on #774
Okay~, I will try to implementation a special file strorage.

[2022-08-19 06:15] #774 closed

[2022-08-20 17:43] fnoopv opened #775 "Update `crawshaw.io/sqlite` dependencies version"
i used gcc version
[code]
example go code
[code]
it's warning when build
[code]
and i found this [issue](https://github.com/smmr-software/mabel/issues/12), It's caused by sqlite, `crawshaw.io/sqlite` has been fixed, please update the `crawshaw.io/sqlite` dependency version

[2022-08-20 18:41] fnoopv commented on #775
I'll make a PR if I can

[2022-08-21 20:28] pataquets commented on #772
I'll check it better, but I'm mostly sure that both TCP and UDP were open, as I was controlling the `x.pe` peer.
I guess I'll need to double check my tests and maybe I'll add some debugging messages. I'll post the results whatever they come (not anytime soon due to priorities, thou).

[2022-09-16 08:35] Shawn-Huang-Tron opened #776 "Can't get this repo"
[code]

[2022-09-18 01:18] anacrolix commented on #776
Could you try with `go get github.com/anacrolix/torrent@master`?

[2022-09-18 01:27] anacrolix commented on #776
Scratch that please try `go get github.com/anacrolix/torrent@v1.47.0`

[2022-09-19 06:14] AskAlexSharov commented on #770
@anacrolix hi.
I did add some debug logs about this panic:
[code]
Out:
[code]

And I see that panic happening not because somebody requested more than "burst size". I see several small requests (each one is smaller than burst size) and burst is just over - and it feels for me as an "normal scenario" (need block until limiter is available instead of panic).

[2022-09-21 10:01] anacrolix commented on #770
The rate Limiter Burst should not be changing! Do you have some code modifying that?

[2022-09-21 10:04] anacrolix commented on #770
A quick check of the implementation of rate.Limiter shows that it can go down if the rate is 0. Is it possible the rate is set to 0 somehow?

[2022-09-21 10:42] AskAlexSharov commented on #770
Yes, it set to 0

[2022-09-21 17:36] ucwong opened #777 "dialing: context deadline exceeded"
Is it means too much out connections for local server or connections refused by remote server ? What is correct way to fix it ?
[code]

[2022-09-23 04:37] #770 closed

[2022-09-25 09:27] anacrolix commented on #777
This should be normal operational behaviour, networks are unpredictable. This is also why it's logged at the debug level.

[2022-09-26 03:26] Shawn-Huang-Tron commented on #776
both of them still not working.

[2022-09-26 05:31] anacrolix commented on #776
What version of Go are you using?

[2022-09-26 16:58] marcovidonis opened #779 "Provide more stats for torrent"
I'm looking at making a client provide some broad data about a torrent, which don't seem to be part of what `torrent.Stats()` currently gives. The stats I'm interested in could include, for example:

- Whether the file is currently being transferred
- Current and/or average transfer speed, total or per peer
- How long it's been transferring for
- Perhaps some kind of measure of how "popular" a fil

[2022-09-26 23:01] #777 closed

[2022-09-27 02:00] anacrolix commented on #779
Hi @marcovidonis thanks for checking in on the concepts first:

Via a `Reader`, or with peers?

Something like this? https://pkg.go.dev/github.com/anacrolix/torrent#Peer.DownloadRate

If you click through to the source on the above method, you can see some fields tracking total expected transfer time etc.

This would be some reflection of the seeder or leecher count. That's somewhat outside the re

[2022-09-27 02:28] anacrolix commented on #776
Wow, this really sucks. Even updating dependencies on anacrolix/torrent to a version that doesn't depend on dht versions that don't depend on older anacrolix/torrent doesn't work. The Go tooling here is appalling. I'm at a loss.

[2022-09-27 09:56] marcovidonis commented on #779
Sounds great, thanks for your help! I'll dig into each of these links, but it sounds like most of what I need is already covered!

[2022-09-28 16:22] bcmills commented on #776
Note that with the default `GOPROXY` setting the module can still be fetched from `proxy.golang.org`.
That said, I can appreciate that you probably want to fix this for all users regardless of which `GOPROXY` they're using.

Fortunately, as of Go 1.17 we do have two features that should help.

One is [module graph pruning](https://go.dev/ref/mod#graph-pruning). To activate it, run `go mod tidy -go

[2022-09-28 22:13] anacrolix commented on #776
Thank you so much @bcmills!

[2022-09-29 04:29] anacrolix commented on #776
@bcmills this doesn't actually work from the library side: If a potential downstream runs `go mod edit -exclude=github.com/anacrolix/dht/v2@v2.15.2-0.20220123034220-0538803801cb`, they're able to avoid this bad dependency, but there's no way for me to make pruning or excluding work from either anacrolix/dht/v2 or anacrolix/torrent. You can observe this by trying to prune with `go mod tidy -compat=

[2022-09-29 12:34] Shawn-Huang-Tron commented on #776
go version go1.16.15 darwin/arm64

[2022-09-29 12:46] Shawn-Huang-Tron commented on #776
`
go mod edit -exclude=github.com/anacrolix/dht/v2@v2.15.2-0.20220123034220-0538803801cb
go get github.com/anacrolix/torrent
go: downloading github.com/RoaringBitmap/roaring v1.2.1
go: downloading github.com/anacrolix/chansync v0.3.0
go: downloading github.com/anacrolix/dht/v2 v2.19.0
go: downloading github.com/anacrolix/generics v0.0.0-20220618083756-f99e35403a60
go: downloading github.com/anacro

[2022-09-29 12:52] Shawn-Huang-Tron commented on #776
go mod edit -exclude=github.com/anacrolix/dht/v2@v2.15.2-0.20220123034220-0538803801cb
go get github.com/anacrolix/torrent
go: downloading github.com/RoaringBitmap/roaring v1.2.1
go: downloading github.com/anacrolix/chansync v0.3.0
go: downloading github.com/anacrolix/dht/v2 v2.19.0
go: downloading github.com/anacrolix/generics v0.0.0-20220618083756-f99e35403a60
go: downloading github.com/anacroli

[2022-09-29 13:20] anacrolix commented on #776
@Shawn-Huang-Tron net/netip was only added in go 1.18, so you must use that.

[2022-09-29 13:46] Shawn-Huang-Tron commented on #776
Is that means that I have to upgrade my go version to 1.18?

[2022-09-29 14:48] bcmills commented on #776
@Shawn-Huang-Tron, per the [Go release policy](https://go.dev/doc/devel/release#policy), the only major releases of the toolchain currently supported by the Go project are 1.18 (currently 1.16.6) and 1.19 (currently 1.19.1). You should upgrade either way so that you pick up current security fixes. 😅

[2022-09-29 21:04] bcmills commented on #776
This looks to me like a bug in `go get`, or an least an unexpected mode of operation in graph pruning. I've filed it as https://github.com/golang/go/issues/55955.

[2022-09-30 06:32] anacrolix commented on #776
Thank you @Shawn-Huang-Tron for putting the effort in to report this.

[2022-10-05 10:52] AskAlexSharov commented on #746
reproduced another banning issue. when fresh node just started, see several:
`would have banned <ip> for touching piece 46 after failed piece check`
here are `/debug/vars`
[code]

[2022-10-10 07:01] VertigoSHI opened #780 "Cmd fomat error & the torrent serve cmd cannot be used as a util"
![image](https://user-images.githubusercontent.com/52185258/194813171-546b691b-79d0-4452-8239-d1207d94ec8c.png)

&
the cmd depends on the sqlite, no configuration info about the db table

[2022-10-12 20:27] KyleSanderson commented on #175
Any update on this one? This is absolutely "in the wild".

[2022-10-13 12:57] anacrolix commented on #175
I am considering this, there's been an uptick in the community, I think usage might start to appear.

Is there any interest in funding this support?

[2022-10-13 14:56] KyleSanderson commented on #175
Specifically I have a PR into a project that already uses this library. https://github.com/autobrr/autobrr/pull/491

This breaks a handful of sites by parsing the contents as the clients well support V2, but the library does not. As V2 has become widely accepted and mainstream over the last year, this is only going to become more prevalent as time progresses.

So, similar situation to you, as a us

[2022-10-17 05:06] anacrolix commented on #746
Hm per above, I don't think that's a problem. I can't remember all the context for this issue.

[2022-10-17 05:07] anacrolix commented on #780
Sorry, could you explain a bit more? The argument parsing is in a bit of flux.

[2022-10-21 22:39] ucwong opened #781 "Building issues"
Occurs after updating github.com/anacrolix/missinggo/v2 from ```v2.7.0``` to ```v2.7.1```

github.com/anacrolix/dht/v2 from ```v2.19.0``` to ```v2.19.1```

[code]

[2022-10-23 06:13] anacrolix commented on #781
@ucwong what version of Go are you using? See https://github.com/anacrolix/stm/issues/5.

[2022-10-24 00:02] ucwong commented on #781
go version go1.19.2 linux/amd64

[2022-10-24 00:26] ucwong commented on #781
<img width="455" alt="image" src="https://user-images.githubusercontent.com/22344498/197425908-ebc4dc4a-1d8b-424f-98e8-e03b7c3f6b11.png">
It is OK when I run ```go test ./... ``` in stm directly

[2022-10-24 03:37] anacrolix commented on #781
I think this is related to https://github.com/anacrolix/torrent/issues/776. I have had instances where the Go is trying to downgrade versions resulting in similar build errors to what you are describing.

[2022-10-24 07:39] ucwong commented on #781
Replace the type parameters in its definition with actual types may be the solution of this issue

https://github.com/anacrolix/stm/blob/4f6e80b7bb8c9a8b3036e54b6d02dcc66a690162/stmutil/containers.go#L72

[2022-10-25 00:57] anacrolix commented on #781
Without jumping into the code and digging around, is it possible that old versions of the DHT code are pulling in versions of the STM code that don't build anymore? I don't know how far you got in the linked issue @ucwong but it all ends up at https://github.com/golang/go/issues/55955.

[2022-10-25 14:56] ucwong commented on #781
Just run go get -u ./... in my project and then the issue occurs when building

[2022-10-25 23:55] ucwong commented on #781
https://github.com/anacrolix/stm/pull/6

[2022-10-26 18:31] ucwong commented on #781
https://github.com/anacrolix/stm/pull/7

[2022-10-26 22:29] anacrolix commented on #781
Let's close this in favour of https://github.com/anacrolix/stm/issues/5, which is the real problem.

[2022-10-26 22:29] #781 closed

[2022-11-01 11:06] Shawn-Huang-Tron opened #782 "Hope there are some example codes to show how to use these function"
May be there could be a example directory that contains a lot of use case about how to use the method or function.Thanks.

[2022-11-01 20:04] veshij commented on #739
We also observe panics under load in this code as well as in https://github.com/anacrolix/torrent/blob/eeb021b134137d2096f0ef899d5215ece8989ba0/requesting.go#L304-L306
[code]

[2022-11-02 02:36] anacrolix commented on #739
@veshij if there is a way for me to reproduce this with your project, I'm happy to try. Please try commenting out that panic too and let me know how it goes.

[2022-11-02 02:43] anacrolix commented on #782
There are some examples floating around in the [transfer unit tests](https://github.com/anacrolix/torrent/blob/master/test/transfer_test.go), pkg doc, the [cmd/ directory](https://github.com/anacrolix/torrent/tree/master/cmd), the [Discussions](https://github.com/anacrolix/torrent/discussions) and any of the [downstream projects](https://github.com/anacrolix/torrent#downstream-projects). Sorry I d

[2022-11-02 03:26] veshij commented on #739
Not sure I have a good repro. I’m distributing about 6GB torrent over
multiple hundreds of boxes, multiple torrent distributions are in progress
at the same time.

Вт, 1 нояб. 2022 г. в 19:36, Matt Joiner ***@***.***>:

--
Oleg Guba

[2022-11-02 03:28] veshij commented on #739
Are you suggesting to comment both panics in  applyRequestState?

Вт, 1 нояб. 2022 г. в 19:36, Matt Joiner ***@***.***>:

--
Oleg Guba

[2022-11-02 04:33] anacrolix commented on #739
They're all logic checks (there's 3 of them). I don't think the latter will cause problems, change them to logs or something instead if it helps.

[2022-11-02 06:13] veshij commented on #739
Thank you.
Can I collect some additional information to troubleshoot the root cause, or cut a PR to change panics to error logging?

[2022-11-02 08:29] anacrolix commented on #739
Yes, any extra info is good. If it works at the logging level, let me know.

[2022-11-02 18:22] veshij commented on #739
What I meant is can I add any additional logging on top of replacing panics to help with troubleshooting.

[2022-11-06 05:07] anacrolix commented on #739
Not off the top of my head. Sorry I don't have more bandwidth to assign to this.

[2022-11-06 11:11] Shawn-Huang-Tron opened #783 "Sounds like that i can't download all of it"
I have got some torrent's file from here:https://archive.org/
But sounds like that all of these torrent can't be downloaded.
There are some logs below:
[code]

[2022-11-07 03:00] anacrolix commented on #783
It looks like the torrents there omit host names and schemes. This probably requires a small fix to infer them from context.

[2022-11-10 14:25] #779 closed, assigned to nobody

[2022-11-10 14:57] marcovidonis opened #784 "Adding custom authentication headers"
I'm looking at adding custom headers to http or websocket requests that I send from the client to a tracker I control. The idea is to filter the requests coming to the tracker to only allow the ones from clients authenticated via a token.

It doesn't seem like there's currently an option for this in the client. How would you approach this @anacrolix?

[2022-11-14 08:31] anacrolix commented on #784
Hm, I suspect something like the [`Director`](https://pkg.go.dev/net/http/httputil@go1.19.3#ReverseProxy) field should be exposed on `torrent.ClientConfig`. It should be a func that takes and modifies the `http.Request` before it's sent to the tracker. It would probably run just after the user agent and host header fields are handled, [here](https://github.com/anacrolix/torrent/blob/30a5d079be25dd

[2022-11-25 11:38] marcovidonis commented on #784
Thanks for the feedback, I've followed your suggestions and made it so that we can apply a user-defined function that modifies the `http.Request` just before it's sent. I could open a PR for it if you'd like.

My question now is, the way I've set it up, it's not limited to custom headers, as I simply run any function that modifies the request. Is this an acceptable behaviour, or should I put some

[2022-11-30 14:06] marcovidonis commented on #784
I actually just realised that #787 didn't cover the case where the connection to the tracker is done via a websocket, as `HttpRequestDirector` is not applied to the `Upgrade` request.

I'm thinking of exposing `HttpRequestDirector` in `webtorrent.TrackerClient` and calling it just before `Dial()`, [here](https://github.com/anacrolix/torrent/blob/master/webtorrent/tracker-client.go#L89).
However, t