[2020-02-27 07:41] #371 closed

[2020-02-27 09:52] anacrolix commented on #382
@hichenming You should find that `cmd/torrent` is now much less wasteful between sessions.

[2020-02-27 19:40] chantra commented on #356
I think this issue can be closed. What do you think @yarikk ?

From where I stand, there is now API to add custom listener/dialer. As we start using it, we may find missing bits and pieces, but this would be a different story and we could take it from there at that time.

[2020-03-02 06:22] hichenming commented on #382
@anacrolix Yes, thanks a lot.

[2020-03-03 10:47] anacrolix commented on #356
Cheers.

[2020-03-03 10:47] #356 closed

[2020-03-15 07:59] xspeed1989 opened #383 "torrent.(*Count).Int64 crash on arm(linux)"
[code]

[2020-03-16 00:58] anacrolix commented on #383
It's not clear where the usage of `Count` is occuring in @jpillora `/cloud-torrent` here. Can you link to the source for it for the backtrace above?

[2020-03-16 01:22] xspeed1989 commented on #383
@anacrolix
there is [source](https://github.com/boypt/simple-torrent/blob/master/engine/torrent.go)
this project if focked from jpillora/cloud-torrent

[2020-03-16 01:37] anacrolix commented on #383
@xspeed1989 the issue is most likely that your [`Torrent.Stats`](https://github.com/boypt/simple-torrent/blob/master/engine/torrent.go#L30) is not aligned. Try moving that field to the top of its parent struct. If that works, I'll add a comment to TorrentStats mentioning that it must be aligned on some platforms.

[2020-03-16 03:00] xspeed1989 commented on #383
@anacrolix OK, I will try it
around 8:00pm Beijing time

[2020-03-16 03:31] xspeed1989 commented on #383
@anacrolix It's works fine!

[2020-03-16 03:46] xspeed1989 commented on #383
it's not your fault,2333333

[2020-03-16 03:46] #383 closed

[2020-03-16 05:29] anacrolix commented on #383
See also https://github.com/anacrolix/torrent/issues/262.

[2020-03-16 06:13] jpillora commented on #383
Apologies the cloud-torrent import of anacrolix/torrent is out of date. This might be the reason...

[2020-03-16 06:27] anacrolix commented on #383
@jpillora sorry to drag this up, I think the issue was in a fork of your original repo.

[2020-03-18 18:27] Sean-Der commented on #138
Anything I can do to help @anacrolix ? Happy to get involved with any of the WebRTC stuff.

[2020-03-19 00:21] anacrolix opened #384 "Implement Dialer and Listener for WebRTC connections"
Useful background information:

 * https://github.com/anacrolix/torrent/issues/138#issuecomment-522109706

[2020-03-19 00:27] anacrolix opened #385 "Implement websocket tracker support"
Useful background information:

 * https://github.com/anacrolix/torrent/issues/138#issuecomment-530994447
 * https://github.com/anacrolix/torrent/issues/138#issuecomment-550054582
 * https://github.com/anacrolix/torrent/issues/138#issuecomment-441814903

[2020-03-19 00:29] anacrolix commented on #138
@Sean-Der I've created issues the next 2 items we need. I think it may be possible to do them concurrently, so long as the `addr string` is agreed upon by the tracker and Dialer implementations.

[2020-03-19 00:31] anacrolix commented on #385
Per https://github.com/anacrolix/torrent/issues/138#issuecomment-530994447, there may be an architectural change required to support this new protocol. Given that, unless someone else feels they're suited to the task, I might start there myself.

[2020-03-19 00:32] anacrolix commented on #384
The first step here would be to determine that WebRTC can be abstracted inside the Dialer and Listener interfaces appropriately. Particularly that the `addr string` in `Dialer.Dial` is sufficient. I'm also not sure that `Listener` is appropriate, I can figure that out with some time. Anyone that is more familiar with WebRTC is welcome to start on this. I'll assign it to if I start on it.

[2020-03-20 19:38] pataquets commented on #310
Thanks for the heads-up, @anacrolix.
Indeed, I made some attempts at testing it under torrentfs/torrent-magnet, in case I could report back, but I failed. Since I could not rule out some error on my part, I left it alone.
When you speak about the remaining feature, you mean that adding peers has to be implemented in this library (continued on this issue) or that it is the library clients who are s

[2020-03-22 12:06] boypt opened #387 "crash at reading piece range on certain torrent"
Found a torrent that crashes the library:
[code]

### Go Version: 1.13.9/1.14.1
### Platform: Linux/amd64
### Application: https://github.com/boypt/simple-torrent
### Crash Log:

[code]

### Analyzation
The torrent is successfully downloaded from DHT, and call to `AddTorrentSpec` successfully started the torrent. But then the call to `BytesCompleted` on the torrents's file causes this crash.

 `to

[2020-03-23 06:56] anacrolix commented on #387
What GOARCH/GOOS is this on?

[2020-03-23 09:14] snowie2000 commented on #387
Linux for sure. Bug reproduced on linux amd64.

[2020-03-23 10:04] boypt commented on #387
@anacrolix Sorry I didn't provide enough info at first. I updated the issue.
I believe it's related to PR #347

[2020-03-24 01:15] #387 closed

[2020-03-24 01:16] anacrolix commented on #387
@boypt thanks for all the info. I wasn't able to obtain the linked torrent, but I believe it was some bad edge cases that should now be fixed.

[2020-03-24 03:03] anacrolix commented on #310
I have no preference currently.

That would be right, but if the relevant field isn't available in TorrentSpec, it might be more appropriate after https://github.com/anacrolix/torrent/blob/378ccd0932c5791e503fd32a82846d45263aad03/client.go#L1178.

[2020-03-24 03:19] boypt commented on #387
fix confirmed. thanks!

[2020-03-25 18:43] myleshorton opened #388 "panic: -1 on Torrent.pendingRequests when dropping a connection"
[code]

[2020-03-27 01:51] anacrolix commented on #388
It appears at present that `Torrent.pendingRequests` is only used as a sanity check. It's previous use by one of the download strategies has been moved exclusively into those/that strategy (if it's even around anymore).

[2020-03-28 22:47] pataquets commented on #248
@djkazic friendly ping
We'd love to have the code as is now :smile:

[2020-03-30 02:47] kylege opened #389 "Client get locked very long time when resume a big file task"
When resume a torrent task to download very big files, such as 36 GB, the client will be locked for a long time( over 1 minute ), and other torrent tasks can't do anything during the client lock.

Torrent.SetInfoBytes  call   client.lock  and  client.unlock, then call torrent.setInfoBytes, will run into torrent.onSetInfo, the onSetInfo method can be very slow.

I think maybe it's better that the c

[2020-03-30 03:39] anacrolix commented on #389
@hichenming would you have an idea of how many files, pieces, piece size etc. your torrent is? Do you want to send me the torrent info privately if you can't share? What storage backend are you using, and are you calling `Torrent.SetInfoBytes` manually yourself?

[2020-03-30 08:04] hichenming commented on #389
Hi, I think i have found out the reason that torrent.onSetInfo run slow, I rewrite a different PieceCompletion, and it is much more slow than boltdb.

I test the torrent file with original PieceCompletion solution, the problem just disappeared.

You can reproduce the problem, by set db.NoSync = false in NewBoltPieceCompletion, then download a big file, such as  https://rarbgprx.org/torrent/bizear2

[2020-03-30 08:13] hichenming commented on #389
Maybe it's better to use `t.cl.rlock()` instead of `t.cl.lock` in `func (t *Torrent) SetInfoBytes` ?

[2020-03-31 18:39] myleshorton commented on #388
Another log -- I think it's the same but in case it's helpful:

[code]

[2020-04-03 11:34] ucwong opened #392 "UTP causes memory leak"
util got OOM when i use utp enable

[2020-04-04 11:45] dd4e commented on #248
Hello everyone! I want help with LSD. I understood lsd proto and I can write lsd module. But, I think, I need help with integration it to torrent library.

[2020-04-04 22:56] anacrolix commented on #392
Do you have cgo enabled, and are using anacrolix/go-libutp? Can you provide any profiles? What kind of run time does it take for you to see the leak?

[2020-04-05 01:43] ucwong commented on #392
cfg.DisableUTP=false

[2020-04-05 01:50] ucwong commented on #392
I think cgo is enable
![image](https://user-images.githubusercontent.com/22344498/78464982-d8e98f00-7722-11ea-9559-27ba76b0050a.png)

[2020-04-05 04:30] anacrolix commented on #138
I did some more investigating. This looks exceptionally difficult to integrate into the existing code. The tracker and connection management are tightly coupled. It's also probably not appropriate just to maintain state at the Torrent level for trackers, it might be necessary at the Client level in order to scale to many Torrents with the same tracker URLs specified. The potential for disconnectio

[2020-04-05 09:18] backkem commented on #138
I think disconnecting form the tracker isn't the end of the world. Once established, the WebRTC connections don't need the tracker's Websocket connection to stay alive.
However, losing the connection before signaling is complete does mean you won't be able to complete the setup of a WebRTC connection.

Managing the tracker Websocket connections globally is probably a good idea since they will have

[2020-04-05 11:43] backkem commented on #138
The WebRTC connection setup is likely even more tricky. Normally WebRTC will allocate random ports for both sides of the connection. In addition, there are two steps: signaling (tracker) and the actual connections (torrent). This would require a bunch of back-and-fort between the tracker and connection logic and it's quite inefficient for this use-case.

However, unlike in the browser we have more

[2020-04-05 22:27] anacrolix commented on #392
Can you provide any profiles? What kind of run time does it take for you to see the leak?

[2020-04-07 01:49] anacrolix commented on #138
Thanks for the assistance again @backkem. I have a in-progress branch at https://github.com/anacrolix/torrent/tree/webtorrent that's able to download. Within the `torrent` repo, you can test it with `GOPPROF=http go run -race -v ./cmd/torrent -dht=false 'magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&tr=wss://tracker.btorrent.xyz&tr=wss://tracker.fastcast.nz&tr=wss://tracke

[2020-04-07 01:52] anacrolix commented on #384
After more investigation, I don't think the Dialer or Listener models work with WebRTC, at least not in the way I envisaged them. It might be possible via @backkem's suggestions at https://github.com/anacrolix/torrent/issues/138#issuecomment-609403043.

[2020-04-07 01:54] anacrolix commented on #385
This has been started in https://github.com/anacrolix/torrent/tree/webtorrent, by adapting @backkem's repo at https://github.com/backkem/gowttest.

[2020-04-07 22:00] h31p commented on #362
let me give my 5 cents.

imagine the situation when we have only 2 peers, one extremely fast and one extremely slow. with right logics, we must have an overall speed not lower than faster one gives, but in practice - we don't get it, because loading pieces is half-interleaved in some strict manner between them, irrespective of their actually learned speeds of transfer.
the realtime analisys of suc

[2020-04-08 05:12] ucwong commented on #392
56161732 56 @ 0xa32e04 0xa32da1 0xf7db26 0x1032e50 0x1028231 0x103b5f2 0x1046ede 0x10471eb 0xa13551
# 0xa32e03 sync.(*Mutex).Unlock+0xa3           /usr/local/go/src/sync/mutex.go:190
# 0xa32da0 sync.(*RWMutex).Unlock+0x40           /usr/local/go/src/sync/rwmutex.go:136
# 0xf7db25 github.com/CortexFoundation/CortexTheseus/vendor/github.com/anacrolix/sync.(*RWMutex).Unlock+0x55  /root/CortexTheseus/

[2020-04-08 05:13] ucwong commented on #392
[code]

[2020-04-08 05:15] ucwong commented on #392
Here is some informations I saved before with debug/pprof

[2020-04-09 01:13] anacrolix commented on #362
I see the confusion. The `(fastest)` tag on a connection is added if it was the most recent to upload a chunk to us. This is only used by the ["fastest" request strategy](https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#RequestStrategyFastest), which is not the default and probably not the one you are using. That strategy works by assuming whichever connection last uploaded a chunk to us is

[2020-04-09 01:20] anacrolix commented on #392
@ucwong Thanks. I'm not sure what's going on there, you have a lot of goroutines blocked on unlocking the Client mutex? What versions of go-libutp and torrent are you on? Could you update to torrent v1.15.0?

[2020-04-09 01:57] ucwong commented on #392
OK, I think i used the latest version, but i will test again
it will be ok when disable utp

[2020-04-13 02:44] ucwong commented on #392
Still OOM at last in utp mode

[2020-04-13 04:33] anacrolix commented on #385
This works and is in the branch for now.

[2020-04-13 04:33] #385 closed

[2020-04-13 04:34] anacrolix commented on #384
This might be a potential improvement, but isn't a blocker anymore.

[2020-04-13 07:36] anacrolix commented on #138
That command is now `$ GOPPROF=http go run -v ./cmd/torrent download -dht=false -tcpPeers=false -utpPeers=false 'magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&tr=wss://tracker.btorrent.xyz&tr=wss://tracker.fastcast.nz&tr=wss://tracker.openwebtorrent.com'`.

[2020-04-14 01:25] anacrolix commented on #392
Could it be that you're running *lots* of `Torrent`s, with a lot of connections and trackers? This might be causing a massive amount of contention on the `Client` lock?

[2020-04-14 01:26] anacrolix commented on #392
Do you have a read or write rate limiter set?

[2020-04-14 01:51] ucwong commented on #392
... But it is ok for tcp protocol only, I use default set ,it maybe unlimited

[2020-04-14 01:53] ucwong commented on #392
Any suggestions for utp settings different with tcp

[2020-04-14 03:10] anacrolix commented on #392
It's possible there are undocumented, upstream limits to how many connections you can have per utp socket. This information would be helpful:

[2020-04-14 03:18] ucwong commented on #392
Is UploadRateLimiter in client config OR others

[2020-04-15 12:12] yarikk commented on #341
Addressed in #341.

[2020-04-15 12:12] #341 closed

[2020-04-15 12:40] yarikk opened #395 "cmd/torrent: -testPeer no longer accepts string names"
Since recently,

[code]

Not sure if the change is in right direction: since BEP3 allows "An optional parameter giving the IP (or dns name) which this peer is at. " in tracker announcements, shouldn't test peers allow that too?

[2020-04-15 13:38] yarikk opened #396 "cmd/torrent: panic in findListenerIp()"
Looks like `-publicIp` became mandatory for cmd/torrent. It panics without it:
[code]

[2020-04-15 13:44] yarikk commented on #396
With both v4+v6 addresses specified, it panics in another place:
[code]
Looks like port needs to be exclicitly specified too…

[2020-04-15 18:39] backkem commented on #396
Looks like you now have to explicitly enable TCP and UDP peers using the `-tcpPeers` and `-utpPeers` flags.

[2020-04-15 23:35] anacrolix commented on #138
I'm closing this as done. There are further improvements to be made, but now that Webtorrent is supported on master, those will come over time.

[2020-04-15 23:35] #138 closed

[2020-04-15 23:43] anacrolix commented on #395
This is due to a [change I made in tagflag](https://github.com/anacrolix/tagflag/commit/26503342bd2ec719e24605f5e624b49f56c35785). I found that resolving hostnames was stalling argument parsing, which led to really weird behavior sometimes. I think the solution is to accept a string if you want to resolve it manually, or if you prefer the old behaviour, downgrade tagflag slightly or propose a bett

[2020-04-16 00:31] #396 closed

[2020-04-16 06:41] jpillora commented on #138
Nice work Matt!

On Thu, 16 Apr 2020 at 9:35 am Matt Joiner <notifications@github.com> wrote:

[2020-04-16 22:40] james-lawrence commented on #376
@anacrolix sorry never responded, I forked your library awhile ago. I only opened this to let you know about that issue.

[2020-04-16 22:43] james-lawrence commented on #392
@ucwong I have a [fork](https://github.com/james-lawrence/torrent) of this library that massively reworks the locking done. might be worth a look to see it if suffers the same issue. if it doesn't then we can back track possible issues from there potentially.

[2020-04-17 00:43] ucwong commented on #392
@james-lawrence thank you for comment, I have test the new commit , the memory seems to be ok now, but the number of block and mutex is still increasing without OOM. I will keep running it for a bit longer time.
@anacrolix thank you for the latest commits

[2020-04-17 04:42] ucwong commented on #392
The memory is increasing slower, I think it still will be OOM after long time seeding
![image](https://user-images.githubusercontent.com/22344498/79532819-e0a51e00-80a8-11ea-851d-0749c34d434d.png)

[2020-04-17 04:46] ucwong commented on #392
I found some block here, ratelimitreader.go:43
![image](https://user-images.githubusercontent.com/22344498/79532969-54dfc180-80a9-11ea-8135-465aa7f00378.png)
![image](https://user-images.githubusercontent.com/22344498/79532992-5f9a5680-80a9-11ea-9e27-8bb0d7874ae4.png)

[2020-04-17 04:55] ucwong commented on #392
mutex
![image](https://user-images.githubusercontent.com/22344498/79533554-b9e7e700-80aa-11ea-87c0-01c46cab9e17.png)

![image](https://user-images.githubusercontent.com/22344498/79533523-a6d51700-80aa-11ea-83bd-c7d1f3deb4ef.png)

[2020-04-17 16:09] vintikzzz opened #398 "Custom peers"
Hi!
Is it possible to add some custom peer, for example one that will get pieces from S3-bucket or another one that can get pieces from HTTP-server? Is it possbile to add my custom peer implementaion?

[2020-04-18 09:15] anacrolix commented on #398
Web seeding isn't currently supported. You can implement your own protocol if you implement `Dialer` or `Listener` in the `torrent` package, if those expose the BitTorrent peer wire protocol. It's not possible to implement your own peer. I suspect you mean the remote part that belongs in `PeerConn`?

[2020-04-18 11:07] vintikzzz commented on #398
Yes it looks like `PeerConn `, it will be great if there will be possible to add my own `PeerConn` to torrent. But as I can see `func (t *Torrent) addConnection(c *PeerConn) (err error) {` is not public and there it no public interface for `PeerConn`. Is it good idea anyway? Or there might be better approach to implement my scenario?

[2020-04-19 08:43] anacrolix commented on #398
I don't think the PeerConn analogy is correct for alternative sources, although it could be made to work. It would be a lot of work. You might be best to wait for, or implement yourself, web seeding for this.

[2020-04-19 08:45] vintikzzz commented on #398
Ok, thank you for response. Is there any plans to implement web seeding?

[2020-04-21 01:26] anacrolix commented on #398
Web seeding is tracked at https://github.com/anacrolix/torrent/issues/116.

[2020-04-21 02:08] #337 closed

[2020-04-21 07:25] vintikzzz commented on #116
@anacrolix Yes, I am interested in backing. I also have special ideas. Can we discuss it somewhere?

[2020-04-21 17:33] blackzafiqz opened #399 "Slow download when reaching 3%"
Hi, I got bunch of this error from server log. I hosting it on Google Compute so I dont think there will be any issues related to network speed. I tried to searching from previous issues but still cant find the solution. I tried to toggling a lot of stuff but still not working.

This causes my download speed drop to 50-1000kBps after reaching 3% of torrent download.Before 3% it can achieve around

[2020-04-22 00:09] anacrolix commented on #399
Could you leave these values to their defaults:

        clientConfig.NoUpload = true
	clientConfig.Debug = true
	clientConfig.DisableAcceptRateLimiting = true

And try the default DefaultRequestStrategy, then the fuzzing and timeout ones?

My best guess without more to go on is that you're getting a lot of connections ramping up, and the "fastest" request strategy is switching connections too qui

[2020-04-22 01:39] anacrolix commented on #116
@vintikzzz https://gitter.im/anacrolix/torrent or email me for other plans?

[2020-04-22 13:38] skinner12 opened #400 "const initializer "github.com/anacrolix/log".Debug is not a constant"
I've updated the package and now I can't compile my app.

I get this error:

`#github.com/anacrolix/torrent

github.com/anacrolix/torrent@v1.15.0/client.go:149:7: const initializer "github.com/anacrolix/log".Debug is not a constant`

[2020-04-23 00:08] anacrolix commented on #400
What update command did you run? `go get github.com/anacrolix/torrent@latest` or something else?

[2020-04-23 04:07] anacrolix commented on #400
Let me know what command you run. I've released `v1.15.1` to fix this and some other minor issues.

[2020-04-23 04:07] #400 closed

[2020-04-23 04:19] anacrolix commented on #248
@dd4e I can assist with the integration.

[2020-04-23 04:21] anacrolix commented on #392
Are you running with the block and mutex profilers enabled? I'm not sure the results mean what you infer them to mean. I don't have enough information to go on here.

[2020-04-23 04:41] ucwong commented on #392
It shows where is blocked in the code, but I am not sure it is useful. It will oom when I seeding files for long time with UTP on. It is very good in only TCP mod.

[2020-04-23 05:09] anacrolix commented on #392
A heap profile after it has run for a long time before it crashes would be very helpful.

[2020-04-23 06:00] ucwong commented on #392
@anacrolix I will make another test

[2020-04-24 01:15] hwh33 commented on #388
Here's another crash in case it's helpful:

[code]

[2020-05-02 11:54] 2m opened #402 "Upload stalls when seeding through WebTorrent"
I used `cmd/torrent -seed` to download and then seed a torrent that was initially not available on the WebTorrent trackers.

I use a magnet URI with `&tr=wss://tracker.openwebtorrent.com` attached.

When download was complete I opened `instant.io` and pasted in the magnet URI. The download started, but after half a megabyte it stalled:

![image](https://user-images.githubusercontent.com/422086/808

[2020-05-03 04:10] anacrolix commented on #402
What version of `anacrolix/torrent` are you using? That error seems to occur because the websocket bittorrent trackers expect an announce once a minute, which this client doesn't do, and we get dropped (and promptly reconnect). It shouldn't be related.

[2020-05-03 06:41] 2m commented on #402
I used `go get` yesterday to install the command. So it was latest version.

On Sun, 3 May 2020, 07:10 Matt Joiner, <notifications@github.com> wrote:

[2020-05-03 08:17] anacrolix commented on #402
Thanks. I believe I've found the problem, I'll have a fix soon.

The latest `go get` through Go modules, shouldn't give you a version that has webtorrent support, that's only in the `master` and `webtorrent` branches at present.

[2020-05-03 08:24] 2m commented on #402
I used `go get github.com/anacrolix/torrent/cmd/torrent`. Not sure how to check the version of the binary I have installed.

[2020-05-03 08:45] #402 closed

[2020-05-03 08:46] anacrolix commented on #402
Thanks for the report. Very obscure bug!

[2020-05-03 08:51] 2m commented on #402
Thanks for fixing it so quick!

Is there a way to try out the latest version with `go get`? Or do I need to clone the repo and build it from there?

[2020-05-03 09:01] anacrolix commented on #402
Possibly `go get github.com/anacrolix/torrent/cmd/torrent@master`.

[2020-05-03 09:01] anacrolix commented on #402
There's also some popular helpers like `gobin`, but I don't use those myself.

[2020-05-05 04:44] anacrolix commented on #392
@ucwong thanks for sharing that. I would suggest not running with the block or mutex profiling enabled, those won't help with the memory leak as far as I'm aware. How many torrents do you think you have running at a given time? There's a backlog against the dial rate limiter, which I've not seen happen under normal circumstances. The heap profiles also aren't showing anything useful, I'm not sure

[2020-05-05 06:25] joshuarli opened #403 "request: magnet -> torrent"
Hi @anacrolix, this is pretty great software. I try and avoid GUI software as much as possible, and was using aria2 for the longest time. It also works great, just that it's C++ and the build is pretty complicated compared to go programs (well, there's still C++ involved in torrentfs, but it's a lot better, and seems to be yours). So thanks for writing this!

`torrent` is good, and I especially li

[2020-05-06 01:35] anacrolix commented on #403
@joshuarli You can use `cmd/magnet-metainfo` in this repo. The utilities provided are a bit old and crufty, I'm hoping at some point to create a utility `torrent` or `torrent-cli` that performs a lot of helpful operations.

[2020-05-06 01:45] joshuarli commented on #403
Oh, wasn't aware of that (was just going off the readme) - it works great. Thanks again!

[2020-05-06 01:45] #403 closed

[2020-05-10 15:25] dd4e commented on #248
I want to agree on implementation.
The main task of LSD is to send and receive ihash value.

I see the implementation in the form of a package with the transfer and receipt of ihash via channels. Channels are passed as parameters when the structure is initialized. The Start and Stop methods start and stop the announcement.

I have some questions:
1. Is there a data type to store ihash or use a str

[2020-05-19 05:01] #388 closed

[2020-05-23 21:35] sjpotter opened #406 "possible to use without dht?"
From reading the code, it doesn't seem like its friendly to be used without a dht.  Is this correct?  i.e. while one can load a torrent manifest, one can't specify the storage implementation to be used, that can only be done if one only provided the infohash (and hence dependent on the dht to download the rest of the manifest).

which makes m wonder, would it even respect torrent flags that specif

[2020-05-24 02:33] anacrolix commented on #406
No, you can disable the builtin default DHT with [`ClientConfig.NoDHT`](https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#ClientConfig). You can also use your own DHT implementations if you wish.

No that doesn't seem correct. The client methods for adding torrents aren't very nice, as discussed in other issues, but you should definitely be able to specify your own storage while adding a Tor

[2020-05-24 05:39] RaeesBhatti opened #407 "How to correlate files and pieces?"
I'm trying to implement an S3 storage backend. The idea is to temporarily download pieces and then as soon as each piece is complete, upload them to the cloud storage and delete them from local disk.
I'm editing file storage and building the required functionality on top of that. I can start the multipart upload for all of the files on `CreateNativeZeroLengthFiles`:
https://github.com/anacrolix/to

[2020-05-24 06:46] sjpotter commented on #406
i see 5 AddTorrent Functions.

1. AddTorrent(MetaInfo)
2. AddTorrentInfoHashWithStorage(hash, storageImpl)
3. AddTorrentInfoHash(hash)
4. AddTorrentFromFile(filename)
5. AddTorrentSpec

and now I see.  was confused.  I have to use AddTorrentSpec.  that wsa unclear

right here https://github.com/anacrolix/torrent/blob/master/doc.go#L28

[2020-05-24 07:44] anacrolix commented on #406
Thanks. The field is exposed in the metainfo, but it's not used in the client. That's probably not sufficient to claim support.

[2020-05-24 15:39] sjpotter commented on #406
in looking at the code, it seems the private flag would be pretty easy to support

1) in AddTorrentInfoHashWithStorage() just don't start the dht thread

2) in sendInitialMessages() treat it if the client disables PEX

3) something similar might be needed for local service discovery (but can't see if that's implemented in the code as it is)

thoughts?

[2020-05-24 23:53] anacrolix commented on #406
I think you've covered most of it. Tracker handling in anacrolix/torrent doesn't follow the spec, but most clients don't to my knowledge: All trackers are used at all tiers. The BEP would require that wasn't the case. As a simplification, if PEX is disabled entirely for private torrents, this doesn't have to change. LSD isn't currently implemented. There is a `Trusted` field for adding peers that

[2020-05-24 23:54] anacrolix commented on #406
I think any further discussion on BEP 27 should move to its own issue.

[2020-05-25 01:22] RaeesBhatti commented on #407
Figured it out

[2020-05-25 01:22] #407 closed

[2020-06-01 18:10] ChadTaljaardt opened #409 "How to use a username and password for proxy?"
I want to use this with a sock5 proxy which required a username and password authentication. Does this work with this package.

[2020-06-02 01:47] anacrolix commented on #409
Do you mean for the BitTorrent connections, or to trackers/webseeds, or all of the above?

For BitTorrent connections, I recently removed the builtin proxy config and added the ability to add your own [dialers](https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#Client.AddDialer) and [listeners](https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#Client.AddListener), which internally you c

[2020-06-02 02:48] ChadTaljaardt commented on #409
I think all of the above, so everything should go through the proxy, and if the proxy gets disconnected the torrents should not connect through your normal internet.

something similar to this:

https://support.nordvpn.com/Connectivity/Proxy/1087802472/Proxy-setup-on-qBittorrent.htm

[2020-06-02 07:50] anacrolix commented on #409
It can be done, you'll need to configure the `ClientConfig` carefully, and manage the `Dialers` and `Listeners`.

[2020-06-02 14:32] ChadTaljaardt commented on #409
Okay will look into it, do you have any examples of this?

I will close this issue in the mean time as i got the answer i was looking for 👍

Awesome project btw, i really appreciate it!

[2020-06-02 14:32] #409 closed

[2020-06-03 01:19] anacrolix commented on #409
I'm sorry I don't currently have any examples.

[2020-06-03 01:25] #116 closed

[2020-06-04 00:50] anacrolix commented on #116
![image](https://user-images.githubusercontent.com/988750/83702828-18fcbd80-a651-11ea-8b55-3b3aaec87b95.png)

[2020-06-08 13:25] vlcty commented on #375
Wow ... I somehow forgot about it. Yeah I would still be interested in this. Is there anything that changed in the past time? If not I'd dig into the code again and try my best.

[2020-06-09 14:28] tab1293 opened #413 "Not seeing peer connections occasionally on download start"
I often run in to this issue where downloads will not start on random occasions for a torrent that is definitely being seeded by many peers.

Below is the client code I am using to initiate downloads:

[code]

I have attached debug logs of the client code run on the same torrent file in close succession. You can see a lack of logs from `peerconn.go` in the `no_download` log file.

[download_ok_ana

[2020-06-15 04:50] anacrolix commented on #375
I think it was implemented, in https://github.com/anacrolix/torrent/commit/ddddc63924570fb9331d8d3e0c6b18b124178db0. See https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#PeerConn.PeerPieces.

[2020-06-15 06:33] anacrolix commented on #413
It looks okay. If there are issues establishing connections with peers after the first few announces at startup, this could cause a delay while the announce intervals expire and you can try those peers again. Would you be able to share the infohash, or torrent file? You can send it privately if you prefer. What revision/version of anacrolix/torrent are you using?

[2020-06-15 08:13] vlcty commented on #375
Tahnk you very much!

[2020-06-19 12:55] botallen commented on #407
@RaeesBhatti  I am trying to achieve similar for google drive. Can you tell more about how you did that ?

[2020-06-21 05:18] botallen opened #415 "File length defer from sum of chunk length"
I am currently trying to create google drive support using [`NewResourcePieces`](https://github.com/anacrolix/confluence/blob/084d7914509924cdce0cf11431616b169cdf26c7/main.go#L128)
I am using [`NewReader`](https://godoc.org/github.com/anacrolix/torrent#File.NewReader) to read sequentially from torrent file.
[code]

But the at the end of reading the calculated length `startOff+n` is not matching or

[2020-06-21 10:49] anacrolix commented on #415
Thanks for the report. Are there non-zero length files after the one you're reading above? It looks like Reads on File Readers aren't limited to the end of the file, that logic is missing in anacrolix/torrent.

[2020-06-21 11:20] anacrolix commented on #415
I think something like the following would fix the problem:
[code]

[2020-06-22 06:50] botallen commented on #415
I tried this but it still differs. But now this time i got less number of bytes from reader (Got total 1139 bytes at EOF from 1652 length file).

Currently i found a workaround that providing file length in initial request for google drive api is optional. So I'm relying on file reader by calculating length based on EOF

Not closing this issue for your reference
To reproduce -

[code]

[2020-06-22 07:05] botallen commented on #415
Sorry it was my mistake. I was reading first 512 bytes to sniff the mime-type of file and forgot to seek to 0. This is totally dumb mistake.

[2020-06-22 07:05] #415 closed

[2020-06-23 08:27] 2m opened #416 "Torrent not available after a while when using WebTorrent"
I used `torrent download -seed 'magnet:?xt=urn:btih:...'` to download and then seed the torrent via WebTorrent.

If I try to download the torrent (using instant.io or btorrent.xyz) just after download completes, so after

[code]

is printed to the logs, then everything is alright.

But then, after waiting for a while I see the following in the logs:

[code]

And immediately after those logs, I am

[2020-06-24 04:05] anacrolix commented on #416
Do you mean that other BitTorrent clients using the trackers you mentioned, aren't able to locate your local client that should be seeding now? Are you using your own torrent, for which you expect only your own client to be seeding?

There's some timing behaviour with the Webtorrent trackers that seem to expect announces to occur every minute, or the websocket connection is closed. The anacrolix/t

[2020-06-24 07:18] 2m commented on #416
Yes. That is correct. Immediately after I finish downloading and start seeding the torrent with `anacrolix/torrent` I can reach the same torrent via instant.io or btorrent.xyz. But after a while, after I see the mentioned log messages, the torrent is not available via instant.io or btorrent.xyz even if `anacrolix/torrent` is still running in the seed mode.

Not exactly my own, but with very little

[2020-06-24 08:14] anacrolix commented on #416
Thanks, I believe the issue is that the client needs to re-announce when it reconnects. Ideally it should re-announce regularly but that logic isn't as trivial to create.

[2020-06-24 10:37] anacrolix commented on #406
Did you have any further issue here? I think we can close this in favour of an issue regarding implementing BEP 27 if that's what you want?

[2020-06-24 10:38] anacrolix commented on #399
Do you have any more feedback?

[2020-06-24 10:39] anacrolix commented on #398
Since webseeding is implemented, this is a lot closer to being possible. @vintikzzz Have you had a look at the webseeding code? Are you still interested in this feature?

[2020-06-24 10:40] anacrolix commented on #395
Do you have any more feedback on this @yarikk? Can I close this?

[2020-06-24 10:40] anacrolix commented on #392
@ucwong do you have any more feedback?

[2020-06-24 10:41] anacrolix commented on #389
Sorry I haven't had a chance to look at this yet.

[2020-06-24 10:43] anacrolix commented on #384
I have no intention to implement this, it can be reopened if it makes sense down the track.

[2020-06-24 10:43] #384 closed

[2020-06-24 10:46] ucwong commented on #392
I am using it without UTP, It is ok till now. I am not sure why OOM by with UTP seeding

[2020-06-24 10:58] anacrolix commented on #376
I haven't run into an issue due to this, so I will close it.

[2020-06-24 10:58] #376 closed

[2020-06-24 10:59] anacrolix commented on #373
@nektro could you provide some more information?

[2020-06-24 11:00] anacrolix commented on #362
Is there any more feedback for this? @h31p @procks

[2020-06-24 11:02] anacrolix commented on #352
@nektro I wouldn't want to expose a method just for this, if it can be bundled into some other method that requires a lock (like torrent stats per @james-lawrence suggestion).

[2020-06-24 12:34] anacrolix commented on #342
@rwenz3l are you still interested in this?

[2020-06-24 12:36] #292 closed

[2020-06-24 12:37] anacrolix commented on #235
Thanks @cenkalti, that will make it much easier.

[2020-06-24 12:40] #329 closed

[2020-06-24 12:41] anacrolix commented on #280
I don't believe this is correct. My understanding is the HTTP announce will request both ipv4 and ipv6 at present.

[2020-06-24 12:41] #280 closed

[2020-06-24 12:42] #279 closed

[2020-06-24 12:46] anacrolix commented on #265
@james-lawrence I don't think it's that straight forward. Other implementations maintain a queue of chunks in memory, and try to coalesce the writes. Additionally there's an opportunity to cache file descriptors in the file storage. It's hard for me to directly address these without good profiling available.

[2020-06-24 12:48] anacrolix commented on #239
@elico do you still have any interest to add this feature?

[2020-06-24 12:51] anacrolix commented on #229
This should be easier now that you can add arbitrary Listeners to the Client. It would be good to get feedback from users making use of this feature.

[2020-06-24 13:37] elico commented on #239
@anacrolix Not sure.

[2020-06-25 03:23] nektro commented on #373
the list of peers on a torrent

[2020-06-25 03:23] nektro commented on #373
perhaps this could be added to torrent stats as well.

[2020-06-25 04:17] anacrolix commented on #373
Do you mean like in a traditional torrent client GUI? You show the currently connected peers, and information about them? That's available via https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#Torrent.PeerConns.

[2020-06-25 16:02] nektro commented on #373
right but this feature request was to be able to get that info in an event-driven way

[2020-06-25 21:45] vintikzzz commented on #398
No! Thanks! I have managed it in a little bit another way.

[2020-06-25 21:45] #398 closed

[2020-06-26 00:48] anacrolix commented on #398
@vintikzzz What path did you end up taking?

[2020-06-26 00:55] anacrolix commented on #373
@nektro I follow, I just wanted to clarify. Active peer changes would be a different event to peer discovery. Say a new connection is added, or a peer's available pieces change, would that be what you're after? I'm still leaning toward polling this, despite being in favour of event driven stuff in general: There's a huge amount of potential information to collect, and it changes very quickly. If y

[2020-07-01 10:53] rwenz3l commented on #342
hey @anacrolix, I had this in my backlog for quite some time. I could def. take care of this, but not sure when I will actually get around doing it.

Am I interested: Yes. Am I going to work on it anytime soon? Maybe.

[2020-07-07 10:16] yarikk commented on #395
While it would be nice to have this consistent with what the _net.Dial_ would accept, it's definitely not critical.

[2020-07-09 10:33] yarikk opened #417 "Seeding a removed file causes sending garbage and eventually get banned by peers."
If the file being seeded gets removed externally, the seeding keeps going, serving garbage to peers. The peers eventually ban the bad seeder.

The following code lets that happen:

https://github.com/anacrolix/torrent/blob/dd51e99b88ccd7afe8a361b5c5161cfeae6c9b7b/storage/file.go#L138
https://github.com/anacrolix/torrent/blob/dd51e99b88ccd7afe8a361b5c5161cfeae6c9b7b/peerconn.go#L1522

The ban is cl

[2020-07-10 03:21] #395 closed

[2020-07-10 03:24] anacrolix commented on #395
Should be fixed, let me know if you have any issues.

[2020-07-18 12:43] smhmd commented on #181
Is this happening? Is there currently a way to mount magnet links?

[2020-07-20 07:01] anacrolix commented on #181
I'm not currently working on this. I don't recall implementing mounting via magnet links, but it's trivial enough.

[2020-07-26 05:29] ctwyw opened #418 "Local Peers can not be discover ?"
I can already download the magnet. these is another question. I build serval server on the PublicIP4 and then build two client behind the NAT router . but could not see them in the DHT node. UNPN is start already. the clients can not share with each other.but the server work well yet. What can I do in this case ?

[code]

I saw this in the torrent status
`error announcing: reading from socket: rea

[2020-07-27 00:45] ccampbell opened #419 "Occasional crash"
Hi. I am not entirely sure what causes this, but I have seen it from time to time, and it appears to be intermittent. I have not really dug into it cause I can’t consistently reproduce it, but I figured I would put it here to see if you had any ideas.

[code]

Thanks.

[2020-07-27 00:50] anacrolix commented on #419
Are you running torrent@master? I think this was fixed a few months ago.

[2020-07-27 01:06] anacrolix commented on #418
There's a spec for local peer discovery that hasn't been implemented. I'm not sure why your DHT servers are unable to connect to each other. Ensure they have different peer IDs, and have different public port numbers outside the NAT.

[2020-07-27 01:39] ccampbell commented on #419
Yeah, latest commit is dd906f8fa72e57adec3ad1a071fec29a55891895. I will do a `go build -a` just to be sure. Feel free to close if you want. I can reopen if I run into it again

[2020-07-27 08:01] ctwyw commented on #418
Does that mean I should announced the public port and the public ip  to other peers in the DHT ?

[2020-07-27 23:13] anacrolix commented on #418
Maybe I misunderstood. Are you running these DHT nodes entirely on your private network? Did you intend for them not to participate on the global network?

[2020-07-28 22:52] anacrolix commented on #419
Thanks. Let's leave it open for a while, in case someone else encounters it.

[2020-07-29 09:15] ctwyw commented on #418
yes, in the private network. It can upload with not NAT , but can not upload inside the NAT.

[2020-07-31 09:27] hichenming opened #421 "Can't use gorm because the change of crawshaw.io/sqlite"
torrent has changed sqlite library to use crawshaw.io/sqlite in this commit https://github.com/anacrolix/torrent/commit/7455b98a0f597c3b84c7ed60b75b9ddf5fd8d341

I use gorm to manage database, and gorm needs sql diver github.com/mattn/go-sqlite3, as a result, I can't compile my project now：

[code]

Is there a workround that we can choose which sqlite lib to use? Maybe add some build flag?

Thanks

[2020-08-01 16:05] ucwong opened #422 "couldn't open piece completion db in"
[code]
Why this happened and is there something wrong when finish downloading

[2020-08-02 02:14] #422 closed

[2020-08-02 07:35] 2m commented on #416
Could you give me a quick pointer where I should be looking at in the code to implement this? I am willing to create PR to fix this issue.

[2020-08-03 01:29] anacrolix commented on #421
@hichenming oh dear, this is tricky. Are you aware of a way to allow both to be linked together? If not, I think a tag is the right way forward, as you suggest.

[2020-08-03 01:39] anacrolix commented on #416
@2m
Here a webtorrent tracker is first announced to after a new client reference to the tracker is obtained: https://github.com/anacrolix/torrent/blob/9d0ea150445aa5ecb1f8ab8b3c1176a95a0b03f6/torrent.go#L1358
Here a new announce is made when an answer is received for an offer: https://github.com/anacrolix/torrent/blob/c3696aa5a4a0e3e987fa0b4bb6f347da4b7e991e/webtorrent/tracker_client.go#L301
Howev

[2020-08-04 02:55] ucwong commented on #392
@anacrolix
![image](https://user-images.githubusercontent.com/22344498/89247890-e2d3be00-d640-11ea-9dd6-ea58daa80f8c.png)

It keeps printing this when I use utp

[2020-08-11 01:22] anacrolix commented on #392
@ucwong Does the local system support IPv6?

[2020-08-19 10:23] junlicn opened #423 "build error"
git clone
 go build
prioritized_peers.go:4:2: malformed module path "hash/maphash": missing dot in first path element

[2020-08-20 04:52] anacrolix commented on #423
https://golang.org/doc/go1.14#hash/maphash

[2020-08-20 04:52] #423 closed

[2020-08-25 08:38] gaozhitw commented on #419
Same problem, use the latest master.

[code]

[2020-09-03 00:46] ccampbell commented on #419
Just had this happen again as well :confused:

[2020-09-03 03:59] anacrolix commented on #419
It looks like there's no guard on receiving piece reject messages from peers for pieces that we're already not expecting (other clients may send a chunk, then reject it, or reject stuff arbitrarily, and this would cause a panic).

[2020-09-03 04:34] #419 closed

[2020-09-03 04:34] anacrolix commented on #419
Let me know if this doesn't fix the issue.

[2020-09-08 02:01] jpillora opened #424 "Support BEP-52: BitTorrent v2"
Hey Matt, are there plans to support http://bittorrent.org/beps/bep_0052.html ? See also https://blog.libtorrent.org/2020/09/bittorrent-v2/

[2020-09-08 04:16] anacrolix commented on #424
Yes, thanks for highlighting that. Things are looking positive with with the blog release, and some of the advantages are more apparent now. The original issue is at https://github.com/anacrolix/torrent/issues/175.

[2020-09-08 04:16] #424 closed

[2020-09-08 04:57] jpillora commented on #424
Ah sorry for the repost - cool looks good 👍

On Tue, 8 Sep 2020 at 2:17 pm Matt Joiner <notifications@github.com> wrote:

[2020-09-16 09:37] ctwyw commented on #418
Hello,  @anacrolix . It was because local ISP banned the BT-DHT protocol. I fix it by using a messy protocol :)

This leads to another question.  how to use DHT behind Port Restricted NAT or other NAT :(

Thank you for helping me, best wish!

[2020-09-16 09:37] #418 closed

[2020-09-17 10:28] luodw opened #425 "panic in utp ackSyn()"
hello, our p2p is based on anacrolix/torrent. In recent days, our p2p restart accidentally.  see the log，we found panic in https://github.com/anacrolix/utp/blob/master/socket.go#L493
![image](https://user-images.githubusercontent.com/14847074/93457858-1da06580-f912-11ea-83db-81b08b6d7687.png).

I found incoming and outgoing conn will both add to socket.conns(map\[connKey\]*Conn,  when accept a inc

[2020-09-18 13:05] anacrolix commented on #425
It's recommend to use https://github.com/anacrolix/go-libutp instead. Could you change to that implementation?

[2020-09-19 12:27] luodw commented on #425
Thanks for your reply, I will have a try

[2020-09-19 22:41] YenForYang opened #426 "Downloading torrent files to memory instead of disk"
I'm asking about this [response on StackOverflow](https://stackoverflow.com/a/29034222/7314180) because of this [comment](https://stackoverflow.com/questions/6089806/keeping-the-downloaded-torrent-in-memory-rather-than-file-libtorrent#comment100929569_29034222)

To make sure this doesn't turn out to be an XY problem, I will state the issue I'm trying to solve.
I'm trying to download torrents and u

[2020-09-20 07:45] tabjy commented on #426
Hi @YenForYang,

I'm trying to do very similar things here. The difficulties here is to not storing large files in menory or on local disk. After playing around it turns out to be non-trivial. It might be helpful to look at the [`storage`](https://github.com/anacrolix/torrent/tree/master/storage) package and see how file-based [storage backend](https://pkg.go.dev/github.com/anacrolix/torrent/stora

[2020-09-22 03:29] anacrolix commented on #426
@YenForYang @tabjy's comments are spot on. You can do this with a custom storage backend implementation. You have the option to for example cache incomplete pieces in memory, store pieces instead of files, store everything on a cloud service etc. There are tradeoffs throughout. Caching things in memory is difficult, as depending on how many partial pieces or files you have, and how many torrents,

[2020-10-06 12:42] ZelAk312 commented on #421
I had the same issue. After searching for many hours I didn't find a way to link them together or anything but I found a way to make it work by allowing multiple definitions with this flag `-ldflags "-extldflags=-Wl,--allow-multiple-definition"`. I don't think it's the best solution to be hones, it feels more like a workaround.

[2020-10-15 07:01] cutegirllml opened #427 "panic: -1 github.com/anacrolix/torrent.(*PeerConn).deleteRequest"
panic: -1
	panic: -1

goroutine 10852 [running]:
github.com/anacrolix/torrent.(*PeerConn).deleteRequest(0xc002404e00, 0x5800000000000, 0xc000004000, 0xc0000b27e0)
	/home/work/project/pkg/mod/github.com/anacrolix/torrent@v1.15.2/peerconn.go:1391 +0x374
github.com/anacrolix/torrent.(*PeerConn).deleteAllRequests(0xc002404e00)
	/home/work/project/pkg/mod/github.com/anacrolix/torrent@v1.15.2/peerconn.g

[2020-10-15 23:39] anacrolix commented on #427
I believe this is a duplicate of https://github.com/anacrolix/torrent/issues/388. This issue was pinned. The fix is available in v1.16.0 onwards.

[2020-10-15 23:39] #427 closed

[2020-10-26 13:35] caryyu opened #428 "Does it support DLP-alike function(Dynamic Leecher Protection)?"
I'm wondering how this library can prevent the un-trusted peers that only downloads without uploading through this protocol here? if someone can break my confusion up, i really appreciate..

[2020-10-26 22:50] anacrolix commented on #428
By default, if `ClientConfig.Seed` is false, the client will upload only to encourage reciprocation from peers, to a point. See also the `DisableAggressiveUpload` field in `ClientConfig`.

https://pkg.go.dev/github.com/anacrolix/torrent#ClientConfig

Please reference any leecher protection specs for BitTorrent that you're aware of so that I can address or implement them.

[2020-10-27 13:25] caryyu commented on #428
@anacrolix thanks for reply, I guess this is what it is, but the mechanism behind these configs are still vague to me, anyway, i will go through the source code finding out, very appreciate :)

[2020-10-27 13:25] #428 closed

[2020-10-28 05:39] anacrolix commented on #428
You'll want to check out `PeerConn.uploadAllowed`, and everything to which that refers.

[2020-10-29 06:29] caryyu opened #429 "Any chances on replacing tagflag to cobra"
Is there any plan to move tagflag to cobra https://github.com/spf13/cobra since it is very popular for  golang projects that sort of everyone knows well

[2020-10-30 14:43] anacrolix commented on #429
Yes it's quite likely. tagflag is not keeping up, and documentation on cmd/torrent is falling behind.

[2020-11-02 23:17] tsynik opened #430 "go routine panic on git build"
Hi. I'm using torrent in [TorrServer](https://github.com/tsynik/TorrServer/) project, and have this issue with latest git code on linux build for arm with go version go1.15.3:

[code]

binary build from 17e2251

[2020-11-03 00:56] anacrolix commented on #430
Thanks for reporting this!

[2020-11-03 02:17] tsynik commented on #430
And, maybe that's somehow related, but this was found from http error logging too:
[code]

[2020-11-03 03:36] anacrolix commented on #430
I believe the error may actually be in the memcache PieceImpl.ReadAt implementation here: https://github.com/tsynik/TorrServer/blob/06d9a364d196095aa6a29e916aa31735a0862a6e/src/server/torr/storage/memcache/Piece.go#L49-L72. The panic you're encountering is a protection against a bad implementation. It will probably be enough to correctly return io.EOF if the piece buffer is exhausted somewhere.

[2020-11-03 23:52] anacrolix commented on #417
Sorry for the delay. Good catch! I think the correct behaviour here would be to always error if the bytes aren't filled entirely, and possibly to ignore the error otherwise?

[2020-11-04 00:22] anacrolix commented on #417
I think I may have jumped to conclusions. If you delete the files externally, the torrent client will have no knowledge that the data is incorrect unless it tries to hash it it again. It will check that the file exists before trying to read, but if it's recreated the file for some reason (due to receiving a chunk), that check won't help.

Mmap probably handles the situation better, because deletin

[2020-11-04 00:49] yarikk commented on #417
Mmap has saved the day because while the file is mapped the fd remains open, and upon unlink the reclamation of the underlying storage is deferred by OS until all fds referencing it are closed (unix behavior). The non-mmap backend opens/closes the file for each peace io, and the deferring does not happen.

Simply handle file read errors and treat then as an indication that the piece is not availab

[2020-11-04 23:04] anacrolix commented on #417
Thanks. Per-above I think it's not that errors are ignored (the chunk is only sent if all the requested data is read), but that the data as read, and the state that the torrent client think it's in are out of sync (the files are recreated lazily on writes).

So as far as I can tell, the code snippets you linked to are correct, assuming the behaviours I've described.

[2020-11-04 23:06] anacrolix commented on #417
I'll tentatively close this as won't fix, as I don't see a clear fix with the current design (not to mention it would come with a lot more costs), and there are plenty of workarounds. Feel free to re-open if I've gotten this wrong.

[2020-11-04 23:06] #417 closed

[2020-11-05 14:13] caryyu opened #432 "How can i see a bunch of downloads by torrentfs"
Since the document shows how a single file can be monitored under the terminal environment by using `pv`, how can i use pv for multiple files or a directory to show the downloading status?  If there's an overview about a list of downloading, that would be great.

[2020-11-05 21:47] anacrolix commented on #432
There is the client status, which is put to the `/` http path here: https://github.com/anacrolix/torrent/blob/master/cmd/torrentfs/main.go#L98-L101. If you run with GOPPROF=http, there'll be a log message to tell you where the http handler is exposed.

I don't think there's any status exposed by the torrentfs, however it could be done by exposing a special file in the FS, like how it's done in the

[2020-11-06 03:17] caryyu commented on #432
Thanks for your output, I will go through this `GOPPROF` env-var later to see if it(https://github.com/anacrolix/torrent/blob/master/client.go#L119) can meet my requirement

[2020-11-06 05:37] tsynik commented on #430
Thanks for this, looks like return n, io.EOF after go p.cache.cleanPieces() on L69 eliminate this issue. I dunno is this correct way to return but it probably works now ;-)

[2020-11-06 10:02] caryyu commented on #432
According to my initial lookup, This is exactly what I wanted, there's still some printing formats needing to be customized to suit my personal taste, thanks for your help

[2020-11-06 10:02] #432 closed

[2020-11-06 11:06] caryyu commented on #432
@anacrolix Do you know any way to turn downloading on-demand to immediate-do After a torrent file gets moved to the mounted folder

[2020-11-07 06:29] ucwong opened #434 "Wrong type of arguments to formatting function"
![image](https://user-images.githubusercontent.com/22344498/98433812-8da6bd00-2105-11eb-886c-3aac8b2893af.png)
https://github.com/CortexFoundation/CortexTheseus/security/code-scanning/21?query=ref%3Arefs%2Fpull%2F818%2Fhead

[2020-11-08 03:42] #430 closed

[2020-11-11 14:40] yarikk opened #436 "noisy "writing 16384 bytes at 𝑛" log messages with mmap-backed storage"
Even with `config.Debug=0`, the output is overwhelmed with lines like these:
[code]
I believe these come from https://github.com/anacrolix/torrent/commit/7fec6785bfcd05f8a2f7dfb3df75dfd8f2487e13#diff-7fdd39b4255dd6e534f04d7360e8d3d9251aa9e52dc95296b8034f87e06db26dR82

[2020-11-11 21:57] #436 closed

[2020-11-11 23:26] anacrolix commented on #434
This belongs upstream at https://github.com/bittorrent/libutp.

[2020-11-11 23:29] anacrolix commented on #429
@caryyu did you want to take a stab at doing this? I'm open to you applying your take on how hte flags should be done on any of the cmds in the repo, and I can extend it to the rest of them, or merge them all together into `cmd/torrent` if appropriate.

[2020-11-11 23:31] anacrolix commented on #421
@ZelAk312 @hichenming do you want to try with running `go mod edit -replace crawshaw.io/sqlite=github.com/getlantern/sqlite`? There should be a [fix](https://github.com/crawshaw/sqlite/pull/103) in there that solves this issue. Please let me know if it works for you.

[2020-11-11 23:35] anacrolix commented on #212
@buaazp I'm closing this as I don't intend to fix it. Let me know if there's something needed to make it possible to improve on the situation here.

[2020-11-11 23:35] #212 closed

[2020-11-11 23:36] anacrolix commented on #229
The solution here now would be to remove an old Listener, and add a new one. I believe all the features are in place to allow this.

[2020-11-11 23:36] #229 closed

[2020-11-12 01:15] anacrolix commented on #248
I think exposing channels are an anti-pattern in Go. A synchronous method to retrieve the next announce, or a callback should be fine.

https://pkg.go.dev/github.com/anacrolix/torrent#InfoHash

Do you mean the local Client? You can use any/all of the https://pkg.go.dev/github.com/anacrolix/torrent#Client.ListenAddrs.

[2020-11-15 21:40] ZelAk312 commented on #421
I tried running after using the command, it still fails to compile and it did create the replace in the go.mod file
[code]

[2020-11-16 01:28] anacrolix commented on #421
@ZelAk312 thanks

[2020-11-16 08:20] #434 closed

[2020-11-17 00:22] anacrolix commented on #310
As @yarikk helpfully mentioned, this is now fixed.

[2020-11-17 00:22] #310 closed

[2020-11-17 00:25] anacrolix commented on #434
@ucwong could you link or describe whatever action you took next so there's some continuity for this issue? Thanks

[2020-11-17 09:04] ostapus opened #439 "Request: dynamically update external IP and port"
Hello,

currently, ListenPort and PublicIp4 can be configured only "startup" phase and can't be updated dynamically. However, some VPN providers may change/reassign forwarding port on regular basis. Would be nice to have api call to update this data without closing/restarting client.

tia

[2020-11-17 10:29] MetalRex101 commented on #248
Guys, any chance LPD will be available for this library?

[2020-11-17 23:58] anacrolix commented on #439
@ostapus this looks like a duplicate of https://github.com/anacrolix/torrent/issues/229. Could you let me know if the solution in that issue, adding and removing listeners meets your needs? It's possible that you may need to update ListenPort and PublicIp4 for the purpose of announces however, I hadn't considered that.

[2020-11-18 00:00] anacrolix commented on #248
@MetalRex101 I'm hoping for a community contribution on this, as I won't use it myself. @dd4e @djkazic can you advise on the status of your implementation(s), if any? Thanks.

[2020-11-18 00:04] ostapus commented on #439
thanks for the consideration, my request is specifically about to dynamically change ListenPort and PublicIp4 for the purpose of announcing.

thanks

[2020-11-26 15:14] skinner12 commented on #421
I have the same error and I can't update from 1.15.2 to 1.18.1 and I've tried `go mod edit -replace crawshaw.io/sqlite=github.com/getlantern/sqlite@v0.3.2` but still the same error

[2020-11-28 22:21] anacrolix commented on #421
@skinner12 @ZelAk312 @hichenming could you confirm that you're using github.com/mattn/go-sqlite3 elsewhere in your application? It's nothing internal to anacrolix/torrent that is using it?

I thought the fix in github.com/getlantern/sqlite would fix this issue, but then ran into it myself with another application I have that used mattn/go-sqlite3 throughout, and tried to use a recent anacrolix/tor

[2020-11-28 23:15] skinner12 commented on #421
Hi @anacrolix, I **confirm** that I'm using _sqlite3_ elsewhere: I used it for save some infos from downloading torrents and other data.

Anyway, now that my app gets bigger, I choose to use _postgresql_ so I didn't get _sqlite3_ dependence, the error disappears and I **updated** to latest version of anacrolix/torrent seamless.

**Thanks** for your support

[2020-11-30 02:56] anacrolix commented on #421
Thanks for the feedback @skinner12 .

[2020-11-30 03:18] anacrolix commented on #421
When crawshaw.io/sqlite and mattn/go-sqlite3 are in the same binary, try passing `libsqlite3` in the build `-tags` option. This will only build sqlite3 once using crawshaw.io/sqlite's implementation. For example, when running tests in my package I'm able to do `$ go test -tags libsqlite3 ./...`. Thanks to https://github.com/joesis for finding this.

[2020-12-05 16:22] tab1293 commented on #413
After capturing some network traffic for each attempt at downloading, it seems that the tracker I am using is not returning a peer list for subsequent announce requests. This occurs when trying to download an additional file from a multi-file torrent shortly after the first file was downloaded. I emailed you about how to get access to the specific tracker I am using.

WRT to the announce intervals

[2020-12-08 21:51] imadr opened #441 "Logging even after discarding logs"
I make a client with the default config but with logging discarded:
[code]
But I still get some unwanted logs:
[code]

Which is weird because [this line is commented](https://github.com/anacrolix/dht/blob/f7ae0d6486f508837e6bc1c66f94c6364e40b1bd/dht.go#L127) but it's not in my `go\pkg\mod\github.com\anacrolix\dht\...\dht.go` :
[code]

[2020-12-08 23:25] anacrolix commented on #441
Can you provide the output of `go list -m github.com/anacrolix/dht/v2` for your project/cmd?

[2020-12-09 00:23] anacrolix commented on #413
@tab1293 I don't believe trackers should return empty lists after the first announce. That seems like an optimization attempt on the side of the tracker server.

anacrolix/torrent does not cache peer addresses between connection attempts etc., which could ultimately be the correct fix here. That is, peer addresses are accumulated in the client, and then purged when outbound connections are attempt

[2020-12-09 05:38] anacrolix commented on #429
@caryyu what about https://github.com/alexflint/go-arg? Would that work?

[2020-12-09 05:44] anacrolix commented on #413
Are you creating a new Client between completing one file, and starting another? That would include letting a process complete, and then starting a new instance with different files selected. How long are you waiting between the completion of the first files, and starting the new ones?

[2020-12-09 11:40] anacrolix commented on #413
Try with revision c81da2d5ee200de6175fe508d3a2ac46d6146a8d. I believe your private trackers are returning empty peer lists, which I think is mentioned as the behaviour to be used when clients behave badly (such as in this case announcing more often than the returned interval). Unfortunately the interval is not tracked across process restarts, but with the fix I've provided, the client will no long

[2020-12-09 13:43] caryyu commented on #429
Hi @anacrolix, Sorry for a quite long time not replying to the above assignment, I don't think I fully understand the `tagflag` library right now, I will try to make an example to one of the `cmds` with above libraries, I think this assignment is quite formal, I'm afraid that I don't have much time to take this kind of responsibility, I'd better un-assign it, thanks.

[2020-12-09 14:06] tab1293 commented on #413
Yes I am.

A few minutes or so.

To your point about a potential solution being to cache peer addresses between connection attempts, would this manifest as some "session file" that's stored on disk? So client instantiations could read this file and bootstrap connections to previously seen peer addresses? I'm assuming this could also track the announce interval across clients too. Curious to know i

[2020-12-09 15:10] imadr commented on #441
[code]
I'm getting this error only on windows, on linux however i'm getting warnings from utp_internal.h

[2020-12-09 23:12] #342 closed

[2020-12-09 23:15] anacrolix commented on #441
Running `go get github.com/anacrolix/dht@latest` should fix the issue. I'll pre-emptively close this issue.

[2020-12-09 23:15] #441 closed

[2020-12-09 23:17] anacrolix commented on #413
I have no plans to implement this, but yes that's exactly what would be required. Thanks for seeing this issue through and the tracker invite. I'll close this now, let's reopen if it comes up again. I'll make an issue to track the tracker and peer "session".

[2020-12-09 23:17] #413 closed

[2020-12-09 23:19] anacrolix opened #444 "Retain peers and tracker intervals between torrent "sessions""
Per https://github.com/anacrolix/torrent/issues/413#issuecomment-741792411, tracker intervals, and peers are not retained across Client (and more specifically Torrent) restarts. In some situations this can be very counterproductive.

[2020-12-09 23:21] anacrolix commented on #429
No worries, thanks for the feedback. I've started on a clean-up of the cmds, currently with https://github.com/alexflint/go-arg. If there's any issues I'll try cobra.

[2020-12-10 06:53] YouROK commented on #426
Im write service torrent to http, may be it help you
https://github.com/YouROK/TorrServer
storage implementation
https://github.com/YouROK/TorrServer/tree/master/src/server/torr/storage/memcache

[2020-12-14 10:18] zero77 opened #445 "[Request] Add Support For Creating Hybrid Torrents"
Can you please ad support for creating hybrid torrents as a default option but, with the option to create a v1 one torrent if required.

hybrid torrent test at the bottom:
https://blog.libtorrent.org/2020/09/bittorrent-v2/

[2020-12-14 11:41] anacrolix commented on #445
See also https://github.com/anacrolix/torrent/issues/175.

[2020-12-14 11:42] anacrolix commented on #175
A useful link from a related issue: https://blog.libtorrent.org/2020/09/bittorrent-v2/.

[2020-12-14 12:49] zero77 commented on #445
@anacrolix
Yes Bittorrent v2 support would be great but,  i imagine it will be a lot of work.

But, hybrid torrents are backward compatible and should work at the moment.

[2020-12-17 20:21] bsergean opened #447 "Download rate limit does not seem to work"
This is probably a mistake on my side

[code]

I would expect `--downloadrate 1000000` to max out download rate at 1M/s, but here we go at 5M/s or 6M/s.

This is what the cmd does to control the rate limiter.
[code]

I tried changing

[code]

to false without success.

I see it used in this function, but the 'Accept' makes me think about unix accept syscall for a server config, so maybe that optio

[2020-12-18 06:35] gitpubber opened #448 "Mainstream changes from gitlab.com/axet/torrent"
Hello @anacrolix ,

I came across the fork of your torrent package by @axet (used by them in libtorrent). They have patched some codebase(they have documented nicely too)

I think some of these can be mainstreamed here.

Please see:

https://gitlab.com/axet/torrent/-/commit/e487f39026da66a80e8863e18f61967fe78e1148

[2020-12-21 02:34] anacrolix commented on #448
@gitpubber some features from libtorrent have been taken before, but currently the delta between anacrolix/torrent and axet's fork is too large. If smaller changes could be chosen (and agreed to first before effort is wasted), I think the two codebases could be brought closer with some PRs. Are you interested in spearheading this?

[2020-12-21 03:02] anacrolix commented on #447
The accept rate limiting is different, you can ignore that. I've added a doc comment for it.

It might be possible to see bursts of higher download rates for short periods, particularly if there's a lot of connection turnover, or very large read buffers, although that shouldn't be represented in the status output line, as the incoming data is n't processed until the appropriate delay is applied.

[2020-12-22 04:38] gitpubber opened #449 "Download Torrent to Different Path"
@anacrolix
I have client with default configuration with ClientConfig.DataDir set to a path.

When,i add Torrent,it downloads to ClientConfig.DataDir . But,i must be able to provide path where the torrent must be downloaded.

Please help me.

[2020-12-22 04:40] gitpubber opened #450 "Different path for .torrent.bolt.db"
@anacrolix
Can i set different path for .torrent.bolt.db ?

[2020-12-23 00:16] anacrolix commented on #449
This was answered here: https://gitter.im/anacrolix/torrent?at=5fe18f00c746c6431ccc4387.

[2020-12-23 00:16] #449 closed

[2020-12-23 00:17] anacrolix commented on #450
You can change the parent directory, but not the file basename. See https://pkg.go.dev/github.com/anacrolix/torrent/storage#NewBoltPieceCompletion.

[2020-12-23 22:54] bsergean commented on #447
I think I'm using a normal transfer (TCP), I have UTP disabled. The peers/seed should be using the original libtorrent C++ library.

The files to download are rather large (~1G / 900M).

[2020-12-27 05:07] DigitalAlchemist commented on #416
Did some digging on this today. Per this file, OpenWebTorrent doesn't accept messages that aren't one of:
- "started"
- "stopped"
- "completed"
- ""

Where "" is an empty or missing field value, and instead throws an exception which kills the socket.
https://github.com/OpenWebTorrent/openwebtorrent-tracker/blob/2a8eafab5e29912f69fba4b5ee957941441fe51f/src/FastTracker.h#L56

The array in the below

[2020-12-29 23:34] anacrolix commented on #416
@DigitalAlchemist thank you!

[2020-12-30 00:41] anacrolix commented on #416
@DigitalAlchemist would your recommendation be to omit none/empty events entirely in webtorrent announces, or retain them with an empty value? My reading of OpenWebTorrent is that it doesn't differentiate, but I wonder about other implementations. See the way event is handled in HTTP announces for comparison: https://github.com/anacrolix/torrent/blob/14f2e8087e0d1c8fcbe00db059163867c01d9f23/tracke

[2020-12-30 00:45] anacrolix commented on #416
https://github.com/anacrolix/torrent/commit/29cc20ede9983f218953ab756438686ef0066c10 fixes the immediate problem described by @DigitalAlchemist in https://github.com/anacrolix/torrent/issues/416#issuecomment-751427001.

[2020-12-30 01:14] 2m commented on #416
Awesome, thanks! I will try it out.

On Wed, 30 Dec 2020, 02:45 Matt Joiner, <notifications@github.com> wrote:

[2020-12-31 06:48] Sean-Der opened #451 "Upgrade to pion/webrtc@v3"
Hey @anacrolix

We just released [v3](https://github.com/pion/webrtc/wiki/Release-WebRTC%40v3.0.0) and would love to help you upgrade if you are interested.

v3 enables [Trickle ICE](https://github.com/pion/webrtc/wiki/Release-WebRTC%40v3.0.0#trickle-ice-is-now-enabled-by-default) users may see faster connection times now. They can connect to others before STUN resolves. This is a breaking change

[2021-01-01 05:02] anacrolix commented on #451
Yes, let's give it a try. I'm keen to see if the write size limit issue that came up when streaming with DataChannels has been fixed too.

[2021-01-02 19:57] Sean-Der commented on #451
The write size limit hasn't been fixed unfortunately. I don't even know how hard that would be to fix, let me look into that first. Hopefully I can come back to you with a dot release fixing that and then we can upgrade.

One annoyance is that it depends on remote support as well. Since the remote WebRTC peer may not support EOR you will still have to handle it.

[2021-01-04 15:42] DigitalAlchemist commented on #416
Hey @anacrolix! Sorry about not getting back sooner. I logged out for the holidays... My intent was not to have you make the change, just to solicit inputs on what might be the correct answer.

This works for me for openwebtorrent. The `omitempty` addition is likely more correct, as it reads more in line with what BEP-3 states:

_event
This is an optional key which maps to `started`, `completed`,

[2021-01-05 01:02] anacrolix commented on #416
Okay with those PRs merged, this issue should be fix. @2m, can you test your original issue with master? Let's reopen if it's not fixed.

[2021-01-05 01:02] #416 closed

[2021-01-05 03:18] ucwong opened #454 "The new changes compatibility"
[code]
The new changes may have some compatibility issue
https://github.com/anacrolix/torrent/commit/1e9d382af925714420b361c875c70ed2024d0d1f#diff-3d38a7bd1e33b33c2dcc79eb257ead4b90d5ab2e6675d91b227437cb63c21fb6L14

[2021-01-05 10:00] 2m commented on #416
Thank you @DigitalAlchemist for fixing this. I will test it out after #455 gets merged.

[2021-01-06 03:29] anacrolix commented on #454
Could you provide more context? I think if you're using a JSON decoder somewhere, a more JSON-specific decoder instance can be provided, or a custom type wrapping your use of metainfo.Hash would be appropriate?

[2021-01-06 03:34] ucwong commented on #454
Yes, ```json.Unmarshal``` is used for decode object with metainfo.hash

[2021-01-06 05:44] anacrolix commented on #416
That's been merged @2m .

[2021-01-06 05:49] anacrolix commented on #454
See the comments on https://golang.org/pkg/encoding/json/#Unmarshal regarding UnmarshalText as a fallback. I believe you probably want to use your own custom type for serializing infohashes if you intend to use JSON, since metainfo.Hash is a moving target specific to anacrolix/torrent.

[2021-01-06 06:05] ucwong commented on #454
Thank you, I will make a check

[2021-01-06 09:17] ucwong opened #457 "Too many drop connection notifications printed"
![image](https://user-images.githubusercontent.com/22344498/103751241-f1386280-5042-11eb-825e-fe94fdc8f0ee.png)

[2021-01-06 13:23] anacrolix commented on #457
Thanks, fixed in https://github.com/anacrolix/torrent/pull/458?

[2021-01-06 13:23] #457 closed

[2021-01-07 02:34] #454 closed

[2021-01-09 17:29] sergeycherepanov opened #459 "cannot find package "github.com/pion/webrtc/v2""
Hi,

When I try to install
[code]

found a workaround, just need to export the variable
[code]

[2021-01-11 04:42] anacrolix commented on #459
Out of curiosity, what version of go are you using?

[2021-01-11 04:42] #459 closed

[2021-01-13 21:04] sergeycherepanov commented on #459
@anacrolix it is 1.15.6

[2021-01-16 17:09] 2m commented on #416
I've just tried the latest master and I am still not able to download the file via btorrent.xyz after a while. It works when I try just after starting seeding, but not after some time.

I also get this panic if I try to download via btorrent.xyz after anacrolix/torrent finishes downloading and starts seeding:

[code]

[2021-01-17 02:58] DigitalAlchemist commented on #416
@anacrolix @2m

I believe the attached pull request fixes the panic issue - I was not holding the appropriate lock when I called WriteMessage per the existing code and the gorilla docs (https://pkg.go.dev/github.com/gorilla/websocket#hdr-Concurrency)

Still no idea why btorrent.xyz isn't working for you - I was able to use wss://tracker.btorrent.xyz with no issue.

[2021-01-17 04:40] anacrolix commented on #416
Thanks, #460 merged.

[2021-01-17 10:25] 2m commented on #416
I have tested latest master. The panic and the original issue of this ticket has been fixed.

Thank you very much @DigitalAlchemist and @anacrolix!

[2021-01-18 09:57] Lontron opened #462 "[Fix] problem with privacy torrent tracker kinozal.tv"
The seeders on the private tracker kinozal.tv are not received, please fix.
It is needed to solve a problem here:  https://github.com/YouROK/TorrServer

http://tr1.tor4me.info/ann?uk=zm29XN1vfh
http://tr1.tor2me.info/ann?uk=zm29XN1vfh
http://tr1.torrent4me.com/ann?uk=zm29XN1vfh

http://retracker.local/announce

Please fix. Thanks!

[2021-01-19 04:40] anacrolix commented on #462
Could you include a link to the upstream issue?

[2021-01-19 06:15] Lontron commented on #462
@YouROK Hi, write here all the details.

[2021-01-19 21:18] anacrolix commented on #421
This should be fixed with https://github.com/anacrolix/torrent/issues/421#issuecomment-735521392.

[2021-01-19 21:18] #421 closed

[2021-01-21 07:21] YouROK opened #463 "json.Unmarshal on metainfo.Hash error"
I am storing torrent info in json but after adding function UnmarshalText gives error
json: cannot unmarshal array into Go value of type *metainfo.Hash

Code for test:
[code]

if remove this function all work ok

Function:
https://github.com/anacrolix/torrent/blob/6aaaaaffbaec52e984b91a5e884c4c4589d7dbcb/metainfo/hash.go#L57

[2021-01-21 07:36] YouROK commented on #463
Fix it with add function:

[code]

[2021-01-21 22:38] anacrolix commented on #463
I think again, you should be wrapping or using a different type for this. I could add this MarshalText method, but I'm not sure what impact it will have on the use of metainfo.Hash elsewhere in anacrolix/torrent.

[2021-01-21 22:56] #463 closed

[2021-01-31 16:05] pataquets commented on #181
@smhmd take a look at [btfs](https://github.com/johang/btfs)

[2021-01-31 18:01] smhmd commented on #181
@pataquets I actually expressed interest in this because btfs was hanging on occasion.

[2021-02-01 23:58] anacrolix commented on #181
Well let me know how you go with this. It's been actively tested in the CI for years now, there's no issues with it as far as I know.

[2021-02-01 23:59] anacrolix commented on #181
A stand-alone command that mounted a single magnet link would be pretty cool, I think the current implementation here watches a directory of torrents, and possibly a file containing magnets and exposes those in the mount dir.

[2021-02-02 00:02] smhmd commented on #181
Is there supposed to be a link, @anacrolix?

[2021-02-02 00:05] anacrolix commented on #181
@smhmd take a look at https://github.com/anacrolix/torrent/blob/master/fs/test.sh.

In the metainfo directory, specified to `cmd/torrentfs`, any files ending in `.magnet` are scanned for a magnet link per line, and those are immediately exposed in the mountdir.

[2021-02-03 18:28] ajnavarro opened #464 "Webseed not found causes an infinite loop trying to read one of the files inside the torrent."
First of all, thank you for this awesome library and all the effort that you dedicate to it.

I think I found an error related to web seeds. When we try to read a file inside a torrent file using the `file.NewReader()` API, if the `ws` parameter is wrong (pointing to an URL that does not exists), it will try to reach it indefinitely. Code example reproducing the error:

[code]
This code will hang

[2021-02-04 20:45] andrewarchi opened #465 "Webseed “Unlock of unlocked RWMutex” in latest version"
I updated today from v1.18.1 to v1.23.0 and it now panics with `sync: Unlock of unlocked RWMutex` after adding a few torrents to a `Client` with the default config.

Here's a dump of the goroutine that panics:

<details>
<summary>Panic</summary>

[code]

</details>

[2021-02-08 04:42] anacrolix commented on #465
@andrewarchi could you try again with v1.24.0? Thanks

[2021-02-08 04:47] anacrolix commented on #464
Thanks for the report, I'll take a look when I can.

[2021-02-08 05:09] andrewarchi commented on #465
I encounter the same errors when I upgrade to v1.24.0. The panic occurs within webseed-peer.go and there's errors logged before regarding webseed, so it likely is related to the Internet Archive's usage of webseed for their torrents. The Internet Archive torrents are rarely peer-seeded and are almost entirely downloaded via webseed. I've included a small bit of code that consistently reproduces th

[2021-02-08 09:01] withshubh opened #466 "Integration: DeepSource"
I ran DeepSource analysis on my fork of this repository and found some code quality issues. Have a look at the issues caught in this repository by DeepSource [here](https://deepsource.io/gh/withshubh/torrent/issues/).

[DeepSource](https://deepsource.io/) is a code review automation tool that detects code quality issues and helps you to automatically fix some of them. You can use DeepSource to tra

[2021-02-08 09:07] withshubh commented on #466
Update: PR #461 merged the configuration file in this repository. You just need to signup and install DeepSource to continuously analyze the repo. :sparkling_heart:

[2021-02-09 05:39] anacrolix commented on #466
@withshubh I've already activated the repo.

[2021-02-09 05:43] anacrolix commented on #465
Thank you for the repro code! I'm taking a look.

[2021-02-09 06:16] withshubh commented on #466
Thanks! @anacrolix :sparkling_heart:

Also, You can let me know if you have suggestions or feedback regarding DeepSource. :)

I'll close this issue now. :sparkles:

[2021-02-09 06:16] #466 closed

[2021-02-09 08:25] anacrolix commented on #465
@andrewarchi could you take a look at https://github.com/anacrolix/torrent/tree/issue-465? I've copied the minimal code in as a test case, and made a few tweaks to improve testing. Cheers

[2021-02-09 09:08] andrewarchi commented on #465
Great! The panic is now resolved and the download completes for all 10 listed items.

Although the peer connection is now closed on "unsupported protocol scheme" errors, the errors are still there. I haven't worked with the .torrent format before (which is where I assume these URLs are read from), but my hunch is that these are relative paths that should be resolved to absolute.

Now that it doesn

[2021-02-09 09:21] andrewarchi commented on #465
After running cmd/issue465 on the full list of torrents, it crashed after adding the 19th one.

[code]

Running it again, I added some simple batching by 15 with `if i%15 == 14 { cl.WaitAll() }` because there doesn't appear to be any way in the API for more precise batching. This time, I still get a few "too many open files" and "disabling data download", and "http2: GOAWAY" errors, but it's able

[2021-02-09 22:31] anacrolix commented on #465
That's right. I believe if no host is specified, it should be relative to where the torrent file was obtained. I can't find any mention of that in BEP 19 though, but if it I can find a mention of how to handle this case, I'd implement it (perhaps a field in TorrentSpec where the developer can give an indication of the source of a metainfo or something).

I found this too, in fact the original mini

[2021-02-09 22:39] anacrolix commented on #465
You can run with a higher file descriptor limit. A better fix might be to use the memory-mapped storage. A better fix yet might be for me to implement a limit to simultaneous file descriptor use in the file storage implementation. I believe that because the chunks returned for webseeds are not pipelined, the webseed code is bypassing the backpressure that is applied to regular peer connections on

[2021-02-10 00:58] andrewarchi commented on #465
To grab the full list of torrents that I'm using, run `curl 'https://archive.org/services/search/v1/scrape?q=subject:terroroftinytown&count=10000' | jq -r '.items[].identifier'`. Those IDs can replace the partial list in the `ids` slice in the existing minimal code. If you want to fetch the full list dynamically in Go, take a look at [`GetReleaseIDs`](https://github.com/andrewarchi/urlhero/blob/95

[2021-02-11 04:24] anacrolix commented on #465
A lot of those errors are the OS, and network stack pushing back. Hopefully you're getting some great speeds from it.

[2021-02-11 06:35] anacrolix commented on #465
I'll consider the original problem in this issue resolved. Let's open further issues if you find something else that's actionable.

[2021-02-11 06:35] #465 closed

[2021-02-16 16:37] qaisjp opened #467 "cannot find package github.com/pion/webrtc/v2"
[code]

[2021-02-16 16:38] qaisjp commented on #467
Oops. I'm on an old version of Go which does not have modules on by default.

The fix:

[code]

[2021-02-16 16:38] #467 closed

[2021-02-18 03:37] #464 closed

[2021-02-18 03:37] anacrolix commented on #464
Thanks for the detailed report.

[2021-02-18 03:39] anacrolix commented on #450
@gitpubber do you have any more feedback on this? What are you trying to achieve?

[2021-02-18 03:41] anacrolix commented on #447
@bsergean it might help to have the metainfo or magnet link you're testing with, so I can verify if the protocols used aren't being rate-limited. You can send that to me privately if preferred.

[2021-02-18 03:43] anacrolix commented on #425
@luodw do you have an update? Did you switch to go-libutp? You can open a PR against anacrolix/utp if you have found a workaround.

[2021-02-18 03:45] bsergean commented on #447
Unfortunately the torrrents aren’t public, and are used to fetch internal data so I don’t know if you could use them. But maybe just the .torrent or meta info file would be enough ?

Thanks for the help btw ; I’m not actively working on this those days which why I haven’t checked in recently.

[2021-02-18 03:46] luodw commented on #425
@anacrolix I use go-libutp and fix the issue.

[2021-02-18 05:38] #425 closed

[2021-02-18 05:39] anacrolix commented on #447
The metainfo might be enough, if you can share it. Thanks

[2021-02-18 05:54] bsergean commented on #447
panic: subsequent listen: listen udp4 :42069: bind: address already in use

Trying to print/get the .torrent file but now I keep on getting that error (after I did cancelled a download)

[2021-02-18 08:02] ajnavarro commented on #464
Thank you to have a look at it and maintain this awesome library.

[2021-02-21 10:15] kyoto44 opened #468 "How to create a torrent without top directory?"
Hello! I've got a problem with torrent creation. If I'm specifying "Name" field in metainfo.Info then it becomes the name of top directory if not I'm getting "_" as top directory

[2021-02-21 20:38] kyoto44 opened #469 "Magnet().String() doesn't include webseed url's"

[2021-02-21 23:14] anacrolix commented on #469
I take it you found this to not be the case?

[2021-02-21 23:16] anacrolix commented on #468
Are you using the `metainfo` package, or `cmd/torrent-create` or something else?

[2021-02-22 03:34] kyoto44 commented on #468
I'm using metainfo package

[2021-02-22 03:43] kyoto44 commented on #469
I'm just realized that the torrent download will not start without metadata...

But webseeds are still not returned via String() function, I've modified the library and able to get webseeds url's in magnet link.

[2021-02-22 06:21] not-duckie commented on #468
can you post the code, please @kyoto44

[2021-02-22 07:24] kyoto44 commented on #468
[code]

[2021-02-24 01:12] #469 closed

[2021-02-24 20:46] kyoto44 commented on #468
Is there any solution?

[2021-02-25 15:51] anacrolix commented on #468
Sorry I still don't have enough information. The snippet of code you gave should generate a metainfo. Does that metainfo contain "_" for the Name field, or do you get a "_" directory when you download with this using a file-based storage with the torrent Client in this repo?

[2021-02-25 18:52] kyoto44 commented on #468
@anacrolix, it generates. But if I set an empty Name field the torrent file structure looks like this
![image](https://user-images.githubusercontent.com/17720761/109202166-7f6bd200-77c4-11eb-8519-c96b7b01b832.png)

[2021-02-26 05:50] gitpubber commented on #450
@anacrolix No feedback. Actually i wanted to download torrents in one directory while i wanted .torrent.bolt.db in another directory

[2021-02-26 22:31] anacrolix commented on #450
I could take a PR for this if you are willing.

[2021-02-28 06:00] gitpubber commented on #450
@anacrolix i would work on this but only after month because I have university exams this month.

[2021-03-01 02:58] anacrolix commented on #468
When I run torrent-create without setting the Info.Name, I get an empty name field in the resulting metainfo. Are you getting the `_` directory when you then pass a metainfo to a torrent client? If so, and you're passing it to a client based on this repo, which file storage are you using?

[2021-03-01 03:11] anacrolix commented on #468
I cannot reproduce, even when trying to download with the file, and mmap storage backends.

[2021-03-01 05:33] kyoto44 commented on #468
just use my code from above

[2021-03-01 05:35] kyoto44 commented on #468
Yes, I'm getting `_` directory when I pass torrent to any torrent client. What should i do to create torrent without any directories in it???

[2021-03-01 09:17] anacrolix commented on #468
The client in this repo does not create any `_` directory, so you could use that. Try `cmd/torrent`. I will preemptively close this issue since there's nothing actually wrong here.

[2021-03-01 09:17] #468 closed

[2021-03-02 04:41] anacrolix commented on #429
This has been started with cmd/torrent, which now has a few subcommands:
[code]
So far so good. The issue remains open to contributions and suggestions.

[2021-03-12 09:54] YouROK opened #471 "Pieces delete issue"
Hi,
how do you properly delete pieces?
I have a download that goes into memory.
There is a certain cache, I open the reader, it reads and send to http.
If there are more pieces than the size of the cache, then the last read piece is released.

https://github.com/YouROK/TorrServer/blob/master/server/torr/storage/torrstor/cache.go
https://github.com/YouROK/TorrServer/blob/master/server/torr/storage/

[2021-03-16 03:38] luodw opened #472 "[Debug] Downloaded file has wrong content"
Hello, we use torrent 1.25.0 to distribute files among many nodes. we occasionally  found that, some file download successfully and  all pieces of the torrent is completed, but it is filled will zero, has no real data.  Does anyone has idea about this?

[2021-03-17 09:36] anacrolix commented on #472
What storage backend are you using? Is it mmap?

[2021-03-17 09:41] luodw commented on #472
@anacrolix Yes, we use mmap

[2021-03-17 09:44] anacrolix commented on #472
@luodw It's likely that the file that the torrent client is referencing on the disk, is not the same one that you're looking at later. At some point there's likely a delete and then the file is recreated. Are you also not on Windows?

[2021-03-17 09:47] luodw commented on #472
@anacrolix We use bittorrent in Linux and the file indeed recreated many times.  I see the piece completion status in boltdb never delete, is it releated?

[2021-03-18 11:47] ghost opened #473 "Support for File System Abstraction packages"
Hello,
I know that there are some storage backends available that we can use.

But,it would be nicer if this project supported file system abstraction packages officially. I would like to see this project support:

1) https://github.com/C2FO/vfs

2) https://github.com/spf13/afero

3) https://github.com/graymeta/stow

4) https://gocloud.dev/howto/blob/

It would eliminate the case of writing custom

[2021-03-19 00:10] anacrolix commented on #473
I would welcome PRs and suggestions towards this.

[2021-03-19 00:22] anacrolix commented on #472
Yes, that would be related. If the files are recreated, but the piece completion database is not reset, the client will believe the torrent to be complete already. You can force it to rehash, or if you're meddling with the files yourself, ensure you notify the client/adjust the piece completion database between runs.

[2021-03-19 07:41] luodw commented on #472
@anacrolix ok，we use file storage instead mmap to test whether it is ok. I think your advice is ok, so torrent should expose the api to adjust the piece completion

[2021-03-20 03:19] anacrolix commented on #472
Possibly we could include info from this issue in https://github.com/anacrolix/torrent/issues/238.

[2021-03-23 16:44] kslr commented on #392
[code]
If UTP is enabled, memory is quickly depleted, If disabled, it takes about 10 minutes to run out. (~1000 torrent)

ubuntu 20.04 / 32G Ram / go 1.6 / lib 1.15.1

[2021-03-23 22:14] anacrolix commented on #392
Same question for you @kslr

[2021-03-24 04:50] kslr commented on #392
Yes, ipv4 and ipv6

[2021-03-24 20:08] gitpubber opened #475 "Download torrent to different directory"
i would like to have function/method which accepts two parameters. one is metainfo and other is directory.

this way,i want to give path to engine to download torrents at.

[2021-03-24 22:15] anacrolix commented on #475
You could write such a function by wrapping a `Client`, the rest of the configuration can be done via the metainfo package and `TorrentSpec`.

[2021-04-06 09:35] gitpubber opened #476 "Build Error"
I am trying to build completely statically linked binary of my application that uses anacrolix/torrent .I also want my binary to be small.

So,when I built my application with

` CC=musl-gcc go build -tags netgo -ldflags '-extldflags "-static -s -w"'`

It threw following errors,
[code]

Same thing when compiled with glibc-gcc . Also, does using -tags netgo impose any problems with anacrolix/torren

[2021-04-23 16:38] ajnavarro opened #477 "Torrent file reader unexpected readed bytes"
Since version v1.19.0, sometimes when `Read` from file reader is called, read bytes are less than expected. Test to reproduce the error:

[code]

Reference file was downloaded using transmission using the same magnet as a source.

Several outputs from different versions:

<details>
  <summary>v1.18.1 without downloading all content from the torrent first </summary>

[code]

Files are almost equal

[2021-04-25 03:11] anacrolix commented on #477
Thanks for the report. Just to confirm, is the resulting file correct regardless of version? Without looking deeper yet, I did make a change to how aggressively `torrent.Reader` will attempt to fill the byte slice given on Read. Technically the [`io.Reader`](https://golang.org/pkg/io/#Reader.) contract only requires that some data be returned.

That was the change that was made. If you expect to r

[2021-04-25 08:31] ajnavarro commented on #477
Thanks a lot @anacrolix , everything makes sense now.

Using `io.ReadAtLeast` makes the test work in any version.

Thanks!

[2021-04-25 08:31] #477 closed

[2021-04-26 03:28] anacrolix commented on #477
No worries!

[2021-04-30 11:26] #476 closed

[2021-05-02 23:34] anacrolix commented on #476
Sorry I missed this. What was the resolution?

[2021-05-03 02:00] anacrolix commented on #447
Sorry I missed this. You could run with `-addr=:0` to ensure you get a free port. The error you're describing would indicate that you already have a torrent client running on the default port.

[2021-05-03 02:57] bsergean commented on #447
Thanks I’ll give this a try when I get a chance.

[2021-05-03 03:45] gitpubber opened #478 "Change Client's settings during runtime of Client"
I have `TorrentClient *torrent.Client` . I have initialized it with `torrent.NewDefaultClientConfig()`. Then, i have added few torrents to download using it.

While the torrents are running, i want to change settings of [Client](https://pkg.go.dev/github.com/anacrolix/torrent#Client)  like peerid, blocklist, upload/download limiter, etc.

It seems that one must Close the Client, create new client

[2021-05-03 04:08] gitpubber commented on #478
In Simple words, i want to modify [ClientConfig](https://github.com/anacrolix/torrent/blob/v1.26.0/config.go#L23) of running torrent client

[2021-05-04 05:16] anacrolix commented on #478
@gitpubber currently you can modify some items of the ClientConfig at runtime. `*rate.Limiter` can be adjusted dynamically, as can `iplist.Ranger`. PeerID can not currently be changed on the fly, but it might be possible to support. It would be easiest if you describe which items you want to change and why, as they'll probably all need specific handling.

[2021-05-04 06:09] anacrolix commented on #447
I did some testing and tidying around the rate limits. I definitely think it's working, my best guess would be some bursty behaviour or lag between updates to the progress that's emitted. I've implemented a fix for that in https://github.com/anacrolix/torrent/commit/8706d326bac7f7f5a1f021620718e1cc4ad77cee.

[2021-05-04 08:37] gitpubber commented on #478
Can you please tell me how can I change *rate.Limiter  and iplist.Ranger dynamically ( code snippet would be appreciated ) .

Also , thank you for your work , @anacrolix

[2021-05-04 08:41] gitpubber commented on #478
@anacrolix  , Regarding your second question , I am developing torrent manager and I would like the user to set options of Torrent Client dynamically when torrents will be active. So, since creating new client with new settings, deleting old client, adding active torrents of old torrent to new one seems bad idea , I asked.

[2021-05-04 10:06] gitpubber opened #479 "Stop Seeding during runtime"
How can I do it? There is ClientConfig.Seed but how can I change it during runtime ?

[2021-05-04 15:08] bsergean commented on #447
Cool, I’m gonna try that today.

Here is the function I use for downloading, it has a time.Sleep which you don’t have in your sample anymore.

func downloadFileWithTorrent(httpClient *http.Client, client *torrent.Client,
    url string, torrentPath string) error {
    // Fetch torrent
    response, err := httpClient.Get(url)
    if err != nil {
        return fmt.Errorf("Error downloading torrent

[2021-05-04 18:01] rahlenjakob opened #480 "Piece Priorities - Rarest first"
Hey!

Currently, the torrent command seems to (intentionally) download the pieces sequentially (if possible), however it would be nice to have some request-strategy which instead picks the _rarest piece_ first, which speeds up downloading in smaller networks where some pieces might not yet be available.

Any clue on how one could implement this? I noticed that there's already a PeerPieces method w

[2021-05-05 00:46] bsergean commented on #447
I still can’t make this work, but I think the problem is on my end.

With this:

    defaultRateLimit := 1 << 10
    rateLimit := defaultRateLimit
    clientConfig.DownloadRateLimiter = rate.NewLimiter(rate.Limit(rateLimit), defaultRateLimit)

I can’t get rate limit to work. The problem is likely on my end though as I got this snippet from the main.go cmd/torrent file.

[2021-05-05 00:47] bsergean commented on #447
I think I wasted enough of your time so I'm gonna close this.

[2021-05-05 00:47] #447 closed

[2021-05-05 12:09] anacrolix commented on #447
No worries.

[2021-05-05 23:59] anacrolix commented on #480
Hi Jakob,

I suspect you've found the existing request strategies already, starting at https://pkg.go.dev/github.com/anacrolix/torrent#RequestStrategyDuplicateRequestTimeout. The best place to start to spelunk this part of the code is `Peer.doRequestState`, where it heads in to `requestStrategy.iterPendingPieces`.

If you use `Torrent` or `File` `.Download`, entire ranges of pieces will share the

[2021-05-06 00:28] anacrolix commented on #479
This will need to be exposed. It probably wouldn't hurt to expose stuff like download/upload ratio too to enable users to make use of that in configuring seeding.

[2021-05-06 00:43] anacrolix commented on #478
Any type that implements https://pkg.go.dev/github.com/anacrolix/torrent/iplist#Ranger can be dropped in as the IPBlocklist in the ClientConfig. After that, if you mutate it threadsafely, the Client doesn't care. It would be enough to implement a naive lookup with a RWMutex or something. Feel free to contribute this in a PR. The methods on *rate.Limiter are all threadsafe see https://pkg.go.dev/go

[2021-05-06 00:44] anacrolix commented on #478
Feel free to open an issue if you need to change PeerID on the fly. I don't think it's possible to do that for DHT servers, but those have independently determined node IDs anyway. You can also shut them down and add new ones with different settings any time via https://pkg.go.dev/github.com/anacrolix/torrent#Client.AddDhtServer.

[2021-05-06 11:08] gitpubber commented on #479
Can you please expose seed and download/upload ratio ?

[2021-05-06 19:58] gitpubber opened #481 "Is pieceCompletionForDir necessary?"
Hello @anacrolix ,

I am thinking of using [NewFileByInfoHash](https://github.com/anacrolix/torrent/blob/305ba51dc2d50f7a38d12fbf1d042c7b12fa29d8/storage/file.go#L43) . But default [NewFile](https://github.com/anacrolix/torrent/blob/305ba51dc2d50f7a38d12fbf1d042c7b12fa29d8/storage/file.go#L34) uses [pieceCompletionForDir](https://github.com/anacrolix/torrent/blob/305ba51dc2d50f7a38d12fbf1d042c7b12

[2021-05-07 10:30] anacrolix commented on #481
Hi @gitpubber , the API is a bit clunky in this area. The BoltDB completion mainly just offers persistence. It should be possible to initialize a File storage with an arbitrary piece completion implementation, I could tidy this up if it interests you.

[2021-05-07 10:31] anacrolix commented on #479
I will look into it if I have time, cheers.

[2021-05-08 06:28] compliment opened #483 "panic: unaligned 64-bit atomic operation. Support 32-bit architectures too."
[code]

[2021-05-08 17:11] gitpubber commented on #476
Resolution was to use Alpine Linux . There were no errors while building in Alpine Linux . Also,fully static builds

[2021-05-08 19:16] gitpubber opened #484 "Revert Commit 7455b98a0f597c3b84c7ed60b75b9ddf5fd8d341 and switch back from crawshaw.io/sqlite to mattn-sqlite3"
Please revert commit [7455b98a0f597c3b84c7ed60b75b9ddf5fd8d341](https://github.com/anacrolix/torrent/commit/7455b98a0f597c3b84c7ed60b75b9ddf5fd8d341).

I don't see any benefit of switching to it. It makes us to use another build tag.
mattn-sqlite3 is database/sql compliant, so why not use it ?

Many who use anacrolix/torrent use mattn-sqlite3 . So,for them, crawshaw.io/sqlite will be another unnec

[2021-05-08 19:36] gitpubber opened #485 "How do I use Custom PieceCompletion ?"
Can you please make https://github.com/anacrolix/torrent/blob/305ba51dc2d50f7a38d12fbf1d042c7b12fa29d8/storage/file.go#L54 Public Function so that it is accessible outside the package ?

[2021-05-09 01:05] anacrolix commented on #485
You're welcome to make a PR for this. Note again that this API is pretty bad, and might be tidied up in the future.

[2021-05-09 01:10] anacrolix commented on #484
mattn/go-sqlite3 had many issues in the way it was used in anacrolix/torrent. In particular it's necessary to manage connections directly and use incremental blob IO to get full value out of sqlite.

The issue around using mattn/go-sqlite3 and crawshaw.io/sqlite simultaneously has come up several times, and is solved in another issue.

See https://crawshaw.io/blog/go-and-sqlite, https://crawshaw.i

[2021-05-09 01:11] anacrolix commented on #476
Thanks

[2021-05-09 01:19] anacrolix commented on #483
Could you try the associated commit? Was this issue only present on arm, did you find anything else that didn't work?

I would welcome PRs to include CI for testing arm if you're interested.

[2021-05-09 01:19] anacrolix commented on #483
`go get github.com/anacrolix/dht/v2@fd60ad06b4827d42a76235103e88b20e633db27c` should do what you need in your project for testing this.

[2021-05-09 05:37] compliment commented on #483
According to  [atomic/#pkg-note-BUG](https://golang.org/pkg/sync/atomic/#pkg-note-BUG) it affects all 32-bit architectures. I can confirm the same on ARM and 386.

https://github.com/anacrolix/dht/commit/fd60ad06b4827d42a76235103e88b20e633db27c didn't fix it, same error with different line number.

example/torrent built for 386
[code]

[2021-05-09 09:36] anacrolix commented on #483
Could you provide the new stack trace? It's probably another atomic elsewhere in the package that also needs to be fixed.

[2021-05-09 09:38] #485 closed

[2021-05-09 12:03] compliment commented on #483
@anacrolix You can build example/torrent from this repo itself for linux 386 and run it on amd64 or for linux arm and run it on arm64. I included the new stack trace for example/torrent for this repo itself in the previous comment.

[2021-05-09 14:06] pataquets commented on #248
For reference, [axet/libtorrent](https://gitlab.com/axet/libtorrent/) (which happens to use this lib) already implements this. See [lpd.go](https://gitlab.com/axet/libtorrent/-/blob/master/lpd.go).

[2021-05-09 14:37] gitpubber commented on #484
Thanks @anacrolix , no need of reverting

[2021-05-09 14:37] #484 closed

[2021-05-10 01:10] anacrolix commented on #484
Thanks mate. Your interest and contributions are appreciated.

[2021-05-10 01:14] anacrolix commented on #248
That implementation looks pretty reasonable, and is appropriately detached from the torrent package. It would be a candidate for being upstreamed if there's any interest.

[2021-05-11 00:37] anacrolix commented on #480
No worries. What library have you gone with?

Incidentally I've actually started on this anyway, since I've been wanting to do requests taking into consideration other things like storage capacities, and do less state management in the internals.

[2021-05-11 00:37] anacrolix commented on #480
The branch is https://github.com/anacrolix/torrent/tree/request-strategy-rewrite.

[2021-05-11 01:11] yoonst commented on #371
I am revisiting this issue. Could you show me where this `Client` is?
The current Proxy implementation is only applicable to trackers which is not enough protection from ISP / legal trolls.

[2021-05-11 01:38] anacrolix commented on #371
@yoonst I think to proceed with the solution I provided above, you want to disable entirely any default listeners on the Client, and add all your proxy dialers manually. A cursory follow-through from https://github.com/anacrolix/torrent/blob/b8e1c9539907b177a7dac66c95304c0dbe91475f/client.go#L236 would suggest that there's no configuration option to disable listeners without affecting trackers too

[2021-05-11 10:03] gitpubber opened #489 "sqlite3 PieceImplementation Panics"
Error Log:
[err.txt](https://github.com/anacrolix/torrent/files/6458363/err.txt)

You can clearly see that's the error of Set() function

@anacrolix  Please help

[2021-05-11 11:46] gitpubber commented on #489
Hey, I added mutex to check whether it works. so,now it doesn't panic but my other crawshank.io database connection doesn't get updated itself

[2021-05-13 04:52] anacrolix commented on #489
Is there a unit test that can trigger this?

[2021-05-13 04:55] anacrolix commented on #481
What was the resolution here?

[2021-05-13 06:53] gitpubber commented on #489
I think not. In my application, i used https://github.com/anacrolix/torrent/blob/v1.27.0/storage/file.go#L55  to use
https://github.com/anacrolix/torrent/blob/v1.27.0/storage/sqlite-piece-completion.go#L20

@anacrolix somehow resolve this. i tried for almost 3 hours to debug this. sync.Mutex works but it causes other bug(like if i had another crawshaw.io sqlite3 connection,it will not work at all)

[2021-05-14 07:30] akghka commented on #300
I don't understand how to seedingd directly from the filesystem.What should i do?Should I impl my own storage

[2021-05-14 08:56] gitpubber commented on #489
@anacrolix  , Issue is solved . Please release new version .

Thank you very much. You really are Great Software Developer.

[2021-05-14 08:56] #489 closed

[2021-05-16 06:30] anacrolix commented on #489
Done, v1.28.0.

[2021-05-16 06:31] anacrolix commented on #300
@akghka do you want to ask this on Discussions?

[2021-05-17 07:55] gitpubber commented on #479
Hello, what's the progress on this? also, to change iplist.Ranger , should we lock client's mutex before changing? if yes, can you please create wrapper function to perform so?

[2021-05-17 08:45] anacrolix commented on #479
Sorry, I'm not working on this currently.

[2021-05-17 10:51] #478 closed

[2021-05-18 02:40] anacrolix commented on #479
This remains a valid enhancement. Possibly related to https://github.com/anacrolix/torrent/issues/155.

[2021-05-18 05:08] gitpubber commented on #479
@anacrolix ,
Possible workarounds include ranging through torrents in client and if they are completed, disable data upload

[2021-05-18 05:10] gitpubber opened #498 "Feature Request: Stop torrent at certain Seed ratio"
It would be great to stop torrent at certain seed-ratio. or even stop torrent after certain bytes uploaded(after completion)

[2021-05-19 00:02] anacrolix commented on #479
Yeah, there are definitely workarounds. Good thinking.

[2021-05-19 17:31] gitpubber commented on #498
@anacrolix how would this be done? does this require extra goroutine which checks for seed ratio?

[2021-05-19 17:44] gitpubber commented on #479
https://github.com/anacrolix/torrent/blob/b21aebeaae6a308d97e9f952c78639bc594e73fd/torrent.go#L1363

So, Config is directly been referenced. so,it would be easy to implement this feature,no?

[2021-05-19 22:31] anacrolix commented on #498
You'd want to watch BytesWrittenData and BytesReadUsefulData in https://pkg.go.dev/github.com/anacrolix/torrent#TorrentStats, and toggle the Seeding state appropriately. Since this could be done from external to the client if the ability to change the Seeding mode was exposed, I think it might be okay not to build this into the anacrolix/torrent implementation. It could be a contrib helper or some

[2021-05-20 03:56] gitpubber commented on #498
But, won't that be resource intensive?

[2021-05-21 01:57] akghka commented on #480
https://github.com/cenkalti/rain/blob/324770b69a591fe925ec36b47ce342f44e414089/internal/piecepicker/piecepicker.go#L276
this library support

[2021-05-21 11:25] gitpubber opened #500 "Use gobwas/ws instead of gorilla/websocket"
This package uses gorilla/websocket for webtorrent which many criticise as being slow and large.few other packages of websocket like gobwas/ws which are more lightweight and fast are also present.

Why not use them? why use gorilla/websocket?

https://www.freecodecamp.org/news/million-websockets-and-go-cc58418460bb/

https://github.com/gobwas/ws

it could be better to use these packages, no?

[2021-05-21 11:39] gitpubber commented on #500
@anacrolix , i saw the codebase which uses gorilla/websocket . i think it's not large(being single file).

can you evaluate https://github.com/gobwas/ws to replace gorilla/websocket ?

[2021-05-21 20:36] gitpubber commented on #500
https://github.com/anacrolix/torrent/blob/master/webtorrent/tracker_client.go

[2021-05-21 20:39] gitpubber commented on #500
I could have tried to rewrite this, but i don't have much knowledge :(

please help @anacrolix . i would like to use gobwas/ws in my app and i would not like to have 2 websocket dependencies

[2021-05-22 17:53] rahlenjakob commented on #480
Hey! I used [LibTorrent](https://github.com/arvidn/libtorrent) which has Go-bindings

[2021-05-22 18:25] silentmurdock commented on #483
Hello!

I think I've managed to fix the problem with the help of this page: https://go101.org/article/memory-layout.html
I uploaded the 2 modified files here for the **dht v2.9.1** package because I have no other options now.

I use anacrolix torrent for my torrent player application ( [White Raven](https://github.com/silentmurdock/whiteraven) ) for Samsung Smart TV E, F, H series.  Each of these

[2021-05-25 01:26] anacrolix commented on #483
Interesting article. I take it then on a 32 bit system, the struct field alignment even of an int64 might be only 4 bytes.

[2021-05-25 08:47] anacrolix commented on #500
Thanks for the suggestion. It just comes down to gorilla/websocket being the most popular after moving on from an golang/x websocket implementation that didn't cope with certain types of usage in some of my projects. I have no attachment to gorilla/websocket, but also no time to work on this unless it affects me currently.

[2021-05-25 09:08] gitpubber commented on #498
@anacrolix it would be better if we could set max seed ratio (or max upload bytes) in Torrent Spec. Torrent Client before starting the download checks if these options have been set or not. if they are set,it launches another goroutine which stops the torrent when seed ratio/max upload bytes limit has reached.

i think that this is better approach

[2021-05-25 09:10] gitpubber commented on #473
@anacrolix i think that vfs backend might be better, i will see whether i could work on this

[2021-05-25 10:51] gitpubber commented on #500
@anacrolix Done.

see https://github.com/anacrolix/torrent/pull/503

[2021-05-25 10:51] #500 closed

[2021-05-25 13:43] gitpubber commented on #370
@anacrolix what about this? when will this happen?

[2021-05-25 22:17] anacrolix commented on #473
What's the resolution here? This is a valid issue.

[2021-05-25 22:19] anacrolix commented on #370
Maybe in v3.

[2021-05-26 05:22] gitpubber commented on #479
@anacrolix any update on this?

[2021-05-26 07:20] gitpubber commented on #175
@anacrolix when will you support this?

[2021-05-26 11:43] anacrolix commented on #370
Yes, v2, woops.

[2021-05-26 11:44] anacrolix commented on #175
Not until I see some uptake in the wild. Currently it appears to be zero.

[2021-05-26 18:10] gitpubber opened #506 "How to Sequential Download ?"
How do i sequential Download the torrent?

[2021-05-26 18:14] gitpubber commented on #229
Can you please tell how to do this?

[2021-05-26 18:25] #506 closed

[2021-05-26 18:29] gitpubber commented on #139
Hello @anacrolix , i am trying to create option for torrent to toggle sequential download.

Is doing this once enough for torrent to have sequential download? also,won't there be any performance penalty?

and,how can i stop sequential download? please help

[2021-05-26 18:57] gitpubber commented on #139
i plan to do this in another goroutine. but,won't this be resource intensive? allocating and buffer,etc. ?

[2021-05-26 19:18] gitpubber opened #507 "Torrent.NewReader()"
So, it returns io.Reader for Torrent. But, torrents can be folder. ,how should we use this?

[2021-05-26 19:51] #507 closed

[2021-05-26 19:57] gitpubber commented on #377
@anacrolix can you please point me to the resource?

[2021-05-27 07:15] gitpubber opened #508 "How can I drop Peers per torrent?"
I can only see Add Peers but not Drop Peers.

Help @anacrolix

[2021-05-27 17:45] gitpubber commented on #139
is there a way to stop this(i mean sequential download).should i wrap context with reader or what?

[2021-05-27 23:51] #483 closed

[2021-05-29 00:31] anacrolix commented on #139
I believe Reader implements a method for reading that takes a Context, so you can cancel this. Unfortunately the default `io` utilities don't use this, so you'd have to do the discard yourself.

The newest request strategy however, will default to rarest piece and then sequential download anyway, so this may not be such an issue. Furthermore, it would be trivial to tweak to default to sequential i

[2021-05-29 00:31] anacrolix commented on #508
Is this a feature request? There is no way to do this, except to flush existing reserve peers with better peers.

[2021-05-29 00:32] anacrolix commented on #507
For the casual observer: The Reader on Torrent, reads the torrent data in order, irrespective of file boundaries. i.e. it will read through all the pieces in order.

[2021-05-29 00:35] anacrolix commented on #506
https://github.com/anacrolix/torrent/issues/139#issuecomment-850735795

[2021-05-29 00:37] anacrolix commented on #229
Actually there's no way to remove a Listener, so this isn't completely true. If a listener is closed, the accepter on it could remove it, or alternatively, adding could return a handle to remove the same Listener.

Is there still interest in this feature?

[2021-05-29 03:56] gitpubber commented on #508
oh,then it's feature request.

it's ok,nvm, i think i don't need this feature

[2021-05-29 03:56] #508 closed

[2021-05-29 03:57] gitpubber commented on #377
@anacrolix ,how to do this? which is the commit that i need to refer?

[2021-05-29 04:03] #498 closed

[2021-05-30 07:14] 0xrishabh opened #509 "security bug"
https://huntr.dev/bounties/1-other-anacrolix/torrent/

@anacrolix can you verify the bug here?

[2021-05-30 11:01] gitpubber commented on #450
well, this was solved,right?

[2021-05-30 11:01] #450 closed

[2021-05-31 08:13] gitpubber commented on #229
it's not necessity for me.

[2021-06-01 11:33] JamieSlome opened #512 "Potential Security Issue"
Hello,

We recently received a vulnerability disclosure against your repository. I have read your security policy and am opening an issue to follow your desired process.

If you would like me to e-mail over the details or put them on the GitHub Issue, I'm more than happy to facilitate this for you. Otherwise, you can access the advisory [here](https://huntr.dev/bounties/1-other-anacrolix/torrent/)

[2021-06-07 01:32] anacrolix commented on #512
@JamieSlome I reviewed your advisory. You may disclose this vulnerability here.

[2021-06-07 01:37] anacrolix commented on #450
I'll take your word for it, cheers.

[2021-06-07 01:38] anacrolix commented on #509
Sorry, I saw and responded to this here first: https://github.com/anacrolix/torrent/issues/512#issuecomment-855516337.

[2021-06-07 01:38] #509 closed

[2021-06-07 02:24] anacrolix commented on #377
@gitpubber I think it's bae791a5a290d08d58acc4892af279d804ebc523.

[2021-06-07 04:37] gitpubber commented on #377
@anacrolix , thanks

[2021-06-07 04:47] #475 closed

[2021-06-07 04:49] #448 closed

[2021-06-07 09:28] anacrolix commented on #448
@gitpubber Could you please include a reason with status changes like closing? This is a public issue and people don't know what you're thinking.

[2021-06-07 09:28] anacrolix commented on #475
@gitpubber Did the proposed solution work for you?

[2021-06-07 09:47] JamieSlome commented on #512
Sure, I have just hard copied the contents of the disclosure from the platform:

# ✍️ Description

I have confirmed SSRF vulnerability in `anacrolix/torrent.

# 🕵️‍♂️ Proof of Concept
1. Open a port over localhost (`python3  -m http.server 5000`)
2. Run this command `torrent download 'magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&xs=http://localhost:5000'`

*Now you will s

[2021-06-12 01:26] alexanderoneone opened #519 ".Download DESC the first digital (torrent) currency"
It's an idea I want Torrent users to know about.

https://institutionalhaven.proboards.com/thread/188/download-first-digital-torrent-currency

[2021-06-12 01:29] #519 closed

[2021-06-17 08:03] xackery opened #522 "bencode: syntax error (offset: 0): unexpected 'e'"
This error started popping up on torrents for me that worked fine before. I'm.. not fully sure why.

This is part of:
 https://github.com/anacrolix/torrent/blob/615ac41ae3e0e88515cf2ff73d6f3ce6e9777420/bencode/decode.go#L50

This torrent works fine: https://webtorrent.io/torrents/big-buck-bunny.torrent

Any torrent from this erai-raws does not work and gives above error:
https://ddl.erai-raws.info

[2021-06-19 09:07] gitpubber commented on #479
@anacrolix can you provide method to change Seed value of config(while mutex locking it) ?

It must solve this issue.right?

[2021-06-21 13:08] 0xrishabh commented on #512
@anacrolix Do you have any suggestion on how to mitigate this, so maybe I can go around fixing this.

[2021-06-23 02:27] Lyoko-Jeremie opened #523 "seems like some dowmstream or direct this lib are leecher ?"
i'm using qBittorrent v4.2.5 (64-bit)

when i check the upload status, i find many client named `go.torrent` that downloading but not show they downloaded process .

![2021-06-23 10_13_39-Window](https://user-images.githubusercontent.com/6566869/123025394-27a94480-d40d-11eb-89cc-53cbd97680ec.png)
![2021-06-23 10_14_50-Window](https://user-images.githubusercontent.com/6566869/123025400-29730800-d40

[2021-06-23 03:21] anacrolix commented on #523
Could you describe the torrents you are using? What trackers are involved? Thanks!

[2021-06-23 03:31] anacrolix commented on #512
I would expect a "trust" flag or something when merging torrent specs would enable things like using torrent sources. Alternatively, based on some RFC, filter access to certain IP nets/hostnames. It's a very wide area for exploitation, so it's hard to say what the right answer is.

[2021-06-23 03:32] anacrolix commented on #479
Yes that would work. There might be a few condition values to tickle or something too.

[2021-06-23 03:40] anacrolix commented on #522
Hm, I'm not able to reproduce. What revision of anacrolix/torrent are you using?

[2021-06-23 07:12] Lyoko-Jeremie commented on #523
you can use follow magnet link, i not sure you can face it.

<details>
  <summary>click me</summary>
<pre>
magnet:?xt=urn:btih:a4bcf66b751b39ea05b25779b6d5c30e7b35771b&dn=%5b%e9%ad%94%e7%a9%97%e5%ad%97%e5%b9%95%e7%bb%84%5d2020%e5%b9%b402%e6%9c%88%e5%90%88%e9%9b%86(Standard%20Ver.)
magnet:?xt=urn:btih:b718885f46b9c2b66653f21a8ceda304d09d0e96&dn=%5b%e9%ad%94%e7%a9%97%e5%ad%97%e5%b9%95%e7%bb%84%5d202

[2021-06-23 07:41] Lontron commented on #471
@anacrolix ???

[2021-06-23 07:43] anacrolix commented on #523
I don't suppose these peers all have the same IP?

[2021-06-23 07:53] 0xrishabh commented on #512
I think what we could do is that if the developer using the library wants to announce the URL to be localhost, he has to pass a flag called -`-insecure` otherwise no request will be sent to private IP.

Do you think this will work?

[2021-06-23 09:22] ucwong opened #525 "import issue"
[code]
https://github.com/anacrolix/torrent/pull/524

[2021-06-23 09:32] ucwong commented on #525
https://github.com/anacrolix/missinggo/pull/20

[2021-06-23 11:45] anacrolix commented on #523
Just for clarification it will be a downstream user. I know of a few, and their use cases, so I'm trying to narrow it down to potentially one that I know of.

[2021-06-23 12:58] Lyoko-Jeremie commented on #523
Oh, I didn't pay attention to the IP before you ask me . they are same .

maybe is a downstream developer ?

[2021-06-23 13:30] Lyoko-Jeremie commented on #523
i check the ip `47.243.34.53` , it location in a Alibaba Data Center at HongKong . seems like a VPS .
so , it's more like a stable or beta version and running in daily use case . ( means, it's not a developer debuging they program .

[2021-06-23 14:01] Lyoko-Jeremie commented on #523
seems like the leecher action start from 10 Dec 2020 or early .
this is a [issue discuss](https://github.com/c0re100/qBittorrent-Enhanced-Edition/issues/190) leacher client that use default [config](https://github.com/anacrolix/torrent/blob/051093ca31f5797b1b6dc3ccac2ca2c32345fb1f/config.go#L161) `ExtendedHandshakeClientVersion` with this lib. and they discuss how to ban it in qtEE .

[2021-06-24 23:44] anacrolix commented on #523
Thank you very much for the links to those other issues. I have commented in one here: https://github.com/c0re100/qBittorrent-Enhanced-Edition/issues/190#issuecomment-868050771.

[2021-06-25 05:29] anacrolix commented on #471
I'm not sure I quite understand, however if the issue is around having a limited storage cache, there are improvements in master for this now. You can provide an indication to the Client of the available storage for each torrent, or even Client, and it will try to avoid thrashing and excessive readaheads. I suspect this could help. Please try master.

[2021-06-25 05:31] anacrolix commented on #512
I don't think it's sufficient. It could be possible to attack arbitrary network locations, even on the wider internet. I think that either use of the torrent sources should be be manual (i.e. caller code has to invoke it itself and assume responsibility), or a `Trusted` field in `TorrentSpec` could automatically enable features like this (and responsibility is again deferred to the package consume

[2021-06-25 05:44] SeaHOH commented on #523
I can't convince the owner of qtEE not to implement Whitelist, but the default config will not ban `-GT0002-`. Now, they have also implemented Blacklist, wish that users like it more than Whitelist.

[2021-06-25 07:13] 0xrishabh commented on #512
@anacrolix If the user itself has to pass `--insecure` flag isn't the user is taking responsibility?

`It could be possible to attack arbitrary network locations, even on the wider internet.`
I don't think this is a problem if the request is getting sent to the internet as long and it's not private IPs

[2021-06-25 08:50] VuzzyM commented on #471
@YouROK

[2021-06-25 09:15] YouROK commented on #471
I use self storage with self pieces impl. In piece using mem buffer(slice) when all size of buffers is more than set in sets first buffer clean but=nil and os mem clean.

When reader seek start and begin read, client read piece as complete, but buffer is nil and completions impl sets to false. My piece return eof and client not readahead. Client read only in reader piece position

[2021-06-25 09:27] VuzzyM commented on #471
@anacrolix

[2021-06-25 13:15] gitpubber commented on #473
@anacrolix ,

I think https://github.com/C2FO/vfs will be better.

[2021-06-26 00:30] anacrolix commented on #471
I think I follow this part. On a read error, the client should try to refresh the completion state for the entire readahead window as an optimisation. I think you're suggesting that it doesn't?

It looks like it should here https://github.com/anacrolix/torrent/blob/9c81516139819b4bb4db7617643bf2705404ae5c/reader.go#L236

[2021-06-26 00:33] anacrolix commented on #473
I have no interest in working on this for now. A storage implementation that wraps VFS interfaces would be the way to go I think.

[2021-06-26 00:38] anacrolix commented on #512
I still think it's a grey area, but if you're looking to get started, let's go with filtering access to local subnets unless --allow-insecure or something is passed. Include a field in the torrent package somewhere, probably TorrentSpec, and a flag setting it in cmd/torrent.

You'll need to resolve URLs, then check the IP, then pass appropriate host headers, or add hooks before the dial in a http

[2021-06-26 09:50] VuzzyM commented on #471
@YouROK

[2021-06-26 15:26] 0xrishabh commented on #512
@anacrolix I have started to work on this meanwhile can you look into this https://huntr.dev/bounties/2-anacrolix/torrent/

[2021-06-29 07:47] #525 closed

[2021-06-30 05:29] xackery commented on #522
I'm going to close. I found out that erai-raws added a 401 unauthorized if you requested the url above without a user-agent and so the payload itself was malformed, and so bencode was parsing the data and getting a malformed 'e', aka your repo is not at all at fault, was more user error.

Thanks for taking the time to check

[2021-06-30 05:29] #522 closed

[2021-06-30 12:30] gitpubber commented on #479
https://github.com/anacrolix/torrent/pull/527 @anacrolix

[2021-07-05 20:14] gitpubber opened #528 "What does NoDefaultPortForwarding do?"
https://github.com/anacrolix/torrent/blob/e1cac00bd5dacda2bbada211a6bd2f160f06ce3d/config.go#L31

So, I have noticed that setting this option to true will halve the total no of goroutines ( if total no of goroutines is X, setting this option will almost halve the total no of goroutines to X/2).

So, What does this config do?( I saw at portfwd.go but i need better explanation) . Is it safe to set t

[2021-07-09 09:52] anacrolix commented on #528
It's likely that setting it to true is preventing you from receiving incoming connections. That's probably not what you want, although I have noticed that long-running clients can often be spammed by connections requests.

[2021-07-14 04:35] gitpubber commented on #528
Ok. Thanks @anacrolix

[2021-07-14 04:35] #528 closed

[2021-07-17 00:43] Trim21 opened #530 "allow to start new file reader with a customized readahead"
I'm like to read certain part from a file (a single file in an archive with known size)

I find that torrent will try to make new connections right after new reader is added. So it would reduce the overhead to re-announce or make extra connect with peers.

[code]

[2021-07-17 01:29] anacrolix commented on #530
Additionally, what if readahead zero did not result in pre-emptive fetching in the client, so that you could set it to 0 and seek in to position, then set it back? Is that also helpful?

[2021-07-17 18:58] VuzzyM commented on #462
@anacrolix There are no connections with the seeders, please fix

![Screenshot_2021-07-16-11-59-28-942_com github axet torrentclient](https://user-images.githubusercontent.com/66425682/126047063-317cddbb-0e57-458a-898a-e8dfa67b3952.jpg)

[2021-07-17 18:59] VuzzyM opened #531 "[Request] Add Bep27 Private torrents"
Add bep 27
https://www.bittorrent.org/beps/bep_0027.html

[2021-07-17 19:00] VuzzyM commented on #462
https://github.com/anacrolix/torrent/issues/531

[2021-07-17 20:11] Trim21 commented on #530
I find the solution (maybe).

I set the pieces needed first, then create this new reader from the file.

Feel free to close this issue if you think this new method is not good.

[2021-07-18 09:16] tsynik opened #532 "panic on torrent v1.29.1"
Hi, I have this error with latest torrent release v1.29.1 in TorrServer build on armv7:

2021/07/18 09:11:27 Start web 8090
panic: unaligned 64-bit atomic operation

goroutine 419 [running]:
runtime/internal/atomic.panicUnaligned()
	/usr/local/Cellar/go/1.16.4/libexec/src/runtime/internal/atomic/unaligned.go:8 +0x24
runtime/internal/atomic.Xadd64(0x33404f4, 0x1, 0x0, 0x393a3444, 0x36323a38)
	/usr/

[2021-07-18 11:37] tsynik commented on #532
the same with go 1.16.5

[2021-07-18 13:08] tsynik commented on #532
This doesn't happen with dht v2.10.0, so probably will be fixed later with go.mod update. Thanks!

[2021-07-18 13:08] #532 closed

[2021-07-18 15:49] VuzzyM commented on #462
@anacrolix magnet from kinozal.tv, please fix

magnet:?xt=urn:btih:d5f9d3fc98c91e6f254cbe056284874279d3fc38&dn=[kinozal.tv]id1393879

[2021-07-18 19:52] VuzzyM commented on #531
@anacrolix ?

[2021-07-19 06:46] anacrolix commented on #531
The private field is exposed, but the full specification is not.

[2021-07-19 06:47] anacrolix commented on #462
Some work was already done I think for this tracker, see https://github.com/anacrolix/torrent/commit/c81da2d5ee200de6175fe508d3a2ac46d6146a8d. This is included in v1.19.0 and above.

[2021-07-19 08:25] YouROK commented on #471
Thx this help me in new version

[2021-07-19 08:25] #471 closed

[2021-07-19 09:47] VuzzyM opened #533 "[Request] Add Bep14"
https://gitlab.com/axet/libtorrent/-/blob/master/lpd.go Bep14 is implemented here, why isn't it implemented in anacrolix as well? It is based on anacrolix.

[2021-07-20 03:04] anacrolix commented on #533
See https://github.com/anacrolix/torrent/issues/248 where this is tracked. Cheers

[2021-07-20 03:04] #533 closed

[2021-07-20 03:05] anacrolix commented on #471
Thank you for following this up.

[2021-07-21 10:32] vic1234 commented on #462
Same error on the latest v2.10.0

![IMG_20210721_133219_264](https://user-images.githubusercontent.com/2455975/126475104-d7b732dd-b289-4d9e-b17d-7b157d2a8c21.jpg)

[2021-07-21 11:50] VuzzyM commented on #462
@elgatito +

[2021-07-25 02:43] anacrolix commented on #462
Sorry it's difficult for me to contribute to this without using a private tracker that requires custom query parameters myself. FWIW it will be something very simple, any links to specification or guidelines from your private tracker on how to configure a torrent client to interoperate with them will be helpful.

[2021-07-25 06:57] vic1234 commented on #462
The problem is that the tracker doesn't have any guidelines specific for clients
I didn't even find any blocked clients on this tracker
As I understand they support any clients

[2021-07-26 06:52] YouROK commented on #462
[[kinozal.tv]id1393879.zip](https://github.com/anacrolix/torrent/files/6876183/kinozal.tv.id1393879.zip)
Torrent for test, unzip pls.
Register test account. This unrated torrent, download unlimited, and have more peers

[2021-07-26 06:55] YenForYang opened #534 "Url-encoded `info_hash` uses `+` instead of `%20`"
I discovered a problem when attempting to download a torrent from a private tracker. I couldn't figure out why things weren't working: the torrent worked fine under Transmission, qBittorrent, etc., but hung indefinitely at 0 using Go. I turned on debug mode and got some interesting messages:

[code]

I assumed the root of the problem was caused by the failure in the announce request. So I pulled o

[2021-07-26 08:21] anacrolix commented on #534
Interesting, I saw the PR first. We should dig in to this and just check it's not a requirement for S3 to use query escaping.

[2021-07-31 00:56] anacrolix commented on #534
There's another PR now, https://github.com/anacrolix/torrent/pull/537.

[2021-07-31 00:57] anacrolix commented on #534
@YenForYang The original PR, #535 changed the webseed request URLs, was that an accident?

[2021-07-31 01:19] anacrolix commented on #462
I don't have time for this issue at the moment, sorry. Someone else feel free to pick it up.

[2021-08-01 05:45] anacrolix commented on #523
Is there anything further actionable on this issue? I did change some of the peer ID and client identification stuff in this repo.

[2021-08-13 09:54] Nuke142 opened #545 "large number of panics on v1.29.1"
Hey. I own a server on amd64 with a bunch of users, so i can provide logs with crashes if you interested.
[log.zip](https://github.com/anacrolix/torrent/files/6981514/log.zip)

[2021-08-13 22:20] tsynik commented on #545
another engine panic on v1.29.1 repored here: https://github.com/YouROK/TorrServer/issues/88

[2021-08-14 00:47] bsergean opened #546 "error getting piece completion: sqlite.Exec: Conn.Prepare: SQLITE_MISUSE"
[code]

This isn't easily reproducable, but I generated a panic with some buggy code of mine, and it seems to have triggered this sqlite error.

Feel free to close if this isn't actionable, but reporting regardless.

[2021-08-14 07:45] VuzzyM commented on #248
@anacrolix It's been 3 years, maybe it's time for an update?

[2021-08-14 09:44] anacrolix commented on #248
@VuzzyM everything to know is visible from this issue. 3rd party contributions appear to be stalled.

[2021-08-14 10:15] anacrolix commented on #546
I think more context is needed. Try deleting the .torrent.db piece completion file in any local directories.

[2021-08-14 10:16] anacrolix commented on #545
Would you know the last version of anacrolix/torrent that didn't cause this? Is it only occuring for TorrServer?

[2021-08-14 10:20] pataquets commented on #248
For the record, I filed [an issue](https://gitlab.com/axet/libtorrent/-/issues/10) a month ago in @axet's repo on GitLab if anyone wants to track it. Although no obligation, obviously, neither on him nor @anacrolix (as he already stated a few comments above).

[2021-08-14 10:34] tsynik commented on #545
TorrServer used old slightly modified torrent v1.2.6 before v100 release - https://github.com/YouROK/torrent/commits/master, so there is no such stats. In Nuke142 log panics mostly from those lines:

[2021-08-15 02:07] anacrolix commented on #545
Is it possible torrents are being Dropped while they are still in active use (downloading)? I think this might happen if attempts to write to storage occur after the Torrent has been dropped and connections are still reading.

[2021-08-15 08:11] tsynik commented on #545
yes, it's possible. web server ui have drop button on it's front page, and torrent will be re-added if client (player) still request it. you can look a this server on http://free.tsarea.ru:8090

[2021-08-16 01:13] anacrolix commented on #545
Ok I suspect a unit test that drops torrents abruptly during transfers might make this reliably reproducible. The fix should be to check that the torrent is not closed, or that the storage still exists when writing a received chunk.

[2021-08-18 20:29] tsynik commented on #545
All fatal errors were eleminated in last TorrServer release with anacrolix@torrent anacrolix/torrent@v1.30.2, so probably you can close this issue.

2021/08/18 20:17:38 [Recovery] 2021/08/18 - 20:17:38 panic recovered:
runtime error: invalid memory address or nil pointer dereference
/usr/local/go/src/runtime/panic.go:221 (0xafbf3df3)
/usr/local/go/src/runtime/signal_unix.go:735 (0xafc11e4b)
/Users

[2021-08-18 23:27] anacrolix commented on #545
FWIW, this obviously shouldn't panic, so please keep this issue open! What do you mean by fatal? Are you still seeing panics, but recovering them?

[2021-08-18 23:34] tsynik commented on #545
Yes, I still see such error for example when player accessed torrent and user changed server settings from web GUI (in that case server restart itself to apply new values. There is no server crash in that case - it's process stay alive.
Here is server's log from console - https://imgur.com/a/IeqggRP

[2021-08-19 03:47] anacrolix commented on #546
@bsergean try now with 8a65ef627d849e36ea8ecbf3631fbd767c43b485. Let me know if you get a panic.

[2021-08-19 03:51] anacrolix commented on #545
When you close the Torrent, are you closing any Readers on it, or any of its resources? These shouldn't panic, but probably would. There should also probably be a unit test for this. If this is the case, it should be quite easy to write tests for.

[2021-08-19 03:56] anacrolix commented on #530
I'm inspired to actually handle readahead automatically, but also defer any prioritization until read requests are made.

[2021-08-19 04:20] bsergean commented on #546
This is sad but I can't remember for sure what I was doing. I think I was calling Close twice on a client, inside a unittest, so your fix might help here.

[2021-08-19 05:20] YouROK commented on #545
Struct of drops:
gotorrent drop -> cache close -> close all my reader -> in my reader closed gotorrent reader if torrent not dropped (actually in old gotorrent)
Verify of dropped torrent is
[code]

[2021-08-19 13:04] anacrolix commented on #545
Just to clarify: You close torrent.Readers after their corresponding Torrents are Dropped. The Readers may be in use while the Torrents are Dropped. With earlier versions of anacrolix/torrent, this did not panic, but does with more recent versions?

[2021-08-19 13:09] YouROK commented on #545
Now I committed this line and not close readers of torrents

[2021-08-19 15:14] bsergean commented on #546
I'm gonna use the latest v1.30.3 tag and tell you if I hit this again, but so far with 1.30.2 I've never seen it, and now the code is running on a bunch of machines.

[2021-08-19 15:20] bsergean commented on #546
I took the signal handler code from the cmd/torrent/main.go, and I can cancel a download just fine with the latest version. Will close this.

[code]

[2021-08-19 15:20] #546 closed

[2021-08-20 03:04] anacrolix commented on #545
Sorry I don't understand 😢 .

[2021-08-20 03:40] tsynik commented on #545
@YouROK probably told about this code change in TorrServer. https://github.com/YouROK/TorrServer/commit/399912c87ca32c1b40d76ab3e5d771b38d2d0fe2

[2021-08-22 10:15] anacrolix commented on #545
@Nuke142 per the OP: Most of the panics look to do with use of storage after it's been closed (read and write chunk). I wonder if the access pattern has changed with the changes in TorrServer, per @tsynik and @YouROK's changes. There is also a concurrent map access that looks like it's probably a bug in the TorrServer torrcache. There was also this one:
[code]
This could be the torrcache accessing

[2021-08-28 00:07] YenForYang opened #553 "Consider removing `opMu` from `torrent.Reader`"
https://github.com/anacrolix/torrent/blob/9b6e191b0a92aa5c67a1e90fbed5001e6ed273b4/reader.go#L39-L40

The convention I've seen in the Go standard is to not add concurrent access safety by default -- unless it's specifically part of the design (e.g. `map` vs `sync.Map`). Users can wrap `torrent.Reader` in their own struct with their own `sync.Mutex` to ensure `Read()/ReadContext()/Seek()` can be ca

[2021-08-28 08:41] anacrolix commented on #553
Good idea. Let me check in to it. I suspect it might be so because if the user races some operations it might break the Client silently.

[2021-08-28 08:41] anacrolix commented on #553
Also are you seeing some performance overhead due to the opMu?

[2021-08-31 00:39] bsergean commented on #546
I've tried to add logging by overriding the client logger, but the storage code does not use it. There isn't much log calls in there so I don't know if it's worth it.

I'm trying to see if a particular file trigger this (we have big files that randomly fail to download, for reason likely unrelated to torrent lib (they get periodically deleted).

[code]

[2021-09-01 04:27] anacrolix commented on #160
@gen2brain or anyone else following this thread: Are there any good socks5 client packages that support SOCKS5, and possibly UDP ASSOCIATE?

[2021-09-01 04:29] anacrolix commented on #160
@elgatito I know you don't use this repo actively anymore, but do you know what would be required to support incoming connections over SOCKS? Would that be TCP BIND and UDP ASSOCIATE? The PR that you made allowed outgoing SOCKS connections? Do you know if it worked for UDP? Cheers

[2021-09-01 04:58] anacrolix commented on #160
I've opened https://github.com/anacrolix/go-libutp/issues/17, as I suspect go-libutp will require some extra configuration to support SOCKS.

[2021-09-01 05:02] anacrolix commented on #160
@deranjer https://pkg.go.dev/golang.org/x/net/proxy#ContextDialer now exists. My limited understanding of SOCKS suggestions this is only the outgoing part. We still need special support to receive incoming connections.

[2021-09-01 05:10] anacrolix commented on #306
See https://github.com/anacrolix/torrent/discussions/556.

[2021-09-01 05:10] anacrolix commented on #300
See https://github.com/anacrolix/torrent/discussions/556.

[2021-09-02 00:18] anacrolix commented on #483
See https://github.com/anacrolix/dht/pull/46.

[2021-09-02 03:20] ucwong opened #560 "issue after go get -u ./..."
[code]

[2021-09-02 06:21] anacrolix commented on #560
What revision or version of anacrolix/torrent are you on? What version of Go? Thanks.

[2021-09-02 06:30] anacrolix commented on #553
I agree that not making stuff concurrent-safe for the sake of it is a good practice. However I think opMu in torrent.reader is because Seeking while Reading does actually break some invariants in this case. It might be possible to restructure it so that reads persist at their current location (and you can thus also Read at different locations too, like you can with native FS), but that's a lot of

[2021-09-02 06:33] anacrolix commented on #546
I'm not sure, but there have been several fixes here recently. I have seen a race in the storage tests that occasionally comes up that hasn't been fixed yet, even on master. I haven't had time to dig in to it yet.

[2021-09-02 06:41] ucwong commented on #560
It is OK before this https://github.com/anacrolix/torrent/commit/30e8d1ae7439dedc65f1df3f0a6ac15c0872a88f

[2021-09-02 11:02] anacrolix commented on #560
I don't get this error. Maybe it's something to do with different build flags. Are you doing this from another project? What GOOS/GOARCH/CGO_ENABLED do you have? Maybe `go env` will help.

[2021-09-02 14:37] bsergean commented on #546
This error is now quite rare, I will try to deploy something with the latest version of anacrolyx/torrent and see if it makes it even ‘rarer’.

[2021-09-03 02:22] ucwong commented on #560
yes I am using this in go.mod

[code]

[2021-09-06 03:06] ucwong commented on #560
It seems to be some issues about golang1.17 https://github.com/golang/go/issues/47979

[2021-09-06 14:54] anacrolix commented on #560
Thanks for following up.

[2021-09-06 14:54] anacrolix commented on #560
Reopen if it's not fixed in Go1.17.1

[2021-09-06 14:54] #560 closed

[2021-09-09 12:26] anacrolix commented on #553
I've taken another look and I believe that removing opMu is probably correct. But I can't work out why it was added in the first place.

[2021-09-09 16:12] harriteja opened #585 "File Download Rest API implementation"

[2021-09-09 16:41] #585 closed

[2021-09-10 06:26] tsynik commented on #553
last versions of TorrServer work fine without opMu lock, there is also disabled break on if !r.responsive && !r.t.pieceComplete(pieceIndex(req.Index)) in available func (looks good for video streams on rewind/forward)

[2021-09-10 09:10] YenForYang commented on #553
Forgot I made this issue. As for whether there is overhead, I haven't measured or noticed any. But I have confirmed (the expected obvious results) that less calls to Read() with a bigger []byte slice is a heck of a lot more efficient than making more calls with smaller slices.

I'd expect that `opMu` plays a role is slower Reading/Seeking, but to be honest I've been using the library with `opMu` r

[2021-09-10 09:13] YenForYang opened #589 "Add functionality for announcing torrent completion"
I may be wrong about this, but it doesn't look like there is any way to send an `AnnounceEvent` (specifically `tracker.Completed`) to a tracker. Perhaps it could be added if some parts of `trackerScraper` were exposed? Not sure.

[2021-09-10 09:19] tsynik commented on #553
If we talk here about performance, TorrServer still uses old outdated torrent engine on release builds from 2019? because of it. All modern torrent releases which we tesed before were twice more slow in speed how it serves content from reader to client, some also produced higher CPU usage. I can't figure root cause of this performance drop. I's better on current @master, but still less than with t

[2021-09-10 09:22] YenForYang opened #590 "Question regarding trackerScraper.Run()"
https://github.com/anacrolix/torrent/blob/175b826e738c76d1a96e435bc5396e054ca5796a/tracker_scraper.go#L202-L208

I'm confused on why locking the client is necessary for assigning `lastAnnounce`. It doesn't look like `lastAnnounce` is read anywhere besides in `trackerScraper.statusLine()` and only written in `Run()`.

[2021-09-10 09:30] YenForYang commented on #534
Yep the first PR was indeed an accident.

[2021-09-10 10:22] anacrolix commented on #553
Thank you for this feedback, it's very helpful. I wonder why version 1.1.4 is the best for you. The reports about issues, what version of torrent was that with? If it was new than 1.28.0, could you try with 1.28.0? What are the issues, CPU?

[2021-09-10 10:24] anacrolix commented on #553
I did notice some huge performance improvements in my own usage with 175b826e738c76d1a96e435bc5396e054ca5796a. However some changes since may have erased that. You could try 175b826e738c76d1a96e435bc5396e054ca5796a and report how it is for you.

[2021-09-10 11:16] tsynik commented on #553
Our 1st attempts to use "new" engine were with TorrServe v1.1.x in march 2020, so it was around **v1.15.2-v1.16.0**. Old engine have DHT connections spam and we tried to eliminate it. All builds have huge performance degradation not in downloading torrents but on serve ready blocks from RAM to client (player). Video torrents even about 20GB was not played smooth so we revert to working tree. 2nd a

[2021-09-10 22:18] anacrolix commented on #553
Thank you. Damn I wish I know what the cause might be. It's very hard to set up tests for this because it depends heavily on use case, storage implementation, and real world peer interactions. Profile files of all kinds, with a specific revision of TorrServer attached would help, assuming I can figure out the revision of various anacrolix repos from TorrServer.

[2021-09-10 22:20] anacrolix commented on #553
Let's continue any performance discussion, in a GitHub discussion, or issue for specific profiles.

The original issue here has been addressed in master.

[2021-09-10 22:20] #553 closed

[2021-09-11 02:01] anacrolix commented on #590
statusLine occurs while holding the client lock. This could probably be done with an atomic, but it occurs so infrequently.

[2021-09-11 18:28] YenForYang commented on #590
Ok gotcha. I think delving into atomics could benefit this library as a whole. Do you mind a change to atomic.Value here? The disadvantage would be the need to document that it contains `trackerAnnounceResult`. But either way, we should document that it needs to be read with a client lock. I think when generics come around `atomic.Value` could be switched for something even better.

[2021-09-11 22:26] anacrolix commented on #590
It would be much better with generics here. I don't think it's performance critical enough to worry about. If we move toward using generics for this, a small PR using a longer name as you suggested could be fine in the interim. It will help prove the concept. I wonder if there are some performance cortical areas this could be done though.

[2021-09-12 04:12] #534 closed

[2021-09-12 05:17] YenForYang opened #596 "Unify size of `PieceIndex` with `pp.Integer`"
I've found some cases where `pp.Integer` is used to denote the index of pieces. This is not an issue at all, but it turns out `PieceIndex` is `int` (effectively `int64`) and `pp.Integer` is a `uint32`. I think it would be more maintainable and efficient in the long run to change `pieceIndex` to a 32 bit size (i.e. `uint32`, or `int32` if signed compatibility is important.) As far as I'm aware, the

[2021-09-13 12:55] anacrolix commented on #596
I think you might be right. I have opinions about prematurely using unsigned integers. Piece index should be made to match whatever is addressable from bencode. That probably is uint32.

[2021-09-14 22:35] YenForYang opened #618 "Centralize errors and constants"
Long term goal I guess; currently errors are hardcoded directly in each function they are present in. By centralizing we can help with string interning and ultimately reduce code size. Storing errors in global variables appears to be a common practice in the standard library. While we're at it, might as well move some values into global constants which would also help with documentation.

[2021-09-15 00:20] anacrolix commented on #618
Does Go not already deduplicate string literals?!

[2021-09-15 01:38] YenForYang commented on #618
Hah of course it does; but it sucks at it apparently, which isn't surprising. Might be a little out of date since it's based on Go 1.14, but I recently read this article on string interning in Go: https://commaok.xyz/post/intern-strings/. I think it's pretty trustworthy considering it's written by josharian. There even a package he wrote for interning: https://github.com/josharian/intern (note we

[2021-09-15 03:05] YenForYang opened #629 "Change `(*Torrent).files` from type `*[]*File` to `*[]File`"
I think this would be better long term, considering that each `File` instance is owned by a `Torrent`. Ultimately the more pointers we have the more the GC has to work. `*[]*File` is literally a pointer to a pointer to an array containing pointers to `File`s.

The only disadvantage here would be the need to slightly modify the API -- `Files()` would have to return `[]File` instead of `[]*File`.

[2021-09-15 03:29] YenForYang opened #630 "Change `(*Torrent).length` from `*int64` to `int64`"
I might have missed something here -- but I don't see why `.length` needs to be a pointer instead of just an `int64`. I mean, we aren't checking `nil` anywhere as far as I can tell. Changing this would actually improve overall safety since we dereference `length` without checking anyway.

[2021-09-15 04:44] kylege opened #634 "High cpu usage"
I'm testing on tag v1.31.0, use the cmd/torrent command, and the download process cpu usage is very high

<img width="1083" alt="b97cb49c-6643-453a-a63c-04e66bb27cf7" src="https://user-images.githubusercontent.com/1835023/133371452-0ae5b044-e189-4e2f-a51f-74087f2b174a.png">

And because the locks in t.BytesCompleted() method, it's very slow to get download progress, i wonder if there is other work

[2021-09-15 08:20] kylege commented on #634
Same download speed, qBittorrent cpu usage less than 10%

[2021-09-15 13:12] anacrolix commented on #634
Could you provide some CPU profiles? How often are you calling Torrent.BytesCompleted?

[2021-09-15 13:18] kylege commented on #634
Maybe i'm wrong about BytesCompleted, I call it 1 second a time, turn out  BytesCompleted cost less than 10ms , seems ok with that.

But the cpu thing you can try it out yourself, just use cmd/torrent command , such as

./torrent  download ubuntu-21.04-desktop-amd64.iso.torrent

I tested many cases, even if the speed is only hundreds kb/s or so, the cpu usage still up to 100%

[2021-09-15 14:00] anacrolix commented on #634
It looks like some more work needs to be done on the request manager. This particular torrent highlights the issue, thanks! I was going to suggest trying v1.28.0, which was before the rewrite, but it seems to be worse: The issues in scheduling there have since been fixed. If you want to confirm that that version also has issues, that would be great. If you do find a version of anacrolix/torrent th

[2021-09-15 14:16] anacrolix commented on #634
Try with the branch `issue-634` as a workaround. I also pushed some performance fixes to `master`, but this really needs an algorithmic improvement that will come later.

[2021-09-15 14:28] kylege commented on #634
branch `issue-634` seems better, looking forward to your improvement.

[2021-09-17 02:57] anacrolix commented on #618
Okay well I'm interested in this idea, but will need specific examples of errors you think should be called out. Otherwise there's nothing specifically actionable and it would be better to just close the issue. When you provide some examples, we can discuss the best approach.

[2021-09-17 03:05] anacrolix commented on #630
It's a pointer to make use of the uninitialized value a logical error. Not ideal, I'd rather an unwrap() equivalent.

[2021-09-17 14:58] bsergean opened #657 "Low download speed on fast network connections"
Hi there,

The download speed I am getting is pretty low compared to other torrent libraries / binaries (I used [aria2](https://aria2.github.io/) as a 'C' based program comparison, and [rain](https://github.com/cenkalti/rain). When you download a torrent with those (both have a simple download cli) I can get speed above 100M/s, but with this lib it is variable but sometimes get stuck at 10M/s or l

[2021-09-17 17:57] bsergean commented on #657
An attempt at benching this: with go 1.17 on an alpine linux box, trying to download the latest [debian linux iso](https://cdimage.debian.org/debian-cd/current/amd64/bt-cd/).

Only finding is that speed vary whether we use mmap method or not, which probably make sense as all storage types must have different behavior.

## With anacrolix/torrent

One run: ~ 40 seconds
Second run: 30 seconds (more r

[2021-09-18 02:46] anacrolix commented on #657
Thanks for the report. Please try with `master` and see if if you get much better speeds. This will let me know if it's the overhead of the piece requester. See https://github.com/anacrolix/torrent/issues/634.

[2021-09-18 18:06] bsergean commented on #657
Thanks I’ll try this.

I noticed one commit where a sleep was changed from 100ms to 1s. I have increased the default size of the pieces btw, when creating torrents (I used the 256K in the example program first, and now I use 4M, and was even thinking about using 16M or more because our torrents are in the 400M / 4G range.

[2021-09-18 22:19] bsergean commented on #657
At first sight the new code seems faster which is great.

However I ran into one crash:

[code]

From here:

[code]

[2021-09-19 06:24] anacrolix commented on #657
You could revert or comment out that temporarily. It was just added in master as a new runtime check.

[2021-09-21 10:31] varbhat opened #666 "Notify On Completion"
@anacrolix ,

It would be nice to have `chan metainfo.Hash` which notifies us Torrent Completion.

Moving Torrents upon Completion is requested feature : https://github.com/varbhat/exatorrent/issues/2 . It would be nicer not to poll regularly for completion.

[2021-09-22 00:15] anacrolix commented on #666
Could you take a look at https://github.com/anacrolix/torrent/issues/352? You might also look at https://pkg.go.dev/github.com/anacrolix/torrent#Torrent.SubscribePieceStateChanges, which could provide an event-driven way to detect completion. I suspect with suitable feedback on #352, I might have enough information to add something to the API. There is an internal data structure that tracks piece

[2021-09-23 14:11] anacrolix commented on #666
What was your solution @varbhat ?

[2021-09-24 06:59] varbhat commented on #666
@anacrolix , Didn't look much into it. But, these are my current thoughts.

1) Check Periodically whether Torrents are completed and take action based on it. exatorrent already has thu ability to stop torrent when it reaches certain seedratio ( https://github.com/varbhat/exatorrent/blob/a3c79279ab802289c5ee03ccc8af5679f39eeb20/internal/core/routine.go#L26 ) and i may add code for checking whether

[2021-09-25 20:30] FIGBERT commented on #332
I believe this is briefly mentioned in the [comment on #327](https://github.com/anacrolix/torrent/issues/327#issuecomment-524277454) but:

`github.com/anacrolix/go-libutp` logs to `stderr` even when `ClientConfig.Logger` is set to `log.Discard`. This has become an issue with a TUI client I'm working on, as I'd like to handle most errors myself.

`github.com/anacrolix/go-libutp` initializes a `Logg

[2021-09-27 02:40] anacrolix commented on #332
@FIGBERT do you have sample log messages you're seeing? It's possible they're coming out of underlying C++ implementation, but if you provide some samples I can check.

[2021-09-27 04:15] FIGBERT commented on #332
A sample:
[code]

[2021-09-27 04:17] FIGBERT commented on #332
A sample:
[code]

Regardless of the reasons for the error – potentially related to my VPN, I'm unsure – I'd like to find a way to configure the logger because in its current form it draws over my UI.

[2021-09-28 01:25] anacrolix opened #676 "ClientConfig Logger should be used for utp"
Per https://github.com/anacrolix/torrent/issues/332#issuecomment-927179066, the ClientConfig Logger should be passed through to go-libutp (and possibly anacrolix/utp when that's in use?). Currently it's necessary to modify the global Logger instance manually, and that belongs to the package, not to any utp instances owned by a torrent Client.

[2021-09-28 01:32] #332 closed

[2021-10-07 02:45] anacrolix commented on #666
This is fixed in c9c137d8f225ef0c4f29fd2c7a0d66ec22c66331. I can't get a link to pkg.go.dev for this for some reason.

[2021-10-07 02:45] #666 closed

[2021-10-07 02:50] #352 closed

[2021-10-07 02:58] anacrolix commented on #352
Added this to stats.

[2021-10-10 00:47] anacrolix commented on #666
I think it's okay to spin up goroutines for each Torrent you want to watch and coordinate pushing those in to a channel of completion if you want. I wouldn't want to implement it otherwise unless there were serious performance implications with the way it's done now.

[2021-10-10 00:48] anacrolix commented on #657
Please try with the latest `peer-requesting` branch. I'm seeing fantastic performance gains here.

[2021-10-10 01:03] anacrolix commented on #634
Please try with branch `peer-requesting`. I'm seeing significantly increased speeds. I did notice some higher CPU usage at start up that quickly drops away.

[2021-10-16 20:47] anacrolix commented on #657
I have received feedback on performance outside of GitHub that I haven't actioned yet.

[2021-10-18 00:54] anacrolix commented on #399
The request strategy and peer requesting has changed significantly since this was lodged, I suspect the original issue wouldn't be reproducible in the same way.

[2021-10-18 00:54] #399 closed

[2021-10-18 00:55] anacrolix commented on #392
Could subscribers to this issue try again with a recent version of anacrolix/torrent?

[2021-10-18 00:57] #362 closed

[2021-10-19 03:27] bsergean commented on #657
Seems quite faster now.

[code]

I then tried with the **master** branch and performance was much worse, that might be unrelated but the download did stall pretty badly at the end, for about one minute until I cancelled.

[code]

[2021-10-21 15:31] ELOUFIR opened #678 "Download speed : almost 0kb/s"
Hello,

3 days ago while I'm exploring this amazing torrent client, I saw a strange behavior between the last version and version 1.8.2.

When I use the last version **1.33.0** with **go 1.17**

I get the following download speed that I print in the console every 2 seconds:
[code]

And in the same machine and the same torrent but this time with version **1.8.2** and **go 1.13** :
[code]

**This is

[2021-10-22 00:51] anacrolix commented on #678
Take a look at https://github.com/anacrolix/torrent/issues/657. In particular, try the `peer-requesting` branch.

[2021-10-23 22:18] ELOUFIR opened #679 "Panic -1 requesting.go (peer-requesting branch)"
Hi,
I got this error sometimes (I'm using **peer-requesting** branch)

[code]

From here :

[code]

[2021-10-24 09:03] ELOUFIR opened #680 "Panic: peer choking and piece not allowed fast (peer-requesting branch)"
@anacrolix
After using `peer-requesting` branch, sometimes the app is crashing :

[code]

From :

[code]

_Originally posted by @ELOUFIR in https://github.com/anacrolix/torrent/issues/678#issuecomment-949731081_

[2021-10-25 02:01] #680 closed, assigned to nobody

[2021-10-25 05:37] #679 closed, assigned to anacrolix

[2021-10-27 05:49] boypt opened #681 "CancelPieces method requires a reason but not used"
It it an unintended bug? the method needs a string "reason" param but unused in the function.

https://github.com/anacrolix/torrent/blob/8b368b3832ca87f19c703ab48ba355e625190b2b/t.go#L193-L197

[2021-10-27 17:57] varbhat opened #682 "pkg.go.dev not working with anacrolix/torrent"
Starting from v1.33 , pkg.go.dev doesn't work properly with anacrolix/torrent .

See :

https://pkg.go.dev/github.com/anacrolix/torrent@v1.34.0#Torrent.DownloadAll

vs

https://pkg.go.dev/github.com/anacrolix/torrent@v1.32.0#Torrent.DownloadAll

[2021-10-29 00:55] #681 closed, assigned to nobody

[2021-11-01 01:41] anacrolix commented on #682
This is fixed in v1.35.0. Thank you @varbhat .

[2021-11-01 01:41] #682 closed

[2021-11-01 04:45] varbhat commented on #682
@anacrolix ,

What was the issue?

[2021-11-01 07:07] anacrolix commented on #682
https://github.com/golang/go/issues/49197

[2021-11-03 23:28] anacrolix opened #685 "Implement BEP 55 Holepunch extension"
https://www.bittorrent.org/beps/bep_0055.html

[2021-11-04 00:25] #406 closed

[2021-11-04 00:27] anacrolix commented on #530
Well this was implemented. The new default readahead algorithm grows the window linearly. I don't believe there's any readahead until the first read, so you can create a Reader and adjust before use.

[2021-11-04 00:28] anacrolix commented on #545
Could you try with v1.35.0? There have been lots of fixes throughout the storage code.

[2021-11-04 00:33] anacrolix commented on #429
I've started https://github.com/anacrolix/args, and it's used by more recent versions of anacrolix/torrent.

[2021-11-04 00:33] anacrolix commented on #300
The linked-to discussion addresses this issue.

[2021-11-04 00:33] #300 closed

[2021-11-08 21:55] vintikzzz commented on #530
@anacrolix really interesting feature, but it's not impossible right now to setup own `readaheadFunc`

[2021-11-09 02:47] ucwong opened #686 "DHT store nil pointer"
https://github.com/anacrolix/dht/issues/51

[2021-11-09 22:48] #686 closed

[2021-11-09 22:48] anacrolix commented on #686
Fixed in v1.36.0.

[2021-11-10 00:28] anacrolix commented on #530
Ah, it's not, but you can still configure the readahead in the old fashion. Let's open another issue if custom readahead functions are wanted. Let me know if I've gotten that wrong.

[2021-11-10 00:28] #530 closed

[2021-11-10 06:38] vintikzzz opened #687 "Allow to set custom readahead function for Reader"
It will be great to be possible to setup custom readahead function for Reader. Current linear implementation is great, but I want to have the ability to customize it (add multiplication in some cases and set upper limit).

[2021-11-10 06:41] vintikzzz commented on #530
@anacrolix I made a ticket for it #687
is it ok?

[2021-11-10 23:24] anacrolix commented on #687
@vintikzzz could you try https://github.com/anacrolix/torrent/tree/readahead-func? Let me know if it works for you.

[2021-11-11 06:00] anacrolix opened #688 "torrentfs doesn't work with macfuse 4 or macos 12"
`./cmd/torrentfs` and the `./fs` package use `bazil.org/fuse`, which discontinues support for osxfuse and macfuse. So far we've pinned against an old version that supports osxfuse 3. However with MacOS 12, MacFUSE 4 is required.

Based on the discussion at https://github.com/restic/restic/issues/3096, switching to https://github.com/billziss-gh/cgofuse looks like the best solution for MacOS. `torr

[2021-11-11 06:13] anacrolix commented on #545
Closing this as I don't think there's anything more that can be done.

[2021-11-11 06:13] #545 closed

[2021-11-11 06:17] Nuke142 commented on #545
Thank you. I see no crashes in 1.35.0

[2021-11-12 04:03] anacrolix commented on #545
Thank you for following up!

[2021-11-13 10:02] vintikzzz commented on #687
@anacrolix not so much, currently I don't have access to `Reader.pos` and `Reader.contiguousReadStartPos` fields to implement required behaviour. Is it possible to add public getters for them?

[2021-11-14 02:54] anacrolix commented on #687
It is possible to compute those by wrapping the Reader to track them yourself. But it seems reasonable to provide some context to the readahead func. Check the updated branch.

[2021-11-14 03:19] anacrolix commented on #181
See https://github.com/anacrolix/torrent/issues/688.

[2021-11-14 03:21] anacrolix commented on #392
@ucwong do you think this is fixed?

[2021-11-14 09:55] vintikzzz commented on #687
@anacrolix context is a great option, it really works for me! Thanks! Could you merge it to master branch?

[2021-11-14 13:54] #687 closed

[2021-11-15 11:23] aofei opened #689 "Consider removing the `exclude` directives in `go.mod`?"
I suggest that this project should remove all `exclude` directives from the [go.mod](https://github.com/anacrolix/torrent/blob/c442a22ac2bb1d191cd5f77b496161ddc6fb6548/go.mod) file, because they prevent people from using the `go install` command.

[code]

[2021-11-16 02:32] anacrolix commented on #689
What version of go are you using?

[2021-11-16 02:43] aofei commented on #689
This restriction actually existed when 'go install path@version' was first introduced (Go 1.16).

And I'm using Go 1.17.3.

[2021-11-16 06:17] anacrolix commented on #689
There are versions of bazil.org/fuse that break the fs package after a certain version. Go doesn't provide a way to limit the version in use, or to fork bazil.org/fuse without manually rewriting all the import paths in that repo. I want to fix this, and prioritize having go install work externally over the excludes, but it's a shitty situation.

[2021-11-16 07:31] anacrolix commented on #689
Thank you for reporting this! It's fixed in v1.38.0.

[2021-11-16 07:31] #689 closed

[2021-11-18 05:55] anacrolix commented on #392
I think I'm observing this issue when I have seeding enabled. Go reports ~85MB of memory in use, but the process is using ~1.25GB.

[2021-12-06 04:56] anacrolix opened #691 "Memory use by PEX grows significantly"
In a very long-running client instance where Torrents are not closed, memory use due to PEX grows quite large. `pexState.ev`.

`inuse_space`:

![image](https://user-images.githubusercontent.com/988750/144789397-bf3a2208-9dcc-4d32-a6d7-be76a01eb3b0.png)

`inuse_objects`:

![image](https://user-images.githubusercontent.com/988750/144789470-ca6d9aa2-a4b4-4cca-8310-23fafe5eab8b.png)

Any chance you ca

[2021-12-06 07:52] yarikk commented on #691
Yes, I think I have a few ideas to play with.

[2021-12-06 16:34] yarikk commented on #691
I can think of two approaches, each with its pros and cons:
1) periodically shift-and-truncate `t.pex.ev` based on minimal values for `t.conn[*].pex.seq`, tracking the virtual offset after truncations.
2) replace t.ev slice with a linked list and track "seen" using pointers, relying on GC to reclaim the memory.

(1) looks relatively simple and efficient but implies certain added coordination (lock

[2021-12-07 01:37] anacrolix commented on #691
Over several days with Torrents that have seen a lot of connection churn, the memory use grows to be probably the largest idle consumer of memory space and object count. The other biggest consumers are connection read buffers (which is reasonable for active connections), and piece state tracking (very large torrents, separate problem).

The main reason I haven't seen this earlier is I haven't test

[2021-12-07 01:38] anacrolix commented on #691
Happy for you to explore some ideas, I can run them in my production scenario for comparison if you like. I think it's worth fixing this issue, but it's not urgent to get something out.

[2021-12-07 19:18] yarikk commented on #691
I ended up abandoning (1) in favour of (2). #693 implements that.

[2021-12-10 04:38] anacrolix commented on #691
Here's a before, with `focus=pex`

![image](https://user-images.githubusercontent.com/988750/145518069-b8c6b70d-7cdf-4f2b-a158-2c2501adb984.png)

[2021-12-11 02:52] anacrolix commented on #691
Looks promising
![image](https://user-images.githubusercontent.com/988750/145661341-06ca3451-8ed1-4e5e-851d-2b1e52376c66.png)

[2021-12-11 13:27] #691 closed

[2021-12-11 20:46] yarikk commented on #688
CGO… I can't help but ask to keep everything CGO optional.

[2021-12-12 03:58] anacrolix commented on #688
This was fixed in 8a7ddab78557cf4243400980a1c4f65f43e989cc. No cgo is required.

[2021-12-12 03:58] #688 closed

[2021-12-19 19:19] tsynik opened #698 "Prioritization issue in torrent"
@anacrolix, we used torrent in our web server to stream high bitrate videos from memory. There was possibility to prioritize further blocks with setPriority and they were downloaded in such order: (A|N)-Actual/Next, (R)-Readahead, (H)-High Priority and (N)-Normal. With latest builds for example H and R blocks loaded faster then N and even A - and there is video streaming issue because A block must

[2021-12-21 04:54] anacrolix commented on #698
Thanks for the issue, I'm looking in to this.

[2021-12-21 09:31] AskAlexSharov opened #699 "sigbus after switch to 1.39.1 (from 1.38.0)"
Hi, using anacrolix/torrent as a library.

Got next output:
[code]

[2021-12-21 09:39] #699 closed

[2021-12-22 04:19] anacrolix commented on #699
Could you share the resolution? Was it user-error in this case?

[2021-12-22 04:27] anacrolix commented on #698
The newest request algorithm spreads requests out so that no chunk is requested more than once, and the highest priority blocks are allocated first. However it will not reassign blocks unless it has no choice. If you prioritize a lot of pieces/all of a torrent, it's very difficult to reach that condition where chunk are reassigned. One work around that I'm considering is to only assign progressive

[2021-12-22 04:53] AskAlexSharov commented on #699
Error on my side. My app did re-generate files in background - but they expected to be immutable.

[2021-12-22 06:10] tsynik commented on #698
But it's not clear for me, why even on load 1st 8/16MB of torren data (1s screen) there is also such behaviour as last readahead block loaded faster than 1st one. We don't set any priorities on preload, only readahead window in TorrServer.

[2021-12-22 23:32] anacrolix commented on #699
Thanks for following up!

[2021-12-22 23:36] anacrolix commented on #698
It could happen like that if a bad/slow peer starves out the faster peers. Even if a slower peer is assigned pieces that are initially at the end of the readahead window, if the reader progresses up to that point and the slow peer is still working, it will now be the one allocated the highest priority blocks and won't relinquish those (unless other peers have no alternative but to steal its chunks

[2021-12-22 23:37] anacrolix commented on #698
I'll post a link to a branch that I'm experimenting with a fix for this soon.

[2021-12-23 03:02] anacrolix commented on #698
Could you try https://github.com/anacrolix/torrent/tree/go1.18?

[2021-12-23 04:58] tsynik commented on #698
Thanks, i'll try, is go 1.18 required to build? I have this error with 1.17.5 - package constraints is not in GOROOT

[2021-12-23 05:31] anacrolix commented on #698
Yes it requires go 1.18

[2021-12-23 05:51] tsynik commented on #698
Build is OK with go 1.18 and I removed priorities management in TorrServer (so now only readahead matters), according to TorrServer web go 1.18 branch have better connections disribution, but i still have video freeze on slow connection and not fully loaded block near cursor, look at those torrent data cache screens (both done when video stuck):
![LOAD1](https://user-images.githubusercontent.com/1

[2021-12-23 06:52] tsynik commented on #698
The idea of readehead cache was to eliminate torrent load slowdown on not stable connections for smooth video streaming. User can set any amount of available memory or disk storage and fill this ahead while streaming if current speed and peers amount allow. Without setPriorities it loads only few readahead blocks after play cursor. With it full configurable cache amount loaded if possible while pl

[2021-12-23 09:53] tsynik commented on #698
Looks like with last commit blocks loaded fine according to priorities set. Thanks!

[2021-12-23 21:13] anacrolix commented on #698
Thank you! A lot of effort has gone into performance recently.

[2021-12-23 21:17] anacrolix commented on #698
There are 2 specific changes that could address this issue, one is 112e9b27551b007d18c8628892907fa0ff3e9812, which should reduce the impact that stalling peers can have. The other is 9cf5f66d62739b8ef00dc6526f6fed7baf058f14, which will allow fast connections to steal more requests, especially at higher priorities. I have both on the go1.18 branch. I guess I can keep using both, I'm mindful of wast

[2021-12-23 21:59] anacrolix commented on #698
I've pushed these changes in to master, without the dependence on go1.18.

[2021-12-24 01:49] tsynik commented on #698
It works fine with master on go 1.17 now too, few issues:

can you change those messages from reader.go:251-254 to DEBUG level, they spam log alot
https://github.com/anacrolix/torrent/runs/4622254598?check_suite_focus=true

in TorrServer, when user rewind to blocks which was loaded before and have been cleared from cache, peers served it will be banned. Can you add config option to disable IP ban

[2021-12-24 04:01] AskAlexSharov opened #701 "webrtc using own non-configurable logger"
Hi.
I see log lines like:
[code]
And probably I can't do anything with this error: can't fix (this error doesn't contains IP/Host to remove it from trackers list - if it's related to trackers), can't suspend because it using non-configurable logger.

[2021-12-24 06:25] AskAlexSharov commented on #701
And looks like using WS trackers (I using https://github.com/ngosang/trackerslist/blob/master/trackers_all_ws.txt )  - causing memory leak (without WS trackers process eating 200Mb, with WS slowly grows to 8Gb):
![heap](https://user-images.githubusercontent.com/46885206/147324561-e2715078-0ffa-44cf-8824-eae67e1817a9.png)

[2021-12-25 00:29] anacrolix opened #702 "Logging in TorrServer"
It works fine with master on go 1.17 now too, few issues:

can you change those messages from reader.go:251-254 to DEBUG level, they spam log alot
https://github.com/anacrolix/torrent/runs/4622254598?check_suite_focus=true
https://github.com/anacrolix/torrent/blob/fc857d455766421ce1af7fc39360cbea65e7e9ef/reader.go#L251-L255

in TorrServer, when user rewind to blocks which was loaded before and hav

[2021-12-25 00:30] anacrolix commented on #698
I will tentatively close this. I'm monitoring to see if the changes affect performance or download duplication.

[2021-12-25 00:30] #698 closed

[2021-12-25 00:33] anacrolix commented on #701
Thanks. Could you provide a list of module versions you're using? Particularly related to github.com/anacrolix/... and anything with WebRTC (probably pions?).

[2021-12-25 00:51] anacrolix commented on #702
@tsynik

I also get the first message, I have a storage implementation that makes use of storage.TorrentImpl.Capacity. Do you know if your implementation is also doing this? It would make obvious sense to detect that a storage implementation would expect to drop pieces and lower or ignore the log in this case.

The second message I don't see. I suspect if your storage communications completeness c

[2021-12-25 01:03] tsynik commented on #702
Here is TorServer peace.Release
https://github.com/YouROK/TorrServer/blob/e7c397116d79b12367efd043ea1ba90fb9516a73/server/torr/storage/torrstor/piece.go#L71-L81
memPeace.Release
https://github.com/YouROK/TorrServer/blob/e7c397116d79b12367efd043ea1ba90fb9516a73/server/torr/storage/torrstor/mempiece.go#L62-L70
and this is our Cache implementation:
https://github.com/YouROK/TorrServer/blob/master/ser

[2021-12-25 03:35] AskAlexSharov commented on #701
Sure:
[code]
Full output of `go mod graph`:
[dep_graph.txt](https://github.com/anacrolix/torrent/files/7775429/dep_graph.txt)

[2021-12-25 03:40] AskAlexSharov commented on #701
I see next deps loop in 'go mod graph':
[code]

[2021-12-27 09:59] anacrolix commented on #702
Could there be a race between a reader trying to read something that your cache has decided to evict? Your piece ReadAt implementation looks right from a quick look. Is it possible pieces are evicted before they are downloaded entirely? That could lead to the state where the piece check fails because the piece was cleared, but the Client still retains the list of "dirtiers". It's possible the work

[2021-12-27 10:00] anacrolix commented on #702
The last item, in the image. Could the Torrent be already closed when Piece.UpdateCompletion is called?

[2021-12-27 10:01] anacrolix commented on #701
Do you know where the log message is originating from?

[2021-12-27 10:07] tsynik commented on #702
there is check for c.isClosed in removePiece but maybe i's not always help ;-)
https://github.com/YouROK/TorrServer/blob/e7c397116d79b12367efd043ea1ba90fb9516a73/server/torr/storage/torrstor/cache.go#L117-L121

[2021-12-27 13:36] AskAlexSharov commented on #701
/Users/alex.sharov/go/pkg/mod/github.com/anacrolix/torrent@v1.39.1/tracker/udp/conn-client.go:45

[2021-12-28 00:05] #701 closed

[2021-12-28 00:06] anacrolix opened #703 "And looks like using WS trackers (I using https://github.com/ngosang/trackerslist/blob/master/trackers_all_ws.txt ) - causing memory leak (without WS trackers process eating 200Mb, with WS slowly grows to 8Gb):"
And looks like using WS trackers (I using https://github.com/ngosang/trackerslist/blob/master/trackers_all_ws.txt )  - causing memory leak (without WS trackers process eating 200Mb, with WS slowly grows to 8Gb):
![heap](https://user-images.githubusercontent.com/46885206/147324561-e2715078-0ffa-44cf-8824-eae67e1817a9.png)

_Originally posted by @AskAlexSharov in https://github.com/anacrolix/torrent

[2021-12-28 00:07] anacrolix commented on #701
@AskAlexSharov GitHub has used the commit I made for https://github.com/anacrolix/torrent/issues/701#issue-1088130173 to close this issue. I've opened a new issue for the memory leak.

[2021-12-28 00:07] anacrolix commented on #701
Please let me know if the logging changes work for you.

[2021-12-28 00:51] anacrolix opened #704 "Add option to disable IP banning"
But option to just disable IP ban in client config is suitable too ;-)

_Originally posted by @tsynik in https://github.com/anacrolix/torrent/issues/702#issuecomment-1001486608_

[2021-12-28 14:03] tsynik commented on #702
@anacrolix yes, that's possible as TorrSerer operates with 64MB cache window, and when user forward / rewind  in video player, even blocks which not completed yet outside new cache window marked with PrioriyNone and cleared from cache.

[2021-12-29 02:56] allhailjarjar opened #705 "Require advice on how to run this library over I2P"
I would like to run this library over the [i2p network](https://geti2p.net/), but have run into a few roadblocks that I'm hoping you can advise on how to get around. This issue would also concern Tor, but unlike I2p, Tor doesn't support UDP, so that is why I'm choosing it for this project.

There are [libraries](https://github.com/eyedeekay/sam3) which make i2p integrations much easier by providin

[2021-12-29 03:59] anacrolix commented on #705
I'm not familiar with I2P, but it looks like there are recommendations to use I2P specific trackers and extensions. I found https://geti2p.net/en/docs/applications/bittorrent and https://www.reddit.com/r/i2p/comments/ccyhkh/i2p_for_torrenting_without_isp_finding_out/ for example on this. It should be possible to embed I2P addresses within the existing DHT and BitTorrent infrastructure if they can

[2021-12-29 04:03] anacrolix opened #706 "Implement smart ban"
https://blog.libtorrent.org/2011/11/smart-ban/

Per https://github.com/anacrolix/torrent/issues/702#issuecomment-1001481412.

[2021-12-29 04:11] anacrolix commented on #702
The IP banning config and smart ban are spun out into new issues. The noisy logging left in this issue has a fix in f7494791d03dceb8968188bb0e8d152e0e23018c. Let me know if this works for you, it might require that you implement storage.TorrentImpl.Capacity so the client can make smarter decisions about the use of your cache, including logging levels per the commit.

[2021-12-29 21:50] allhailjarjar commented on #705
Yeah, this is the part I'm not sure about because the library uses net.IP type in many places and net.UDPAddr in some places. I wonder if we could abstract that away with a new NetAddr type and use that everywhere instead. Would this go in the DHT repo since that repo would use it too? This change seems straight forward, but would touch a few places in both the DHT and Torrent repos.

I looked aro

[2022-01-03 02:31] anacrolix commented on #705
This could be done, it might be a bit tricky and possibly not worth doing unless it's known in advance that the addresses can be made to fit.

Sounds good to me. I'm happy to accept PRs that can be demonstrated to add interoperabilities to reasonably sized user bases.

[2022-01-03 09:41] AskAlexSharov opened #707 "Download Rate Limits accounted twice"
version 1.40.0

[code]
And see 4Mb/s on network monitor.

So, RateLimiter works, but looks like accounting done twice.
(I didn't test upload limiter yet)

[2022-01-04 23:33] anacrolix commented on #707
I don't see this behaviour. I am operating a VPN, which seems to see about double the traffic that is received on the interface the client is operating, but that seems to check out correctly and download the amoun it claims.

I'm running with `godo -race ~/go/src/github.com/anacrolix/torrent/cmd/torrent download ~/go/src/github.com/anacrolix/torrent/testdata/sintel.torrent --download-rate 250K` to

[2022-01-05 03:39] AskAlexSharov commented on #707
Can it be related to 2Mb "burst"?
I will try to test it again with different values today

[2022-01-05 08:45] anacrolix commented on #707
Yes, I believe the default burst is now about 64K, try with something like that.

[2022-01-10 09:25] #707 closed

[2022-01-10 09:40] AskAlexSharov commented on #707
Let's close it for now. I will have time to re-check - bit later.

[2022-01-11 20:20] tsynik opened #711 "Build failure for zombiezen.com/go/sqlite on windows-i386 and mips targets"
I have build issues of torrent with go 1.17.5 for windows-i386 and mips targets. Here is the log:

[code]

[2022-01-11 20:56] tsynik commented on #711
I can build those targets with -tags=nosqlite flag (as it doesn't needed for TorrServer) but maybe it's still the issue for others

[2022-01-12 01:00] tsynik commented on #702
Yup, this commit reduce log, but I still have lines about  error reading torrent %s piece %d offset %d, %d bytes: %v" and piece %d completion unchanged, maybe because we use reader with pieceComplete check commented at lines 105-107: https://github.com/anacrolix/torrent/blob/31243ad4fd1b12e26261e81706f65ecc09751e56/reader.go#L105-L107

Here is the debug logging patch for it
[0001-log-update.patch.

[2022-01-12 10:34] anacrolix commented on #711
Thanks for reporting this! Are you actively using those platforms or just building as part of some Matrix? Upstream might be interested to know that you're using sqlite with those platforms.

[2022-01-12 12:46] tsynik commented on #711
Nope, I use arm and darwin, just building for others. There were users asked for i386 builds for old PC and users of Keenetic mips routers who wanted install TorrServer on it.

[2022-01-12 12:49] tsynik opened #712 "UDP Panic on Windows"
I have reports of panic with UDP on Windows. Disabling uTP for torrent doesn't help. Here is panic (sorry for image)
![UDP-Err](https://user-images.githubusercontent.com/1551446/149143311-08adbb19-8f61-4a83-a74f-32d551da86e3.png)
:

[2022-01-12 13:45] tsynik commented on #712
Hm, found his commit https://github.com/anacrolix/torrent/commit/aaec4dbd80100702f8a230b0a21309726caeaadb#diff-c50a2bc1fe6acbf03d37a550b2daa8d04c384e42cf9072a8d392fd9cffb35558 so this issue is known. Do I need to close this?

[2022-01-12 22:38] anacrolix commented on #712
No, keep this open. This looks similar to https://github.com/anacrolix/torrent/issues/83. Perhaps it's worth investigating if the underlying libraries have advanced sufficiently to ignore or handle this error more appropriately now?

[2022-01-12 22:44] anacrolix commented on #711
@tsynik see https://gitlab.com/cznic/sqlite/-/issues/86 and https://pkg.go.dev/modernc.org/sqlite?utm_source=godoc#hdr-Supported_platforms_and_architectures.

Perhaps adding the CGO implementation as a tag or default when CGO is enabled would work better. Unfortunately that probably requires writing some kind of shim between the crawshaw and zombiezen wrapper of modernc.org/sqlite that I use.

[2022-01-12 22:51] tsynik commented on #711
@anacrolix TorrServer doesn't use torrent sqlite parts so we still can build all arch including mips and i386, so it's not an issue. For torrent, just need to mention that sqlite builds suppored only for x64 platforms excluding mips ;-)

[2022-01-14 01:09] anacrolix commented on #702
@tsynik do you want to contribute those as a PR?

[2022-01-14 04:58] tsynik commented on #702
@anacrolix I made this as a patch because I already have torrent fork in my repo used for builds with old codebase and dunno how to make another one ;-) there is only few lines changed.

[2022-01-17 20:40] avengermsoft opened #713 "IPv6 doesn't work well with peers"
Hi!

I add distribution with hash "c368b46f53ffe9ee71d8609119b10c956bd6eef1". Anacrolix selects ipv6 peers poorly, very rarely there is an exchange over ipv6 with a peer. On other torrent-clients (utorrent,tixary or other), the exchange is actively going on ipv6.

<details>
<summary>anacrolix / torrent peer information</summary>
Listen port: 993
Peer ID: "-qB4390-KL67YBZBQJSU"
Extension bits: 0000

[2022-01-18 03:57] anacrolix commented on #713
Could you include the version of anacrolix/torrent and anacrolix/dht/v2 you are using?

Have you set [`ClientConfig.PublicIp6`](https://github.com/anacrolix/torrent/blob/c6ee03f449fa82d0fd6ba06d6bdb7c5062b38d28/config.go#L130)?

My first instinct was that the separate DHT servers weren't configured to request IPv6 nodes, but that doesn't appear to be the default behaviour. If `PublicIp6` is not se

[2022-01-24 09:55] canoziia opened #714 "different rate limit in webtorrent and bittorrent"
Can I apply different rate limit for webtorrent and bittorrent?

[2022-01-25 05:31] anacrolix commented on #714
![image](https://user-images.githubusercontent.com/988750/150916978-efda048a-bde9-4c38-a35d-0682fa59df1a.png)

[2022-01-25 09:56] AskAlexSharov opened #715 ""banning ip <nil>" error messages"
See ~20 messages/min like this:
[code]
It's from:  client.go
cl.logger.Printf("banning ip %v", ip)

FYI: seeder and download app are on same machine (for test purpose). Downloading happening normally.

[2022-01-26 09:41] anacrolix commented on #715
@AskAlexSharov thanks! Are you using WebRTC/webtorrent heavily? What version/commit are you using? Can you try with 24e6f3dd7b02c81006e9b478cc8ba0fcd7c7e04a or more recent if you aren't already, and let me know what revision you chose and how it went?

[2022-01-26 13:50] AskAlexSharov commented on #715
«WebRTC/webtorrent heavily» - i creating cli command (service) which need download/seed by any way (no conditions). I using default config (but on my experiments disabling webseed reducing speed of peers discovery). Also using https://github.com/ngosang/trackerslist (including WS trackers).

I will try your commit - tomorrow.

[2022-01-26 15:33] AskAlexSharov commented on #715
24e6f3d - has next logs (on warning log level):
[code]

[2022-01-28 01:20] anacrolix commented on #715
Sorry it wasn't clear if the `@smartban` branch per our emails was giving you the desired behaviour.

[2022-01-28 13:08] #714 closed

[2022-01-28 13:34] canoziia opened #716 "error running handshook webrtc conn"
I use the following code to download a torrent and seed it, and then try to download it using instant.io or btorrent.xyz.
[code]
It worked well in a few seconds, then I saw the logs:
[code]
After that I can't download the torrent via webtorrent.

[2022-01-28 21:29] FIGBERT commented on #676
I'm looking to write a PR to implement the ClientConfig passthrough, but not sure exactly where to start.

Would changing `utp.Logger` before the initial call to `utp` be sufficient? How can I access `ClientConfig.Logger` from `utp_libutp.go`?

[2022-01-29 00:53] anacrolix commented on #676
I think it shoudl be passed through in construction of the utp.Socket. Probably an option in NewSocket, or a method to set it immediately. It will need to be extracted from the owning Socket for any logging that occurs in utp. I.e. the global utp Logger should be given to a new socket that doesn't override the default, and should not be referenced anywhere else.

[2022-01-30 07:13] anacrolix commented on #714
It's not implemented, but could be done fairly trivially I think.

[2022-01-30 07:36] vijayanandnandam opened #717 "Gather Peer statistics per torrent"
Is there any way to gather peer stats like seeds, leechers using the tracker scraper API using udp / http / https ?
I am unable to find any examples..
Something similar to this https://github.com/medariox/scrapeer

[2022-01-30 23:09] anacrolix commented on #717
Yes, scraping has only been implemented for UDP at present (https://pkg.go.dev/github.com/anacrolix/torrent@v1.40.0/tracker/udp#Client.Scrape), and isn't included in the transport-agnostic interface in `./tracker`. The docs are sparse, but there should be some examples of its usage in `./cmd/...`. PRs, including for docs are welcome.

[2022-01-30 23:13] anacrolix commented on #717
There may not be any publicly available examples of its usage.

[2022-01-31 04:18] AskAlexSharov opened #719 "much logs "spurious timer requests update""
See this logs:
[code]
Likely it must have low log level ?

[2022-01-31 04:42] anacrolix commented on #719
What version/revision of anacrolix/torrent are you running? Thanks

[2022-01-31 04:43] anacrolix commented on #715
Okay thanks.

[2022-01-31 09:55] AskAlexSharov commented on #719
1.40.0

[2022-02-01 08:05] FIGBERT commented on #676
Once anacrolix/go-libutp releases a new version (see: anacrolix/go-libutp#19), I'll start work on a PR here.

[2022-02-02 07:21] anacrolix commented on #676
I pushed v1.2.0 for this purpose. Thanks @FIGBERT .

[2022-02-02 07:23] anacrolix commented on #719
It was an oversight, the very next commit fixes this. Do you want to try @master in the meanwhile, or does that not work for you?

[2022-02-02 12:03] AskAlexSharov opened #720 "logs without level about "retransmission failure""
version 1.40.0
[code]

[2022-02-02 12:08] AskAlexSharov commented on #719
compilation errors in master:
[code]
but it's ok. probably not harmful and easy to fix - if fixed, just close the issue.

[2022-02-03 00:38] anacrolix commented on #719
That error message, where is it coming from? It shouldn't be from anacrolix/torrent.

[2022-02-03 00:53] anacrolix commented on #719
v1.40.1 should fix this issue. Let me know if there's a problem!

[2022-02-03 00:53] #719 closed

[2022-02-03 02:15] anacrolix commented on #720
Good find. What do you think about me implementing the webrtc logging interface to tap into anacrolix/torrent.Client's logger? Looks like they've exposed it quite nicely. I wonder if this error in general is something that needs to be reported upstream.

[2022-02-03 03:50] anacrolix commented on #720
https://gophers.slack.com/archives/CAK2124AG/p1643854599797609

[2022-02-03 07:01] AskAlexSharov commented on #720
Good for me, thank you.

[2022-02-04 03:48] AskAlexSharov opened #721 ""unknown transaction id" logs"
Sometime I see logs like:
[code]

version 1.40.0

[2022-02-05 15:14] AskAlexSharov opened #723 "Banning false positive"
I have 2 servers on Hetzner.
First serving files, another downloading. 80 files, total size 200gb.
It works very well until some point (sometime after 15 min, sometime after 1 hour).
Then client does ban server - only 1 ip in ban list.

[2022-02-06 01:50] anacrolix commented on #721
Thanks, I'm looking into several logging improvements at the moment.

[2022-02-06 07:48] anacrolix commented on #723
Can you try with `anacrolix/torrent@smartban`?

[2022-02-06 07:48] anacrolix commented on #715
I believe this is fixed in 1.40.1.

[2022-02-06 07:48] #715 closed

[2022-02-06 07:49] anacrolix commented on #715
https://github.com/anacrolix/torrent/issues/723 is related.

[2022-02-11 06:25] anacrolix commented on #723
Yeah the smartban branch would have made that a certainty if you got failures :). Either a data issue, or bug in anacrolix/torrent. However the other logging observations you made are still very relevant. Thanks for following up!

[2022-02-15 05:18] #676 closed

[2022-02-17 22:33] anacrolix commented on #392
A large memory leak was fixed in https://github.com/anacrolix/go-libutp/commit/04303408f4a76e51911c1f5018b58e6d5004c4dd. This is included in anacrolix/torrent [v1.39.1](https://github.com/anacrolix/torrent/releases/tag/v1.39.1) and later.

Further fixes may occur from https://github.com/anacrolix/go-libutp/issues/20, but I expect that the above fix handled most issues. It also includes a lot of pe

[2022-02-17 22:33] #392 closed

[2022-02-20 08:49] anacrolix opened #726 "Implement BEP 54 lt_donthave"
Very relevant to this implementation!

[2022-02-24 23:17] anacrolix opened #727 "IP resolution for proxied trackers"
I believe that IPs are resolved for trackers for matching against blocklists, even if they're proxied. There is a hook to handle the DNS resolution, in which case it might be possible to ask the proxy what IP it uses, but in the case that you can't or the hook isn't used, what's the correct behaviour? We might be using the blocklist to avoid communication with bad trackers, not just to avoid netwo

[2022-03-07 01:52] anacrolix opened #728 "Remote peer metadata requests are not fulfilled after info is obtained locally"
Possibly metadata requesting needs more reject handling too.

[2022-03-11 05:27] anacrolix commented on #715
I had this issue with a webseed that changed the data away from what was expected by the torrent. https://github.com/anacrolix/torrent/commit/ec2b1b2073df1eaa39e14aa81a775665dea5b47d fixes it on master.

[2022-03-15 06:55] anacrolix commented on #721
I think this was fixed in a324fbfee3f3a9f134a75e15e13bbeb0c3dcefd8.

[2022-03-15 06:55] #721 closed

[2022-03-15 06:58] anacrolix commented on #239
I'll close this: there's not much interest, and it's doable with some simple wrappers per above.

[2022-03-15 06:58] #239 closed

[2022-03-15 07:00] #426 closed

[2022-03-15 07:03] anacrolix commented on #451
This was contributed by @Sean-Der in https://github.com/anacrolix/torrent/pull/470.

[2022-03-15 07:03] #451 closed

[2022-03-15 07:05] anacrolix commented on #472
I'm not sure there's much else to be done here. The piece completion database must be managed correctly or the data files can do this. Please let me know if I have this wrong.

[2022-03-15 07:05] #472 closed

[2022-03-15 07:06] anacrolix commented on #473
On a revisit, I don't know what value implementing this in anacrolix/torrent would provide. If I've missed something though, let me know.

[2022-03-15 07:06] #473 closed

[2022-03-21 08:00] AskAlexSharov opened #729 "Couple panics on readlimiter"
Here is couple panics on version v1.41.0:

[code]

[code]

[2022-03-21 08:14] AskAlexSharov opened #730 "Error after client restart"
After client restart see next logs:
[code]
and on server next logs:
[code]

[2022-03-21 08:41] AskAlexSharov commented on #729
And panic on write limiter:
[code]
But I set burst size: 2*16384

[2022-03-22 03:13] glblduh opened #731 "Download speed info in (*File) itself"
Can this feature be added to remove the need to calculate the speed in the application itself. This will be beneficial for many torrents because it removes the need to calculate for the download speed in each file in each torrents.

[2022-03-27 05:39] hktalent opened #732 "implicit function instantiation requires go1.18 or later (-lang was set to go1.17; check go.mod)"
see
https://github.com/anacrolix/dht/issues/62

[2022-03-28 02:06] anacrolix commented on #732
What revision of anacrolix/torrent are you using? I think you can run `$ go list -m github.com/anacrolix/...` from your project.

[2022-03-28 02:59] hktalent commented on #732
$ go list -m github.com/anacrolix/...
yes ,I use anacrolix/torrent
[code]

[2022-03-28 04:42] anacrolix commented on #732
I'm not able to reproduce. Can you share the file you mentioned in the linked issue?

[2022-03-28 04:52] #732 closed

[2022-03-30 15:50] u1f35c opened #733 "peer-requesting causing slower downloads"
Hi.

We've just updated from v1.19.2 to v1.14.0, conscious of the fact we were lagging behind upstream. However since doing so we've seen a significant drop in throughput; previously seeing 100Mb/s+ and now (with exactly the same seeder setup) seeing initially ~ 10Mb/s, gradually rising over the course of the download but never breaking 70Mb/s (and still at less than 20Mb/s even 50% of the way thr

[2022-03-31 02:33] anacrolix commented on #733
Thanks for the report! The peer requesting algorithm is very tricky to get right. There are some more performance improvements on master that are pending extra checks from other users before I make a new release. Could you try master which maintains a btree for piece ordering instead of regenerating each update (should be the heap.Init and peerRequest.Less you refer to) and significantly reduces m

[2022-03-31 17:46] u1f35c commented on #733
Unfortunately switching to go1.18 is not trivial for the surrounding code; it's in progress, but not likely to happen soon. I tried pulling the `request-strategy/` changes in locally but didn't see any improvement in speed. While there are a lot of allocations going on they don't seem to be the hot path, and while the btree changes away from the google implementation it doesn't seem to change the

[2022-04-01 07:41] anacrolix commented on #733
Do you want to try removing the peakRequests part from https://github.com/anacrolix/torrent/blob/32501740f2f9e69af4e4ece37aeb4499cd8dc8a9/peerconn.go#L500? Another thing is to set https://github.com/anacrolix/torrent/blob/c6ee03f449fa82d0fd6ba06d6bdb7c5062b38d28/config.go#L63 to something non-zero, something like 32MiB.

[2022-04-01 13:23] u1f35c commented on #733
Tweaking the `maxRequests` line doesn't make a noticeable difference, but setting MaxUnverifiedBytes in the client to 64M causes a decent improvement - though still roughly half the overall average speed that was seen with the old version and 20% of CPU time spent in functions under `maybeUpdateActualRequestState`.