[2018-01-12 07:53] NeoCro44 commented on #227
Still same
I switched back to quasar
Geting alot bigget download speed

[2018-01-12 07:57] elgatito commented on #227
The main issue, found, while investigating this issue (the bolt backend being slow), is fixed, so other optimizations are not related to this issue.

[2018-01-12 07:57] #227 closed

[2018-01-12 07:59] anacrolix commented on #227
Cheers

[2018-01-12 09:12] NeoCro44 commented on #227
Wll i just tried elementum but still same
I even asked in one fb group (croatian group)
People still having slow download speed

[2018-01-17 06:18] #209 closed

[2018-01-17 06:19] #218 closed

[2018-01-17 06:19] #210 closed

[2018-01-17 06:20] #199 closed

[2018-01-17 06:20] #206 closed

[2018-01-17 06:21] anacrolix commented on #184
What's the status of this issue? Are you still having the performance issues?

[2018-01-17 08:08] ambientsound commented on #184
Hi @anacrolix, due to the fact that the file system was tuned for large sequential workloads, and that the torrent protocol inherently is based on random reads and writes, we decided to try another approach. Thanks for your support in this issue.

[2018-01-17 08:08] #184 closed

[2018-01-17 08:33] anacrolix commented on #184
No problem, cheers.

[2018-01-21 11:49] #220 closed

[2018-01-22 02:58] anacrolix commented on #160
Could we create a Dialer that implicitly performs the DialContext underneath, and use that as the forward argument to golang.org/x/net/proxy.FromURL?

[2018-01-22 02:59] anacrolix commented on #160
Here's an example of that kind of thing: https://github.com/anacrolix/missinggo/blob/master/reader_context.go

[2018-01-22 07:33] elgatito opened #229 "Allow re-configuring of ListenAddr"
Currently we set ListenAddr once and use it all the time.
That works until IP has changed.
And, knowing, people use private networks or DHCP connections - this leads to expected problems.

Adding `Client.SetListenAddr()` would be great and much helpful. (was somehow implemented by @axet in his library)

[2018-01-22 07:40] elgatito opened #230 "Add Upnp/NAT support"
To have a better speed (mostly for seeding speeds) on end-user devices, which are usually behind the routers and firewalls, it would be great to have in-house usage of Upnp/NAT.

Example of implementation:
https://github.com/jackpal/Taipei-Torrent

https://gitlab.com/axet/libtorrent/blob/master/port.go , with use of
https://github.com/syncthing/syncthing (which is usually advised to use to this st

[2018-01-22 22:12] burekas7 opened #231 "[Request] Show and using Seeds/Peers info"
In continues to the discussion here regarding the Elementum addon in this issue: https://github.com/elgatito/plugin.video.elementum/issues/55

My request is to make a separation between Seeds and Peers.
Currently it presents only the Seeds info.

And of course, first it should be supported for Uploading, otherwise there is no meaning for the Peers.

This is very important for the principle of the

[2018-01-23 00:26] anacrolix commented on #231
I'm not sure I follow. Can you refer to a part of the [torrent API](https://godoc.org/github.com/anacrolix/torrent) where you want to see seeds?

[2018-01-23 00:30] anacrolix commented on #229
I can imagine how changing the port requires support, but I'm not sure how IP can change in a way that the Client needs to know about. You might switch interfaces that you're listening on, but in general wouldn't you be listening on [::] or the equivalent of INADDR_ANY? Do you have some examples?

[2018-01-23 00:31] anacrolix commented on #230
I will try the syncthing packages.

[2018-01-23 05:22] elgatito commented on #231
@anacrolix this is about torrent stats and having separate seeds and peers.

[2018-01-23 05:26] elgatito commented on #229
The only way we can use proxying is VPN (currently), so people set up it and type in the interface, and i'm resolving the IP and passing it as `ListenAddr: IP:0`. It there any better way to listen on specific interface?

[2018-01-25 05:45] elgatito commented on #230
I'm fine with any way, since it's just a few dozens of lines and uses external package :)

[2018-01-28 01:23] deranjer opened #233 "Allow changing rate limiter while client is running"
Allow the user to change the config.UploadRateLimiter and config.DownloadRateLimiter without having to restart the client.

[2018-01-29 07:22] #231 closed

[2018-01-31 18:52] burekas7 opened #234 "Slow download speed (Using Elementum)"
Hi,

I'm using Elementum 0.0.39, have tried the two options of: File Storage and Memory Storage.
On both I got very low speed.

* File Storage (Max download limit = 8000kbs, Connections limit = 150, Init buffer = 30MB)
Speed = ~500kbs - 1200kbs
Kodi log: https://paste.ubuntu.com/26496607/
Torrent log: https://paste.ubuntu.com/26496608/

* Memory Storage (Max download limit = 9000kbs, Connections l

[2018-01-31 23:06] hoshsadiq commented on #234
It's worth referring to the other post #55
By the way, I can't help but feel my system is having slow speed issues as well. I have a gigabit/s speed connection, however, some torrents seem to be slow despite having plenty of seeders.

[2018-02-01 04:38] anacrolix commented on #234
Thanks for the report, I'm taking a look.

[2018-02-01 14:05] elgatito commented on #234
Good to mention that Elementum is build with xgo/1.9.2, so is always using CGO.
When memory storage runs good and file storage is slow, it's obvious that there is an issue with Android/Files management.

More interesting when there are issues for memory storage as well.
But it's too hard to find the cause. Maybe cmd/torrent/ can be compiled for android and provided the users to see if it shows sam

[2018-02-01 15:13] burekas7 commented on #234
I'm using windows.

@elgatito
Do you have any reference torrent that you sure about it and get good download rates with it?
So I will do the tests with it for the next times?

[2018-02-03 04:49] anacrolix opened #235 "Finish implementing BEP 6 Fast Extension"
http://www.bittorrent.org/beps/bep_0006.html

[2018-02-04 19:09] burekas7 commented on #234
There is no improvements, I have tested it now with Elementum 0.0.41, and the status is pretty the same: On both, File Storage and Memory Storage, I got very low speed and unstable.

* File Storage (Max download limit = 8000kbs, Connections limit = 150, Init buffer = 30MB)
Speed = ~500kbs - 1200kbs
Kodi log: https://paste.ubuntu.com/26520368/
Torrent log: https://paste.ubuntu.com/26520359/

* Memo

[2018-02-04 19:26] elgatito commented on #234
Is there any firewall?
Please, try without limits.

[2018-02-04 20:35] burekas7 commented on #234
The windows defender firewall is active, but it also active when I'm using the Quasar engine and I don't any issues. I will try to remove the download limit and I will update.

[2018-02-04 21:32] burekas7 commented on #234
@elgatito
There is no a big difference.

**Without download limit:**

• File Storage (Max download limit = null, Connections limit = 150, Init buffer = 30MB)
 Speed = ~500kbs - 1500kbs
 Kodi log: https://paste.ubuntu.com/26521075/
 Torrent log: https://paste.ubuntu.com/26521068/

• Memory Storage (Max download limit = null, Connections limit = 150, Init buffer = 100MB, Memory size for use = 250Mb)

[2018-02-05 04:34] anacrolix commented on #234
I don't see anything clearly wrong in the torrent log. What's your CPU usage look like?

[2018-02-05 04:38] anacrolix commented on #234
This one is interesting: go-libutp: 2018/02/04 23:27:26 socket.go:134: ignoring socket read error: read udp [::]:62090: wsarecvfrom: A message sent on a datagram socket was larger than the internal message buffer or some other network limit, or the buffer used to receive a datagram into was smaller than the datagram itself.

What kind of internet connection do you have? Are you on fiber or cable o

[2018-02-05 05:48] anacrolix commented on #168
Has this worked for you guys?

[2018-02-05 08:16] anacrolix commented on #229
Not that I can find.

[2018-02-05 08:17] burekas7 commented on #234
What do you mean? To check the CPU usage of Elementum.exe while it's downloading?

It's cables with modem.
Max. Download speed should be ~100MBs, but I'm using Wifi so it's ~40-50Mbs max.
(Again, I don't know how it's implemented in Quasar engine, but there I get download rates of 4000kbs-5000kbs with good and popular torrents. Maybe also one of the reasons is that they are also using the peers an

[2018-02-05 08:28] anacrolix commented on #234
Yes, please check CPU and speeds, when @elgatito makes his next release that incorporates https://github.com/anacrolix/torrent/commit/05da46ddbb02845b1af95cf6529de55cd3c0ce5b and https://github.com/anacrolix/go-libutp/commit/a3dde14e2fdc5c71ccb4c7bbaed7bb58f936a6d0.

[2018-02-05 08:41] burekas7 commented on #234
OK, I will update you when it will be ready.

By the way, does it still matter if the windows firewall is active, and also if there are down/up limits?

[2018-02-05 08:43] elgatito commented on #234
It's always better to measure without any firewalls/limits, to identify the problem.

[2018-02-05 12:36] elgatito commented on #234
@burekas7  you can try the 0.0.42 with latest changes.

[2018-02-05 15:07] greyireland opened #236 "install error"
[code]

[2018-02-05 19:04] burekas7 commented on #234
Results tests for 0.0.42
Much better but it's still not so stable and seems that it doesn't work so well when the windows firewall is on.

**All windows firewalls are disable (Area, private, public) + No speed limits**

• File Storage (Max download/upload limit = null, Connections limit = 150, Init buffer = 30MB)
 Speed = ~1000kbs - 3500kbs
 Kodi log: https://paste.ubuntu.com/26525303
 Torrent log

[2018-02-05 19:19] burekas7 commented on #234
Open questions:
* If there is upload activation so where are the peers amount next to the seeds? (Like Quasar)
 - Seeders I mean by users that have 100% torrent file
 - Peers I mean by users that have part of the torrent file
* Why the "S" (seeders) number are so low related to the number that shown in the available streams results dialog (As I asked here: https://github.com/anacrolix/torrent/issu

[2018-02-05 20:44] elgatito commented on #234
Ammount that you get from tracker website is what they write, nobody checks that.

Ammount that you see in torrent stats is the real number we get and verified. It can be both bigger and smaller.

[2018-02-05 20:46] elgatito commented on #234
What about the CPU usage by `Elementum.exe`?

[2018-02-05 21:20] elgatito commented on #234
The quicker one.

[2018-02-05 21:44] burekas7 commented on #234
OK, have been checked on this case:
**All windows firewalls are disable (Area, private, public) + No speed limits**
**Memory Storage**
(Max download/upload limit = null, Connections limit = 150, Init buffer = 150MB, Memory size for use = 250Mb)
 Speed = ~1500kbs - 3500kbs

CPU:
20-25% on idle.
14-20% when downloading

Is it possible that on downloading it less then on idle?

[2018-02-05 21:46] burekas7 commented on #234
OK, have been checked on this case:
**All windows firewalls are disable (Area, private, public) + No speed limits**
**Memory Storage**
(Max download/upload limit = null, Connections limit = 150, Init buffer = 150MB, Memory size for use = 250Mb)
 Speed = ~1500kbs - 3500kbs

**kodi.exe CPU usage:**
20-25% on idle.
14-20% when downloading
* Is it possible that on downloading it less then on idle?

[2018-02-05 21:58] burekas7 commented on #234
OK, have been checked on this case:
**All windows firewalls are disable (Area, private, public) + No speed limits**
**Memory Storage**
(Max download/upload limit = null, Connections limit = 150, Init buffer = 150MB, Memory size for use = 250Mb)
 Speed = ~1500kbs - 3500kbs

**Total CPU usage:**
10-20% on idle.
10-20% when downloading

**kodi.exe CPU usage:**
20-25% on idle.
14-20% when downloading

[2018-02-06 01:06] anacrolix commented on #236
What go version?

[2018-02-06 01:09] anacrolix commented on #235
All that remains is to send an allowed fast set to the peer. The rest is implemented.

[2018-02-06 02:49] greyireland commented on #236
go env
GOARCH="amd64"
GOBIN="/Users/xiaodong/go/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/xiaodong/go"
GORACE=""
GOROOT="/usr/local/opt/go/libexec"
GOTOOLDIR="/usr/local/opt/go/libexec/pkg/tool/darwin_amd64"
GCCGO="gccgo"
CC="clang"
GOGCCFLAGS="-fPIC -m64 -pthread -fno-caret-diagnostics -Qunused-arguments -fmessage-length=0 -fdebug-prefix-map=/var/folders/l7/p

[2018-02-06 03:14] anacrolix commented on #236
I believe those packages require go1.9's support for type aliases. Can you try with go1.9 or greater?

[2018-02-06 05:28] elgatito commented on #234
@burekas7 can you try to disable UTP in plugin settings and run a quick test?

[2018-02-06 11:07] burekas7 commented on #234
OK I will check. With the same case right?

[2018-02-06 11:29] elgatito commented on #234
Yes, try with the fastest case to see if it makes a difference in any way.

[2018-02-06 11:38] christian-roggia commented on #168
I think that a **Completed** method that returns a channel would be ideally the best solution, as pointed out by the author of this PR, but the workaround you provided works as well.

[2018-02-06 13:16] elgatito commented on #234
@burekas7 , also can you open `http://IP:65220/debug/vars` and paste it's content?

[2018-02-06 17:03] burekas7 commented on #234
OK, have been checked on this case:
All windows firewalls are disable (Area, private, public) + No speed limits
Memory Storage
 (Max download/upload limit = null, Connections limit = 150, Init buffer = 150MB, Memory size for use = 250Mb)
UTP - Disabled
 Speed = ~3500kbs - 4000kbs (Pretty stable)
Elementum 0.0.42
Kodi 17.6
Windows 10, 64bit

Kodi log: https://paste.ubuntu.com/26530830
Torrent log:

[2018-02-06 17:12] burekas7 commented on #234
So if I'm understand it right, those total numbers of seeds/peers in Quasar download status bar and also in the available streams results dialog (Also here in Elementum) are actually fake and isn't checked?

[2018-02-06 17:21] elgatito commented on #234
@anacrolix Panic from a dht server:

[code]

[2018-02-06 17:22] elgatito commented on #234
No. Every torrent client/engine calculates peers number, depending on existing information from different source. You won't see same numbers.

[2018-02-07 16:33] burekas7 commented on #234
I have checked again my preferred case:

**• File Storage (Max download = 8000kbs, Max upload limit = 500kbs, Connections limit = 150, Init buffer = 30MB)
* With windows defender firewall and with download/upload limits**

And I got this result, it seems that there is improvement:
 Speed = ~800kbs - 4000kbs

But some comments:
* The speed is still not so stable.
* It took very long time until the

[2018-02-08 03:05] anacrolix commented on #234
I notice you have no connections with RC4 header encryption, and very few with encryption enabled at all.

    torrent.EncryptionPolicy{DisableEncryption:true, ForceEncryption:false, PreferNoEncryption:false}

That's not a good idea.

[2018-02-08 03:24] anacrolix commented on #234
"mseCryptoProvides": {"2": 26, "3": 13},

Two-thirds of peers connected to with message stream encryption are being rejected with encryption disabled. This is probably why disabling uTP gave a speedup, as the rate of encryption on that protocol is much higher.

I also strongly recommend using an IPBlocklist, see https://github.com/anacrolix/confluence/blob/master/main.go#L68.

[2018-02-08 05:36] elgatito commented on #234
[code]
Where `config.EncryptionPolicy` can be [Enabled, Disabled, Forced]. It's controlled by user in Kodi settings. Default is "enabled".

https://github.com/elgatito/elementum/blob/master/bittorrent/service.go#L178 - blocklist is used.

[2018-02-08 05:37] elgatito commented on #234
@burekas7 , try to enable encription in Bittorrent tab of plugin settings.

[2018-02-08 08:38] burekas7 commented on #234
And keep the UTP disabled?

[2018-02-08 08:39] elgatito commented on #234
@burekas7 you can try both to see the difference.

[2018-02-08 18:10] burekas7 commented on #234
@elgatito
I have checked the settings and the encryption was enabled. Are you sure it wasn't by the log?
I will do the test again.

[2018-02-08 19:42] burekas7 commented on #234
The same, the speed is not the best and also not stable.

• **All windows firewalls are disable** (Area, private, public) + No speed limits
• **Memory Storage**
 (Max download/upload limit = null, Connections limit = 150, Init buffer = 150MB, Memory size for use = 250Mb)
• **UTP** - Disabled
• **DHT** - Enabled
• **Encryption policy** - Enabled
• **Download Speed** = ~1000kbs - 2500kbs
• **Logs:**

[2018-02-08 20:29] elgatito commented on #234
Because with memory storage you don't download all the file at once, you set to download only 1/3 of memory storage, that is why you don't get maximum rate for memory, but you can see the peak rate, which usually is about the full bandwidth.

[2018-02-08 20:31] elgatito commented on #234
Strange, log says encryption is disabled.

[code]

[2018-02-09 00:10] burekas7 commented on #234
So there is nothing else that can be done?
Did you see any change in the last logs?

[2018-02-09 05:30] elgatito commented on #234
Set Encryption to "Disabled" (not Force), it will become enabled. I will fix it in the next version.
But you can test with that option.

[2018-02-09 09:11] burekas7 commented on #234
Much better.
Even when the window firewalls are enabled.
UTP enabled has better results.
Encryption policy disabled (In the addon) gives better results.

• **All windows firewalls are Enabled** (Area, private, public) + No speed limits
• **Memory Storage**
 (Max download/upload limit = null, Connections limit = 150, Init buffer = 250MB, Memory size for use = 250Mb)
• **UTP** - Disabled
• **TCP** -

[2018-02-09 09:15] burekas7 commented on #234
OK, but sometimes because of that, the Timeout error of the init buffer to get loaded fully could happen especially when it's a big torrent file. If I understand what you said.

Is there any way to make the buffer download to start more quickly? (When using File Storage)

[2018-02-13 12:01] themihai opened #237 "The file storage implementation is vulnerable to filename collisions"
The default storage implementation uses the paths provided by the torrent at the root of the `DataDir` path. So if you download two torrents with the same directory/filenames structure (but different content) you end-up with a mess/.

I believe it should use the torrent hash as prefix  (e.g. DataDir + torrent hash + torrent/file path ) to prevent such issues as each torrent would have its own `nam

[2018-02-13 12:19] themihai opened #238 "Torrent data/piece-completion clean-up"
The storage implementations(i.e. file) should support clean-up/remove ops as well. Currently even if you `Drop` the torrent you still have to deal with the torrent data removal. So a method such ``RemoveTorrent(infoHash metainfo.Hash)error`` could fix this issue.
This feature is required if you want to develop applications friendly with the peers and at the same time keep the data stored/seeded un

[2018-02-13 12:22] elgatito commented on #237
Makes sense, it will also help with situations when one torrent was downloaded, then you open another one with the same file name and get many piece validation fails.

[2018-02-13 12:28] elgatito commented on #238
@themihai, why not save `metainfo` on your side and do what you need, when you need, with it?
Adding `RemoveTorrent()` will add more complexity and will raise a new request to add `RemoveTorrentFile` sooner or later to remove specific files, not all of them.

[2018-02-13 16:25] themihai commented on #238
@elgatito I believe that should be done on the file storage implementation because the client stores not only files but also the metadata so if I would just remove the files using out of band implementation the torrent meta data would still remain (i.e. stored in boltdb).  So basically the client ends-up with inconsistent data.

[2018-02-14 08:25] anacrolix commented on #237
It's true that collisions can occur, but how often does it happen in practice? The downside with prefixing with the infohash is that users will be confused or annoyed about where their files are going. Can you share a few examples of collisions you've encountered?

[2018-02-14 08:30] anacrolix commented on #238
We could move the metadata to the torrent level (rather than client-storage-level), for example the default file-oriented storage implementations would store metadata in `fmt.Sprintf(".%x.torrent-metadata.boltdb", infohash)`. After you Drop a Torrent, you're free to do with its data what you please, although this use case gives new meaning to your request to partition the data in case of partition

[2018-02-14 09:53] themihai commented on #237
@anacrolix If that's an issue I believe we could add a flag/option (i.e. `namespaceStorage bool`). This library is supposed to be used programatically after all so it must work correctly in the first place(i.e. bug free, corruption free data) yet offer you enough flexibility to build your product friendly to end users(i.e. make the data available under friendly names).

It doesn't happen very ofte

[2018-02-14 10:14] themihai commented on #237
Another option to keep both friendly and collision free namespaces is to add a suffix when a collision occurs (i.e. file.mov,  file-(1).mov, file(2).mov etc) and  maintain an internal index with torrentHash -> real-filename -> suffixed-filename.

[2018-02-14 10:48] anacrolix commented on #237
It looks like someone [already implemented this](https://godoc.org/github.com/anacrolix/torrent/storage#NewFileByInfoHash). If it's not already exposed, a flag to use this as the default storage in the sample cmds will solve the other part of this issue.

[2018-02-14 10:56] anacrolix commented on #237
Does someone want to do a PR for that?

[2018-02-14 11:09] themihai commented on #237
I will send a PR in a few minutes.

[2018-02-14 11:18] themihai commented on #237
@anacrolix  I  actually take my word back because i'm not very familiar with the cmd package. As far as I understand someone could simply use NewFileByInfoHash as storage implementation when it creates a new client so there is no need to pollute the Config with another option(as I initially proposed).  This also fixes (partially) #238 (i.e. remove torrent data by hash) though we still need a way t

[2018-02-14 12:39] anacrolix commented on #237
Yeah I meant a PR for adding the flags to the cmd packages. I'm in the process of rewriting `cmd/torrent`, so I'll create an issue just for the flags.

[2018-02-14 12:43] anacrolix commented on #237
Actually I won't, I'm buried in stuff. But if you want them added, leave this issue open, otherwise let's close it.

[2018-02-14 16:04] burekas7 commented on #234
@elgatito

In Elementum 0.0.43 how should I set this now? Enable/Disable/Force?

[2018-02-14 16:05] elgatito commented on #234
Nope, set as it should be. Enabled for enabling.

[2018-02-14 19:50] burekas7 commented on #234
Encryption policy setting is now ok when enabled.
But the speed is not so best again, even when disable the firewall and without speed limits (I have to mention that the torrent here is not the same from previous tests)

Do you see any change or new helpful info from these logs?
***
• ** Windows firewalls are disabled** (Area, private, public) + No speed limits
• **Memory Storage**
 (Max download/

[2018-02-15 09:52] burekas7 commented on #234
@elgatito
I saw that you wrote that you succeeding to get 100mbs .
So what is the problem with my setup that I don't get better download results?
Does it because the OS (Windows)? Firewall (which disabled)? The router settings? The internet provider? Elementum/Kodi settings? The seeds? etc...

Can you give me kind of a 'golden' torrent so I would check it?

[2018-02-15 09:54] elgatito commented on #234
@burekas7 I can get full speed even with 10-20 peers, you don't need 100-150 to use all the bandwidth. I don't know what is the problem with your case.

[2018-02-15 09:58] burekas7 commented on #234
The logs doesn't show something?

[2018-02-15 16:56] burekas7 commented on #234
@anacrolix
Thanks man! It helps :)
I reduced the number of the connections limit from 150 to 60, and now the speed pretty stable and better: ~3000 kbs to 5000 kb/s (4000 kbs is the average)

But, for some reason, now the "File Storage" type gives better result then "Memory Storage", even the Firewalls and the Speed limits were activated when testing the "File Storage", and in "Memory Storage" they

[2018-02-15 22:43] anacrolix commented on #234
Again, just based on my years of torrenting (:P), I wouldn't set upload to more than half your upload capacity. Increasing upload isn't going to improve your download speeds though.  Try http://www.speedtest.net/ to determine internet performance, can you give that a go and report the results?

The memory storage isn't provided in this repo, while the file storage is. I can't speak to its implemen

[2018-02-19 21:38] xdeee commented on #234
Same issue for me. Ubuntu 17.10, Kodi 17.6

[2018-02-21 02:00] anacrolix commented on #233
I'll have to take a PR for this one.

[2018-02-21 02:01] anacrolix commented on #234
@burekas7 Your speedtest results would help immensely here.

[2018-02-21 02:02] anacrolix commented on #236
I guess it works now. Thanks.

[2018-02-21 02:02] #236 closed

[2018-02-21 02:03] anacrolix commented on #237
The original problem is solved. If someone needs this exposed in the sample cmds, they can add it there easily enough.

[2018-02-21 02:03] #237 closed

[2018-02-21 02:06] anacrolix commented on #238
I won't have the time or need for this. It will require operating piece completions on a per-Torrent basis for those storage arrangements that can do that. For example the variant of file storage that prefixes files with a Torrent infohash directory will want a piece completion database in the root of that directory instead of the Client's working directory.

[2018-02-21 02:16] anacrolix commented on #133
Whoops this was completed in https://github.com/anacrolix/dht/commit/3a71864cece2ca2321c80065afc3ee334c185a57.

[2018-02-21 02:16] #133 closed

[2018-02-21 02:18] anacrolix commented on #136
This is mostly done. DHT could use some improvements, but it is operational, and it's also a separate repo now.

[2018-02-21 02:18] #136 closed

[2018-02-21 16:29] burekas7 commented on #234
Wifi connection:
![speed_test](https://user-images.githubusercontent.com/13424257/36492173-6d12b5c8-1724-11e8-9e74-8e5ed4a9eaa8.png)

[2018-02-21 17:51] burekas7 commented on #234
By the way, the upload in Elementum is very very low <10kb/s.
Does it seeding at all during the download with other peers?

Does it have separation now between seeds and peers in the torrent engine?
(Seeds - Users that have 100% torrent file, Peers - User that have part of the torrent file)

[2018-02-23 01:26] anacrolix commented on #234
Your upload bandwidth is incredibly bad. I would switch off uploads completely in your settings, you can't afford to spend any of that upload on anything but protocol overhead, especially when you are downloading at very high rates. Yes I believe @elgatito exposed those things in the UI recently from https://godoc.org/github.com/anacrolix/torrent#TorrentStats.

[2018-03-06 09:25] elico opened #239 "The iplist is missing a function that adds a new range on the fly."
The iplist is missing a function that adds a new range on the fly.
Usually you would reload from disk but I want to add a range via a webui api.
Any suggestions?

[2018-03-06 10:41] anacrolix commented on #239
You can extend one of the implementations to include a method to add them. There's likely some overhead to ensure it remains performant, or you may need to use a tree implementation.

[2018-03-06 17:23] elico commented on #239
@anacrolix I was thinking about a radix tree, what do you think?

[2018-03-07 05:20] anacrolix commented on #239
Sounds good.

[2018-03-21 15:17] ImAGitHubber commented on #234
Hello,

First of all, a big thank you to both elgatito and anacrolix for providing these plugins to the community and helping people with their problems.

Unfortunately, I'm experiencing a very similar issue and it's very frustrating because I cannot get Elementum to work properly on my Android Kodi Box using my USB stick as the file/torrent storage medium.

It was working fine with the old Quasar

[2018-03-26 21:40] hmvs opened #240 "Panic while downloading"
Got panic while downloading. Not sure if it addressed or.no.
https://paste.ubuntu.com/p/PSxSDdQbdY/
https://paste.ubuntu.com/p/nQQhYpqSkY/

Thank you

[2018-03-27 06:15] anacrolix commented on #240
It should be addressed by https://github.com/anacrolix/go-libutp/commit/89a35c2661e99e6d1c14b1096bed2ed0d59a84a0.

[2018-03-27 06:50] anacrolix opened #241 "Use BEP 40 to prioritize pending peers"
There's already a selection process for existing connections, but BEP 40 could be applied to pending peers to prioritize the next ones, and deciding which ones to keep when full.

[2018-03-27 06:54] anacrolix commented on #234
@ImAGitHubber Thanks for the very detailed info, I'm taking a look.

[2018-03-27 07:34] anacrolix commented on #234
@elgatito can we get the /debug/perf output? I want to see the writeChunk performance, here's how it looks on my machines:
[code]

[2018-03-27 10:07] anacrolix commented on #240
Downstream will integrate the fix.

[2018-03-27 10:07] #240 closed

[2018-03-27 10:46] ImAGitHubber commented on #234
@anacrolix You are welcome.  Please let me know if you or @elgatito need anything else from my end to debug and fix this.  Thanks again.

[2018-03-28 23:22] james-lawrence opened #242 "Ability to remove peers over time."
occassionally peers disappear and do not return, is there a mechanism to remove them?

[2018-03-29 00:41] anacrolix commented on #242
Do you mean from the pending peers?

[2018-04-01 11:54] elgatito commented on #234
@anacrolix what is that? how to get it?

[2018-04-01 14:19] james-lawrence commented on #242
I'm referring to the DHT nodes.

table seems to build up over time with no mechanism to clear out nodes that are dead and not returning.

`func (s *Server) WriteStatus(w io.Writer)` prints the information I'm referring to.

[2018-04-01 14:46] james-lawrence opened #243 "API cleanup suggestions"
as discussed in #218, the API is a little hard to follow and use for certain use cases. The goal here is to discuss and suggest usability improvements to the API. I believe these changes could also be used to help resolve #238, #168 in a clean fashion.

- remove torrent creation methods from the client. there are just want too many of them. poorly documented, and its unclear which one should be us

[2018-04-03 02:08] anacrolix commented on #234
The perf stuff is exposed through [/debug/perf on the default http handler](https://github.com/anacrolix/missinggo/blob/master/perf/events.go#L18).

[2018-04-03 02:29] anacrolix commented on #243
I'm not happy with the API either, it has evolved organically, and is in the current state as I haven't decided on a reasonable way forward. I'm leaning toward removing TorrentSpec, and exposing suitable methods on Torrent for anything that can be adjusted dynamically, like trackers. I'm still undecided if it's feasible to make storage and chunk size adjustable while a Torrent is active. A lot of

[2018-04-03 02:31] anacrolix commented on #168
After reading #243 , I think a method for this is a good idea. In particular, a context.Context can be given to allow "giving up", and the method can return an error if for some reason the entire torrent, or the file waited on, is not correctly prioritized, to prevent indefinite stalling due to incorrect priorities. Testing this will also be much easier as a result.

[2018-04-03 02:34] anacrolix commented on #243
I had another read of https://github.com/anacrolix/torrent/issues/218#issuecomment-354567367. Perhaps you could argue a case for why DropTorrent should be on Client, and why TorrentSpec or Torrent should be preferred for options, those are API choices I've struggled with.

[2018-04-03 02:35] anacrolix commented on #242
I think this is specific to https://github.com/anacrolix/dht, should we move it there?

[2018-04-03 08:36] oliverpool commented on #243
Since the `Torrent` has a reference to the `Client`, it shouldn't be hard to add a `Drop` method on the torrent, which calls the `DropTorrent` on the client with the appropriate parameters.
This also concerns the other methods.

Maybe split what is absolutely necessary (`TorrentBase`) and what is nice-to-have (`TorrentInfo`) to start a torrent.
[code]

[2018-04-03 11:05] oliverpool commented on #243
Instead of
[code]

[2018-04-03 11:10] oliverpool commented on #243
Instead of
[code]

I think I would prefer a blocking
[code]
The function should return on torrent completion (or on irrecoverable error or on context cancellation).
It's more designed for a one-shot download (than a long-lived client), but should satisfy many needs.

[2018-04-03 12:25] james-lawrence commented on #243
I actually think this is a mistake, and one of the goals I'd like to see is decoupling the two.

In my mind the torrent should contain the metadata around accessing and storing the data related to the torrent.

And the client is responsible for coordinating peers and downloading parts of the torrent. Going this path lets us remove the global lock for most calls and instead use a torrent specific l

[2018-04-03 12:31] james-lawrence commented on #243
So basically I'm pretty strongly interested in getting rid of one or the other as well. But the structure exposed really should just be related to storage and metadata about the torrent. at which point once we get it down to one exposed type we can just name it Torrent and be done with it.

internally the client would have a private representation of the torrent for handling downloading parts from

[2018-04-03 12:35] james-lawrence commented on #243
As an aside, last weekend I took a stab at this work and have a branch that does a good chunk of the decoupling the torrent from the client regarding locks and moving the methods off the client for creating a torrent spec. all the tests passed, but have yet to actually try it out with a real torrent. can push that up to github if you guys want to take a look.

[2018-04-03 13:03] oliverpool commented on #243
If I understand correctly, the client could then have separated parts:
- one part responsible for the pieces to seed/download (it only needs the hashes and some storage)
- one part responsible for read a .torrent file (and passing the hashes of the different pieces to the previous part)
- one part responsible for fetching the hashes, from a .magnet URL
- ...

Or maybe it is more about layers:
- a

[2018-04-03 13:29] anacrolix commented on #243
@oliverpool @james-lawrence consider discussing in gitter, https://gitter.im/anacrolix/torrent

[2018-04-03 15:02] james-lawrence commented on #243
@oliverpool I'll be in the glitter channel for the next couple days if you want to chat.

[2018-04-03 17:41] james-lawrence commented on #242
ah, possibly yeah lets start there.

[2018-04-03 22:41] #242 closed

[2018-04-06 21:19] Ivshti opened #244 "BEP 40 implementation causes confluence to crash"
Stack trace:

[code]

Requests that trigger this:

http://localhost:8070/data?ih=7782ab24188091eae3f61fd218b2dffb4bf9cf9c

http://localhost:8070/info?ih=7782ab24188091eae3f61fd218b2dffb4bf9cf9c

Temporary workaround I did:

Revert anacrolix/torrent to ed80150f08e0b492f7fd82a1d492b58048e784df

Revert confluence to ed7ced6b60baca51190a93114c6764c44850075a

[2018-04-07 01:12] anacrolix commented on #244
Thanks for the report. Are you using both IPv4 and IPv6 on your confluence instance? Can you provide the contents of the panic?

[2018-04-07 17:11] Ivshti commented on #244
I do have both ipv4 and ipv6 enabled on the machines(s) - tested it on two.

What do you mean "contents"?

[2018-04-08 21:57] glutamatt commented on #71
Hi @anacrolix : 😊 thanks for your torrent go implementation
I plan to use it with a private tracker but i'm a bit concerned about the ratio reporting.
The values `Downloaded` and `Uploaded` seems to be from `AnnounceRequest` struct but never set.
If zero is sent as uploaded value, i will be banned so fast 🚔 !
🤔 Am i missing something ?

[2018-04-08 22:10] anacrolix commented on #71
I'll look into it soon.

[2018-04-10 00:40] AlhasanIQ opened #245 "no public ip causing bep40PriorityBytes to panic"
The panic fail-safe `bep40.go:71` is being called due to a.IP being nil.

Reason: on `client.go:1273`'s `firstNotNil()` returning nil due to both sides being nil.

i.e. `cl.config.PublicIp4` ,  `missinggo.AddrIP(cl.ListenAddr()).To4()` are nil.

Client info:
[code]

[2018-04-10 03:07] anacrolix commented on #245
Thanks, do you want to submit a test case and/or propose best behaviour?

[2018-04-11 09:36] muesli commented on #245
This seems to be a dupe of #244?

[2018-04-11 09:41] muesli commented on #244
@anacrolix In my case `a.IP` is nil, while `b.IP` is a valid IPv4.

[2018-04-11 11:01] anacrolix commented on #245
It is a duplicate of #244.

[2018-04-11 11:01] #245 closed

[2018-04-12 13:30] themihai opened #246 "NewClient crashes if nil config is passed"
I believe the panic is caused by the lack of any default Config.ListenHost field.

goroutine 1 [running]:
github.com/anacrolix/torrent.listenAll(0xc420364880, 0x4, 0x4, 0x0, 0x1770, 0x0, 0x0, 0x0, 0x0, 0x0)
	/go/src/github.com/anacrolix/torrent/socket.go:70 +0xc7
github.com/anacrolix/torrent.NewClient(0xc420073c50, 0xc4201ac380, 0x0, 0x0)
	/go/src/github.com/anacrolix/torrent/client.go:227 +0x3e5

[2018-04-12 13:34] #246 closed

[2018-04-12 13:41] elgatito opened #247 "bencode raises panic when parsing torrent file"
Getting panic from bencode when trying to parse torrent file. File can be downloaded here - http://dropmefiles.com/OXmSE

[code]

Looks like a well-known situation, with "creation date", containing string. Called with a `Client.AddTorrentFromFile()`

[2018-04-13 07:07] #247 closed

[2018-04-14 11:43] #244 closed

[2018-04-19 19:26] djkazic opened #248 "LSD / local peer discovery"
I have an implementation for the UDP multicast message sending. Would you consider a PR to merge it?

[2018-04-20 06:02] elgatito commented on #248
@djkazic  definitely create a PR. If the code is fine (and if not - you can change it in scope of a PR, until it gets better and ready to be merged) then why not?!

[2018-04-20 12:54] djkazic commented on #248
@elgatito well, while it does work, it doesn't technically adhere very closely to the BEP. Mainly, that the advertisement rate is well above the recommended rate (1 per minute at most). This is due to the structure of this library in terms of how peers are added, and I'm not sure it would be acceptable for that reason.

It's kind of dirty to do a loop like this anyway. I wanted to also see if anyo

[2018-04-20 13:04] elgatito commented on #248
@djkazic you should start a PR to get a code review and, maybe, some help.

[2018-04-21 01:11] anacrolix commented on #248
Yes, please post a PR.

[2018-04-24 09:20] themihai opened #249 "assertNoPendingRequests: panic -1"
Sometimes the client panics (see below). I'm not sure what condition triggers it. The torrent seems unresponsive(I can only read few bytes at the beginning) and after a while I get this panic.

[code]

[2018-04-24 19:30] themihai commented on #249
I run `go get github.com/anacrolix/torrent` to make sure I'm using the HEAD. The package still panics but I cannot create a reproducible test case.
   I believe it panics when the client is "idle"(nothing is downloaded), perhaps seeding.

[code]

[2018-04-24 22:51] anacrolix commented on #249
Thanks for the report. A few people are seeing this but I'm still unable to reproduce. How long do you think between downloading and the assertion being triggered (the idle time?)?

[2018-04-26 17:50] themihai commented on #249
I'll let you know once I figure it now. The behaviour is difficult to reproduce.

[2018-04-30 06:07] elgatito opened #250 "Avoid listening TCP6 if not enabled"
Currently we try to listen TCP6 even if we don't need it, and some systems are not configured to use ipv6, so when we create a torrent client we get this error:

[code]

I have tried with `DisableIPv6: true`, but still we listen TCP6:

[code]

Probably, we should not listen if DisableIPv6 is enabled?

[2018-05-01 07:40] anacrolix commented on #250
Thanks for the report. Is the error returned from `NewClient`?

[2018-05-01 07:45] elgatito commented on #250
Yes, result from Listen bind there.

[2018-05-01 08:32] anacrolix commented on #250
I want to move away from doing the listening in NewClient, and have the user attach network instances as they desire. I'm not able to reproduce the exact error as I can't work out how to disable IPv6 on any of my systems. I'll make a quick fix in the meanwhile.

[2018-05-02 09:24] #250 closed

[2018-05-03 07:27] elgatito commented on #250
@anacrolix confirming IPv6 not binded with `DisableIPv6: true`. Will wait for user feedback with new release being out.

Regarding custom network instances, I like the way there is default implementation and a setting for overriding with own one, but don't much like when own implementation become mandatory :)

[2018-05-10 15:37] jhill54 commented on #234
@ImAGitHubber @anacrolix Were you guys able to find a solution?  I am also experiencing the same issues of very slow speed vs. Quasar - running on a 200mbit line and new Nvidia Shield.  Thanks for any help!

[2018-05-10 16:11] elgatito commented on #234
@jhill54 If you switch to memory storage, set, say, at least 150Mb and see if speed comes to better numbers. Then it's all about default storage engine on some OSs.

[2018-05-10 16:52] jhill54 commented on #234
Unfortunately it won’t let me change the default storage size on the Shield. I tried some other things and still no luck.

Sent from my iPhone

[2018-05-10 17:55] ImAGitHubber commented on #234
This is a potential workaround to this problem, but not an actual solution.  Plus, the "Memory Storage" option does not save Multi-file Torrents, so you have to keep searching for the torrent every time instead of being able to save it in a proper storage drive and then just opening the next file when you need it.

When can we expect a solution to this issue?

[2018-05-11 03:56] jhill54 commented on #234
@elgatito thanks for advice, but the download speeds are still extremely slow, and the connection dies after about 5 mins consistently.  The speed drops to 0 kbps, and does not re-initialize.

[2018-05-11 08:38] ImAGitHubber commented on #234
I provided log files and even video of the slow speeds a month and a half ago and I'm still waiting for the problem to be found.

[2018-05-11 08:41] elgatito commented on #234
@ImAGitHubber when you have big speeds with memory storage and slow with file storage - it's one issue, and it's described above. When you have bad speeds with any storage (this can be checked only with log files), like @jhill54 - it's another issue.

[2018-05-11 08:45] ImAGitHubber commented on #234
Thank you for your reply.  Where is my problem described?

@anacrolix had requested from you the /debug/perf output to help debug my issue, but it doesn't you ever provided it.

Please advise.  Thanks again.

[2018-05-16 07:15] cuishuang opened #251 "where is the file that we get by this way?"
where is the file that we get by this way?

[2018-05-17 00:55] anacrolix commented on #251
By default, into the working directory.

[2018-05-23 02:57] cuishuang commented on #251
thank you~

[2018-05-30 19:44] elgatito commented on #155
I have been thinking of this issue after time passed.

I'd have these methods in Torrent: Start/Stop (or maybe name something like Halt), Unpause/Pause, Add/Drop (we do have the last ones).

So in this case:
- Pause: Should stop download/upload of Data, *but* should continue to communicate with trackers and connect to peers.
- Stop: Should stop all the network activities, but stay in the Client.

[2018-05-31 19:21] YouROK opened #253 "Redundancy of loading"
When viewing a movie in an Elementum or in my program (similar to an Elementum https://github.com/YouROK/TorrServe), downloading useful data (BytesReadUsefulData) is ~20 times smaller than BytesReadData
Torrent 7.7 GB
In stat:
BytesRead ~9.57 GB
BytesReadData ~9.55 GB
BytesReadUsefulData ~564 MB

Therefore, the download of the network channel is very large

Sorry for my english, this is not my nat

[2018-06-04 07:42] anacrolix commented on #253
There's all manner of possible causes for this. Could you provide a way to reproduce the problem?

[2018-06-04 07:46] #249 closed

[2018-06-04 07:53] anacrolix commented on #241
This was first added in 92f6209c5f7cd438b9f6d255c78507ff1d370de5.

[2018-06-04 07:53] #241 closed

[2018-06-04 07:53] anacrolix commented on #239
Any progress @elico ?

[2018-06-04 07:59] anacrolix commented on #230
I'll assume this is working for anyone that uses it. It's been in a while and there's been no issues.

[2018-06-04 07:59] #230 closed

[2018-06-04 08:48] anacrolix commented on #239
See https://github.com/anacrolix/torrent/blob/4e257ffdcfe2759b6386e41174710b52f901b0d5/iplist/iplist_test.go#L18 and https://www.iblocklist.com/list?list=ydxerpxkpcfqjaybcssw in p2p format.

[2018-06-04 20:43] YouROK commented on #253
[code]

After a while: 185mb useful and 557mb of other
  BytesRead: (int64) 557242945,
  BytesReadData: (int64) 555204608,
  BytesReadUsefulData: (int64) 185155584,
The longer the loading, the greater the difference

Log:
Listen port: 46663
Peer ID: "-GT0001-\x1fy]@?\xea\xb0\x18%a<\xfd"
Announce key: 25613cfd
Banned IPs: 0
udp DHT server at 0.0.0.0:46663:
	# Nodes: 178 (119 good, 0 banned)
	Server

[2018-06-05 03:15] anacrolix commented on #253
Excellent, thanks.

[2018-06-07 09:25] unix2dos opened #254 "huge file GeneratePieces will crashed the system."
use 10G file

[2018-06-07 11:35] unix2dos commented on #254
huge file seeding will eat all computer memory

[2018-06-08 02:16] unix2dos opened #255 "assign multiple dataDir?"
torrent Config DataDir is store download torrent data and seed.
I want to seed two different dir files, but one client only config one datadir?
what should I do

[2018-06-08 02:16] #254 closed

[2018-06-08 09:47] anacrolix commented on #160
Take a look at #256

[2018-06-08 11:41] anacrolix commented on #160
Proxy support has been added by @elgatito , see the ProxyURL field in the [Config struct](https://godoc.org/github.com/anacrolix/torrent#Config).

[2018-06-08 12:36] anacrolix commented on #255
You can use https://godoc.org/github.com/anacrolix/torrent#Client.AddTorrentInfoHashWithStorage or https://godoc.org/github.com/anacrolix/torrent#Client.AddTorrentSpec to add a Torrent with custom storage per Torrent.

[2018-06-08 13:01] anacrolix commented on #253
I've started looking into it. I suspect that because your code is streaming directly from the Reader, you're getting a lot of overlap.

[2018-06-09 12:24] porjo opened #257 "file permissions + umask"
Using the default file storage, dirs + files are being created with perm `750 (rwxr-x---)` & `660 (rw-rw----)` respectively. This prevents the umask from modifying the 'other users' permission bit.

It would be better if those perms were `777` & `666`. A umask can then be applied as required. The typical Linux system has a umask of `0022` which would result in dirs with `755 (rwxr-xr-x)` and files

[2018-06-09 13:00] anacrolix commented on #257
Sounds fine to me, do you want to make a PR?

[2018-06-09 14:08] elgatito commented on #234
@ImAGitHubber  @jhill54 Latest Elementum 0.0.47 includes `/debug/` url, so please, post here your debug information, so @anacrolix could try to find the problem.

[2018-06-10 14:00] #257 closed

[2018-06-11 10:34] unix2dos opened #259 "huge file seed error"
i use an client seeding,  the file is 10G, piece length is 256KB,  so has many pieces
another client download,  use <-gotinfo(),  but got this wrong
[code]

[2018-06-11 12:28] anacrolix commented on #259
I'm not sure what the issue is. Are you getting a panic or deadlock or something else?

[2018-06-12 03:57] unix2dos commented on #259
huge file seed will stuck my computer, this is `lsof` show

[code]

[2018-06-12 04:45] unix2dos commented on #259
my problem is huge file's piece length
if small will goroutine erro
if big  will stuck computer

[2018-06-12 12:59] anacrolix commented on #259
Can you link to some code?

[2018-06-14 03:42] unix2dos commented on #259
[code]
if i replace` t.storageLock.RLock()` to ` t.storageLock.Lock()`  huge file will run well.

`sum := t.hashPiece(piece)` will call storage.Piece ReadAt(), and os.Open huge file many a time

this will stuck my computer

[2018-06-14 06:13] spawnlmg commented on #253
Are there any progress in this matter? What is the probability of getting rid of unnecessary traffic?

[2018-06-14 07:22] elgatito commented on #234
There is a new `/debug/bundle` url in elementum 0.0.48, which downloads all the debug information from elementum/kodi.
Can anybody test on android and post results here?

http://192.168.0.1:65220/debug/bundle (replace 192.168.0.1 with your Kodi IP)

[2018-06-14 09:06] anacrolix commented on #253
I'm undecided on the right algorithm to avoid this. I began implementing some stuff that causes https://github.com/anacrolix/torrent/issues/249, I'm still not sure that's resolved.

[2018-06-17 10:34] elgatito commented on #253
@anacrolix maybe we can use an option for selection strategy? Like traffic-less mode, optimal, faster piece availability. Something like that.

[2018-06-17 13:14] anacrolix commented on #253
That's a good idea, I'll try that if I can't come up with something.

[2018-06-19 02:19] unix2dos commented on #259
that's some of my own random files, copy and copy to 10G and zip, i use sync in private network.

if piecelength bigger will stuck computer. i use imac, this problem will appear. but in my macbook 10G files no problem , because whether ssd hard disk?

[2018-06-19 08:40] burekas7 commented on #234
@elgatito
I still get error with 0.0.49 version as described already in some issues with the last versions (File Storage). But I will try to check it when there will be a working version.

And by the way, to be honest, I had back to Quasar which is much better and stable for a long time and never disappoints (no offend) .
Also the Trakt support is still not totally good (But this is for another is

[2018-06-19 08:43] elgatito commented on #234
@burekas7 I was asking for a log file and debug information.

It's good you have found plugin that suites you :+1:

[2018-06-19 12:45] xdeee commented on #234
Suddenly it started to download at full speed for me about a month ago. I did nothing. Even didn't update plugin or OS. I'm not sure, but probably I reset Elementum's settings.
Now it works very well both on Ubuntu and on Android box. Thank you.

[2018-06-19 12:51] elgatito commented on #234
@xdeee by default, Elementum now is using Memory storage, so you have better speeds. But if you switch to File storage and has problems - it would be useful to get a `/debug/bundle` log file from you.

[2018-06-19 13:15] xdeee commented on #234
I had speed issues no matter which type of storage I used. I'll try switching to File though and report debug info in case of any troubles

[2018-06-22 13:51] spawnlmg commented on #253
Due to excess traffic, which is several times more useful, it is not possible to watch a video with a bitrate of more than 40mbits per 100mbit network. To watch video with a bitrate of 50 mbit, you need a network speed of 200-250 mbit

[2018-06-22 14:12] anacrolix commented on #253
As a temporary workaround, if you have the available storage space, call `Torrent.DownloadAll`, or `File.Download` on the relevant file.

[2018-06-22 14:57] spawnlmg commented on #253
I'm interested in the use of RAM. The use of drives is not interesting.

[2018-06-22 15:02] spawnlmg commented on #253
Is there any way to correct this useless traffic?
Can you hope for an early fix?

[2018-06-22 20:39] YouROK opened #262 "Panic in ConnStats in 32 bit arch"
Panic on torrent connect when 32 bit arch (tested arm7 and linux 386):

Reproduce:
Compile with GOARCH=386
In bash: "GOARCH=386 go build main"

[code]
This is a bug sync/atomic:
https://golang.org/pkg/sync/atomic/#pkg-note-BUG
I tried to fix it on my own, but I did not succeed

[2018-06-22 21:21] YouROK commented on #262
I found a temporary solution for myself:
Moved the fields "stats ConnStats" in Torrent and connection structs to the top

[2018-06-23 08:13] anacrolix commented on #262
Thanks for the report and suggested fix. I'm trying it out on my systems now, would you like to submit a PR moving those structs to the top in the meanwhile?

[2018-06-23 08:21] anacrolix commented on #253
I'm currently working on a new algorithm.

[2018-06-23 08:34] #262 closed

[2018-06-26 04:58] anacrolix commented on #253
I've made a bunch of changes that should reduce the waste with the current algorithm. From testing, when streaming (i.e. reading from a torrent.Reader), as much as ~50-70% of traffic could be redundant. That number now seems to be 10-20%. I've also implemented an entirely new requesting algorithm, but it's not currently enabled (I will do more testing with it first). Chunks were being previously b

[2018-06-26 05:01] anacrolix commented on #253
If you want to try the newest algorithm in its present state, set requestStrategy to 3 here: https://github.com/anacrolix/torrent/blob/c921242f30364d3d03947455a5a88ac376059444/client.go#L974.

[2018-06-26 15:24] YouROK commented on #253
Panic when GotInfo() in 3 strategy:

Temporary fixed:
[code]

[2018-06-28 02:05] anacrolix commented on #253
I've committed a fix for that @YouROK . Further testing is showing that "wastage" was about 68% (~3mbps required for a 1mbps stream), with the improvements to chunk handling it's down to 40% (1.67mbps required for 1 mbps stream). With requestStrategy 3, I'm seeing wastage of less than 1%. (1mbps for 1 mbps).

[2018-06-28 02:06] #253 closed

[2018-06-28 12:35] anacrolix commented on #234
Might be related to #216. If we can get evidence that slow write speeds are the issue here, I'll look into create a write cache like libtorrent does (or how I assume it does). This will be easier now that the [request strategy is more selective](https://github.com/anacrolix/torrent/issues/253#issuecomment-400887420), the writes can be done linearly and should help immensely with caching.

[2018-07-02 06:10] anacrolix commented on #259
Did you work around this? I did intend to fix something here.

[2018-07-07 09:34] Sean-Der commented on #138
Hey @anacrolix !

I have been working on Go native WebRTC https://github.com/pions/webrtc and would love to get it to the point that you could use it!

It currently has full support for Audio/Video (send and recv) and I am maybe two weeks out from finishing DataChannels. We have ~5 developers involved, so things are moving pretty quick! If you are interested would love to chat/figure out what is m

[2018-07-09 11:37] elgatito opened #263 "Make timeouts configurable"
Would be perfect to make all the timeouts (at least, those, who respond for networking) configurable.

Also, consider, to make default timeouts more realistic, rather than optimistic.

[2018-07-09 20:11] YouROK opened #264 "Undetermined panic on loading"
There is a panic when the torrent is loaded, only on windows systems
On linux systems all ok

Test example:
[code]
It was observed that panic occurs after a heavy download after a while
compile:
GOOS=windows GOARCH=amd64 go build -o test.exe main

[2018-07-09 22:34] anacrolix commented on #264
What version of Go are you using?

[2018-07-09 22:35] anacrolix commented on #264
Also what version of Windows?

[2018-07-09 23:04] YouROK commented on #264
go version go1.10.3
Windows 10 Pro X64

[2018-07-09 23:07] anacrolix commented on #264
Just checking my assumption is correct, do you want to run this code from [here](https://github.com/golang/go/issues/11313#issue-89847838)?:
[code]

[2018-07-09 23:50] #264 closed

[2018-07-10 01:19] #263 closed

[2018-07-10 03:08] anacrolix commented on #263
Reopen if I've missed any.

[2018-07-10 08:42] anacrolix commented on #264
Courtesy of @Nemiroff for future reference:
Code from Issue on Windows 7 Pro x64 [1.0001ms 0s 1.0001ms 1ms 1.0001ms 1ms 1.0001ms 1.0001ms 1ms 1.0001ms]
From Windows 10 Pro x64 [997.3µs 995.5µs 997.8µs 996.7µs 996.7µs 997.9µs 996.7µs 998.4µs 997.8µs 996.7µs]

[2018-07-10 18:45] elgatito opened #265 "Implement cache layer for file storage"
This was mentioned in #234.
Disk operations are not so great on Windows/Android systems.
So we can add a disk cache from our side to collect write operations and flush them once buffer if filled up or periodically.

This one is implemented in libtorrent. Some interesting points there: https://github.com/arvidn/libtorrent/blob/master/src/disk_io_thread.cpp#L874 and https://github.com/arvidn/libtorr

[2018-07-11 03:34] anacrolix commented on #265
Can we get some /debug/perf outputs for this? It will help ensure I'm on track with my intended fixes. In particular this:
[code]

[2018-07-13 07:29] anacrolix commented on #234
Thanks @XavierCLL . It's clear from your log, that something is not right with the lock times. Locks are being held for absurdly long periods, this will severely limit network throughput. There's something different about that system, or the configuration in use.

[2018-07-13 07:59] anacrolix commented on #234
Here are mine for comparison. The averages are all well below 1ms, with maximums normally several 100ms (usually due to GC or contention I believe). Your averages are 10s of ms, with peaks up to 17s. As a simple example, that would limit receiving bandwidth to much less than 1MB/s.

[2018-07-14 23:10] btrrj commented on #234
Hi, i saw this topic and i'm having also troubles with Elementum download Speed.
In Quasar was ok, almost ALL the time it was using all my bandwidth ir near it.
I uninstalled Quasar thinking i would have better performance with Elementum...

I used almost every settings o used i Quasar. I'm using an external USB 3.0 HD to cache files.

Using Elementum 0.0.53 in my Android set top box.

Any tip?

[2018-07-15 01:06] anacrolix commented on #234
Try the memory storage. Is the USB HD an SSD or HDD?

[2018-07-15 01:11] btrrj commented on #234
@anacrolix It´s a 500gb Momentus XT SSHD, it´s quite fast...
But like i said, in Quasar it always worked perfectly! I uninstalled Elementum and reinstalled Quasar, tested the same movie using the same source, voilá: 5mb/s (in Elementum i got 60kb/s MAXIMUM)

It´s something wrong with the app for sure.

[2018-07-15 02:10] XavierCLL commented on #234
I have the same situation as @btrrj, in Quasar work fine at maximum speed, in Elementum ~5-10% of the network, testing the same torrent

[2018-07-15 22:55] toby opened #266 "Support custom DHT servers"
Currently the torrent library instantiates an `anacrolix/dht` DHT server and assigns it to a Client during new client construction. It would be nice if there was a DHT server interface that specified client needed functionality and the ability to specify implementers of that interface as DHT servers for the client.

[2018-07-18 09:18] elgatito opened #267 "Add implementation of BEP 28 (Tracker exchange extension)"
I can't find if this is already implemented.

Works much like PEX, but exchanges trackers between peers.
Would make more trackers available to specific torrent.

Useful links:
http://bittorrent.org/beps/bep_0028.html
https://trac.transmissionbt.com/ticket/2461

[2018-07-21 10:51] anacrolix commented on #267
Thanks for the suggestion. I won't rush to implement this. There are popular tracker lists you can add explicitly as a workaround in the meanwhile.

[2018-07-23 09:44] JyBP opened #268 "Listen to termination signals"
The `torrent` binary doesn't listen to any termination signals.
`torrentfs` on the other hand does listen to termination signals and properly terminates the process. It would be a small but nice feature to add.

I will make a small PR soon if no one has an issue with it.

[2018-07-23 21:13] jimmywarting commented on #138
Grate work @Sean-Der

[2018-07-24 03:17] anacrolix commented on #138
Any update @Sean-Der?

[2018-07-24 04:20] anacrolix commented on #268
Sounds good. I'm not sure what there is to clean up on a signal.

[2018-07-24 04:48] Sean-Der commented on #138
@jimmywarting thank you!

----
@anacrolix Yea! DataChannels support landed in pion-WebRTC, you can check it out [here](https://github.com/pions/webrtc/tree/master/examples/data-channels) there is still plenty of work to do but 'it works'

I will track a crack at implementing it myself, there are probably bugs and would hate for you to have to deal with them. Will start a branch and drop it here

[2018-08-15 13:56] f4nff opened #270 "Add support for socks5"
please～

[2018-08-22 19:38] joaopauloss commented on #234
Same problema when using elementum.  Created an issue  on elementum's git but  @elgatito closed and referenced this ond.
So,  quasar speed is ok but elementum  is about 8% top speed. If need new logs,  please  tell me.

https://github.com/elgatito/plugin.video.elementum/issues/238#issuecomment-413242003

[2018-08-22 23:36] btrrj commented on #234
I just gave up Elementum for now and got Quasar back...Sorry, but It works much better. It's a shame Quasar is not updated anymore.
Speed is better in 0.61, but not in par with Quasar yet. Also, everytime i get  "no links were found" in recent movies.
I will wait further Elementum development and teste It again later.

[2018-08-22 23:57] joaopauloss commented on #234
Yeah.  Elementum was the best for me because my Android TV box doesn't have too much rom and never get good speed with quasar when using a external flash drive.  So elementum using "memory" storage type was perfect.  Unfortunately, it worked just a few times.

[2018-08-23 10:38] elgatito commented on #234
@anacrolix  there are few feedbacks from users. Some say they have to turn *OFF* uTP, because their routers are dying, some say their Windows-running host suffers a lot. That is all about memory storage.

The funny thing, earlier releases were not causing a lot of problems (when they were working slower and making less network IO operations).

 It is probably good for server side to have good para

[2018-08-23 11:28] anacrolix commented on #234
The client does establish connections quite aggressively. Lowering the number of simultaneous torrents loaded, and the ClientConfig.HalfOpenConnsPerTorrent value should directly affect that. https://github.com/anacrolix/torrent/commit/2940f27f9f8d6bd085bfa8a3f75d83e1bb423817 should have helped with overhead caused by incoming connections regarding utp.

[2018-08-23 16:15] elgatito commented on #234
@anacrolix Our defaults are now:
[code]

I can make "modes" which would bundle those settings into mini/normal/maxi. I would much appreciate if you can give your suggestions about probable numbers for those settings.

I was talking about speed of creating connections. Creating 50 connections per second is one thing, same 50 connections created per 100 msec is another thing...

[2018-08-24 00:33] anacrolix commented on #234
@elgatito I think I follow. Perhaps we need a "connection interval" instead, or in addition to, the half-open limit? That would solve it neatly.

[2018-08-24 00:36] anacrolix commented on #234
It's hard to say, since we don't know for certain if this is even the reason those users are having difficulties. But we do know it's probably related to UDP on Windows.

[2018-08-24 00:48] joaopauloss commented on #234
@anacrolix, i'm getting those issues but don't use windows. Just android: one tv box and smartphone. =/

[2018-08-25 11:34] Goblinlordx opened #271 "Logging interface"
Currently, this library is logging by default which doesn't seem very nice.  There are some places where it seems to arbitrarily [output logs](https://github.com/anacrolix/torrent/blob/2f14e5dbc017d6630fae34f26aaaf9df3e1ada07/portfwd.go#L14).  This prevents me from being able to do much with them (hide them, output them with a bit of formatting etc).  Would it be possible to have the config receiv

[2018-08-26 04:40] anacrolix commented on #271
There is some inconsistent logging going on. I haven't settled on a solution I'm happy with. There is use of "log", and "github.com/anacrolix/log", the latter through which I intend to allow python logging-style levels, handlers, formatters etc.

If you have any suggestions, or PRs to clean these up, feel free to contribute.

[2018-08-27 01:08] Goblinlordx commented on #271
Sounds good~ I will see what I can do~

[2018-09-03 01:09] anacrolix opened #273 "Rate-limit dialing of new connections"
Per #234 we should rate limit dialing out new connections. Specifically uTP appears to cause problems due to UDP connection tracking on routers.

[2018-09-03 01:10] anacrolix commented on #273
Per @axet 's suggestion we'll start with 10 connections/second as the default.

[2018-09-03 01:33] anacrolix commented on #234
@elgatito after some investigation, reducing the peers high water will reduce the impact dht announces have, as announces will terminate earlier when reaching that number of peers. This is just a work around until https://github.com/anacrolix/dht/issues/24 or something like it is implemented.

[2018-09-11 16:32] thrisp commented on #233
I came here for this. I'm working with on tearing down /axetet/libtorrent for my own use and that package has client.SetUploadRate/SetDownLoadRate functions that trace back to here, but there is nothing here that does that (I assume its using an old version of this package, because there is so much wrong with what it does in many places)

[2018-09-12 01:28] anacrolix commented on #233
I don't believe there's anything stopping you from calling https://godoc.org/golang.org/x/time/rate#Limiter.SetLimit on `DownloadRateLimiter` and `UploadRateLimiter` in https://godoc.org/github.com/anacrolix/torrent#ClientConfig.

[2018-09-12 19:01] thrisp commented on #233
I will have to look into that thanks

[2018-09-23 17:57] acsterf commented on #234
@elgatito how can we change these settings in Elementum?

[2018-10-09 08:08] BruceWang666 opened #274 "torrent client can't assign dht.ServerConfig"
https://github.com/anacrolix/torrent/blob/master/client.go
in line 274
can i change the dht.ServerConfig to hook OnQuery ?

[2018-10-09 11:14] anacrolix commented on #274
I don't believe the ability to add custom DHT servers is yet implemented. It is shortlisted as a new feature. See also #266 .

[2018-10-10 06:46] BruceWang666 opened #275 "Can I get torrent's metadata via infohash"
Can there be a function to further obtain and return the metadata of the torrent through the infohash after passing in the infohash.Such as file name, file size, etc.

[2018-10-10 07:13] anacrolix commented on #275
That would be https://godoc.org/github.com/anacrolix/torrent#Torrent.Info.

[2018-10-10 07:13] anacrolix commented on #275
You can also use https://godoc.org/github.com/anacrolix/torrent#Torrent.Files for the example properties you gave.

[2018-10-10 07:33] BruceWang666 commented on #275
How can I get the torrent's metadata only through infohash without the seed file?

[2018-10-10 07:56] anacrolix commented on #275
Adding a torrent by infohash will automatically attempt to acquire the metadata. You will have to wait for that process to complete before you can use stuff like Torrent.{Info,Files} etc. See Torrent.GotInfo.

[2018-10-10 13:58] toby commented on #275
@BruceWang666 here's a full example: https://github.com/anacrolix/torrent/blob/master/cmd/magnet-metainfo/main.go

[2018-10-11 09:08] #275 closed

[2018-10-11 09:08] BruceWang666 commented on #274
tks

[2018-10-11 09:08] #274 closed

[2018-10-14 18:22] f4nff opened #276 "tls handshake failures with https trackers"
Can only download the seeds of a single file，If there are multiple files in the seed, it cannot be downloaded.

[2018-10-14 18:30] f4nff commented on #276
test torrent

[2.torrent.zip](https://github.com/anacrolix/torrent/files/2476712/2.torrent.zip)

[2018-10-14 20:45] f4nff opened #277 "pt torrent tracker ：Banned Client, Please goto pt.btschool.net/faq.php#id29"
go toreent trakcer：
[code]
Vuze tracker：

[code]

I have modified the tracker http agent field。
But the pt tracker is still a client that is forbidden to use.
I caught the packet and found that the get field is different.

[2018-10-14 20:51] f4nff commented on #277
The same parameters are:
[code]

Azureus Extra fields：

[code]

[2018-10-14 21:14] f4nff commented on #277
I have already solved it.

config.go

[code]

`var DefaultHTTPUserAgent = "Azureus 5.7.6.0;Windows 10;Java 1.8.0_161"`

[2018-10-14 22:00] f4nff commented on #276
After my test, the client connects to the tracker. If it is https, it will fail and the peer information will not be obtained.
Https handshake has a bug

![image](https://user-images.githubusercontent.com/19538878/46922697-9cfacf80-d03f-11e8-8759-dd72da95cef6.png)

[2018-10-15 03:32] anacrolix commented on #276
I suspect it may be the TLS handshake host isn't the expected `opentracker.xyz` because the IP is resolved in advance for IP filtering purposes, and the IP is used in the header instead. I don't see a easy way to maintain the original TLS host in the http.Request struct.

[2018-10-15 04:34] f4nff commented on #276
@anacrolix
The client I am using is

By capturing the package, I found that the first packet of the **torrent** is connected to the tls handshake of `https://opentracker.xyz:443/announce`, and the first package with the **chrome** connection `https://opentracker.xyz:443/announce` tls Is different。

![image](https://user-images.githubusercontent.com/19538878/46930174-a9e6e580-d076-11e8-8d94-9854fb0

[2018-10-15 04:42] f4nff opened #278 "Suggest，Multiple requests can be initiated with a single peer..."
Normally, when the peer to peer has only one tcp connection, it will be limited by the isp quotient. If multiple tcp connections are available, you can get more speed. You want to support multiple peer tcp connection requests.

[2018-10-15 04:43] anacrolix commented on #276
Is Chrome the top image?

[2018-10-15 04:45] f4nff opened #279 "support dns over https?"
[cloudflared ](https://github.com/cloudflare/cloudflared)

`cloudflared proxy-dns --port 53 --address 0.0.0.0 --upstream https://cloudflare-dns.com/dns-query`

I hope to integrate into the torrent and become the default setting.
Because some areas can pollute dns, dns over https can be used to effectively encrypt dns request information.

[2018-10-15 04:48] f4nff commented on #276
yes～

[2018-10-15 04:49] f4nff commented on #276
Using **torrent** is not able to properly request **https tracker**, `https://opentracker.xyz:443/announce`
But chrome is ok, you can grab a package and look at it.

[2018-10-15 05:29] anacrolix commented on #276
I still believe the problem is what I described in https://github.com/anacrolix/torrent/issues/276#issuecomment-429698192. I'll have to think about a solution.

[2018-10-15 05:29] anacrolix commented on #279
Can you provide a link to instructions on how to integrate this as an alternate DNS resolver in Go?

[2018-10-15 05:47] f4nff commented on #276
Looking forward to your solution, you can try [tls1.3 ](https://github.com/cloudflare/tls-tris)golang

[2018-10-15 05:49] f4nff commented on #276
tracker `https://opentracker.xyz:443/announce`

[code]

ip The cdn node is passed, you don't have to worry about this.

[2018-10-15 05:51] f4nff commented on #279
I don't know this, I only know that cloudflared can use dns over https, you are a god, I believe this is hard to beat you.

[2018-10-15 06:07] f4nff commented on #276
tls1.3+ALPN

[2018-10-15 06:17] f4nff commented on #278
[idm ](http://www.internetdownloadmanager.com/)
It is very efficient to use multiple tcp concurrently to get more bandwidth.
In a single environment, in some environments, the speed is very slow, you must use multiple tcp concurrent to get more speed.

[2018-10-16 04:46] anacrolix commented on #278
This works in some situations, however for this implementation I don't think it's worth the extra complexity. Other clients likely don't support or want this kind of thing either. Thanks for the suggestion.

[2018-10-16 04:46] #278 closed

[2018-10-16 12:08] elgatito commented on #234
@acsterf @anacrolix

Currently we do set there values to ClientConfig:
[code]

Where `ConnectionsLimit` is configurable.
Should we also make other values configurable?

I'm also having issues on my new home network, where router is getting crazy after torrent start, speed comes to 0 kb/s for connections are lost (for all the devices behind that router). Switching to a VPN helped a little bit, but

[2018-10-16 12:31] xdeee commented on #234
Turning DHT off also helped a bit making Elementum usable (with 2-3 stops while watching shows). But some torrents don't even start downloading without DHT due to provider-blocked trackers.

[2018-10-17 20:14] f4nff commented on #276
When to solve it, for a great god like the author, it can be solved in a few minutes.

[2018-10-18 00:10] #276 closed

[2018-10-18 04:53] f4nff opened #280 "Ipv4+ ipv6 dual stack access tracker improvements"
If the resolved domain name exists in ipv4+ipv6,
such as:
`Https://t.quic.ws:443/announce`

[code]

If ipv6 is available, the default is only to ipv6 request, then the tracker can't get ipv4 peer.

The optimized process I think should be available when ipv6 is available, and the ipv4+ipv6 dual stack is requested at the same time.

The optimized process I think should be available when ipv6 is avai

[2018-10-18 05:15] f4nff opened #281 "Occupy cpu memory is very large"
![image](https://user-images.githubusercontent.com/19538878/47132646-a30add80-d2d7-11e8-8095-4b034dbe55a8.png)

![image](https://user-images.githubusercontent.com/19538878/47132666-b9b13480-d2d7-11e8-9f36-c79afd22991d.png)

I downloaded a 9GB file, which takes up cpu memory, which is really horrible.

[2018-10-18 05:45] f4nff commented on #280
![image](https://user-images.githubusercontent.com/19538878/47133575-df403d00-d2db-11e8-98d2-1c69c88d9b80.png)

The connection requested a tracker only when it was just started.

After I grabbed the package analysis, after the file download was completed, the process ended directly. I didn't connect the tracker report upload again, download the information, so the pt tracker could not count the do

[2018-10-18 06:34] f4nff opened #282 "How to use torrent to share seeding?"
Only know how to download, do not know how to share seeding?

[2018-10-18 10:09] f4nff commented on #281
After the update today, it’s like this, not before,

[2018-10-19 05:35] anacrolix commented on #281
Is that virtual memory usage?

[2018-10-19 05:37] anacrolix commented on #282
Do you mean with the `cmd/torrent` executable? Note that this repository is library-first, the provided executable packages are only intended as demonstration. `cmd/torrent` supports the `-seed` argument, you can see all options by passing it `-h`.

[2018-10-19 06:08] f4nff commented on #281
After you updated the code yesterday, there is such a problem. You can download and test it yourself. The memory has been increasing rapidly. The CPU usage is very large. There is no such problem before. This is a very serious bug.

[2018-10-19 07:05] anacrolix commented on #281
Thanks for reporting this! I believe I have a fix, I'm just testing it now. In the meanwhile you might use the previous commit.

[2018-10-19 13:12] f4nff commented on #281
Great God, have time to update, I will give more quality advice,...

[2018-10-22 04:49] #282 closed

[2018-10-22 06:15] anacrolix commented on #234
Please try with https://github.com/anacrolix/dht/commit/efcc29278754bdd5e766edfb6675f3fe0199fc6f.

[2018-10-22 13:15] f4nff opened #283 "add ed2k"
please add ed2k link

[2018-10-22 16:49] f4nff opened #284 "peer to peer add tls1.3"
peer to peer  add tls1.3

[2018-10-22 22:57] anacrolix commented on #284
Could you elaborate? Is there a spec for TLS use in BitTorrent?

[2018-10-22 23:06] anacrolix commented on #283
Can you elaborate?

[2018-10-23 05:15] f4nff commented on #283
Download resources like [eMule](https://www.emule-project.net/home/perl/general.cgi?l=42).
such as：
`ed2k://|file|en_win_xp_pro_x64_vl.iso|614166528|69C268B5F717E29EB81BA5E506FF15EA|/`

[2018-10-23 05:20] f4nff commented on #284
For now, this is just one of my ideas, and there are no clear standards.
Client-to-tracker can be transmitted using https encryption.
Peer-to-peer should also support tls, which can be used as an extension protocol.

[2018-10-23 05:23] f4nff opened #285 "Request to add segments and concurrently download http resources"
Just like [idm](http://www.internetdownloadmanager.com/), it's great to download http resources in multiple concurrent chunks....

[2018-10-23 05:29] f4nff commented on #285
Custom http header, segmentation and more concurrent http downloads, is very good.

[2018-10-23 10:04] anacrolix commented on #285
This is dependent on the implementation of #116, I think suggestions about the kind of features included belong there, cheers.

[2018-10-23 10:04] #285 closed

[2018-10-23 10:06] anacrolix commented on #284
If there's a spec for TLS support for the wire protocol, that can be implemented. The existing BitTorrent protocol obfuscation is fully supported already, and has its own peculiarities that are appropriate for the BitTorrent protocol. See https://godoc.org/github.com/anacrolix/torrent#EncryptionPolicy and https://godoc.org/github.com/anacrolix/torrent/mse.

[2018-10-23 10:06] #284 closed

[2018-10-23 10:12] anacrolix commented on #283
I'm not aware of any form of ed2k link that can be directly supported by a BitTorrent client. There does appear to be clients out there that include ed2k support, but I don't have any intention of bolting that onto this implementation, unless perhaps there's a Go implementation and some way to easily tap into the network. It doesn't appear that you can generate ed2k links from BitTorrent infos or

[2018-10-24 07:43] elgatito commented on #277
@f4nff  there are trackers which have "whitelist" of torrent clients (not the blacklist of banned clients). But I'm not sure if that is good to pretend something else by default.

[2018-10-24 08:06] elgatito commented on #279
@anacrolix  I believe this is more about DNS over HTTPS, which is available not only with cloudflare's DNS services.

Probably something like this: https://github.com/m13253/dns-over-https and https://github.com/m13253/dns-over-https/blob/master/doh-client/client.go

More info, related to miekg/dns - https://github.com/coredns/coredns/issues/1650
Another one https://github.com/albertito/dnss

[2018-10-24 10:47] elgatito commented on #234
@anacrolix any suggestions for setting up TorrentPeersHighWater or HalfOpenConnsPerTorrent?

[2018-10-26 04:28] anacrolix commented on #234
@elgatito I'd put HalfOpenConnsPerTorrent to maybe half of EstablishedConnsPerTorrent, which I'd put at approximately the number of connections you expect the users network to support (100-200 are conservative guesses), divided by the number of torrents you expect them to have loaded simultaneously. #273 and a global connection limit would help this but I haven't done either.

TorrentPeersHighWate

[2018-10-26 06:04] anacrolix commented on #277
It's very poor practice to have whitelists. Those trackers should do their best to respond appropriately, and send error messages if they cannot, otherwise it just becomes a guessing game of which client name to masquerade as. Here's a simple example: https://webaim.org/blog/user-agent-string-history/

[2018-10-27 01:17] Mahava commented on #234
Hi.
What's the Plugin connectivity in the 'Advanced' tab?
Also, is there a way to pass the selected link onto real-debrid to play?  That is, to use RD as the torrent streamer?

[2018-10-27 16:47] elgatito commented on #234
@Mahava 'No' to all. And it's not the right place to ask.

[2018-11-02 06:48] anacrolix commented on #283
Please reopen if more information on how this is possible comes to light.

[2018-11-02 06:48] #283 closed

[2018-11-02 07:05] anacrolix commented on #280
Can you reference where it's not possible to get peers on the other IP stack? According to BEP 7, it's allowed to announce to one or both stacks, and possible to receive addresses for both stacks in a single response. It's not specified whether announcing to both is preferred, or when peers for both stacks will not be returned.

[2018-11-02 07:06] anacrolix commented on #277
If this issue was just a case of a tracker having a whitelist, I think it's appropriate to close this.

[2018-11-02 07:06] #277 closed

[2018-11-02 07:11] anacrolix commented on #273
I'm going to implement this now.

[2018-11-02 12:09] #273 closed

[2018-11-04 06:11] anacrolix opened #289 "Default DHT server is disabled when UTP is disabled."
See https://github.com/anacrolix/dht/issues/25#issuecomment-435353571 and surrounding comments for context. Currently the client creates a DHT server by default on each udp based client socket. If there are none, no DHT servers are created.

[2018-11-04 06:43] #289 closed

[2018-11-12 22:20] anacrolix commented on #270
Yes, this is already present, thanks to work by @elgatito. There are some limitations, but those can be separate issues.

[2018-11-12 22:20] #270 closed

[2018-11-14 19:51] elgatito commented on #234
I'd be much thankful if anyone could try the latest Elementum 0.0.62, which includes all the latest fixes/changes of the torrent library.

[2018-11-18 14:30] zaro commented on #234
I have pine64 with android, and recently reinstalled kodi and switched from Quasar to Elementum (0.0.62) .
Download speed went from the limit of my ISP (~50-Mbps) down to 10-20Mbps (if there is local peer in the same city) and 6-7Mpbs if there is no local peer.
This is on Ethernet, so wifi is definitely not an issue.

[2018-11-19 08:11] elgatito opened #290 "DisableIPv6 is not properly handled"
Hello,

With the change commit at https://github.com/anacrolix/torrent/commit/1a4950ad4a9fdad8b9cc3253d9dd8a52b410eda6#diff-d0b7f86cea13f90d3cc0cc2338da8d5f we now try to `allPeerNetworks`, which is `var allPeerNetworks = []string{"tcp4", "tcp6", "udp4", "udp6"}`.

And the problem is that on systems, without IPv6 support we get errors, even when we set `DisableIPv6: true`.

In my understanding Dis

[2018-11-19 08:47] elgatito commented on #234
@zaro you compare speeds for file storage? or memory storage?

[2018-11-19 08:51] zaro commented on #234
File storage.  What is the difference ?

On Mon, Nov 19, 2018 at 10:47 AM Denis <notifications@github.com> wrote:

[2018-11-19 09:30] elgatito commented on #234
This issue was initially describing issues with download speed even with memory storage.
Which we still, hope, to be retested with latest version of Elementum, by people, who had this issue.

[2018-11-19 09:31] anacrolix commented on #290
The behaviour is intentional. The goal is to reserve ports on all relevant protocols and networks. Disabling protocols/networks will disable accepting and dialing out on those disabled protocol/networks.

I think the easiest solution will be to ignore errors when listening due to unsupported networks or protocols, as the original intention will be preserved. I'll commit a change that improves the

[2018-11-19 09:40] elgatito commented on #290
Latest version of Elementum is crashing without any panic in the log, on systems without IPv6.
I wonder if that could be a C error, that kill entire application. Not sure how to test it. On same systems previous version (release almost 3 monthes ago) is starting fine.

[2018-11-19 14:09] svera opened #291 "Torrents stuck in getting info"
I'm trying to develop a little torrent client, but I cannot pass from `<-gotInfo()`, as I no receive no information from any server. Using the library CLI I cannot download it either. On the other hand, I've tried to download the same torrent file with qBittorrent with no problem, so the file has seeds and peers.
I'm trying to troubleshoot what is the problem, but with no luck. Could anyone provid

[2018-11-19 16:16] svera commented on #291
Answering myself, this is definitely a problem with Mac OS, as I've tried the same code in Ubuntu and it's working perfectly.

[2018-11-20 09:45] hongli-my opened #292 "peer stuck when download data"
I install 50 machine,  one is seeder,   the other download data batch,  but,  success:  47,   2 fail;
and no error log
some log:

[code]

[2018-11-20 09:54] anacrolix commented on #292
It would be most useful to have the [client status](https://godoc.org/github.com/anacrolix/torrent#Client.WriteStatus) for the machines that failed.

[2018-11-20 10:07] anacrolix commented on #291
I've just tried with Mojave on a mobile internet connection. If you have blocked ports it will be much harder to get peers for less popular torrents. I tested with `magnet:?xt=urn:btih:KRWPCX3SJUM4IMM4YF5RPHL6ANPYTQPU`.

[2018-11-21 01:38] hongli-my commented on #292
log status after define torrent client:

[code]

some log are normal

[code]

but log end with;  may be daedlock ?

[code]

[2018-11-25 17:55] elgatito commented on #290
With the most newest version the problem persists - https://pastebin.com/sM9bCMYw
Without DHT and with Disabled IPv6 peogram crashes when system physically not supporting IPv6.

[2018-11-25 17:56] elgatito commented on #290
So we are not getting error from the `NewClient()`, it's killed on the half way.

[2018-11-25 21:03] xdeee commented on #234
Speed is much better now - about 7Mb/s (of 11Mb/s full bandwidth) and my router feels good when I watch a movie. But video playback became irritating. FPS drops and freezes when downloading is active. CPU load is about 60%.
I'm using Mi Box 3, elementum 63 with memory storage.
bundle: https://drive.google.com/file/d/16qkEwDd70TeGpvebwYjEWTVsk5R1nP7l/view?usp=sharing

[2018-11-26 03:39] btkador opened #293 "pex encode/decode error when builing custom pex package"
I've created a test to construct a pex package for sending, but decoding afterwards for verification fails with

`bencode: error calling UnmarshalBencode for type *krpc.CompactIPv6NodeAddrs: bencode: value (array) is not appropriate for type: string`

I dont specify any IPv6 adresses, uppon creation so they set empty as default.

Is there something wrong in the specs implementation?

[code]

[2018-11-26 04:40] btkador commented on #293
was able to (re)produce a valid pex string, by using my own struct for pexMsg since I found no other way to set the undefined fields to null.

[code]

used the following captured pax packet from the wild for comparision:

[code]

[2018-11-26 21:56] anacrolix commented on #293
Thanks for finding this.

[2018-11-26 21:57] #293 closed

[2018-11-26 21:59] backkem commented on #138
Quick update on pions/webrtc: we've finished implementing DTLS and plan to land it in master as soon as December 1st. This enables WebRTC in pure Go!

I reached out in chihaya/chihaya#388 for the tracker side of things.

Regarding the client side. It seems we need to:
1. Introduce a new Webtorrent network type and revise any logic that assumes a hard coded amount of networks.
1. Generalize the `Pe

[2018-11-27 07:58] btkador opened #294 "s3 storage support"
question...

I've seen mentiones about s3 as storage backend few times in old tickets, and also in the readme.

Is there any working implementation you can provide? or draft working code, so that I don't need to start completely from scratch?

Thanks

[2018-11-27 08:41] elgatito opened #295 "ConnTrack issues"
Creating this issue to report of a different issues, related to ConnTrack addition.

I have a report of waiting for 1 minute till `GotInfo` returns

[code]

As I have written on the gitter channel, it would be great if we prioritize different sources of connection requests, like: Resolve (maybe other places, that need immediate requests)  -> anacrolix/torrent -> anacrolix/dht -> other

[2018-11-27 08:47] anacrolix commented on #294
Here's an old implementation I used in 2015: https://gist.github.com/anacrolix/d0adb869016959fdc875800c3a9bbdb1. The AWS package, and the torrent storage interface have likely changed by now.

[2018-11-27 12:22] #295 closed

[2018-11-27 13:14] anacrolix commented on #290
This error looks like it should cause NewClient to fail: `19:39:05.013 T:139689921431296  NOTICE: [plugin.video.elementum] [31mERRO  bittorrent   ▶ configure        [0mError creating bit client: subsequent listen: listen tcp6 :42609: socket: address family not supported by protocol`. I would switch back to `listenAll(cl.enabledPeerNetworks(), ...)` per your suggestion but it's not quite that sim

[2018-11-27 13:18] elgatito commented on #290
I'm not sure how system handles when IPv6 is disabled in the kernel and we try to listen. One thing is that adapter is not enabled with ipv6, another thing when system totally disabled ipv6.

Hard to reproduce it. Maybe need any virtual machine build without ipv6. Not sure.

Why do we have to listen ipv6 if we not going to receive or send any ipv6 requests?

[2018-11-27 14:32] elgatito commented on #295
Can we print conntrack status in the client status?
It's not public, so not printable from the outside.

`Max: 200 ` behaves better than 1000?

[2018-11-27 22:30] anacrolix commented on #295
1000 is the default for public testing, definitely something smaller should be required for bad routers. Somewhere between 100 and 500 in my experience. 200 is a good starting place. It's probably worth exposing that value to your users, as it's completely dependent on their internet service capabilities.

[2018-11-27 23:33] #290 closed

[2018-11-27 23:39] anacrolix commented on #290
Per your recommendation, I've decided not to listen to IPv6 networks if it's disabled. Peer clients may misinterpret the listener being present (even though it's not used when disabled), and deciding when to ignore the listen error for disabled networks is complex.

[2018-11-28 03:19] anacrolix commented on #234
@xdeee Please try again with d9fe3f50d3f17e13bf037fcf0a212bdb769e13dd or later.

[2018-11-28 07:56] elgatito commented on #290
Thanks, I will try the new version.

[2018-11-28 10:11] lastchiliarch opened #296 ""undefined reference to `clock_gettime'" build error"
build command:

 go build  -o torrentdetect -x main.go

gcc:
Using built-in specs.
Target: x86_64-redhat-linux
Configured with: ../configure --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.com/bugzilla --enable-bootstrap --enable-shared --enable-threads=posix --enable-checking=release --with-system-zlib --enable-__cxa_atexit --disable-libunwind-

[2018-11-28 16:37] elgatito commented on #295
@anacrolix trying latest fixes.

After few minutes of playback I get:
[code]

After another minute:
[code]

And so on, so it raises and raises.

[2018-11-28 16:54] elgatito commented on #295
Trying with custom timeout (10s), looks better.

Do we really need so big timeout?

[2018-11-29 03:06] lastchiliarch commented on #296
I just solve it, change to use gcc4.8.2 to compile.

[2018-11-29 03:06] #296 closed

[2018-11-29 07:31] anacrolix commented on #295
It's really hard to say, routers vary so much, and when the limits are hit, the results are usually pretty severe. You're probably best to expose very reasonable defaults (say 1000 max), and let users fiddle it to suit their conditions (and report what works for them so you can adjust your defaults perhaps). nf_conntrack defaults to 30s for UDP, and I think TCP has a default of around 180s. If you

[2018-11-29 07:37] elgatito commented on #290
Got a feedback from user, that your fixes helped, now application is not crashing.
Thanks!

[2018-11-29 07:39] elgatito commented on #295
I have released new version with the latest changes.
Have set `Max` to be `ConnectionsPerTorrent * 15` and a manual setting ability (if anyone wants to change it). And `Timeout: 10 * time.Second`.

Will test with these values. Looks fine, speed gained pretty quickly and it looks more adequate.

[2018-11-29 07:42] anacrolix commented on #295
I think you're better off with a fixed MaxEntries, say 600, than increasing the timeout, but let's see. Include https://github.com/anacrolix/dht/commit/b09db78595aaba14cd992537fbe992a4c5e0a141 when you can too.

[2018-11-29 07:44] elgatito commented on #295
I see there is a support for handling keep-alive requests.

Are we sending keepalives for active connections?
I see this code:
[code]

[2018-11-29 07:47] elgatito commented on #295
We default we have 50 per torrent, so it would be `MaxEntries: 750` in ConnTracker.

[2018-12-03 20:31] mbLc commented on #234
Hi,

I got the same issue, my speed is blocked at around 3Mo/s with memory download and with FAT32 it's extremely slow (around 500ko/s).
I'm downloading the same file at 10 / 15Mo/s with the VPN on my computer.

Before the speed was blocked at 2,5Mo/s and since I put the connections limit at 60 and the memory size at maximum it improved the speed.

Here is my debug:

http://pasted.co/94b1aa3b

[2018-12-07 19:36] elgatito opened #297 "bencode throws error on parsing"
Hello.

Having errors from bencode, tried both zeebo/bencode and your bencode.
Both throw errors.

[code]

So looks like every torrent file from that website throws error.
Can't understand if that is a wrong torrent file or something.

[2018-12-10 20:05] elgatito commented on #297
Probably again some problem with dates or something...

[2018-12-11 13:50] btkador opened #298 "[metainfo] resulting filenames are invalid utf8 if containing chinese/japanese characters"
while runing a few hundred test torrents thru my torrent parser using your metadata decorder I ran into a problem with the following torrent. All the filenames and path names I get are broken utf8. If I open the same torrent with ie uTorrent it all looks right.

http://itorrents.org/torrent/6AD28246A348EEBBBB6B070ED08EE75F350E9B62.torrent

If I run
[code]

I get only bad utf8 crap like

[code]

Is

[2018-12-11 22:17] anacrolix commented on #294
No problem. My approach was to store incomplete stuff locally, and submit entire pieces to S3. I don't know if that was reflected in the code sample I gave.

[2018-12-18 19:44] antonsoroko commented on #234
@anacrolix @elgatito
Hi!
Unfortunately I have the same issue.
env: elementum 0.66, android 8.0, xiaomi mi box 3, ram as storage

1) log+perf https://paste.ubuntu.com/p/7VqTpSsyMT/
perf https://paste.ubuntu.com/p/PDNqPvQ9d2/
perf https://paste.ubuntu.com/p/SmrtvFxgkS/

2) log https://paste.ubuntu.com/p/zmrwkq8YZS/
perf https://paste.ubuntu.com/p/DsCsDRCjvM/
perf https://paste.ubuntu.com/p/fQRwykWRT

[2018-12-18 20:12] elgatito commented on #234
@antonsoroko you have 50mb initial buffer, which is too low if you expect to see 100mb speeds, especially if you have no low number of peers. You can set initial buffer to 150mb and enable DHT and set everything to "auto" (connection limit).

[2018-12-18 20:21] antonsoroko commented on #234
@elgatito
It is always the same
I have tried "250MB as memory for torrent + 250MB + DHT + auto" for buffer for many times
maybe some of these logs have different parameters, it is because I am already lost in my trials

[2018-12-19 15:30] antonsoroko commented on #234
example for "250MB as memory for torrent + 250MB for buffer + DHT + auto limits" and foreign torrent file:
log+perf https://paste.ubuntu.com/p/5tD3zHvqRk/
perf https://paste.ubuntu.com/p/Nv8FF9w9Td/
perf https://paste.ubuntu.com/p/Rg2HXJKzdf/
perf https://paste.ubuntu.com/p/ZDVpPkX7Ks/

thanks.

[2018-12-19 21:59] antonsoroko commented on #234
BTW, I launched elementum daemon on my linux pc (with write to disk) - after it downloads about 500MB
 downloading speed becomes quite good (in comparison to android).

[2018-12-20 01:15] anacrolix commented on #265
Thanks @antonsoroko . I don't have time to get to this at the moment. The pastes will be very useful.

[2018-12-20 11:03] TongxiJi commented on #218
But where is the  example of bootstrapping a torrent from a file on disk  now？

[2018-12-20 11:07] elgatito commented on #218
@TongxiJi
https://godoc.org/github.com/anacrolix/torrent#Client.AddTorrentFromFile ?

[2018-12-20 11:36] elgatito commented on #218
@TongxiJi full path to torrent file as an argument.

[2018-12-21 01:27] TongxiJi opened #300 "need a example about seeding files directly from the filesystem"

[2018-12-21 02:49] TongxiJi commented on #300
I find a problom or a bug  that  seeding will failed if seed dir has any read-only file .

[2018-12-21 03:45] TongxiJi commented on #300
@anacrolix  I generate an info  from a file or directory first，then i  do as torrent downloading and replace  function  “AddTorrent” to “AddTorrentWithStorage”.
I've test pass dir without read-only file.

[2018-12-21 03:55] TongxiJi commented on #300
@anacrolix   And test env os is windows10 64bit.

[2018-12-22 05:57] btkador opened #301 "dht announce sent only once per torrent"
I've added some debug print in the torrent.go code

[code]

and I get only the `DHT start announceDHT` per torrent but never the `DHT done announceDHT` .. therefor `numDHTAnnounces` is always 0 - which was the reason I got suspicious in the first place.

so I looked deeper into that and figured out that after sending the announce dht packet `s.Announce()`, `t.consumeDHTAnnounce(ps.Peers)` is trigg

[2018-12-22 06:17] btkador commented on #301
my quickfix for now

[code]

since all get_peers responses should have been received within one minute easily

[2018-12-22 17:06] antonsoroko opened #302 "panic: sync: negative WaitGroup counter"
Hi. I get panic after search in elementum on armv6 device (raspberry pi 1b):
[code]
please let me know if you need some extra info.

[2018-12-23 10:17] anacrolix commented on #302
This was reported [once before](https://github.com/anacrolix/dht/issues/15) and never resolved. I can only guess it's a hardware-specific bug or a race condition of some kind. Are you able to run with `-race` by any chance? Are you able to reproduce it consistently? Thanks

[2018-12-23 12:11] antonsoroko commented on #302
Hi.

I got it 2 times so I guess yes.
<details>
  <summary>First time I got something more weird</summary>
2018-12-21 05:46:30 client.go:324: dht server on 0.0.0.0:43791: dht bootstrap: dht.TraversalStats{NumAddrsTried:5950, NumResponses:2392}
panic: sync: negative WaitGroup counter

goroutine 40132 [running]:
sync.(*WaitGroup).Add(0x222d330, 0xffffffff)
	/usr/local/go/src/sync/waitgroup.go:74 +0x

[2018-12-23 12:16] elgatito commented on #302
@anacrolix build with `-race` and then reproduce the error with that binary? Or just build and expect any warnings?

[2018-12-23 12:35] antonsoroko commented on #302
I guess build and run, but there is a slight problem with that as I can see:
https://golang.org/doc/articles/race_detector.html#Supported_Systems

So I guess it should be investigated in other way...

[2018-12-23 13:04] btkador commented on #301
may be the reason for #291 too, since when you add a magnetlink without trackers, and the first dht query doesn't deliver any peers (ie because still bootstrapping) it will stay in this state forever.

My quickfix worked for me so far, but fixing it in the dht library may be the better solution ;-)

[2018-12-23 22:18] anacrolix commented on #301
I'm not able to find a bug. I think the announces are just taking a very long time, on account of the rate limiting recently introduced. An announce on a very quiet torrent took 26m in my testing.

[2018-12-23 22:50] anacrolix commented on #302
@elgatito I think the error will have to be reproduced in running the binary.

[2018-12-23 23:42] anacrolix commented on #302
I'm really not sure. I wasn't able to solve this last time either.

[2018-12-23 23:51] antonsoroko commented on #302
https://github.com/derekparker/delve/blob/master/Documentation/usage/dlv_exec.md
https://golang.org/doc/gdb

The only thing is that we probably need to re-compile the binary:

[2018-12-24 01:33] anacrolix commented on #302
Is this issue definitely constrained to armv6?

[2018-12-24 01:36] antonsoroko commented on #302
can't say for sure. I had this issue only on linux arm. I also used elementum on android arm32 and linux x64 but have not seen this issue.

[2018-12-24 03:56] btkador commented on #301
Sending an announce (dht get_peers) and waiting 26m for responses doesn't realy make sense. While instead sending one every 5 minutes while below `TorrentPeersLowWater` - like it seems originally designed - makes way more sense.

Due to the design of DHT a get_peers run can always return low or zero peers, while the next one (walking another tree) returns a lot more. Waiting (and blocking further

[2018-12-24 04:28] TongxiJi opened #303 "seeding read-only files directly from the filesystem bug"
https://github.com/anacrolix/torrent/blob/cc531b8c4a801297c7f2b7cd1a3031faa6bfdbb2/storage/mmap.go#L124

When a file is read-only of  the filesystem，error “Access is denied” occured.

[2018-12-24 08:11] anacrolix commented on #301
The announce crawls the keyspace, always favouring addresses closest to the target. There are many `get_peers` queries sent. Overtime, as the nodes closest the target have been queried, the traversal will drift away from the target. I haven't worked out when to terminate that part of the search. 26m currently traverses about 10-15k nodes.

[2018-12-24 12:08] a-nunes commented on #265
Same here. Every time I try to use "Use File" option, my speed slows down (about 1MB/s or less) and takes a lot to start, seems download almost full file before start.

[2018-12-25 23:04] heartlogic commented on #234
Hello...

I am also have low download speed with elementum...

I have installed it in Tanix TX5 Pro box with CoreELEC 8.95.6 (LE 9.0) in SDCard...

I compare it with Quasar installed in LibreELEC with Krypton 17.6 and Quasar starts immediately downloading at the top speed of VDSL line (5000kb/s D - 500kb/s U)...

With Elementum at best I reach 900kb/s Download speed...

I have tested be all option

[2018-12-27 00:47] acsterf commented on #234
Great work guys, since 0.66 I can achieve my internet throughput speed (abouta30 Mb/s) and memory storage is usable for large torrents.

Regarding how it works, a 200 MB buffer + 200 MB memory storage means:

a) 400 MB of RAM;
B) 200 MB of disk storage + 200 MB of RAM;

[2018-12-27 13:17] elgatito commented on #234
I would say this issue needs to be closed.

Initial problem was related to network throughput, not linked with storage speeds. And that seems to be fixed.

File storage speed is tracked here: #265

[2018-12-27 13:32] elgatito commented on #234
@heartlogic you should read this issue first. Then, if you have any problems - post log files.

[2018-12-27 16:07] antonsoroko commented on #234
I would say that this is arguable...
I have very poor performance with "geographically far" peers and quite good (not perfect, though) with "geographically near" peers. (Logs are available in my previous message)
No offense.
Of course your result may vary :-)

@heartlogic try to use memory as a storage. File storage has issues, see #265 as @elgatito mentioned above.

[2018-12-27 19:16] xdeee commented on #234
Tested on three systems today. All devices use memory storage.

At work, Windows 7 x64 fresh Kodi 17 install, ethernet:
Elementum utilized 4,2Mb/s out of 5.6Mb/s, the speed seems to be sufficient for streaming but remains unstable. Quasar on the same system shows maximum available speed. Lost logs from this run, sorry.

Mac OS, fresh Kodi 17 install, Wifi 5G:
Elementum starts torrent at 5-6Mb/s fo

[2018-12-27 19:19] mbLc commented on #234
I'm using memory storage, have download issue and posted my log and no one cared to reply...

[2018-12-27 22:05] heartlogic commented on #234
I have used both file and memory storage with same results...

I would say that issue is on my setup but by comparing with other programs i conclude that issue is with Elementum...

Please do not get this the wrong way because I know how hard and time consuming is to program and especially for free but Elementum has issues and download speed is one major issue since we are talking for a torrent pr

[2018-12-28 18:34] elgatito opened #304 "Download with limiter does not work"
I've got an issue about not working download when downlowd limit is set.
Nothing was changed from my side.
I could reproduce the problem myself.

Setting to 1000 kb rate limiter. Starting magnet - it cannot even download metadata. If starting torrent file - there are no active connections, while available connections are there.

You can take a look: https://paste.ubuntu.com/p/dFkFHfhz4j/

[2018-12-29 04:07] anacrolix commented on #150
@antonsoroko not currently

[2018-12-29 15:19] zynexiz commented on #234
It's definitely a issue with Elementum, and has been from the start. I use Quasar instead because this plugin is pretty useless (the UI itself is really good though). I get at most 1,5-2mb/sec download speed (most times just 50-500kb/sec, and halt half of the times) and with Quasar 10-12mb/sec.

I'm starting to wonder if the traffic is routed thru some kind of proxy we don't know about!?

[2018-12-29 16:14] heartlogic commented on #234
Yes, I have slow speeds with memory storage as well... The torrent engine is in issue here...

I can help if you point me the way...

[2018-12-29 16:38] elgatito commented on #234
@heartlogic http://elementum.surge.sh/contribute/log/

[2018-12-29 16:48] zynexiz commented on #234
@antonsoroko
The problem with slow/halted downloads is occurring with all the storage options, never gets over about 2,5 mb/sec (most of the time lot less than 1 mb/sec), while Quasar download in >8 mb/sec most of the times (depending on the seeders of course).

Just a thought, why not use Quasars engine that's actually working, until the issue is resolved anyway? As for now, there's no way we can

[2018-12-29 17:32] xdeee commented on #234
This is definitely the torrent library issue. Tested it with [this client](https://github.com/deranjer/goTorrent) using the same library and got the same result: speed keeps at 0.5-0.7Mb/s with some peaks at 2.5Mb/s. BTW: wifi also dies when I start downloading.

[2018-12-29 18:05] antonsoroko commented on #234
@xdeee
Thanks for the sharing.
Could you please try with disabled dht and then with disabled utp?

[2018-12-29 18:11] heartlogic commented on #234
I have tried all these options in any combination possible... The result is the same...

[2018-12-29 19:13] antonsoroko commented on #234
One of workarounds could be https://github.com/anacrolix/torrent/issues/150#issuecomment-450336726
At least this could mitigate some situations.

[2018-12-30 08:32] btkador commented on #301
dht follows the nearest path. so even you use 10-15k nodes in your table it does always jump to the next nearest using a tree of 8.. doesn't it? and that should be done within 1 minute.
Did you check if you ever get new peers 5 minutes after you've send the initial announce query?

I'm still confident that aborting the search here after 1 minute is totally fine (works for me perfectly atm) and do

[2018-12-31 00:12] anacrolix commented on #303
Thanks for the report. I won't have time to fix this in the short term.

[2018-12-31 03:13] anacrolix commented on #234
@antonsoroko it won't provide much or any improvement. The current piece strategy will fetch any piece reads are blocked on with the highest urgency. If the client is struggling to buffer ahead of a read it's essentially sequential already.

[2018-12-31 03:14] anacrolix commented on #304
I can't reproduce this. It's possible setting the PublicIP4 and PublicIP6 fields in the ClientConfig are a big contributor. I did find that it took some time to start connecting to peers for those torrents over the DHT.

[2018-12-31 13:51] elgatito commented on #234
@xdeee

If your wifi dies - then your networking hardware is crappy and can't handle big amount of connections. You should decrease number of concurrent connections in Elementum settings (by default it's automatic and is about 800). It's not the number of torrent connections, but another setting to limit overall connections.

Another option is to turn off dht, if you don't need it.

[2018-12-31 13:54] elgatito commented on #234
@heartlogic  It will always be the same for you, until you provide any requested information.

[2019-01-03 08:30] Sheicer opened #305 "Зависания на версиях старше 0.0.46"
Приветствую.
Имеется приставка MINIX Neo U9-H. При воспроизведении Remux 1080p, через определенное время (10-20 сек) начинает притормаживать видео. В версиях 0.0.46 и младше - все идеально. Буфер в advancedsettings и в elementum - 100 мб. Буферы пробовал разные от 5 до 300мб - не помогло.
Причем если смотреть по роутеру во время воспроизведения  то в 0.0.46 скорость всегда около 90-96 Мбит, в верс

[2019-01-03 13:43] #305 closed

[2019-01-06 00:12] f4nff opened #306 "How to use torrent to create a build .torrent to share"

[2019-01-06 05:22] onestraw opened #307 "Add release version"
There is one repo `chihaya` used the package, chihaya use `dep` to manage its dependecies, as far as I know `dep` can not specify `commit` of package, so `chihaya` must update torrent-related code if run `dep enusre -update` even if we want to add some new packages.

https://github.com/chihaya/chihaya/issues/444

[2019-01-07 03:18] anacrolix commented on #307
Is a tag sufficient? I am considering to add tags for go mod support.

[2019-01-07 03:19] anacrolix commented on #306
Is this similar to #300?

[2019-01-08 03:32] onestraw commented on #307
Yes, it works.
By the way, `dep` supports specifying commit with [`revision` command](https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md). `dep` recommends using `version` as it is more formal and provides more release infomations.

[2019-01-08 04:55] anacrolix commented on #307
I've released and tagged v1.0.0. I intend to support go modules, which should work for go dep so far as I can tell.

[2019-01-08 04:55] #307 closed

[2019-01-12 15:59] veniciusgp commented on #234
Dear,

Not if it is already known but when the DHT feature is activated there is intense activity on my network for a few minutes that causes my modem to crash during that time. After a few minutes everything is normalized. If the DHT feature is disabled everything works fine. Is this fact already known? Do I need to send any logs? I am using the latest version (0.71)

[2019-01-12 21:16] yonson2 commented on #271
I also ended up wanting to hide the logs outputted by the program, instead of providing a logger interface and unifying both logging libraries what I endep up doing (good enough for my use-case) was to simply ensure that those `log` calls are only called if the `Debug` property of the client is set to true.

You can see an example of how it looks like [here](https://github.com/yonson2/torrent/blob

[2019-01-13 07:31] anacrolix commented on #302
I believe I've tracked down the issue. Please see anacrolix/dht#15.

[2019-01-13 07:55] anacrolix commented on #271
It's always difficult, one man's log is another man's noise. Are there specific log messages that are annoying you? Generally I try to log anything that may indicate degraded performance, or should not occur under favourable conditions. For example the UPnP debug message is difficult, as if UPnP discovery fails, performance may be greatly affected for some users.

[2019-01-13 07:56] anacrolix commented on #271
Also note that making the logging system more complicated isn't useful to casual consumers of the library. They have to understand the system to know what to log for their purposes.

[2019-01-13 07:58] anacrolix commented on #271
If you want to make a PR with your desired changes, I'm happy to accept many of them.

[2019-01-13 09:43] anacrolix commented on #304
Any update on this @elgatito?

[2019-01-13 09:46] anacrolix commented on #234
It is known. There's a fix in place in the form of connection tracking. There may be an option exposed in the Elementum UI for it. @elgatito or other regular users may have more info. If you can find what setting works for you that would be ideal.

[2019-01-13 12:06] yonson2 commented on #271
Well, my specific scenario was that of a cli utility that uses your library so I just wanted a way to hide all but fatal `log`s when running in a production environment (i.e. ready to be distributed binary) so the final user doesn't need to see them, there are a couple of log calls from [elgatito/upnp](https://github.com/elgatito/upnp) that currently cannot be hidden but if the author seems like i

[2019-01-14 08:53] elgatito commented on #304
@anacrolix we can close it.

[2019-01-14 08:53] #304 closed

[2019-01-14 10:05] antonsoroko commented on #302
@anacrolix @elgatito
I guess we can try to run it on Linux x86, but as I mentioned before it could be impossible on armv6 (if documentation is correct).
Thanks.

[2019-01-14 10:11] antonsoroko opened #309 "Add option and support of forced sequential download mode"
Hi.
It would be nice to have support of forced sequential download mode - would be really useful for streaming. In current implementation there is buffering problems in elementum if download speed is not so great (e.g. I experience issues with geographically remote peers). But with real sequential download and big buffer we can mitigate this kind of problem.

Thank you.

[2019-01-14 14:31] anacrolix commented on #302
@antonsoroko do you refer to running with `-race`? You can still run this unit test without `-race`, it will just take many more runs to reproduce the issue. Please try without `-race` if that's the case.

[2019-01-14 22:35] veniciusgp commented on #234
Thanks for listening

With active DHT and UTP I only get stability on my network by limiting the number of connections to a value of 40 or less and this brings me problem with low download speed.

The elementum project is very promising but these problems makes me reuse Quasar. Although discontinued, it uses a much more stable torrent engine that makes it possible to always use the maximum of my i

[2019-01-16 13:31] anacrolix commented on #309
I think this has been suggested before. If you are using a Reader, and struggling to acquire data, the downloads are effectively sequential. You can also make the buffer as small as possible to truly force sequential download, but I don't believe sequential downloads with a larger buffer will give as much benefit as you think. I will leave this issue open in case others identify specifics about th

[2019-01-16 13:32] anacrolix commented on #309
See https://github.com/anacrolix/torrent/issues/150#issuecomment-289264973 and https://github.com/anacrolix/torrent/issues/139#issuecomment-269085138.

[2019-01-18 12:33] anacrolix commented on #301
I've been thinking about this problem a lot and I think you're correct. However I wish to set the DHT announce interval to 5 mins, with some smarter logic about when to abort the announce. Do you want to try a PR with the minimal changes?

[2019-01-18 14:36] btkador commented on #301
since I haven't forked anything yet and it's just two likes of code lets go for a patch for now

[code]

That would fix the existing issue right now and you can still come up with a smarter logic later :-)

[2019-01-21 03:18] pataquets commented on #248
@djkazic: Thanks for the work!
I +1 what's said above. Even if the code is not perfect as it is now, posting it already adds a lot of value.
Reviews will come in for sure. And even if you don't have time to polish it yourself, others can move the issue forward, so it ends up merged.
Please, post whatever you have to set the ball rolling.

[2019-01-21 21:54] #301 closed

[2019-01-21 22:49] anacrolix commented on #302
Fixed upstream.

[2019-01-21 22:49] #302 closed

[2019-01-23 16:09] antonsoroko commented on #309
It works just fine in quasar (libtorrent) :-)

[2019-01-23 21:15] anacrolix commented on #309
@antonsoroko I don't believe performance differences between libtorrent and anacrolix/torrent are for this reason.

[2019-01-23 21:16] antonsoroko commented on #309
I mean that I believe that this could mitigate this difference.

[2019-01-26 05:49] Vladislavik commented on #138
Any news about suppert webrtc? It is https://github.com/gorilla/websocket
That work pretty with websockets on Go

[2019-01-28 22:19] anacrolix commented on #138
@Vladislavik No news on WebRTC.

[2019-01-29 12:06] yonson2 commented on #271
@anacrolix were you able to check the PR #308?

[2019-01-30 00:16] pataquets opened #310 "Support 'x.pe' parameter on magnet URIs"
When opening/decoding magnet links, parsing x.pe parameter would allow faster download and bootstrapping of torrents.
More info: http://bittorrent.org/beps/bep_0009.html#magnet-uri-format

[2019-01-30 02:33] anacrolix commented on #271
@yonson2 Yes, it inspired me to standardize the logging. See the comment in the #308. All log messages route through the [Client logger](https://github.com/anacrolix/torrent/blob/174915206515f7be9f7e1eaaf2b56dd013725a33/client.go#L54), which isn't yet exposed.

[2019-01-30 03:03] anacrolix commented on #310
Thanks! Great idea.

[2019-02-13 09:02] 0xbkt opened #312 "v1.0.0 is broken when installed using Dep"
FYI, with Dep, it uses `anacrolix/log@v0.2.0` and it does not have some functions needed by `anacrolix/torrent@v1.0.0`. It's better to bump a version because Dep fails with current version unless `master` branch is used.

Error:
[code]

Sourcegraph (`repo:^github\.com/anacrolix/torrent$@v1.0.0 anacrolix/log`)
https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/anacrolix/torrent%24%40v1.0.0+anac

[2019-02-13 14:14] 0xbkt opened #313 "How to pipe as I read?"
I'm working on a piper application which originally requests a big file from a remote HTTP server in chunks using HTTP ranges and uploads them concurrently (e.g. 10-by-10 simultaneously) to another HTTP server. I wanted to implement the same for torrents. But when I use `NewReader`, it creates a BoltDB file and the file I'm downloading on disk on its own, which is unexpected in my case as I'm limi

[2019-02-18 13:37] WinPooh32 commented on #312
I have the same issue using **go.mod**:
[code]

Go version: `go version go1.11.5 linux/amd64`

It looks there is a bug in go build system. It finds collision with golang's std package `log`

[2019-02-19 03:18] WinPooh32 commented on #312
@0xbkt, I have solved this issue by using [govendor](https://github.com/kardianos/govendor) tool.

[2019-02-19 03:49] anacrolix commented on #312
This should be fixed in the tag v1.0.1.

[2019-02-19 03:50] #312 closed

[2019-03-01 00:15] anacrolix commented on #313
1. Yes, you can provide a custom storage backend. For example you might make use of a filecache (there's some examples floating around, probably in anacrolix/confluence), or use an entirely memory based solution, or whatever you prefer.
2. It wouldn't be necessary, per 1. You also really shouldn't access the data without going through a torrent.Reader, particularly when it comes to streaming, unle

[2019-03-16 12:51] MichaelAndoid commented on #234
Hi after many months using Quasar because having this problem to in 2 android boxs, know with the new migration to libtorrent in V0.1.20 i can use elementum without ptoblems.
And works ok with the default settings, max speed connection.

Thanks for this migration ;)

[2019-03-16 22:02] #234 closed

[2019-04-07 23:33] anacrolix commented on #233
@deranjer Can you confirm calling methods on the `rate.Limiter` is sufficient?

[2019-04-07 23:34] anacrolix commented on #206
go mod is now supported, corresponding version tags are in use.

[2019-04-08 13:21] isqad opened #314 "Calling of `conntrack.(*EntryHandle).Forget` causes segmentation violation"
Sample code:

[code]

File downloaded successfully, but it always fails with error in the end:

[code]

I explored some pieces of your project code and found that you added this line [here](https://github.com/anacrolix/torrent/commit/485d6bb6e743afe9b4dd54c8a26ac64d4d79963e)
Here my application fails

[2019-04-10 01:05] deranjer commented on #233
Yes, per my tests it did work fairly well, you can see my rather sloppy implementation in my config code: https://github.com/deranjer/goTorrent/blob/5b262e66516f249a8bea937a1b36b3a65332a20b/settings/settings.go#L75

Essentially it boils down to these two lines:
[code]

rate.Limit accepts and INT I believe, or you can do rate.Inf which is the built in unlimited.  This can be passed to the config ea

[2019-04-10 01:08] deranjer commented on #233
Hmm, just reread your comment.. you are talking about resetting the limit while running using the Setlimit on an existing limiter?  I don't remember if I tried doing that or not...

[2019-04-10 03:03] anacrolix commented on #233
Yes I believe you can change the rate while it's running.

[2019-04-10 08:20] anacrolix commented on #314
Thanks for the report. I wasn't able to reproduce using `godo -v github.com/anacrolix/torrent/cmd/torrent 'magnet:?xt=urn:btih:B507A45DA54ED5EED13221B16E2030DF789A235F&tr=http%3A%2F%2Fbt4.t-ru.org%2Fann%3Fmagnet'`. However the error you describe should be possible if the `conntrack.Instance.Wait` returns nil due to context completion. I'm not sure how I've never seen this in production yet.

[2019-04-10 08:28] #314 closed

[2019-04-10 08:39] axet commented on #233
Seems like race condition to me. Rate limited not thread safe.

[2019-04-10 08:42] isqad commented on #314
I think that problem here https://github.com/anacrolix/missinggo/blob/master/conntrack/entryhandle.go#L35 by given stack trace above )
[code]

`remove()` method has been called for nil reference to `Instance` I think

[2019-04-10 10:34] anacrolix commented on #314
That's right. The fix should prevent that.

[2019-04-10 23:19] anacrolix commented on #233
It's thread safe: https://github.com/golang/time/blob/master/rate/rate.go#L266.

[2019-04-12 15:37] davtoro opened #316 "Panic in bencode"
[code]

Content of resp.Body buffer from tracker response (IPs were redacted):

[code]

It works on other torrent clients without issues.

[2019-04-13 13:28] davtoro commented on #316
I've did some tests, bencoded string returned from tracker is valid and it's parsed properly by bencode library in other languages. It seems that the problem is with the assumption that peer id is returned from the tracker. https://github.com/anacrolix/torrent/blob/master/tracker/peer.go#L18

Doing a check if peer id exists fixes the issue.

[2019-04-15 07:58] #316 closed

[2019-04-15 07:59] anacrolix commented on #316
Thanks for finding this.

[2019-04-15 23:54] anacrolix commented on #233
Please reopen if this solution doesn't work for you.

[2019-04-15 23:54] #233 closed

[2019-05-05 02:01] #313 closed

[2019-05-23 01:38] BruceWang666 commented on #266
How to  hook OnQuery in dht.ServerConfig when I init an torrent client ?

[2019-05-29 05:15] anacrolix commented on #266
This seems particularly relevant now. @toby are you or is anyone you know running `torrent` with an alternative DHT implementation? What do you think such an interface might look like?

For posterity, @BruceWang666's query resulted in #319.

[2019-05-29 13:54] toby commented on #266
@anacrolix I'm not but I did look into it. One of the difficulties I had was that the krpc implementation is also part of the `anacrolix/dht` and its pretty interwoven into `anacrolix/torrent`.

I think the ideal implementation would split all three areas of responsibility (torrent, dht, krpc) into separate libs that communicate through interfaces. I _did_ start working on this and have a very bro

[2019-05-30 02:09] anacrolix commented on #266
Thanks @toby that helps a lot.

[2019-06-13 01:58] #306 closed

[2019-06-13 02:10] anacrolix commented on #298
I believe the torrent contains invalid unicode. At least it does not appear to be utf8, which is expected.

[2019-06-13 02:11] anacrolix commented on #298
Perhaps if you identify the correct encoding (if any, it's probably utf16 or something silly), you might be able to convert it. I'm not aware of non-utf8 being a requirement in any torrent spec, so I'll close this for now until more information comes to light.

[2019-06-13 02:11] #298 closed

[2019-06-13 02:30] anacrolix commented on #297
The torrents incorrectly contain a bencode list in the `announce` key.

[2019-06-13 03:07] #297 closed

[2019-06-13 03:09] #291 closed

[2019-07-25 13:33] king6689 opened #324 "Nadia"
Need the link to this message

[2019-07-30 23:36] anacrolix commented on #324
https://github.com/anacrolix/torrent/issues/324#issue-472869077

[2019-07-30 23:36] #324 closed

[2019-07-31 01:04] anacrolix commented on #292
Did you progress any further with this?

[2019-07-31 01:05] anacrolix commented on #181
I've experimented with this in https://github.com/anacrolix/torrent/tree/fs-separate-module.

[2019-08-04 21:25] jpillora commented on #138
https://github.com/pion/webrtc

[2019-08-05 02:28] Sean-Der commented on #138
@jpillora I would love to see that happen :)

I wish I had the bandwidth to help, but I am always behind with `pion/webrtc`. If you start a PR I can answer any questions/make improvements that are need to make it happen.

[2019-08-05 03:33] jpillora commented on #138
I also wish I had the bandwidth :P posting just in case we have any
generous volunteers

On Mon, 5 Aug 2019 at 12:29 pm Sean DuBois <notifications@github.com> wrote:

[2019-08-07 03:39] anacrolix commented on #138
Does anyone have any numbers on the level of Webtorrent participation in the BitTorrent swarm? How about with alternative transports such as Websocket and QUIC? I could consider putting the time in to implement this myself if I know there's enough value in it.

[2019-08-07 07:52] lgrahl commented on #138
WebSockets will not work in browsers as discussed in length in https://github.com/webtorrent/webtorrent/issues/1492. QUIC is interesting but it's just a trial at the moment. We will have to wait for [WebTransport](https://github.com/WICG/web-transport) to become widely available **and** support peer-to-peer. But then it is definitely something we should jump on, although WebTransport is and will n

[2019-08-07 08:01] lgrahl commented on #138
That being said, there's **zero reason to not go with pion/webrtc right now** since this is a Go implementation. You have no idea how privileged you are in the world of WebRTC to have this stack. Please, jump on it now. You can still try fancy new technology and APIs later.

[2019-08-09 00:57] Sean-Der commented on #138
Thanks @lgrahl :)

@feross do you have any numbers around WebTorrent participation? @anacrolix I think you are in a really unique position to create the best WebTorrent client.

Everyone else is stuck doing Electron/Chromium if you got it working it would be dramatically more performance/less costly. Could make a really big impact, also the portability of Go would be a huge improvement also.

[2019-08-09 14:39] Tyrone-Zhao opened #326 "Why can't I download magnet?"
![image](https://user-images.githubusercontent.com/37615298/62786898-1e9f7a80-baf6-11e9-8d66-db86659b28b5.png)

As you can see, I use this from home. But can't download magnet. Should I take a indivisual IPv4 address or I can do this with 192.168.0.1? Where am I wrong?

[2019-08-09 14:39] Tyrone-Zhao commented on #326
What should I do?

[2019-08-09 23:01] feross commented on #138
WebTorrent Desktop has around **2,214,602** installs.

The browser version of `webtorrent` is a little bit harder to measure since folks can install it from `npm` and then ship it to millions of users potentially, and we'll just see that as a single installation in the npm stats. However, here's what we know:

- **9,400** downloads/month on npm
- **64 million** hits/month on the [CDN-hosted script

[2019-08-09 23:59] Sean-Der commented on #138
Those are some big numbers, nice work @feross!

Is it true what I said about no light weight clients being available? Everything requires Electron/Chromium?

[2019-08-10 06:42] mk0a1a opened #327 "Suppress logging to console"
How do I suppress all logging to console? The library currently prints non-error logs even when creating a client with no torrents. Preferably I'd like to print logs only when an error occurs and handle them myself. I'm currently using it as a module for my CLI app so the logs would dirty the output that I want to print from my app.

[2019-08-10 08:27] backkem commented on #138
Yes, all existing clients listed in webtorrent/webtorrent#369 use the JavaScript Webtorrent implementation under the hood. Libtorrent would be the other major implementation but they are struggling with picking a WebRTC lib since they all have tradeoffs. I think we don't have that problem. Pion WebRTC is a clean and stabilizing implementation and it will be easy to get any issues we run into addre

[2019-08-12 01:48] anacrolix commented on #327
I'm working on a new logging solution, that will give you total control of all output from the client.

[2019-08-12 01:52] anacrolix commented on #326
I believe I've discovered a long-standing bug introduced over a year ago, and subsequently fixed it. For popular torrents and users that aren't easily discoverable (such as behind NAT or similar), with slowish/high-latency connections, it's very difficult to establish outgoing connections. The bug is introduced by e3cb94006c3ac13fcef0a4699692b7191d2bb500 and fixed by 6013f09f8a7c3d96ae3e5bba5bff45

[2019-08-12 01:57] Tyrone-Zhao commented on #326
Yes，I think so. the speed is very slow at begining. My environment is Fabic Adsl. Should I try it on clould like AWS？

发自我的iPhone

------------------ Original ------------------
From: Matt Joiner <notifications@github.com>
Date: Mon,Aug 12,2019 9:52 AM
To: anacrolix/torrent <torrent@noreply.github.com>
Cc: Tyrone Zhao <tyrone-zhao@qq.com>, Author <author@noreply.github.com>
Subject: Re: [anacrolix

[2019-08-12 02:04] anacrolix commented on #326
Please try with the same connection as before, but with the fix.

[2019-08-12 13:34] Tyrone-Zhao commented on #326
It works! But the speed is also slowly. XD

[2019-08-12 13:48] Tyrone-Zhao commented on #326
could you change the imports such as golang/x/net to github.com/golang/net? I do this locally, but can't push to the respository. Thinks!

[2019-08-12 13:49] Tyrone-Zhao commented on #326
but it works still slowly, how can I make it fast?

[2019-08-12 13:55] Tyrone-Zhao commented on #326
I should say your code is very strong, after I reboot my network the program still work!

[2019-08-12 14:52] Tyrone-Zhao commented on #326
It ia very fast this time. Oh it‘s really cool！XD

发自我的iPhone

------------------ Original ------------------
From: Matt Joiner <notifications@github.com>
Date: Mon,Aug 12,2019 10:04 AM
To: anacrolix/torrent <torrent@noreply.github.com>
Cc: Tyrone Zhao <tyrone-zhao@qq.com>, Author <author@noreply.github.com>
Subject: Re: [anacrolix/torrent] Why can't I download magnet? (#326)

Please try with the

[2019-08-13 03:01] anacrolix commented on #326
Thank you for reporting! Fixed in https://github.com/anacrolix/torrent/commit/6013f09f8a7c3d96ae3e5bba5bff455467232029.

[2019-08-13 03:01] #326 closed

[2019-08-14 01:14] rinyshen opened #329 "Why Can't download use custom tracker server?"
I built a custom tracker server，and create torrent file and create magnt uri，example：

magnet:?xt=urn:btih:ac3be1065c824d1ff01ecc795dce7b966f5516e2&dn=nginx-1.12.2.tar.gz&tr=http%3A%2F%2F192.168.0.110%3A6969

so I tried to download it,But I didn't get anything，The code seems to stop at t.Gotinfo ()

My english is very poor , sorry about that .

[2019-08-14 03:56] anacrolix commented on #329
It's likely you have no seeders for this torrent, which appears to be a custom one. BitTorrent won't work without being able to locate peers with the data you need.

[2019-08-15 06:37] yevgenypats opened #330 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

I saw that you implemented Fuzz targets but they are currently not running as part of the CI.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- Continuous Fuzzing of master branch which will generate new corpus and look f

[2019-08-16 06:22] anacrolix commented on #330
Yevgeny,

I would welcome your contributing continuous fuzzing to the repo. Please make a PR at your disposal.

Cheers,
Matt

[2019-08-16 06:27] yevgenypats commented on #330
sounds good. I've put it into our pipeline:)

[2019-08-16 18:36] backkem commented on #138
In order to kick this off I started on super bare bones port over at [backkem/gowttest](https://github.com/backkem/gowttest). It's not meant to become a client, just an example. It can currently connect to the websocket tracker, advert a WebRTC offer and receive answers (not parsed yet). With a little imagination this solves most of the missing spec problem. I'll keep working on it sporadically bu

[2019-08-17 08:10] anacrolix commented on #138
Thank you @backkem! This should be enough for me to go on.

[2019-08-17 14:46] rinyshen commented on #329
I used murder's project to create a tracker，It was posted by twitter, when i use murder's client download the file, It was successful，so I can not found why ?

[2019-08-17 19:10] yevgenypats commented on #330
Also, I forgot to mention that we have a [reward program](https://fuzzit.dev/2019/08/12/announcing-rewards-for-go-rust-oss-projects/) in case you have time/want to implement this yourself I would be happy to reward you as well as get unbiased feedback on how smooth the integration was. Let me know what you prefer.

[2019-08-19 03:38] anacrolix commented on #330
@yevgenypats it wasn't easy, the documentation is a bit fragmented: https://app.fuzzit.dev/orgs/anacrolix/targets/bencode/RipgpAjVAa0b0SSfiC2o.

[2019-08-19 04:48] anacrolix commented on #327
Would you like to try `github.com/anacrolix/torrent@issue-327`, where I've suppressed the UPnP output, and made `Logger` available on the `ClientConfig`?

[2019-08-19 05:07] anacrolix commented on #329
What version of anacrolix/torrent are you using?

[2019-08-19 06:28] yevgenypats commented on #330
@anacrolix Thanks for the feedback. The docs are on our roadmap for this week.
Cool, I guess you started it from the CLI? now it needs to be integrated into the CI via Circle.

[2019-08-19 08:19] rinyshen commented on #329
torrent@v1.5.2

[2019-08-19 22:55] anacrolix commented on #329
Please upgrade to v1.6.0, which fixes a severe dialing bug (6013f09f8a7c3d96ae3e5bba5bff455467232029).

[2019-08-20 06:47] mk0a1a commented on #327
Sure! Do I just set the `Logger` to `nil` during config?

[2019-08-20 07:33] rinyshen commented on #329
@anacrolix , I have upgraded to the latest version, So I execute code , example:
cfg := torrent.NewDefaultClientConfig()
	cfg.Debug = true
	cfg.Seed = true
	cfg.NoUpload = false
	cfg.NoDHT = true

	c, _ := torrent.NewClient(cfg)
	defer c.Close()
	t, _ := c.AddMagnet("magnet:?xt=urn:btih:14647e79f6f8a7826ec58446847553351f4f64b2&dn=p2ptar.tar.gz&tr=http%3A%2F%2F192.168.226.129%3A8998%2Fannounce")
	<

[2019-08-22 04:10] anacrolix commented on #327
Update to `v1.7.0`, and set `ClientConfig.Logger` to `log.Discard`.

[2019-08-22 04:15] anacrolix commented on #329
I wasn't able to reproduce the problem. Running an anacrolix/torrent seeder and leecher on the same network eventually worked (once they'd both synchronized to a tracker, and one of them managed to port forward over UPnP to use the public IP the tracker was giving for the other client.

Can you link to the other torrent client you're using, so I can try against it too?

Please also update to `v1.7

[2019-08-22 04:20] rinyshen commented on #329
I am very sorry for the trouble caused to you because I am not professional, I will try my best to test, could you tell me how to keep a client become a seeder?

[2019-08-22 04:22] rinyshen commented on #329
Can seeder communicate directly with clients on the same LAN?

[2019-08-22 04:22] anacrolix commented on #329
Set `Seed = true` in the `ClientConfig`.

[2019-08-22 04:23] anacrolix commented on #329
Yes

[2019-08-22 04:26] rinyshen commented on #329
I have set the seed = true, but after make torrent file  , the client quit

[2019-08-22 06:20] anacrolix commented on #329
You will need to keep the Client running, see https://github.com/anacrolix/torrent/blob/00efae11eeeab21552867be3092786a7885b9dfc/cmd/torrent/main.go#L234 for inspiration.

[2019-08-22 08:01] elgatito commented on #329
@anacrolix does anacrolix/torrent support LSD ( http://www.bittorrent.org/beps/bep_0014.html ) ?

[2019-08-22 08:20] anacrolix commented on #329
@elgatito it doesn't. It looks like a very easy one one to add.

[2019-08-22 09:11] anacrolix commented on #329
@elgatito LSD is tracked at https://github.com/anacrolix/torrent/issues/248.

[2019-08-22 09:11] anacrolix commented on #248
Note that this is [BEP 14](http://www.bittorrent.org/beps/bep_0014.html) per https://github.com/anacrolix/torrent/issues/329#issuecomment-523795879.

[2019-08-22 10:50] anacrolix commented on #248
Any update @djkazic ?

[2019-08-23 08:34] elgatito opened #331 "DHT RSS feature"
Hello,

Have you thought about DHT RSS feature?
Description can be viewed here: https://github.com/arvidn/libtorrent/blob/d33b0506a0f4cd61860fd54864267c82d3e171e3/docs/dht_rss.rst

In short: provides a plugin for distributing changeable list of files though DHT. Example: updated list of episodes for tv show, that can be exchanged between "sender" and clients.

BTW: Arvid removed it from libtorrent

[2019-08-23 11:17] mk0a1a commented on #327
@anacrolix, I've tested it and confirmed that it works! There's an issue with `github.com/anacrolix/go-libutp` that prints warnings to stdout but that is a separate issue. I think this issue can be closed now.

Here's the warning printed from `github.com/anacrolix/go-libutp` if you want to look at it. This is a project from scratch with no module packages aside from `github.com/anacrolix/torrent@1

[2019-08-23 11:17] #327 closed

[2019-08-24 02:07] anacrolix commented on #327
@mk0a1a Thanks. That issue is being tracked here: https://github.com/anacrolix/go-libutp/pull/12.

[2019-08-24 02:08] anacrolix opened #332 "go-libutp dependency prints build warnings"
See https://github.com/anacrolix/torrent/issues/327#issuecomment-524277454, and https://github.com/anacrolix/go-libutp/pull/12. The fix should be pulled here when available.

[2019-08-27 07:40] zhujian0805 opened #333 "Error while compiling with torrent"
../go/src/github.com/anacrolix/torrent/config.go:9:2: cannot find package "github.com/anacrolix/dht/v2" in any of:
        /home/jzhu/softwares/go/src/github.com/anacrolix/dht/v2 (from $GOROOT)
        /home/jzhu/go/src/github.com/anacrolix/dht/v2 (from $GOPATH)
../go/src/github.com/anacrolix/torrent/Peer.go:6:2: cannot find package "github.com/anacrolix/dht/v2/krpc" in any of:
        /home/jzhu/

[2019-08-27 10:00] zhujian0805 commented on #333
@anacrolix Can you help to take a look please?

[2019-08-27 12:38] anacrolix commented on #333
Are you using Go modules? What command are you running?

[2019-08-28 02:23] zhujian0805 commented on #333
I followed this readme on https://github.com/anacrolix/torrent to install the package:
go get github.com/anacrolix/torrent
then i imported the package in my code, but when i build my code, i got those errors.

[2019-08-28 02:32] zhujian0805 commented on #333
here is my usage:
[code]

[2019-08-28 06:40] zhujian0805 commented on #333
Shall i use

[2019-08-28 06:41] zhujian0805 commented on #333
closed by mistake :)

[2019-08-28 07:08] zhujian0805 commented on #333
@anacrolix It looks like after i switch to using go modules, it works.
Thanks!

[2019-08-28 07:08] #333 closed

[2019-09-24 05:53] anacrolix commented on #310
There's now support for extra magnet parameters, you could examine `x.pe` yourself and directly add the peers.

[2019-09-26 02:59] anacrolix commented on #329
@rinyshen do you have any more information?

[2019-09-26 03:00] anacrolix commented on #310
@pataquets do you want to try with master with the new field?

[2019-09-26 03:03] anacrolix commented on #280
@f4nff do you have any more information?

[2019-09-26 03:04] anacrolix commented on #279
Thanks @elgatito . @f4nff are you or is anyone else still interested in this?

[2019-09-26 03:05] anacrolix commented on #229
@elgatito are you still interested in this?

[2019-09-26 03:07] anacrolix commented on #271
The Client Logger is now exposed, and also supported by the DHT. https://github.com/anacrolix/log has settled into something I'm a bit happier with.

[2019-09-26 03:07] #271 closed

[2019-09-26 06:41] elgatito commented on #229
@anacrolix not, at the moment. But I believe it can be helpful for users of the library.

[2019-09-27 07:31] elgatito commented on #279
@anacrolix me not. I have added dns client internally - https://github.com/elgatito/elementum/blob/master/proxy/dns.go#L78

[2019-10-10 03:36] cenkalti commented on #235
You can copy the fast set generation implementation from here: https://github.com/cenkalti/rain/blob/master/internal/fast/fast.go

[2019-10-10 09:14] zhujian0805 opened #335 "Issue -- database not open"
I have a program that monitors a directory with a few torrent file and download them all on startup. while the program is running, if i move 1 torrent file out of the directory and move it in again, the program stuck at WaitAll(), with delve i found this error:
[code]
When the program update the boltdb, it says the database not open.

[2019-10-10 09:14] zhujian0805 commented on #335
@anacrolix Could you take a look?

[2019-10-11 03:59] anacrolix commented on #335
@zhujian0805 what OS are you on?

[2019-10-11 04:43] anacrolix commented on #335
Can you confirm that you're moving a torrent file (like .torrent, which causes the torrent to be dropped), and *not* the data files/directory?

[2019-10-11 04:48] zhujian0805 commented on #335
Yeah, If i remove the .torrent file, it only cause the client to drop the torrent(the data files are not dropped)
I found this also:
1. with file storage implementation, if i remove .torrent and add the .torrent, it successfully open the .torrent.bolt.db
2. with the mmap storage implementation, it fails to open the .torrent.bolt.db

[2019-10-11 04:50] zhujian0805 commented on #335
`CentOS Linux release 7.6.1810 (Core)
`

[2019-10-11 05:58] zhujian0805 commented on #335
It looks like drop a torrent file will also close the DB connection as well:
[code]

[2019-10-11 06:37] #335 closed

[2019-10-19 16:54] AlexSpain opened #336 "panic: runtime error: invalid memory address or nil pointer dereference"
[code]

[2019-10-20 07:48] anacrolix commented on #336
What version of `torrent` are you using?

[2019-10-20 14:44] james-lawrence opened #337 "panic: changes to torrent length from int to *int causing segfault."
https://github.com/anacrolix/torrent/blob/master/t.go#L40 is segfaulting due to the change to a pointer. this might be exposing a latent race condition where the length was returning 0 improperly.

[2019-10-20 14:51] james-lawrence opened #338 "torrent.GotInfo() hanging"
I may be doing something wrong here. but this code is hanging indefinitely without the context timeout.

torrent version: `289293f3cc0cfd03bbe3bf168dcc1ba6a90d13aa` (latest master when this issue was created)

[code]

seems like when it hangs the connection never receives a Extended message.
here are my logs (with some custom logging to track down the issue)
successful download:
[code]

hanging do

[2019-10-21 05:04] AlexSpain commented on #336
Error while create torrent client        err="subsequent listen: listen tcp6 :33113: socket: address family not supported by protocol"
Also I noticed

Can I use torrent without IPv6??

[2019-10-21 05:24] AlexSpain commented on #336
How I can see version?

[2019-10-22 03:49] anacrolix commented on #336
Is this an error you previously didn't check that lead to the panic? Does handling this error now prevent the panic?

Yes, set DisableIPv6 in the ClientConfig.

[2019-10-22 03:49] anacrolix commented on #336
https://github.com/CortexFoundation/CortexTheseus/blob/3786efd5c5f29dfff584d4fe987982cacc2ae794/go.mod#L11

[2019-10-22 03:53] anacrolix commented on #336
It looks like your `*Client` is `nil`. Unfortunately you have to check for errors manually in Go.

[2019-10-22 03:56] anacrolix commented on #337
Thanks. I think this is an undocumented case where the info must be available first. If you can confirm that `Torrent.Info` is `nil` prior to calling `NewReader`, I'll document this requirement.

[2019-10-22 04:03] anacrolix commented on #338
It shouldn't be necessary to manually announce on the Client's DHT servers. Are there particular torrents that seem to hang reliably?

[2019-10-22 12:18] AlexSpain commented on #336
Thank you. I update go.mod to last version and add DisableIPv6 = true to config.

Thank you for your fast help.

Very appreciated.

[2019-10-22 12:18] #336 closed

[2019-10-29 22:40] james-lawrence commented on #337
the code triggering this is waiting for the info.

[2019-10-29 22:42] james-lawrence commented on #338
these are private torrents set of servers are talking to each other to share some archives. no public trackers.

[2019-10-30 00:25] anacrolix commented on #338
What version are you on now, and what did you use previously? Can you link to the go.mod file in each instance?

[2019-10-30 00:37] anacrolix commented on #337
With the context you've provided, it's still not a requirement that the info is present before calling `NewReader`. If you're streaming the `Torrent`, it also isn't necessary be calling `DownloadAll`, let alone be guarding that (presumably necessary) call with a possible timeout.

	if tt, dlrequired = t.client.AddTorrentInfoHash(m.InfoHash); dlrequired {
		go func() {
			<-tt.GotInfo()
			tt.Downl

[2019-11-01 22:21] james-lawrence commented on #338
did some more digging, was a mistake in my application. (was deleting the torrent out from under me in a cleanup sweep).

[2019-11-01 22:21] #338 closed

[2019-11-04 22:35] anacrolix commented on #337
@james-lawrence Does https://github.com/anacrolix/torrent/issues/338#issuecomment-548970244 apply here? Can we close this?

[2019-11-06 03:39] Sean-Der commented on #138
@anacrolix What can I do to help with this coding wise or answering questions? Would funding be helpful at all?

My motivation is just getting more people using Pion. The more people using it the more bug reports and all that great stuff :)

[2019-11-06 08:51] anacrolix commented on #138
@Sean-Der it's a matter of time and motivation at the moment. Funding will always help.

[2019-11-06 13:42] yarikk opened #341 "Peer lists are not exchanged over PEX"
PEX support in the library is limited to handling incoming PEX messages and updating own peer lists. The list of currently connected peers is not being communicated.

[BEP 11](http://bittorrent.org/beps/bep_0011.html) regulates the frequency of batch updates to  happen no more than once a minute and have no more than 50 entires, but it's better be kept flexible.

We are looking into creating a tra

[2019-11-06 21:12] anacrolix commented on #11
@jpillora Note this was fixed in d4cbdc5c38ac835ceedc5e477bfc335f3e71652f and 836bb344f3602205275f9f6abbe9a986bb988e41.

[2019-11-06 21:18] anacrolix commented on #26
The upload logic is now much more intelligent. See https://github.com/anacrolix/torrent/blob/f98ff7507e44288a1c37124ccdd2811899646eca/connection.go#L1380-L1454, and https://github.com/anacrolix/torrent/issues/11#issuecomment-550502432

[2019-11-06 21:34] anacrolix commented on #341
@yarikk that's right. I'm sure I had an issue and TODO regarding this, but I cannot find them. I welcome your contributing this. You'll probably want to add code to generate the outgoing pex message here: https://github.com/anacrolix/torrent/blob/289293f3cc0cfd03bbe3bf168dcc1ba6a90d13aa/connection.go#L590. You'll probably also want a timer like the keep alive one, to trigger updates like this one:

[2019-11-06 21:57] anacrolix commented on #233
It now also supports changing the burst on the fly, see https://github.com/anacrolix/torrent/commit/a298d295b26bcfd25160d38178ae10abd8e6ed1c.

[2019-11-06 22:16] jpillora commented on #11
Ah cool 👍

On Thu, 7 Nov 2019 at 8:12 am Matt Joiner <notifications@github.com> wrote:

[2019-11-09 23:37] rwenz3l opened #342 "torrent-create always sets comment 'yoloham'"
Based on the defaults defined here:
https://github.com/anacrolix/torrent/blob/dfcb8524874306491949934638d05161329014a3/metainfo/metainfo.go#L60-L65

all torrents created with `torrent-create` include a comment.

Tested with:
[code]

I consider this a bug, as I do not expect a comment when there is none specified, especially not something like 'yoloham'.

[2019-11-14 18:42] martelli opened #344 "BEP-12 compliance?"
Hey,

From the function `startMissingTrackerScrapers()`: https://github.com/anacrolix/torrent/blob/a298d295b26bcfd25160d38178ae10abd8e6ed1c/torrent.go#L1296-L1306
I understand that BEP 12 is not honored, correct?

[2019-11-14 23:24] anacrolix commented on #344
That's correct.

[2019-11-15 08:07] martelli commented on #344
I'm willing to implement it. Any objections?

Maybe add a config flag to not break current users who rely on the current behavior?

[2019-11-15 17:14] bcashier opened #345 "Download part of the video to stream from certain time"
Hi,

Is there a wa to stream a video starting from for a example 30min while this part not yet downloaded?

When we select a certain duration, this part will start automatically to be downloaded.

Thank you

[2019-11-16 08:22] anacrolix commented on #344
Yes, please, go for it. A flag would be great. The biggest difficulty I foresee is how to treat magnet link trackers, it's not clear how they fit in, and the reason the client currently just treats the announce list as a set of urls.

[2019-11-26 05:42] anacrolix commented on #344
Just found this, which may be of interest: https://github.com/bittorrent/bittorrent.org/issues/82

[2019-12-05 06:22] nektro opened #351 "panic: error writing chunk: open: too many open files"
[code]

[2019-12-05 06:25] nektro opened #352 "add a public version of Torrent.numPiecesCompleted()"

[2019-12-11 23:41] anacrolix commented on #352
Was there a PR with this? Have you tried using `Torrent.Piece`? Maybe a `Torrent.Pieces` should be added?

[2019-12-11 23:43] anacrolix commented on #351
Thanks for the report. What platform are you on? What kind of storage are you using? Could you track the value of the `expvar` `torrentConcurrentChunkWrites` up until the panic occurs?

[2019-12-12 16:59] nektro commented on #352
There's `Torrent.NumPieces` but that's the total number of pieces, not the number of completed ones.

[2019-12-12 17:00] nektro commented on #351
I believe this was a race condition with my drive and the torrents I was using. I'm on `linux amd64` but I was using the LibGen torrents which are each 1,000 files each.

[2019-12-12 23:39] anacrolix commented on #351
Do you have a lot of torrents loaded too? I think you should need a combined uploading and downloading connections of over 1000 to trigger this. A workaround would be to use the mmap storage backend.

[2019-12-12 23:42] anacrolix commented on #352
What I mean is that you could collect this data yourself by checking each Piece. Something like
[code]

[2019-12-13 05:27] nektro commented on #351
I happened to have 100 of the torrents loaded at the time of this particular crash.

[2019-12-15 04:21] anacrolix commented on #345
Yes, this is supported by serving your HTTP byte-range requests with a Torrent.Reader. See documented examples and other issues on how to do this.

[2019-12-15 04:21] #345 closed

[2019-12-15 04:23] anacrolix commented on #342
@rwenz3l a PR would be welcomed. It's probably enough just to remove the "yoloham" comment assignment.

[2019-12-16 02:31] anacrolix commented on #310
@pataquets the new field is available since `v1.8.0`.

[2019-12-17 13:43] yarikk opened #355 "Bits in missing/v2 depend on missingo/v1"
Having multi-version internal dependencies, along spoiling the style, breaks vendoring.

The library should be made consistent on which version of sub-packages they depend on.

[2019-12-17 13:58] yarikk opened #356 "TLS support"
The RC4 cipher currently part of BitTorrent protocol encryption is considered insecure these days. In search for replacement, TLS appears the best candidate, comprising a modern, widely deployed suite of cryptographic protocols. Although there is no active or draft BEP specification on TLS, it would be a major step forward in the protocol development. The proposal  here is to  develop a not-yet-st

[2019-12-17 14:38] anacrolix commented on #355
It's not clean, but are you sure it breaks vendoring? `go mod vendor` seems to work as intended.

[2019-12-17 14:41] anacrolix commented on #356
RC4 is only used as obfuscation in BitTorrent, it's probably much easier in most cases to figure out which infohash is being used as the secret key. I'm not sure how you would change this. Can you link to any upstream proposals?

[2019-12-17 14:55] yarikk commented on #355
You're right, I should be more specific: for various reasons we are locked away from the usual _go_ tool, so it breaks vendoring for us. What I'm saying is that the status quo has impact beyond stylistics for some users, and having this addressed would be so, too.

[2019-12-17 15:21] yarikk commented on #356
This is an original proposal, to be referenced in further discussions. The idea is to wrap the whole peer protocol into a TLS session, either right from the beginning or after negotiating during the basic handshake, to be decided. Therefore every peer connection is going to have own set of negotiated keys.

[2019-12-17 18:24] pataquets commented on #310
Thank you very much, @anacrolix.
However, I can no longer test it under my current usage scenario. I was using it indirectly from Elementum Kodi addon, which switched to libtorrent (see elgatito/plugin.video.elementum#351).

[2019-12-19 17:28] mihaiav commented on #309
You can download sequentially if you are using a reader. You can actually even Seek/get random access. I actually implemented a http server on top of anacrolix with support for range requests.

[2019-12-21 09:37] nate-anderson opened #357 "Cannot go get package"
`go get github.com/anacrolix/torrent` in a new project directory fails.

[code]

[2019-12-21 18:22] sickyoon opened #358 "http tracker does not work with socks5 proxy"
http tracker does not work with socks5 proxy

eg) http://ipmagnet.services.cbcdn.com/

[2019-12-21 18:55] sickyoon opened #359 "connection allowed even if proxy is misconfigured"
It appears that torrent can be retrieved through non-proxied connection if proxy_url is misconfigured.

### Steps to reproduce
To reproduce, run `cmd/torrent/main.go` with `ClientConfig.ProxyURL` set to invalid arbitrary socks5 url.

### Expected
Torrent should not download

### Actual
Torrent downloads successfully

[2019-12-22 07:49] sickyoon commented on #359
Should disable accepting connections if proxy is configured

[2019-12-25 22:21] stapelberg opened #361 "download speed in local gigabit LAN tops out at ≈ 1 MB/s"
I am using the torrent program to seed an disk image on one computer (≈700 MiB) and to download it onto another computer. Both machines are connected with a gigabit port, and using `scp` the transfer finishes in a few seconds, as expected:

[code]

However, the `torrent` program takes over 11 minutes to transfer the same file!
[code]

Could the speed be improved for fast connections please? Happy

[2019-12-26 18:47] YouROK commented on #357
And this:
[code]

[2019-12-27 11:58] procks opened #362 "Drop low-speed peers"
To maximize download speed, Is it possible (for slow devices) to limit the number of connections and drop low-speed peers?

[2019-12-29 01:09] anacrolix commented on #243
@james-lawrence @oliverpool I appreciate the efforts to tidy up the API. I'll try to layout my view from the discussion above and elsewhere.

I want to remove the duplication caused by `TorrentSpec`. The reason for its existence is for options/configuration that couldn't apparently be done dynamically, after a `Torrent` is created on a `Client`. In hindsight, probably everything on the `TorrentSpe

[2019-12-29 01:11] anacrolix commented on #362
Yes, this should already be the default. Connections are limited per `Torrent`, and efforts are made to drop the worst-performing peers when the connection limit is exceeded. Have you found the behaviour to be otherwise?

[2019-12-29 01:34] anacrolix commented on #361
I've had tests on the public network exceed 60MB/s. One quick thing to check would be disabling uTP, and the OS, filesystem type, and device type that filesystem is on. I also note that torrent doesn't have a whole lot of swarm participants, it took a while to find one on a home network that I tested it on.

[2019-12-29 01:44] anacrolix commented on #358
@sickyoon Could you provide more information? I don't use socks5 proxies in my usage, if you could provide a sample proxy and `cmd/torrent` invocation or something like that it would be very useful.

[2019-12-29 01:44] stapelberg commented on #361
Thanks for following up! Answers inline:

How do I do that?

Both are Linux with ext4 on a fast SSD.

In this case, there was only one participant, but the transfer was running, so it doesn’t intuitively seem like a discovery issue to me

[2019-12-29 01:48] anacrolix commented on #357
@nate-anderson @YouROK I'm not seeing this behaviour. Are you using Go modules. What version of Go? Note that the UTP warnings you are seeing should not be reasons for build failure, see https://github.com/anacrolix/go-libutp/pull/12.

[2019-12-29 01:49] anacrolix commented on #357
See also https://github.com/anacrolix/torrent/issues/332, which is the tracking issue for the warnings in anacrolix/torrent.

[2019-12-29 02:01] anacrolix commented on #361
That all looks fine. There's no option exposed in `cmd/torrent` yet for disabling UTP. Is the seeder also running via `cmd/torrent`?

[2019-12-29 07:08] nate-anderson commented on #357
Looks like the package was installed successfully. Thanks for clarifying.

[2019-12-29 07:08] #357 closed

[2019-12-29 09:30] stapelberg commented on #361
Yes

[2020-01-03 14:30] james-lawrence commented on #243
@anacrolix - first off thanks for the feedback, much appreciated.

so I think the main issues you have w/ #340 can be summed up with:
1. remove the [Download method](https://github.com/anacrolix/torrent/pull/340/files#diff-d0b7f86cea13f90d3cc0cc2338da8d5fR110) function. I'm perfectly okay with this, it was a nice to have for me. but its not necessary, and we can discuss its benefits separately.
2.

[2020-01-03 14:47] james-lawrence commented on #243
finally: if your okay with keeping the types separate until we get a little further along and know more, I can have #340 reworked this weekend.

[2020-01-03 15:18] james-lawrence commented on #352
imo could be added to torrent stats.

[2020-01-03 15:27] james-lawrence commented on #265
https://golang.org/pkg/io/#CopyBuffer would likely do what you want without needing to implement caching.

[2020-01-03 22:38] chantra commented on #356
I think essentially what would be useful is to be able to provide a custom dialer in https://github.com/anacrolix/torrent/blob/d34dfa6575c49eaad2dd2a6b35101f1bce26da5e/socket.go#L69, if the custom dialer is nil, it would default to net.Dialer{}. Similarly for the Listeners.

This could be propagated through ClientConfig by using
 something like DialerFunc, ListenerFunc which would have some defaul

[2020-01-04 02:35] anacrolix commented on #352
@nektro any update on this? Is the suggested workaround okay got you?

[2020-01-04 05:19] anacrolix commented on #356
@chantra I think you're on a great path here. I think instead of injecting a custom dialer, we should just open adding custom sockets directly. The intention of the socket abstraction that exists is to allow dialing and listening to be done by the client on whatever it wants, it just never became public. It might be worth separating them into Listener and Dialer, which will help elsewhere for exam

[2020-01-04 05:45] anacrolix commented on #359
Was this fixed by https://github.com/anacrolix/torrent/pull/360?

[2020-01-04 06:40] sickyoon commented on #359
verified fixed.

[2020-01-04 06:40] #359 closed

[2020-01-04 07:08] anacrolix commented on #361
@stapelberg I've made some improvements in `cmd/torrent` and related behaviours. Could you try again with `master`.

[2020-01-04 08:40] anacrolix commented on #362
@procks do you have any more information?

[2020-01-04 08:43] anacrolix commented on #168
There's nothing in the works to address this in the manner you request. I think it might detract from the flexibility of the package to encourage it. Feel free to discuss more.

[2020-01-04 08:43] #168 closed

[2020-01-04 08:44] anacrolix commented on #239
@elico any update?

[2020-01-04 08:45] anacrolix commented on #259
I think this would be fixed after the piece checking queueing being implemented correctly recently.

[2020-01-04 08:45] #259 closed

[2020-01-04 08:47] anacrolix commented on #266
@toby did you have any more progress on this?

[2020-01-04 08:47] anacrolix commented on #292
@hongli-my were you using `cmd/torrent` for these tests? What version/git revision?

[2020-01-04 09:34] stapelberg commented on #361
Tested with commit baefdfd9eae5867a1cb416979fe7e24e29316ade, and `cmd/torrent` now saturates my gigabit line!

Thank you so much for the changes!

[2020-01-04 09:34] #361 closed

[2020-01-04 12:13] nektro commented on #352
If it returns the same number then I can copy/paste the internal implementation sure, but the issue was asking if this method would be exposed publicly without having to make my own function (since it already exists privately (lowercase name)).

[2020-01-04 15:40] toby commented on #266
@anacrolix sadly I haven't worked on it since then.

[2020-01-05 07:47] anacrolix commented on #358
@sickyoon did you observe with a proxy configured that your true IP would still appear on that website? Is that the observation?

[2020-01-05 07:54] sickyoon commented on #358
I just verified that http tracker is working through socks5 proxy with latest master. I am not sure what changed since this issue was created.

[2020-01-05 08:14] #358 closed

[2020-01-05 23:25] bcashier opened #363 "Do AddMagnet start downloading the torrent immediatly ?"
Hi,

I want to return a torrent infos only without start to downloading the torrent or seeding it.

Do AddMagnet will work for my case ?

I want just to get the name of the torrent, info_hash etc.

Thank you

[2020-01-06 04:34] anacrolix commented on #363
It will start obtaining the info if it isn't available. It won't download any file data however until instructed.

[2020-01-06 04:35] anacrolix commented on #351
@nektro Could you try with the mmap storage? Do you want to increase your file handle limit?

[2020-01-06 04:36] anacrolix commented on #344
@martelli where are you at on this?

[2020-01-06 04:43] anacrolix commented on #309
@antonsoroko I think to progress we need to know that the proposed solution doesn't work. Do you have any more information that would suggest that using a `Reader` is not sufficient?

[2020-01-06 04:46] anacrolix commented on #330
@yevgenypats My original job leaked, I started a new one. I'm not sure why fuzzit doesn't do the go-fuzz-build stuff itself. It would be great if I could just add entire repos and it just finds fuzz jobs and runs them.

[2020-01-06 11:08] antonsoroko commented on #309
Hi.
Unfortunately I don't have any technical info.
This issue was created to improve user experience in elementum, but nowadays elementum does not use this library.
So if you don't see any value in this option for other users i guess we can close this issue.
Thank you.

[2020-01-06 15:32] nektro commented on #351
<https://stackoverflow.com/a/32325509/5203655>
[code]

[2020-01-06 15:32] #351 closed

[2020-01-06 17:08] ccampbell opened #364 "Good peers getting banned after chunks are removed from storage"
I have been testing this library using an in-memory lru cache with a small readahead time. One of the issues I have observed is that when chunks get evicted from the cache and the piece completion state changes, if I then seek back to try to re-download those chunks, in a lot of cases the peers end up getting banned, and the download seems to hang for a long time. I see a bunch of messages like th

[2020-01-06 21:08] wegel commented on #345
@anacrolix where are the documented examples pertaining to this topic specifically? Thanks.

[2020-01-06 21:25] chantra commented on #356
cc @ericsage

Are you saying to make `socket` and `dialer` public? So one could then provide a custom `listenAll` that would return their custom sockets ?

SGTM

[2020-01-06 22:04] anacrolix commented on #309
@antonsoroko Thanks, I'll close this.

[2020-01-06 22:04] #309 closed

[2020-01-06 22:13] anacrolix commented on #310
The only remaining feature is to automatically add `x.pe` peers to the Torrent. I've not seen any magnet URIs in the wild that included an `x.pe`, and I wonder about the security implication (probably no worse than having an arbitrary `tr` element).

[2020-01-06 22:18] anacrolix commented on #356
@chantra One would create whatever kinds of dialers and listeners you want, then attach them to the `Client`. There are a lot of areas of the package that could take on this kind of extra flexibility, but I'm not sure about how best to migrate to a thinner client. At least in the short-term, it might be possible to have the `Client` not listen for you, and expose methods to add your own stuff inst

[2020-01-06 22:20] anacrolix commented on #345
@wegel https://github.com/anacrolix/torrent/issues/309#issuecomment-454779880 is the best place to look. I'm not sure on the status of the documentation in this area.

[2020-01-07 02:26] elico commented on #239
@anacrolix let me see my read my notes.. | / - \ | / -  .. Found
I wrote this simple parser for testing: https://github.com/elico/ipfilter
I had to re-learn a bit IP math to understand the different options.
I reviewed couple use cases singe this code is for usage in the application level.

I found couple implementations based on trees but non of them made my life easy in any form.
The best soluti

[2020-01-07 04:44] anacrolix commented on #364
My tests for the above theory haven't shown anything up. I think now that it's more likely that incomplete pieces are being evicted, and the Client blames the dirtiers for the piece hash failures.

[2020-01-07 04:49] ccampbell commented on #364
That sounds possible/likely. Do you think it should be handled outside of the library? Or perhaps there is something I can add in my fork to fix it…

https://github.com/anacrolix/torrent/blob/c23eca4812aa74184b92444fd3978de8f2ab7052/torrent.go#L1705-L1713

[2020-01-07 05:57] anacrolix commented on #239
I think my point above was that you just need to implement [`iplist.Ranger`](https://pkg.go.dev/github.com/anacrolix/torrent/iplist?tab=doc#Ranger) for the `IPBlocklist` field in the [`ClientConfig`](https://github.com/anacrolix/torrent/blob/v1.11.0/config.go#L25). If you want to introduce locking and do synchronization outside the `Client` that's fine, it will work no problems. If you want to int

[2020-01-07 06:01] anacrolix commented on #364
I think it should be handled inside the library. Data moving away, and disk problems would fall into the same category.

[2020-01-07 06:01] #363 closed

[2020-01-07 07:08] elico commented on #239
@anacrolix I will need to think about it.
The iplist.Ranger should have one or more functions in it to support this feature.
For now the tree implementation is off the table, notice that we first need a tree to work with.
There are couple of them but anyone of them have a specific insert/remove overhead by itself.

I can try to implement an iplist.Ranger based on the code in the git in the future.

[2020-01-08 22:53] anacrolix commented on #364
After a lot of testing, I think the best solution is to have incomplete piece storage handle chunks explicitly.

[2020-01-09 06:17] wegel opened #366 "Consuming way more bandwidth than necessary?"
I'm using torrent.File.Reader to read a torrent's file as if it was a sequential byte stream. Works great.

However, while monitoring the network, I've noticed that I'm downloading way more than the file mandates by itself; for example, an mkv video file with an average bitrate of ~2.44MB/s (112 minutes, 16GB file) will consume about 10-25MB/s from the torrent network while playing it back. Is tha

[2020-01-09 12:16] anacrolix commented on #364
Could you try with branch [`issue-364`](https://github.com/anacrolix/torrent/tree/issue-364). In the branch, the resource per piece storage type is modified to store incomplete chunks separately, so that if they're evicted an error is returned while hashing. It's not currently used, but I think it will be a viable strategy to determine whether to ban peers for a failure.

[2020-01-09 13:57] anacrolix commented on #366
The library will aggressively buffer ahead of the Reader position, causing some overlap in receiving chunks from peers. Optimizing this has been an ongoing effort. You could experiment with the [Torrent.requestStrategy](https://github.com/anacrolix/torrent/blob/master/torrent.go#L50-L56). There are several in place, and hopefully at some point I'll extract the concept out to an interface so you ca

[2020-01-09 16:13] wegel commented on #366
Cool; `Torrent.requestStrategy=3` with a 5 seconds `duplicateRequestTimeout` seems to work good in my use-case (with very limited testing, and this is with private tracker with looots of fast seeds), I'm wasting almost no bandwidth now.

[2020-01-09 21:06] ccampbell commented on #364
Thanks. Will try later today.

[2020-01-09 22:40] anacrolix commented on #366
@wegel that's really helpful feedback, cheers.

[2020-01-10 02:04] ccampbell commented on #364
Okay, I tested a bit with a 50MB cache size seeking around on a 2 GB file and the peers getting banned seems to be resolved (assuming they are still being logged).

It still gets stuck and hangs a bit though when seeking back to previously downloaded parts. That may just be normal behavior, but I am not sure because it does _not_ seem to happen if I start fresh and seek ahead to pieces that have n

[2020-01-11 14:36] backkem commented on #138
Libtorrent is also working on this in arvidn/libtorrent#4123. I may provide some extra inspiration.

Can we fix the labels on this? It seems neither blocked or waiting for feedback at this point.

[2020-01-12 02:28] anacrolix commented on #138
A spec would still be nice, but otherwise I think everything needed is now available. Changes related to https://github.com/anacrolix/torrent/issues/356 will overlap with this somewhat.

[2020-01-13 23:11] anacrolix commented on #243
I'm not okay with `Download`. The `Torrent` type is about more than just downloading.

[2020-01-13 23:37] anacrolix opened #369 "Clean up torrent creation methods on Client"
Per https://github.com/anacrolix/torrent/issues/243#issue-310328823:

[2020-01-13 23:41] anacrolix opened #370 "Remove `TorrentSpec`"
I think I want to remove `TorrentSpec`. I'm not sure how that should look yet. See https://github.com/anacrolix/torrent/issues/243 for some background.

[2020-01-13 23:44] anacrolix commented on #243
I'm closing this issue in favour of https://github.com/anacrolix/torrent/issues/369, https://github.com/anacrolix/torrent/issues/370, and #168 which are much more specific and approachable. Open a new issue for anything identified in this discussion that hasn't been addressed or tracked elsewhere.

[2020-01-13 23:44] #243 closed

[2020-01-14 04:51] anacrolix commented on #366
@wegel request strategies have been abstracted out now, you should be able to specify them in the `ClientConfig`.

[2020-01-17 19:35] tab1293 opened #371 "Panic occurring on chunk write when using a proxy"
If I set a SOCKS proxy with config's `ProxyURL`, I consistently run in to this panic on torrent download. With no proxy the download completes fine.

[code]

I also see tons of these errors in the logs:
`client.go:426: error accepting connection: tcp listener disabled due to proxy`
`client.go:426: error accepting connection: utp listener disabled due to proxy`

The torrent still seems to be downlo

[2020-01-17 20:26] sickyoon commented on #371
maybe upstream connection is not closed.
I can take a look when I get some free time.

[2020-01-17 23:47] tab1293 commented on #371
I was able to get the download working by lowering my `EstablishedConnsPerTorrent` and `HalfOpenConnsPerTorrent` counts. I can confirm that most of the traffic seems to be going through my proxy. Although, in Wireshark, I see a few peer handshakes that are direct connections. Maybe your fix still is not ensuring 100% of traffic is going through the proxy?

I still see many of the the `error accept

[2020-01-17 23:56] sickyoon commented on #371
I don't have time right now to look but my guess is that underlying connection wrapped in disabledListener needs to be closed. `error accepting connection` is probably expected since all incoming connections are blocked and thrown into black hole.

[2020-01-18 00:27] sickyoon commented on #371
@tab1293 can you come up with a way to reproduce your error so I can test it on my end?

[2020-01-19 22:21] tab1293 commented on #371
This issue is a bit harder to replicate than I originally thought. It seems to occur more often on certain torrents rather than others. I would recommend trying with a popular torrent that has a lot of peers.

Here is an example where I was inconsistently able to reproduce the panic:
https://gist.github.com/tab1293/7c1abeec7dd09b7ccac8ed70d45bdde5

I do notice two other potential issues:

1. Tons

[2020-01-20 00:46] anacrolix commented on #366
I'll close this as it's the default strategy as of https://github.com/anacrolix/torrent/commit/2559af0f9ccc00a7c7cac4ea360beee6d94de5e2.

[2020-01-20 00:46] #366 closed

[2020-01-20 00:47] anacrolix commented on #371
https://github.com/anacrolix/torrent/pull/365#issuecomment-572881841 will probably supercede any issues here.

[2020-01-20 00:57] anacrolix commented on #371
I think the disabled listener concept doesn't work. An accept routine is created anyway, that probably spins endlessly calling `Accept`. I think the best solution is to expedite #365.

[2020-01-20 01:29] anacrolix commented on #371
@tab1293 what git revision of torrent are you using, and are you using Go modules?

[2020-01-20 02:18] tab1293 commented on #371
@anacrolix I am using Go modules and have tested with both `v1.11.0` and this commit ff8ce944e9e91443d45036f701934e95c9a0158d.

[2020-01-20 19:04] tab1293 commented on #371
@anacrolix even with the changes referenced in #365, will it still not be possible to seed while using a proxy? I saw a comment made by @elgatito https://github.com/anacrolix/torrent/pull/256#issue-193523016 that says even with the initial proxy support implementation, the client would **probably** not be able to seed. Is this true and if so, why?

[2020-01-21 05:01] anacrolix commented on #371
I don't believe the comment is quite correct. With a proxy I don't believe you can *accept*, which means you will have no incoming peer connections (unless you have other connections that are listening). You can still seed however, when your client initiates outgoing connections. The Client does initiate outgoing connections, even when it requires no data locally, when seeding is enabled.

[2020-01-21 05:03] sickyoon commented on #371
incoming connections are disabled atm and seeding still works for me.

[2020-01-21 16:58] nektro opened #372 "request: Client.OnData(t *Torrent, bytesTransferred int64)"

[2020-01-21 16:58] nektro opened #373 "request: ClientConfig.OnPeerDiscovery(f func(t *Torrent, peers []Peer))"

[2020-01-21 16:58] nektro commented on #372
If accepted, I could work on this PR if you'd like.

[2020-01-21 16:59] nektro commented on #373
If accepted, I could work on this PR if you'd like.

[2020-01-21 17:00] nektro commented on #372
This may also be better placed in `ClientConfig`.

[2020-01-21 17:00] nektro commented on #373
This may also be better placed in `ClientConfig`.

[2020-01-23 03:40] anacrolix commented on #373
Would this hook everything added from trackers, DHTs, PEX etc.?

[2020-01-23 03:42] anacrolix commented on #372
Would you consider all received chunks? What is your intended use case?

[2020-01-23 03:42] nektro commented on #373
Ideally.

[2020-01-23 03:48] anacrolix commented on #138
I'm still happy to implement this with appropriate funding. It's several weeks of work.

[2020-01-23 03:50] anacrolix commented on #364
This should now be fixed by https://github.com/anacrolix/torrent/commit/cf0d0118ea99e8492cf997e6d82b4105da4a3c76. If a storage backend returns an appropriate error when reading incomplete data to hash a piece, no peer should be banned.

[2020-01-23 03:50] #364 closed

[2020-01-23 03:51] anacrolix commented on #366
This is released in `v1.12.0`.

[2020-01-23 03:56] anacrolix commented on #373
What's the use-case?

[2020-01-23 04:00] nektro commented on #373
Creating a client on top of `anacrolix/torrent` and being able to update the interface upon the event call.

[2020-01-23 04:01] nektro commented on #372
No, only new chunks that put towards download completion.

Creating a client on top of `anacrolix/torrent` and being able to update the interface upon the event call.

[2020-01-23 05:42] anacrolix commented on #373
What about polling each Torrent for the data points you want?

[2020-01-23 21:21] ccampbell commented on #364
Hey thanks. I am now trying with the latest master, but I am noticing the behavior seems to be worse now. I don’t think peers are being banned (at least I don’t see anything in the logs), but something is causing downloads to hang, and it is getting stuck even when making normal requests (without seeking back). Also still seeing a lot of these in the logs

[code]

Is there something special I have

[2020-01-24 00:58] anacrolix commented on #364
@ccampbell can you share the LRU cache code? The main change is that you must ensure that cache evictions result in errors when reading from the storage pieces. But it should still work even if you don't: that's the case where it might ban peers despite the reason for hash failure being a storage issue. However, it might be that the implementation used by a given storage wrapper returns errors eve

[2020-01-24 01:04] anacrolix commented on #364
https://github.com/anacrolix/torrent/commit/913f6df80d4eac2c18980e4b0f10d746427e2ecf and https://github.com/anacrolix/torrent/commit/72e54fb353128ef85f00ec7c2c94b8648f1eb889 are particularly relevant.

[2020-01-24 01:08] ccampbell commented on #364
First I want to test a bit with the regular storage backends and confirm that the issues are specific to my LRU storage cause I am noticing it hanging even with a fresh cache without any evictions yet which seems weird. It definitely didn’t do that before. If it is specific to my code then I will try to find a way to share it. It is scattered through a few private repos now and not in its own pack

[2020-01-24 02:22] ccampbell commented on #364
I am noticing the same behavior using the bolt db storage. Could it actually have something to do with the requestStrategy changes in #366 ? Basically what I am seeing is, if a video is playing, it will play a few seconds then stop then play a few more seconds. I haven’t added any logging to see what specifically is happening, but this is definitely something new after updating to the latest maste

[2020-01-24 03:17] anacrolix commented on #364
Yes it could be the request strategy changes. It might be putting too many requests onto a single slow connection. This is why I didn't set the new request strategy to be the default previously. The old strategy was `requestStrategyTwo`. I'm not seeing the speed issue with my instances that are using caching though (could be better peers or something?).

[2020-01-24 03:29] ccampbell commented on #364
Is there any public access to the default request strategies to set them externally via the config or do they have to be created manually?

[2020-01-24 03:31] anacrolix commented on #364
@ccampbell they have to be set in the code for now, I haven't exposed them sorry.

[2020-01-24 03:53] ccampbell commented on #364
Is there an easy way to change it back to the old request strategy? I tried adding this

[code]

But now it seems to crash every time (seems maybe the old request strategy is not fully implemented?):

I basically just want to isolate that the issues I am noticing are related to the request strategy change and not the bad piece changes.

[code]

[2020-01-24 03:54] ccampbell commented on #364
I also tried changing the `duplicateRequestTimeout` for `requestStrategyThree`, but it still seems to hang.

[2020-01-24 06:50] anacrolix commented on #364
I've [exposed](https://godoc.org/github.com/anacrolix/torrent#RequestStrategyMaker) the builtin request strategies, and their panics should be fixed.

[2020-01-24 17:09] ccampbell commented on #364
Thanks! Will try it out later today

[2020-01-25 02:00] ccampbell commented on #364
Okay. Using `torrent.RequestStrategyFastest()` works! So that was the issue. I haven’t tested extensively, but everything seems to work fine now.

Using the new default (`RequestStrategyDuplicateRequestTimeout`) does not seem to work very well for me at all though. Just a sample wget of a 1GB file has an eta over 3 hours

![image](https://user-images.githubusercontent.com/259316/73114830-2b6d2a80-

[2020-01-26 00:18] anacrolix commented on #364
That's interesting, but this issue is resolved then. I'll put the exposed strategies into the next release.

[2020-01-27 15:06] major1201 opened #374 "How to specify files exist on my disk to be uploaded?"
Hi:

I have no idea how to link my torrent file with the files downloaded(or maybe I'm the first one to seed) to be uploaded.

I haven't found such usage, please help.

[2020-01-28 11:48] major1201 commented on #374
Just set the `DataDir` of the ClientConfig:

[code]

[2020-01-28 11:48] #374 closed

[2020-01-28 16:32] vijayanandnandam commented on #138
@anacrolix can you open a patreon funding campaign to fund this? I would be happy to fund some, but may not be able to fund the entire effort. It will also show how many are interested in getting this implemented

[2020-01-28 18:17] nektro commented on #138
@vijayanandnandam there is one: https://patreon.com/anacrolix

[2020-01-28 19:05] Sean-Der commented on #138
@anacrolix sorry for the delay

Would you mind do something that allows single donations/has a set goal? I have a few people who have offered to pay for Pion work, and I would love to redirect them to your GoFundMe/Patreon/X!

When you have that I am going to push the Pion community towards it! I will put it on Twitter/Pin on Slack and donate myself, see what we can make happen :)

[2020-01-28 22:30] anacrolix commented on #138
@vijayanandnandam I have Patreon, Liberapay, and GitHub Sponsors, you can view that stuff at the top of the project page when you click the Sponsor button.

@Sean-Der I've created https://issuehunt.io/r/anacrolix/torrent/issues/138, I think that should work? I'm open to suggestions.

Thanks to @backkem for his existing sponsorship.

Sorry everyone else for the noise.

[2020-01-28 22:45] Sean-Der commented on #138
@anacrolix and there it is :)

If you hit any bugs/have questions we are in [Slack](https://pion.ly/slack) and would love to help. I am sure you will hit some roadblocks along the way, but will do my best to unblock you!

[2020-01-28 22:49] anacrolix commented on #374
Thanks for following up your own question.

[2020-01-28 22:50] anacrolix commented on #138
@Sean-Der thanks.

[2020-01-31 11:59] vlcty opened #375 "Finding available pieces for a peer"
Hi,

not a bug but more like "help wanted". I'm currently using your dht lib to find peers for a given info hash. This was really easy to implement thanks to your example code!

Many torrent clients out there shows you the progress/completion in percent for connected peers. When I understand the protocol right I can query a peer and ask what pieces they have. Based on total amount of pieces divide

[2020-02-02 14:28] james-lawrence commented on #372
you should be accomplish this with a custom storage wrapper.

[2020-02-02 14:31] james-lawrence opened #376 "dependency cycle: DHT depends on the torrent/iplist package and torrent depends on DHT."
makes it impossible to decouple DHT from the torrent package due to the ranger interface (among others).

[code]

are all used by package DHT. should probably just merge dht into the torrent repo as a subpackage.

[2020-02-02 14:37] james-lawrence commented on #375
the information you want is stored [here](https://github.com/anacrolix/torrent/blob/master/connection.go#L97) and [here](https://github.com/anacrolix/torrent/blob/master/connection.go#L100)

it'll be a bit of a mess to pull that up to the level you want.

[2020-02-03 03:42] anacrolix commented on #361
@stapelberg the end of https://github.com/anacrolix/torrent/issues/364 may be relevant to you.

[2020-02-03 05:01] anacrolix commented on #372
James is right, you could do this with a storage implementation that wraps your current one.

[2020-02-03 23:05] anacrolix commented on #376
On the `dht` subpackage: https://github.com/anacrolix/torrent/commit/b68d7cd08e83ede9af5a43b6b2fd2eda9f58aba2. I think allowing using an alternative `anacrolix/dht` from this would require making a `DHT` interface for the `Client` or `Torrent` to use. I don't think I would entirely decouple that repo in the short term however, as it is the default implementation. See also https://github.com/anacro

[2020-02-03 23:08] anacrolix commented on #375
@vlcty this isn't currently exposed, and should be. I think I would expose the private type `connection` or something based on it as `PeerConnection`, and expose a `Torrent.PeerConnections` method.

[2020-02-06 15:08] axet opened #377 "No space left on device should't crash an app"
Hello!

Connection::receiveChunk() shuold not crash an app if it is an recoverable error. Just stop/pause the torrent.

`E/Go: panic: error writing chunk: write failed: ENOSPC (No space left on device)`

[code]

Second crash "short write"

[2020-02-07 04:41] anacrolix commented on #377
Hi @axet. I haven't decided how to handle this error condition. It's not easy to filter out particular errors in Go as they're so inconsistent and weakly typed. It used to be that we'd log these errors and continue, but it led to the client downloading constantly and never getting anywhere.

A good compromise might be to pause the `Torrent` as you suggest, and allow callers to access the error mes

[2020-02-07 09:51] axet commented on #377
My app has torrent state, when you hit "Play/Download" it shows last error: "files altered" for example. It may be extended to basic IO errors as well, no space left, unable to create file / folder. But it hard to implement when app crashes ;)

[2020-02-11 04:20] anacrolix commented on #377
As a workaround, you might disconnect the peer to prevent further data in the meanwhile. There is some placeholder code in place to support pausing, but I haven't looked into it further.

[2020-02-16 19:14] avengermsoft opened #378 "Outgoing connection local ports"
The BTServer is running on port 22491 (ListenPort). DHT is on.
Where do the connections to ports 39298 and 39668 come from?

![изображение](https://user-images.githubusercontent.com/18549626/74611048-9a175f80-5109-11ea-80e6-21d70f8bc766.png)

[2020-02-17 09:58] elgatito commented on #378
@avengermsoft ListenPort is for incoming connections.
Outgoing should be going from a random available port.

@anacrolix right?

[2020-02-17 10:08] avengermsoft commented on #378
Is it possible to limit the range of outgoing ports?

[2020-02-17 19:56] avengermsoft opened #379 "Listen on the interface"
Do you plan to listen on the interface?

Sample: "ListenInterface br-lan". I now have 4 ips addresses on the interface br-lan:
<pre>4: br-lan: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default qlen 1000
    link/ether dc:a6:32:0c:53:b4 brd ff:ff:ff:ff:ff:ff
    inet 192.168.97.98/27 brd 192.168.97.127 scope global br-lan
       valid_lft forever preferred_lft forever

[2020-02-18 05:15] anacrolix commented on #378
![image](https://user-images.githubusercontent.com/988750/74704952-41a9a480-5266-11ea-9aa9-582f53224253.png)

@elgatito that's right. @avengermsoft yes I believe so. It would be easier to intercept the dial calls to provide custom behaviour like this when the dialer/listener Client interfaces are refactored per #365.

[2020-02-18 23:40] anacrolix commented on #379
@avengermsoft how would you generally do this in other languages? I believe you want to use https://golang.org/pkg/net/#InterfaceByName, https://golang.org/pkg/net/#Interface.Addrs, and https://github.com/anacrolix/torrent/pull/365 for this.

[2020-02-18 23:53] anacrolix opened #380 "Allow custom dialers and listeners"
This issue tracks the feature blocking https://github.com/anacrolix/torrent/issues/356 and attempted in https://github.com/anacrolix/torrent/pull/365.

[2020-02-19 06:54] avengermsoft commented on #379
C++ example
`struct ifreq ifr;

memset(&ifr, 0, sizeof(ifr));
snprintf(ifr.ifr_name, sizeof(ifr.ifr_name), "eth0");
if (setsockopt(s, SOL_SOCKET, SO_BINDTODEVICE, (void *)&ifr, sizeof(ifr)) < 0) {
    ... error handling ...
}`

[2020-02-20 00:35] anacrolix commented on #379
@avengermsoft do you already have a method to listen on the interface in the way you desire in Go? If you do, and it isn't exposed by the `ClientConfig`, you'll be interested in https://github.com/anacrolix/torrent/issues/380.

[2020-02-20 06:14] anacrolix commented on #356
@yarikk @chantra Could you please try with the latest version.

[2020-02-20 06:15] anacrolix commented on #378
@avengermsoft @elgatito the latest version should allow you to specify your own `Dialer` that will achieve this behaviour.

[2020-02-20 06:47] anacrolix commented on #266
@toby could you take another look? I've broken out this abstraction on `master`. Cheers

[2020-02-20 06:49] anacrolix commented on #376
@james-lawrence take a look at https://github.com/anacrolix/torrent/commit/afe4d8795daa14a80d3d1ed1e72d1261f566a1b7 for a start in this direction.

[2020-02-20 06:53] anacrolix commented on #380
This should be supported as of https://github.com/anacrolix/torrent/commit/d24922dc090bbac095640ea891fb1a3006fe7c19.

[2020-02-20 17:03] toby commented on #266
Oh this is great! I'm super heads down on some projects right now but will try to get to this soon.

[2020-02-20 20:28] avengermsoft commented on #378
Do you have any examples?

[2020-02-20 20:30] avengermsoft commented on #379
I found the code, but I don’t understand how to adapt it.
[code]

[2020-02-20 22:28] anacrolix commented on #378
@avengermsoft You can add a custom dialer with [`Client.AddDialer`](https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#Client.AddDialer). You could use a [`NetDialer`](https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#NetDialer) and set `LocalAddr` in its [`net.Dialer`](https://golang.org/pkg/net/#Dialer), or create your own `Dialer` that uses [`net.DialTCP`](https://golang.org/pkg/net/

[2020-02-20 22:29] anacrolix commented on #378
Since this is now possible, I'll close this. Feel free to keep asking questions or reopen if it doesn't work.

[2020-02-20 22:29] #378 closed

[2020-02-20 22:30] #380 closed

[2020-02-20 22:39] anacrolix commented on #379
You can create your own [`Listener`](https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#Listener), and add it with [`Client.AddListener`](https://pkg.go.dev/github.com/anacrolix/torrent?tab=doc#Client.AddListener). The specifics for binding to an interface are outside the scope of this repo. I wasn't able to find a complete example online, I expect that after the bind (`setsockopt`) above, yo

[2020-02-20 22:41] anacrolix commented on #375
@vlcty are you still interested in this feature?

[2020-02-20 22:42] anacrolix commented on #373
@nektro I'd like to support this, but need more information.

[2020-02-21 00:51] #375 closed

[2020-02-21 01:14] nektro commented on #373
Polling would work as a work around in the event that this does not get accepted, but that method seemed much more resource intensive than being able to give the client a callback function.

[2020-02-21 09:06] anacrolix commented on #373
What are the data points you want to show in your interface?

[2020-02-22 03:23] anacrolix commented on #155
I'm intending to progress on this to fix #377. Specifically in that issue, downloading of data needs to cease until the disk situation is fixed, so I'll start there. I'm thinking of `Torrent.{Disable,Pause}DownloadingData`, `Torrent.{Enable,Resume}DownloadingData`, and `Torrent.OnDownloadError` or things to that effect. Clearly there may be more states in the future, and it may make sense to merge

[2020-02-22 08:33] axet commented on #155
Most of my changes to 'torrent' is about start / stop feature. Is it not much code, you can see it on a top rebased commit. Just ignore changes on 't.go' most of them - additional peeks and methods:

  * https://gitlab.com/axet/torrent/-/commit/e487f39026da66a80e8863e18f61967fe78e1148

Yet, some code lost because scrappers no longer has 'stop' method and nobody stopping dht servers. If you write y

[2020-02-22 08:47] anacrolix commented on #377
I've expose a default handler and hook for storage write errors in https://github.com/anacrolix/torrent/compare/issue377.

[2020-02-22 08:49] anacrolix commented on #155
See https://github.com/anacrolix/torrent/issues/377#issuecomment-589933793.

[2020-02-22 23:34] jaredallard commented on #243
@anacrolix I think it'd make sense to have a separate issue for context "plumbing" into this API as it stands, e.g. for `client.WaitAll(ctx context.Context)`. There's #168, but that isn't really geared towards that as much as it's specific to one. The greater focus should be adding context cancellation support, for a new one. Happy to create that if wanted.

[2020-02-23 03:57] anacrolix commented on #243
@jaredallard feel free to open an issue or PR for that one.

[2020-02-24 01:41] anacrolix commented on #266
Ok I'll close this as I believe it's now fixed. Feel free to continue discussion or open new issues if something's missing.

[2020-02-24 01:41] #266 closed

[2020-02-24 12:29] steelbrain opened #381 "Hash failure spam on new installs"
This happens when you download for the first time when a `.torrent.bolt.db` file does not exist.

[code]

A log line is printed per torrent file piece. Is this intentional? If so, is there any way to suppress this error?
I'm on v1.14.0 of `anacrolix/torrent`

[2020-02-25 01:32] anacrolix commented on #381
@steelbrain thanks for reporting this!

[2020-02-25 06:08] chantra commented on #356
@anacrolix  I gave it a try off  ddc61845acb725707781d1acd756a3a60c60c8d0 and it seems to work. The main issue I encountered was needing to set ListenPort to 0 given that it is initialized in https://github.com/anacrolix/torrent/blob/c855c7a3665fcd1c5b73cfc22778796e9cf8267e/config.go#L166 , not sure if this is a change in behaviour or not as we did not need to set it before (but we were running of

[2020-02-25 06:16] anacrolix commented on #138
The Dialer and Listener interfaces have been abstracted out in #380, which is the first step toward implementing this. I've created https://github.com/anacrolix/torrent/milestone/2 to track any issues and PRs that progress this issue.

[2020-02-25 09:54] anacrolix commented on #356
Yes, that is a more recent change to the defaults. If you don't want to use the standard networks for BitTorrent, you could disable TCP and uTP so that only your TLS stuff is used.

That's tracked in https://github.com/anacrolix/torrent/issues/381. It's only a change to logging.

Thanks for the feedback so far.

[2020-02-26 06:31] hichenming opened #382 "Lost download progress when resume a stopped task"
Hi, if I download a big file, such as 6 Gb, when download 1 Gb, I stopped the program to pause the task, and when I restart the program, it will resume download from 220 Mb, so huge content that already downloaded earlier are lost.

So why that happens, and is there any methods to improve?

[2020-02-26 22:23] anacrolix commented on #382
Yes, the storage implementation won't track completed chunks, only entirely completed pieces. Are you using `cmd/torrent`? I will check if any of the download strategies will aid in this.

[2020-02-26 22:52] anacrolix commented on #382
The default timeout request strategy should be optimal for this situation. What git revision, or version of `torrent` are you on?

[2020-02-27 01:37] hichenming commented on #382
Yes, I'm using cmd/torrent, and compile from latest master branch, commit id is : ddc61845acb725707781d1acd756a3a60c60c8d0

[2020-02-27 03:01] anacrolix commented on #382
Thanks. Since that should be using the request strategy I mentioned, it might be easiest to augment the `cmd/torrent` output to determine how many pieces, vs. the total downloaded data is present when the download is stopped, to determine the degree of loss.

[2020-02-27 05:50] #381 closed

[2020-02-27 05:51] steelbrain commented on #381
Thanks for fixing this! Appreciate your hard work on this project

[2020-02-27 06:24] anacrolix commented on #382
I've done this (https://github.com/anacrolix/torrent/commit/9fb9112d8fd952b9ad6e1324210917a709064340#diff-5dbb4aaf476a0c0d86f3e94c43fca3f6R57), it would appear that the unbiased piece ordering in use probably changes when the pendingPiece PriorityBitmap is altered, meaning the preferred pieces shift around, unnecessarily increasing the number of partial pieces.

[2020-02-27 07:33] #382 closed

[2020-02-27 07:35] anacrolix commented on #379
I believe this can be closed. Feel free to field more questions.

[2020-02-27 07:35] #379 closed

[2020-02-27 07:35] anacrolix commented on #377
This is now in master. Feel free to comment.

[2020-02-27 07:35] #377 closed

[2020-02-27 07:37] anacrolix commented on #376
Maybe it would be possible to create separate interfaces in each of those repositories. However I don't believe `anacrolix/dht` will be removed from `torrent@v1` as a dependency, since it is the default. Note that you can now you use your own DHT implementation if you prefer.

[2020-02-27 07:41] anacrolix commented on #371
`ProxyURL` is no longer part of `ClientConfig`. If you wish to use proxied connections, you can handle this explicitly yourself using `Client.AddDialer`, and potentially `Client.AddListener` (assuming you can receive inbound proxies connections somehow, the particulars are not relevant to `torrent`. This will fix the broken situation where having proxies made the listener situation confusing for t